/*!
    Copyright © 2013 Andromeda Trading Limited.  All rights reserved.  
    THIS FILE AND ITS CONTENTS ARE PROTECTED BY COPYRIGHT AND/OR OTHER APPLICABLE LAW. 
    ANY USE OF THE CONTENTS OF THIS FILE OR ANY PART OF THIS FILE WITHOUT EXPLICIT PERMISSION FROM ANDROMEDA TRADING LIMITED IS PROHIBITED. 
*/

@font-face {
    font-family: 'lilitaOneregular';
    src: url('rochester-regular-webfont.eot');
    src: url('rochester-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('rochester-regular-webfont.woff') format('woff'),
         url('rochester-regular-webfont.ttf') format('truetype'),
         url('rochester-regular-webfont.svg#lilitaOneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lilitaOneregular';
    src: url('LilitaOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
.moOrder {
    background-color: #202020;
    border: 1px solid #202020;
    color:#fff;
}
.moOrderHeader {
    background-color: #565656;}

.moName {
    color: #fff;}
.moTotal {
    color: #fff;}

.moQuantityTitle {
    color: #fff;}
.moPriceTitle {
    color: #fff;}
div {color:#fff; font-family:arial;}

.moQuantity {
    color: #fff;}
#roContent {width:95%; margin:0 auto;}
    
/* PCandTablet */
@media only screen and (min-width: 601px)
{    
    #pageHeader
        {  
        background: transparent url('Images/MyLogo.png') no-repeat;
        background-size: 130px 130px;
        background-position:0px 55px;
    }
    #headerLoginBox {margin-top:24px;}
    header {height:196px;}
    #homeMenuTitle,  #homeStoreDetailsTitle {font-size:32px; line-height:40px; color:#000;}
    #sectionsWrapper {position:relative; top:5px; left:0px; margin-left:140px;}
    #storeDetailsAddressWrapper {clear:left; float:none; box-sizing:border-box; padding-right:300px; width:100%; overflow:visible;}
    #storeDetailsDeliveryTimes h1, #storeDetailsAddress h1 {font-size:32px;}
    #storeDetailsDeliveryTimes {float:right; margin-right:20px; margin-bottom:20px;}
    #storeDetailsAddressMap {width:380px;}
    .dealName, .itemName {font-size:24px; line-height:32px; }
    #storeDetailsAddressWrapperInner2 {padding-top:0px; box-sizing:border-box; width:100%;}
    #storeDetailsAddress {width:40%; padding-right:2%; color:#fff; font-family:arial;}
    #storeDetailsAddressMap {width:54%;}
    #popupDescription {margin-top:0px;}
    .popupItemDetails {color:#000000; width:50%;}
    .priceAddContainer {width:180px;}
    .checkoutButtons .nextButton {width:auto;}

    .checkoutPage {position:relative; top:0px; left:0px; margin-top:5px; padding-right:270px; width:100%; box-sizing:border-box;}
    .checkoutPage #checkoutPageInner {background-color:#202020;  border:1px solid #e3e3e3;}
    #menuSection, #viewContainer {min-height:676px; height:auto;}
    
    #loginRegisterInner h1 {font-family:'lilitaOneregular', lilitaOneregular, Times New Roman, Times, serif; font-weight:normal!important; }
    #loginRegisterInner h1 {
    border: medium none;
    color: #108941;
    font-family: lilitaOneregular;
    font-size: 23px;
    height: auto;
    margin: 0;
}
#loginSectionInner p {
    color: #fff;
    font-family: arial;
    font-size: 14px;
    margin: 0 0 10px;
    padding: 0;
    text-align: center;
}
#loginSectionInner {
    color: #fff;
    font-family: arial;
    font-size: 14px;
    overflow: hidden;
}
#loginError {
    color: red;
    font-family: arial;
    font-size: 10pt;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    word-wrap: break-word;
}
#forgotPasswordBox {
    color: #fff;
    font-family: arial;
    font-size: 14px;
    margin: 23px auto 20px;
    overflow: hidden;
    width: 600px;
}
.cartIndent1 {
    float: left;
    text-align: left;
    width: 128px;
}

.cartName {
    float: left;
    text-align: left;
    width: 138px;
}
.cartIndent2 {
    float: left;
    text-align: left;
    width: 108px;
}

.cartPrice, .cartPriceDisabled {
    float: right;
    font-family: arial;
    font-weight: bold;
    text-align: right;
    width: 60px;
}
.cartTotal, .cartTotalPrice {
    font-family: arial;
    font-size: 19px;
    font-weight: normal;
    }

    .loginFormInput {display:inline-block; padding:4px;}
    
    #lrCreateAnAccount, #lrCreateAnAccountAddress , #mpRegisterContainer h2 {font-size:32px; margin:10px 0px;}
    .orderNotesColumn1 {width:160px; float:left;}
    .itemDescription {margin-top:00px; color:#fff;}
    #footerLinks {color:#ffffff; width:600px; font-family:arial;}
    #viewContainer {min-height:600px;}
input {border:0px;}
    .checkoutError {clear:both; margin-top:20px; padding-top:10px;}
    .checkoutSectionHeader, .selectedCheckoutSectionHeader {padding:10px 18px; box-sizing:border-box; margin-right:1px; }
    .rightColumn {position:absolute; right:0px;  max-height:600px; overflow-y:auto;}
    /*added on 18092014*/
    .mainMenuButton, .mainMenuButtonSelected, .mainMenuButtonHighlighted {float:left; margin-left:8px;}
    #headerLoggedIn div {position:absolute;  top:137px; z-index:100; font-family: 'lilitaOneregular'; font-size:13pt; }
    #headerLogoutButton {right:0px;}
    #headerMyOrdersButton {right:64px;  text-transform:uppercase;}
    #headerMyProfileButton {right:174px;  text-transform:uppercase;}
    #mpMenu {display:none;} 
    .lrLoginFormPrompt > label, .checkoutAddressColumn1 > label, .checkoutAddressLine label{font-size: 12pt; }
    .itemDetails, .itemDetailsWithImage {float:right; margin-top:00px; width:auto;} /*new*/
    .dealPopupBoxBackgroundVisible {background-color:rgba(0, 0, 0, 0.8);}
    .popupBoxBackgroundVisible {background-color:rgba(0, 0, 0, 0.8);}	

 }

@media only screen and (max-width: 1010px) {
.popupToppingsHeaders div:nth-child(5), .popupToppingsHeaders div:nth-child(6) {display:none;}
.checkoutSectionHeader, .selectedCheckoutSectionHeader {padding:10px 8px}	
}

@media only screen and (max-width: 996px) {
.popupToppingsHeaders div:nth-child(5), .popupToppingsHeaders div:nth-child(6) {display:none;}
.checkoutAddressColumn2 {clear:none;}
}

@media only screen and (max-width: 929px) {
.checkoutSectionHeader, .selectedCheckoutSectionHeader {padding:10px 5px}
.checkoutSectionHeader h2, .selectedCheckoutSectionHeader h2 {font-size:11pt;}
}

@media only screen and (max-width: 850px) {
.checkoutSectionHeader, .selectedCheckoutSectionHeader {padding:10px 5px}
.checkoutSectionHeader h2, .selectedCheckoutSectionHeader h2 {font-size:9pt;}
#checkoutSVoucherCode {width:95px;}
}

@media only screen and (max-width: 800px) {
.checkoutSectionHeader, .selectedCheckoutSectionHeader {padding:7px 0px}
.checkoutSectionHeader h2, .selectedCheckoutSectionHeader h2 {font-size:8pt;}
.checkoutAddressLine input, .lrLoginFormInput input, .checkoutAddressLine textarea, #checkoutSAddressContainer > div, #checkoutSTime > div, #checkoutSPaymentSelection > div, #checkoutSTotalPrompt, #checkoutSAddVoucherTitle, .checkoutError {font-size:10pt;}
#checkoutSAddVoucherContainer > input, #checkoutSAddVoucherContainer > label, #checkoutSOrderItems .checkoutSOrderItem .checkoutSOrderItemName {font-size:10pt;}
}



@media only screen and (max-width: 750px){
    .itemDescription {margin-top:7px;}
    .checkoutSectionHeader, .selectedCheckoutSectionHeader {padding:7px 10px; width:100%;}
    .checkoutSectionHeader h2, .selectedCheckoutSectionHeader h2 {font-size:10pt;}
    #checkoutSVoucherCode {width:70px;}
    #checkoutSPayNowSection {margin-left:146px;}
    .button.checkoutRedeemButton {margin-left:146px; clear:left;}
    #checkoutSVoucherCode {margin-left:146px; margin-top:4px; width:100px; clear:left;}
    .checkoutButtons {clear:both;}
    
}

@media only screen and (max-width: 689px) {
.popupToppingsDouble2, .popupToppingsSingle2 {display:none;}
.checkoutButtons {clear:both;}
}



 
@media only screen and (max-width: 601px)
{    

    /*script font*/
    #loginRegisterInner h1 {font-family:'lilitaOneregular', lilitaOneregular, Times New Roman, Times, serif; font-weight:normal!important; }
    #loginRegisterInner h1 {border:none; height:auto; font-size:21pt; margin:0px;}
    #loginRegisterInner h1, #signIn, #loginRegisterInner, #forgotPasswordBox {background-color:#202020;}
    /*header */
#loginRegisterInner h1 {color:#59c25b;}
    header {height:auto;}
    #mobileHeader
        {  
        background: transparent url('Images/MyLogo.png') no-repeat;
        background-size: 80px 80px;
        background-position:50% 58px;
        height:145px;
    }
    .storeDetailsBox h1 {
    color: #fff;
    }
    #mobileSubHeader .button {position:relative; background-position:50%; float:none; left:0px; top:1px; margin:0 1px;}
    #hmHomeButton, #hmMenuButton, #hmStoreDetailsButton, #hmMyOrderButton {display:inline-block;}
    #mobileHeader {display:block;}
    #mobileSubHeader {text-align:center;}
    #headerLoginBox {margin-top:5px; display:inline-block;}
    /*#headerLoggedIn {display:none;}*/
    
    /*homepage*/
    #homeOptionsWrapper > div {clear:both; padding-top:10px;}
    #viewContainer {background-color:#202020; padding:0px 10px;}
    
    /*forgot password*/
    #forgotPasswordCancelButton, #forgotPasswordButton {display:inline-block; clear:none; float:none; margin-top:12px;}
    #forgotPasswordBox h1 {height:auto;}
    #forgotPasswordBox {text-align:center;}
    #forgotPasswordEmailPrompt, #forgotPasswordEmail {display:inline;}
    #forgotPasswordEmailPrompt {float:none;}
    
    #homeMenuTitle, #homeStoreDetailsTitle {font-size:23px; line-height:27px; margin:7px 0px;}
    #homeMenu, #homeStoreDetails {font-size:10pt;}
    #homeContent {margin:10px 0 20px}
    
    #homeOptionsWrapper .button, #homeOptionsWrapper .highlightedButton {float:none; display:inline-block;}
    #homeLeftOptions, #homeRightOptions {width:auto;}
    
    /*menu screen*/
    #sectionsWrapper, #mobileMenuSections {background-color:#202020; color:#fff;}
    #mobileMenuSections {text-align:left;}
    #mobileMenuSectionsPrompt {font-family:'lilitaOneregular', lilitaOneregular, Times New Roman, Times, serif; font-weight:normal!important; font-size:22px; line-height:50px; padding-left:10px;}
    #mobileMenuSections select {text-align:center;}
    p.dealName {font-size:20px; line-height:32px;}
    #sections {margin-bottom:20px;}
    .itemRow {
    background: none;
    }
.popupItemDetails {
    background-color: #333;
    }
    /*.popupBoxHeaderContainer {margin-top:-166px;}*/
    .popupItemDetails {color:#000000; width:100%;}
    
    /*stores screen*/
    #storeDetailsAddressWrapper {float:none;}
    #storeDetailsAddressMap {width:100%;}
    .welcomeHeader h1 {background-color:#202020;}
    .storeDetailsBox h1 {background-color:transparent;;}
    #storeDetailsDeliveryTimes, #storeDetailsDeliveryTimes h1 {color:#ffffff; float:none;}
    
    #storeDetailsDeliveryTimes h1, #storeDetailsAddress h1 {font-size:23px; height:auto;}
    #storeDetailsDeliveryTimes {float:none; margin-right:00px; margin-bottom:20px; text-align:center;}
    .storeDetailsDeliveryTimesDay {font-size:12pt; display:inline-block; text-align:left;}
    .storeDetailsDeliveryTimesDayColumn1 {width:150px;}
    #storeDetailsAddress {color:#fff; background-color:#202020; padding:5px 10px 10px;}

    #storeDetailsAddressMap {width:100%; box-sizing:border-box; padding:0px 10px; background-color:#202020;}
    .dealName, .itemName {font-size:19px; line-height:21px; } 
    #forgotPasswordEmail input {width:59%;}
    
    #cartTitle > h1 {height:auto; font-size:21pt;}
    #cartTitle h1, #deliveryOrCollection, #cartWrapper {background-color:#202020;}
    #checkoutPageInner h1 {font-size:25px;}
    .priceAddContainer {width:auto;}
    #popupDescription {margin-top:10px;}
    #popupOptionsRight, #popupOptionsLeft {background-color:#202020; color:#fff;}
    #popupOptions {height:180px;}
    #popupCatContainer, #popupCategory1, #popupCatHeader {display:inline-block;}
    #popupOptionsRight {top:90px;}
    .popupBoxHeaderContainer h1 {background-color:#202020;}
    .checkoutPage h1 {font-size:25px;}
    #popupName {font-size:25px;}
    .backButton, .checkoutButtons .nextButton {width:60px;}
    #checkoutContactDetailsContainer h3, #checkoutDeliveryTimePrompt h3, #checkoutDeliveryAddressContainer h3, #checkoutOrderNotesContainer h3 {font-size:17px;}
    .button.nextButton.checkoutSendOrderToStoreButton {width:106px;}
    .checkoutError {clear:both; margin-top:20px;}
    .checkoutPage #checkoutPageInner {border:none;}
    .checkoutPage #checkoutPageInner {background-color:#202020;}
    #checkoutSAddressContainer > div, #checkoutSTime > div, #checkoutSPaymentSelection > div, #checkoutSAddVoucherTitle {display:block; padding:5px; width:auto; float:none;}
    
    #menuSection, #viewContainer {height:auto; overflow:hidden;}
    .popupTopping {width:100%;}
    #checkoutSectionsContainer {overflow:hidde;}
    #checkoutSPayNowSection {margin-left:156px;}
    .button.checkoutRedeemButton {margin-left:156px; }
    #checkoutSVoucherCode {margin-left:156px; }
    .checkoutRedeemButton {margin-left:170px;}
    
    .homeBoxInner > div {padding:0px 10px;}
    
    .loginFormPrompt > label {font-size:11pt;}
    #lrEmailRegisterMarketing label, #lrSMSRegisterMarketing label {font-size:9pt}
    .lrLoginFormPrompt > label, .checkoutAddressColumn1 > label {display: inline-block; font-size: 11pt; padding: 3px 0;}
    #lrCreateAnAccount, #lrCreateAnAccountAddress, #mpRegisterContainer h2 {font-size:25px; margin:10px 0px;}
    .orderNotesColumn1 {width:auto;}
    
    .checkoutAddressLine input, .lrLoginFormInput input, .checkoutAddressLine textarea,
    #checkoutSAddressContainer > div, #checkoutSTime > div, #checkoutSPaymentSelection > div,
    #checkoutSTotalPrompt, #checkoutSAddVoucherTitle, .checkoutError {font-size:10pt;}
    .checkoutContactColumn1, #marketingLine, .checkoutAddressColumn1, #checkoutDeliveryTime p {font-size: 11pt;  margin: 10px 5px 0; color:#fff;}
    
    #popupOptionsLeft > div {margin-top:5px;}
    .itemDescription {margin-top:40px;}
    
    #informationInner {font-size:10pt;}
    
    #hmMenuButton.active{background:url(Images/MenuSmallAct.png) no-repeat; background-position:50% center;}
    #hmMyOrderButton.active{background:url(Images/BasketSmallAct.png) no-repeat; background-position:50% center;}
    #hmHomeButton.active{background:url(Images/HomeSmallAct.png) no-repeat; }
    #hmMyProfileButton.active{background:url(Images/ProfilesmallAct.png) no-repeat; background-position:50% center;}
    #hmStoreDetailsButton.active{background:url(Images/StoreDetailsSmallAct.png) no-repeat; background-position:50% center;}
    
    #footer {display:block; margin-top:10px; paddint-top:10px; }
    #footerLinks {width:100%;}
    #poweredByAndro {display:inline-block; float:none; width:100%; margin-left:0px;}
    #footerLinks a , #footerLinks span {display:inline!important; float:none;}
    #footerLinks #poweredByAndro {display:inline-block!important;}
    #termsOfUse {margin-left:0px;}
    
    #hmHomeSelectedButton, #hmMenuSelectedButton, #hmStoreDetailsSelectedButton, #hmMyProfileSelectedButton, #hmMyOrderSelectedButton { display:inline-block}
    
    .checkoutButtons {clear:both;}
    

    
    }
#checkoutContactDetailsContainer h3, #checkoutDeliveryTimePrompt h3, #checkoutDeliveryAddressContainer h3, #checkoutOrderNotesContainer h3 {
   background: none;
    color: #59c25b;}
.dealItem {
    background: none;}
    
@media only screen and (max-width: 590px)
{ 
#viewContainer {background-color:#202020;}
header {height:auto;}
.checkoutAddressLine input, .checkoutAddressLine textarea {width:100%;}
}

    
@media only screen and (max-width: 359px)
{    
.checkoutSVoucherCode  {margin-left:160px;}
#checkoutSAddressContainer > div, #checkoutSTime > div, #checkoutSPaymentSelection > div {width:140px;}
#checkoutSPayNowSection {margin-left:150px;}
}





/*new css addded on 22-08-2014*/

body {font-family:arial, "Times New Roman", Times, serif; font-size:13pt; background:#000;  color#fff;}
header {background-color:transparent; border:0px;}
.highlightedButton a, .button a {
background-color: #59c25b;
    border: 0 none;
    color: #ffffff;
    font-family: lilitaOneregular;
    font-size: 15px;
    font-weight: normal;}
#popupBox {
    background-color: #202020;
    border: 1px solid #202020;
    color: #fff;
    font-family: arial;
    }
.selectedSectionHeader {background-color:transparent; }
.selectedSectionHeader a:link, .selectedSectionHeader a:visited, .selectedSectionHeader a:active{
background-color:#108941; color:#ffffff; border:0px; font-weight:normal; 
font-size:14px; border-radius:3px; -moz-border-radius:3px; padding-top:7px; padding-bottom:7px; width:120px;}

.sectionHeader a:link, .sectionHeader a:visited, .sectionHeader a:active {
background-color:#84c241; color:#ffffff; border:0px; font-weight:normal; 
font-size:14px; border-radius:3px; -moz-border-radius:3px; padding-top:7px; padding-bottom:7px; 
width:120px; font-family:arial;
}
.itemDetails .itemName {background#202020;}
#sectionHeaders {background-color:transparent; border:0px;}
#sectionHeadersTop h1 {border:0px;}

#footer {background: #101010; padding-top:12px; margin-top:12px; height:auto; }
#footerLinks {color:#ffffff;}

#mainMenu {position:relative; width:100%; float:left; margin-top:22px;
background: -webkit-linear-gradient(#89c541, #058441); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#89c541, #058441); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#89c541, #058441); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#89c541, #058441); /* Standard syntax */

}

.mainMenuButtonSelected a:link, .mainMenuButtonSelected a:visited, .mainMenuButtonSelected a:active {

background: none repeat scroll 0 0 #333; 

color: #fff200;
font-weight:normal; 
font-size:13pt; border:0px; 
text-transform:uppercase; 
padding:10px 5px; 
font-family:lilitaOneregular;
text-decoration: none;
text-shadow: 0 1px 0 #0f6c2c;
text-transform: uppercase;
opacity: 0.8;

}

.mainMenuButton a:link, .mainMenuButton a:visited, .mainMenuButton a:active, .mainMenuButtonHighlighted a:link, .mainMenuButtonHighlighted a:visited, .mainMenuButtonHighlighted a:active {
    background-color:transparent;
    border: 0 none;
    border-radius: 0;
    color:#fff; 
    font-family: lilitaOneregular;
    font-size: 13pt;
    font-weight: normal;
    padding: 10px 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #0f6c2c;
    text-transform: uppercase;
}
.welcomeHeader {font-family:arial; color:#fff;}
a {color:#008cee;}
a:hover {#008cee; text-decoration:underline;}

#headerRight {width:auto; float:none; margin-left:150px; }
.button, .highlightedButton {float:left;}
#headerRegisterButton {margin-right:10px; float:right;}
#headerForgotPasswordButton {float:right;}
#headerRegisterButton a, #headerForgotPasswordButton a{text-decoration:none; color:#fff;}

.dealName, .itemName {font-weight:normal;}

.dealItem, .itemRow{background-color:#333; border:1px solid #333; margin:10px; clear:none;}

#headerHello {
margin-top:10px;
 margin-bottom:20px;
 color: red;
 font-family: 'LilitaOneRegular',Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight:normal;}
.carouselDealImageOnly img {
    border: 4px solid #fff;
    height: 292px;
    width: 1014px;
}
#yourOrderContainer {
    background-color: #202020;}
.rightColumn {background:#202020; border:1px solid #202020;}
#yourOrderContainer{color:#fff;}
#yourOrderContainer h2 {color:red; font-family:arial;}
.dealItem p {font-family:arial;}
.dealItem {color:#fff;}
#pageHeader {height:196px;}

.homeProduct img {width:200px; height:131px;}
#homeProductSliderContainer, #homeProductSliderContainer > div {height:190px!important;}
#homeProductSliderContainer .jssora01r, #homeProductSliderContainer .jssora01l {top:73px!important; right:0px;}
.popupBoxHeaderContainer h1 {color:#fff; font-family:arial;}

.homeBoxInner #homeFullOrderDeal {display:none;}

#homeContent {padding-bottom:0px; border:1px solid #202020;}

#dealPopupBox {background-color:#202020; border:1px solid #202020;}
#storeDetailsDeliveryTimes { background-color:#333; color:#ffffff; font-family: arial;
    font-size: 15px;}

.addItemButton a {background-color:transparent; text-indent:-10000px;}
.category2, .category1 {margin-right:10px;}
.priceAddContainer .highlightedButton.addItemButton {float:right; margin-left:10px; text-align:right;}
.priceAddContainer {margin-top:10px; float:right;}
.itemPrice {float:none; display:inline; text-align:right; font-family:"lilitaOneregular", Times, serif; color:#fff;}
.dealName, .itemName {min-width:230px; padding:5px 10px; background-color:#525252; color:#ffffff; padding:5px 10px; min-width:230px; left:0px;}

.cartTotal, .cartTotalPrice {font-weight:normal;}

.popupItemDetails img {float:left; padding-right:13px;}
.popupItemDetails > h2 {float:none; font-weight:normal!important; padding:15px 15px 05px 0px; width:auto; /*margin-left:147px;*/ overflow:hidden; padding-left:00px;}
#popupDescription {float:none; width:auto; padding:0px 10px 0px 0px; clear:none; color:#fff; /*margin-left:150px;*/ padding-left:10px;}
#popupOptions {margin-top:30px;}
#popupToppingsContainer {margin-right:18px;}
#popupToppingsContainer h1 {font-size:18px; font-weight:normal; background-color:#4d4e52; color:#ffffff; padding:5px;} 
#popupFreeToppings {padding:5px; 0px;}
.popupToppingsHeaders {background-color:#e2e2e2; padding:3px 0px; color:#333;}
.popupTopping {border-bottom:1px solid #d7d7d7; padding:3px 0px; color:#fff;}
#popupAddToCartButton {margin-right:20px;}
#popupPrice, #popupQuantityDetails span {font-family:"lilitaOneregular", Times, serif;}
.popupBoxHeaderContainer a {font-weight:normal;}
#popupCatHeader { color: #108941;
    float: left;
    font-weight: bold;
    }
#popupCatContainer, #popupCategory1, #popupCategory2 {float:left; clear:none;}
#popupCatContainer select {font-size:14px; margin-left:5px;}
#popupCatContainer, #popupCategory1 {margin-right:5px;}
.cartItem a:link, .cartItem a:visited, .cartItem a:active {
    color: #fff;
    font-family: arial;
    font-size: 13px;
}
/*deals poupup*/
.popupBoxHidden, .popupBoxVisible {background-color:#202020;}
#popupDealBoxBodyContainer > h1 {background-color:#5d5e62; padding:5px 5px; font-weight:normal; font-size:18px; color:#ffffff;}
#popupDealBoxBodyContainer {padding:20px;}
#dealPopupBox .popupItemDetails > h2 {margin-left:10px;}
.dealPopupItemNo {font-weight:normal;}
#popupDealOptions {padding-right:12px;}
#popupDealBoxBodyContainer {padding-bottom:20px;}

.dealOptions .highlightedButton {width:auto;}

/*Script fontfamily*/
.itemName, #homeStoreDetailsTitle, #homeProductSlider h2, .dealName, .itemName, .popupDealItemPicker, .dealPopupItemNo, #storeDetailsAddress h1, 
#storeDetailsDeliveryTimes h1, #homeMenuTitle, .popupItemDetails > h2, #popupToppingsContainer h1, #popupDealBoxBodyContainer > h1, #lrCreateAnAccount, #lrCreateAnAccountAddress, #mpRegisterContainer h2, .sectionTitle h1, #cartTitle h1, #sectionHeadersTop h1, .checkoutPage h1, #moContent h1 , .checkoutPage h3, #orderAccepted h3, #orderAccepted h4, #forgotPasswordBox h1, #homeCarousel2 .homeCarouselMenuItemCard h2, #informationInner h1   {
font-family:'lilitaOneregular', lilitaOneregular, Times New Roman, Times, serif; font-weight:normal!important;  color:#59c25b;}

.popupDealItemPicker, .dealPopupItemNo {font-size:23px;}

#homeCarousel2 .homeCarouselMenuItemCard h2 {font-size:22px; line-height:28px;}
#homeCarousel2 .homeCarouselMenuItemCard p {font-size:12px;}

#poweredByAndro {display:inline; float:none; margi-right:0px;}

#footer {position:fixed; position:relative;}

#homeMenu, #homeStoreDetails {
color: #fff;
    font-family: arial;
    font-size: 15px;
    margin-top: 0;
}
#footerLinks a {color:#ffffff;}

#dealPopupBox .popupItemDetails > h2 {font-size:32px;}
#homeCarousel2Container {background:#202020;}
.homeBoxInner {background:#202020;}
.homeProductImageWrapper {width:202px;}
#homeCarousel2Container{
border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}

#homeCarousel2 .homeCarouselMenuItemCardImagePrice {
background-color:transparent;
color: #fff020;
font-family: arial;
font-size: 14px;
font-weight: bold;
}

.content, #lrCreateAnAccount, .lrLoginFormPrompt, .lrLoginFormInput, #lrEmailRegisterMarketing, #lrSMSRegisterMarketing, #lrEmailRegisterMarketing, .requiredLine, #lrCreateAnAccountAddress, #lrAddressDetails, #mpRegisterAddressContainer, 
#mpRegisterContainer h2, #mpRegisterContainer, #myProfileContent, #myOrdersContent  {
background-color:#202020; border:0px;

}

.checkoutAddressLine input, .lrLoginFormInput input, .checkoutAddressLine textarea{ background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 4px;
    margin-bottom:11px;
    box-sizing:border-box;
}
#lrRegisterContainer {
    color: #fff;
}
#lrBox {
    color: #fff;

}


#moMyProfile , #moMyOrders, #moLogout{
    background-color: #333;
    color: #fff;
    font-family: arial;
}
.checkoutPage #checkoutPageInner {
    background-color: #202020;
    border: 1px solid #202020;
}
 #moMyOrders {background:#525252;}

#lrEmailRegisterMarketing, #lrSMSRegisterMarketing {margin-bottom:10px;}
#lrBox {background-color:#202020; color#fff; font-family:arial; font-size:13px;}
#lrBox label {font-size:11pt;}

.checkoutAddressLine textarea {width:270px; margin-left:0px;}

.checkoutAddressColumn2 {float:none;}
#lrRegisterButton {margin-left:25px;}

.checkoutPage {position:relative; top:0px; left:0px; margin-top:5px; }

#moContent h1 {padding:10px 20px;}

.checkoutSectionHeader {background-color:#868686;}
.selectedCheckoutSectionHeader {background-color:#d6d6d6;}
#upsellList {
    color: #fff;
    font-family: arial;
    font-size: 14px;
    overflow: hidden;
}
#checkoutDeliveryTime {
    color: #fff;
    font-family: arial;
    font-size: 14px;
    text-align: center;
}
#checkoutSOrderSummary {
color: #fff;
    font-family: arial;
    font-size: 14px;
}
.sitesBox h2 {
    color: #fff;
     font-size: 14px;
    width: 90%;
}
.checkoutSectionHeader, .selectedCheckoutSectionHeader {box-sizing:border-box; margin-right:1px; }
.selectedCheckoutSectionHeader  {color:#000;}
.upsellText {clear:both; display:inline-block; float:left; line-height:25px; margin-top:10px; width:190px;}
.button.upsellButton {margin-top:11px;}
.checkoutPage h3 {font-size:25px; margin:10px 0px;}
#checkoutUpsellingContainer {margin:10px 10px;}
.checkoutButtons .nextButton {float:right; margin-right:0px; margin-top:20px;}
.checkoutButtons .backButton {margin-top:20px;}

.orderNotesColumn1 {margin-top:5px;}

/*chekout order summary*/
#checkoutSColumn1 > div, #checkoutSColumn2 > div { clear:both; padding:8px 0px; }

#checkoutSOrderItems {}
#checkoutSOrderItems div {width:150px;}
#checkoutSOrderItems .checkoutSOrderItem {width:auto!important;}
#checkoutSOrderItems .checkoutSOrderItem .checkoutSOrderItemName {padding-right:10px;}
#checkoutSTotalPrompt, #checkoutSAddVoucherTitle {float:left; width:146px;}
#checkoutSTotalValue {display:inline-block;}
#checkoutSAddVoucherContainer > input, #checkoutSAddVoucherContainer > label {float:left; margin-right:10px;}
#checkoutSVoucherCode{ border: 1px solid #ccc; padding: 5px 4px;  margin-bottom:11px;}
#checkoutSAddressContainer > div, #checkoutSTime > div, #checkoutSPaymentSelection > div {float:left; width:146px;}
#checkoutSAddress {width:auto;}
#orderAccepted h3, #orderAccepted h4 {font-size:26px; line-height:35px;}
#orderAccepted {padding:10px 0px;}
.checkoutSOrderItemName {width:140px; float:left;}

/*forgot password*/
#forgotPasswordMessage {text-align:center; color:#ff0000;}
#forgotPasswordBox h1 {font-size:29px;}

#headerMyProfileButton a:link, #headerMyProfileButton a:visited, #headerMyProfileButton a:active, #headerMyOrdersButton a:link, #headerMyOrdersButton a:visited, #headerMyOrdersButton a:active, #headerLogoutButton a:link, #headerLogoutButton a:visited, #headerLogoutButton a:active {
padding:15px 8px; font-size:12pt; background-color:transparent; border:0px;
color:#fff; font-family:arial; font-size:14px;
 }
 #mpMyProfile {
    background-color: #525252;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: arial;
    line-height: 35px;
    text-align: center;
    width: 33%;
}

#mpMyOrders {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: arial;
    line-height: 35px;
    text-align: center;
    width: 33%;
}

#mpLogout {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    font-family: arial;
    line-height: 35px;
    text-align: center;
    width: 33%;
}

/*header menu*/
#headerLoggedIn {position:relative; right:0px; height:122px;}
#headerMyProfileButton, #headerMyOrdersButton, #headerLogoutButton {float:left;}
#headerLogoutButton, #headerMyOrdersButton {display:block;}
#headerMyProfileButton a:link, #headerMyProfileButton a:visited, #headerMyProfileButton a:active, #headerMyOrdersButton a:link, #headerMyOrdersButton a:visited, #headerMyOrdersButton a:active, #headerLogoutButton a:link, #headerLogoutButton a:visited, #headerLogoutButton a:active {font-family: 'lilitaOneregular'; font-size:13pt;}

.popupToppingsSingle2 {margin-left:180px;}
.popupToppingsDouble, .popupToppingsDouble2 {margin-right:00px; color:#000;}

/*footer pages*/
#informationInner {background-color:#202020; top:0px; width:100%; padding:20px; box-sizing:border-box;}

/*social media*/
#footerFacebook, #footerTwitter, #footerInstagram {display:inline-block; width:32px; height:32px; padding-right:10px;}
#footerFacebook {background:url('Images/facebook-icon.png') left top no-repeat;}
#footerTwitter {background:url('Images/twitter-icon.png') left top no-repeat;}
#footerInstagram {background:url('Images/instagram-icon.png') left top no-repeat;}
#footerPinterset {background:url('Images/pinterest-icon.png') left top no-repeat; border-radius:15x}
#footerSocialButtons {padding-top:10px;}
#footerTop {height:auto;}
.quantity label {
    color: #fff;
}
#socialMedia {display:none;}
.sectionTitle h1 {border-bottom:1px solid #333;	}
#homeContent, #sectionsWrapper {
margin-bottom:15px; 
background: none repeat scroll 0 0 #202020;
border: 1px solid #202020;
}

#footer {border:0px;}

#homeCarousel2 H2 {font-family: lilitaOneregular;  font-size: 22px;  font-weight: normal;  margin: 5px 0; color:#fff;}
#homeCarousel2 p {margin:0px; font-size:9pt; color:red; font-weight:bold; font-family:arial;}
#popupCategory2 span {
    color: #fff; font-size: 12px;
}
#popupCategory1 {
    font-size: 12px;
    font-weight: normal;
    margin:3px 0 0 8px;
}
#popupToppingsHelp {
    color: #fff;
}
.popupToppingsSingle {
    color: #000;
}
.popupToppingsSingle, .popupToppingsSingle2 {
    color: #000;}
#roRepeatOrderButton, #roBackButton {
    margin-bottom: 3px;
}

.checkoutAddressColumn1 {
    color: #fff;}
.checkoutAddressLine {
    color: #fff;
    }
#headerLoginError {color:red; font-size:12px;}
#lrCustomerError {color:red;}
.checkoutPage {
    margin: 0;
    }
#mercanetPaymentContainer div {color:#fff; font-family:arial;}

/*added on 18092014*/
.dealName {display:inline-block; margin-bottom:10px;}
.dealItem {padding:0px 10px 10px 0px;}
.dealItem p{padding-left:10px;}
.itemImage {margin-right:13px;}
.itemImage  {float:none; margin-top:0px;}
.itemName {margin-bottom:10px;  display: inline-block;
    left: 0;
    margin-bottom: 10px;
    margin-left: -13px;
    margin-top: 0;
    min-width: 230px;
    padding: 5px 10px;
    position: relative;}
.itemRow {padding:0 10px 10px;}

.waitPrompt {color:#ffffff;}