@model MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel

@{
    var workcontext = Html.GetWorkContext();
    var translator = Html.GetTranslator();    
}
<div class="row">
    <div class="col-xs-12 col-md-6 form-horizontal form-widgets">
        <div class="form-group">
            <label class="control-label col-md-4 col-xs-12" for="AnalyticsSettings.GoogleAnalyticsId">
                @translator.T("Google Analytics Id")
            </label>
            <div class="col-md-6 col-xs-12">
                <input type="text" id="AnalyticsSettings.GoogleAnalyticsId"
                       class="k-textbox"
                       name="Model.WebsiteConfigurations.AnalyticsSettings.GoogleAnalyticsId"
                       data-bind="value: GoogleAnalyticsId" />
            </div>
        </div>
    </div>
    @* Going to stick to Google analytics id for the moment. *@
    @*    <div class="row">
            <label class="control-label col-md-12">
                Analytics Script:
            </label>
        </div>

        <div class="col-md-12">
            <textarea class="form-control" style="height:200px;width:700px;"
                      id="Analytics.AnalyticsScript"
                      name="Analytics.AnalyticsScript"
                      data-bind="html: AnalyticsScript"
                      ng-model="AnalyticsScript"
                      ng-change="EncodeScript(AnalyticsScript)"></textarea>
        </div>*@
    <div class="col-xs-12">        
        <div class="col-md-2">
            <button type="button" class="k-button k-primary" ng-click="SaveChanges()">Save</button>
        </div>
    </div>
</div>
