<div id="CmsEditors" ng-controller="CmsPagesController">

    <div class="row">
        <div class="col-sm-3">
            <div class="k-widget">
                <div class="k-header padding">
                    <a class="k-button" ng-click="add()">
                        Create page
                    </a>
                    <a class="k-button k-primary" ng-click="save()">Save</a>
                </div>
                <div ng-repeat="cmsPage in pages">
                    <div class="row">
                        <div class="col-xs-12">
                            {{cmsPage.Title}}
                            <span ng-if="!cmsPage.Enabled">(Disabled)</span>
                        </div>
                        <div class="col-xs-12">
                            <a class="k-button" ng-click="edit(cmsPage)">Edit</a>
                            <a class="k-button" ng-click="delete(cmsPage)">Delete</a>
                            <a class="k-button disable-button" ng-show="!cmsPage.Enabled" ng-click="cmsPage.Enabled=true">Enable</a>
                            <a class="k-button" ng-show="cmsPage.Enabled" ng-click="cmsPage.Enabled=false">Disable</a>
                        </div>
                        @*<div>{{cmsPage.Content}}</div>*@
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-9" ng-show="page != null">
            <div class="well">
                <div class="row">
                    <input class="k-textbox col-sm-8" type="text" name="title" ng-model="page.Title" />
                </div>

                
                <textarea  kendo-editor k-ng-model="page.Content" k-resizable="{ content: true, toolbar: false }"
                            k-tools="['bold','italic','underline','strikethrough','justifyLeft','justifyCenter','justifyRight','justifyFull','outdent','indent',
                                    'createLink','unlink','insertImage','insertFile','subScript','superScript','tableEdititing','viewHTml','formatting','cleanFormatting',
                                    'fontName','fontSize','fontColor','backColor', 'viewHtml']"></textarea>
                
                <div>
                    <h3>Preview</h3>
                    <div ng-bind-html="page.Content">
                    </div>
                </div>
            </div>


        </div>
        <div class="col-sm-8" ng-show="page == null">
            <p>Select a page from the left. Or create a new page.</p>
        </div>
    </div>
</div>