.task {
    border-left: 4px solid #226666;
    height: 100%;
}
.task-border{
    border-width: 1px !important;
    border-style: solid !important;
}
.task-default {
    border-color: #226666 !important;
}
.task-front-of-house {
    border-color:#AA6C39 !important;
}
.task-kitchen {
    border-color:#2D882D !important;
}
.task-management {
    border-color: #AA3939 !important;
}
.task-delivery {
    border-color: #483d8b !important;
}

.invalid-slot {
    background: red !important;
    cursor: no-drop;
}

.k-scheduler-monthview .k-scheduler-table td  {
    height: 50px !important;
}

.k-scheduler-monthview th.k-thingy, .k-scheduler-monthview .k-hidden {
    height: 50px !important;
}

.k-scheduler-monthview .k-scheduler-table .k-today {
    background-color: #CFE4E4;
}