<div id="SiteQrCodeWrapper">
    <button class="k-button" data-role="button" data-bind="events: { click: onQrShowClick }">
        Show page QR Code
    </button>
    <div id="QrWindow" data-role="window"
        data-title="Page QR CODE"
        data-visible="false">
        <span data-role="qrcode"
            data-error-correction="M"
            data-bind="value: qrurl"
            data-border="{ color:'#000000', width: 5 }" style="width:300px"></span>
        <p style="display:none;" data-bind="visible:visible">Scan this code using your mobile<br /> device to navigate it to this page.</p>
    </div>
    
</div>


@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(function () {
            var vm = kendo.observable({
                visible: false,
                qrurl: window.location,
                onQrShowClick: function () {
                    var kendoWindow = $("#QrWindow").data("kendoWindow");
                    this.set("visible", true);
                    console.log(kendoWindow);
                    kendoWindow.center();
                    kendoWindow.open();
                }
            });
            kendo.bind($("#SiteQrCodeWrapper"), vm);
        });
    </script>
}