<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web" />
            <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
        </sectionGroup>
        <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
                <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
                <arg key="configType" value="FILE-WATCH" />
                <arg key="configFile" value="~/Config/Log4Net.xml" />
            </factoryAdapter>
        </logging>
    </common>
    <spring>
        <parsers>
            <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
            <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
        </parsers>
        <context>
            <resource uri="assembly://Dashboard.UploadWebService/Dashboard.UploadWebService.Config/Controllers.xml" />
            <resource uri="assembly://WebDashboard.Dao.NHibernate/WebDashboard.Dao.NHibernate.Dao/Dao.xml" />
        </context>
    </spring>
    <databaseSettings>
      <!-- <add key="db.datasource" value="CLOUDTOWER\CLOUD"/>
        <add key="db.datasource" value="83.138.155.207\SQLEXPRESS"/>
        <add key="db.user" value="androtechUser"/>
        <add key="db.password" value="androtechPass"/>
        <add key="db.database" value="AndromedaDashboardServer"/>-->

      <!--<add key="db.datasource" value="CLOUDTOWER\SQL2008"/>-->
      <!--<add key="db.datasource" value="83.138.144.122" />-->
      <add key="db.datasource" value="." />
      <!--<add key="db.datasource" value="Dev99\Dev99SQL2008"/>-->
      <add key="db.user" value="DashboardUser" />
      <add key="db.password" value="D45hb0ardPa55" />
      <add key="db.database" value="Dashboard" />
    </databaseSettings>
    <appSettings>
        <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory" />
    </appSettings>
    <connectionStrings />
    <system.web>
        <webServices>
            <protocols>
                <add name="HttpSoap12" />
                <add name="HttpSoap" />
                <add name="HttpGet" />
                <add name="HttpPost" />
            </protocols>
        </webServices>
        <httpHandlers>
            <add verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory, Spring.Web" />
        </httpHandlers>
        <httpModules>
            <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web" />
            <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate21" />
        </httpModules>
        <!-- todo: set to false when live-->
        <compilation debug="true" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="MVC" path="*" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
        </handlers>
    </system.webServer>
</configuration>
