<div class="row">
    @Html.Partial("~/Areas/Reporting/Views/Orders/_ticket_template.cshtml")
</div>

@using (Html.BeginScripts("ListViewInitDetail"))
{
    <script type="text/javascript">
        function manageDetailInit(e) {
            console.log("manage detail row");

            var detailRow = e.detailRow;
            var detailData = e.data;
            
            console.log("detailData");
            console.log(detailData);


            var request = $.ajax({
                url: "@Url.Action("FindOrder", "Orders", new { Area = "OrderManagement" })",
                data: { Id: detailData.Id },
                type: "POST",
                dataType: "json"
            });

            request.success(function (data) {
                var row = $(detailRow);
                var element = row.find("div.masterTicket");
                kendo.bind(element, data);
            });
        }
    </script>
}

@using (Html.BeginScripts("DiscoutLineItemTemplate"))
{
    <script type="text/html" id="SubTotalTemplate">
        #if(ItemsTotal !== FinalPrice + DeliveryCharge){#
        <tr data-sum="#=ItemsTotal#" data-final="#=FinalPrice#">
            <td></td>
            <td style="text-align: right">Sub-Total</td>
            <td>#: kendo.toString(ItemsTotal, "c") #</td>
        </tr>

        #}#
        #if(CalculatedTotal > (FinalPrice + DeliveryCharge)) { #
        <tr>
            <td></td>
            <td data-calculated="#=CalculatedTotal#">
                <b>Discounts</b>
            </td>
            <td></td>
        </tr>
        #}#
    </script>
    <script type="text/html" id="DiscoutLineItem">
        <tr>
            <td></td>
            <td style="text-align:left">#= Description #</td>
            <td>#= kendo.toString(Value/100, 'c') #</td>
        </tr>
    </script>
}



@using (Html.BeginScripts("ListViewTicketTemplates"))
{
    @* Main ticket template *@
    <script type="text/html" id="TicketTemplate">
        <div class="clearfix">
            @Html.Partial("~/Areas/Reporting/Views/Orders/_ticket_template.cshtml")
        </div>
    </script>
    <script type="text/html" id="DeliveryTemplate">
        <h3>#: OrderType #</h3>
        <table>
            <thead>
                <tr>
                    <th style="text-align:center">Ordered at</th>
                    <th style="text-align:center">Wanted at</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        #: OrderPlacedTimeLocalString #
                    </td>
                    <td>
                        # if((kendo.parseDate(OrderWantedTime) - kendo.parseDate(OrderPlacedTime)) / 1000 < 60) { #
                        <span>ASAP</span>
                        # } else{ #
                        #: OrderWantedTimeLocalString #
                        # } #
                    </td>
                </tr>
            </tbody>
        </table>
    </script>
    <script type="text/html" id="StoreTemplate">
        <h3>#: Name #</h3>
        <div>
            #if(Address.RoadNum != null){# #: Address.RoadNum # # } #
            #if(Address.RoadName != null){# #: Address.RoadName # # } #
        </div>
        <div>#if(Address.City != null){# #: Address.City # # } #</div>
        <div>#if(Address.State != null){# #: Address.State # # } #</div>
        <div>#if(Address.ZipCode != null){# #: Address.ZipCode # # } #</div>
        <div>#if(Address.Country != null){# #: Address.Country # # } #</div>
    </script>
    <script type="text/html" id="CustomerTemplate">
        <div class="person">
            <span>#: FirstName #</span>
            @*<span>#: LastName #</span>*@
        </div>
    </script>
    <script type="text/html" id="AddressTemplate">
        #if(TableNumber > 0){#
        <div>
            Table: #: TableNumber #
        </div>
        #}#
        <div>
            #if(Addresses.RoadNum != null){# #: Addresses.RoadNum # #}#
            #if(Addresses.RoadName != null){# #: Addresses.RoadName # #}#
        </div>
        <div>#if(Addresses.Prem1 != null){# #: Addresses.Prem1 # #}#</div>
        <div>#if(Addresses.City != null){# #: Addresses.City # #}#</div>
        <div>#if(Addresses.State != null){# #: Addresses.State # #}#</div>
        <div>#if(Addresses.ZipCode != null){# #: Addresses.ZipCode # #}#</div>
        <div>#if(Addresses.Country != null){# #: Addresses.Country # #}#</div>
        #if(Mobile && Mobile != null){#
        <div><span> #: Mobile # </span></div>
        #}#
    </script>
    <script type="text/html" id="OrderLineChildTemplate">
        <div>hi</div>
    </script>
    <script type="text/html" id="OrderLineItem">
        <tr>
            <td>
                #if(Children.length === 0){ #
                #: Qty #
                # } #
            </td>
            <td style="text-align: left">
                #if(Cat1 != null ){# #: Cat1 # #} #
                #if(Cat2 != null ){# #: Cat2 # #} #

                #if(Description && Description != null){ #
                #: Description #
                #}#
            </td>
            <td>#: kendo.toString(Price, "c") #</td>
        </tr>
        #if(Children.length > 0){#

        #for(var z=0;z < Children.length; z++){#
        #var child = Children[z]; #
        <tr>
            <td>#:child.Qty #</td>
            <td style="text-align: left">
                #if(child.Cat1 != null ){# #: child.Cat1 # #} #
                #if(child.Cat2 != null ){# #: child.Cat2 # #} #

                #if(child.Description && child.Description != null){ #
                #: child.Description #
                #}#
            </td>
            <td>
                #if(child.Price) { #
                #: kendo.toString(child.Price, "c") #
                # } #
            </td>
        </tr>
        #if(child.Modifiers.length > 0){#
        <tr>
            <td>&nbsp;</td>
            <td style="text-align: left" colspan="1">
                # for (var i=0; i< child.Modifiers.length; i++) { #
                # var modifier = child.Modifiers[i]; #
                <div>
                    &nbsp;&nbsp;&nbsp;
                    #if(modifier.Removed){#
                    -
                    #} else {#
                    +
                    #}#
                    #= modifier.Qty # X #= modifier.Description #
                </div>
                # } #
            </td>
            <td>&nbsp;</td>
        </tr>
        #}#

        #}#
        #}#
        #if(Modifiers.length > 0){#
        <tr>
            <td>&nbsp;</td>
            <td style="text-align: left" colspan="1">
                # for (var i=0; i< Modifiers.length; i++) { #
                # var modifier = Modifiers[i]; #
                <div>
                    &nbsp;&nbsp;&nbsp;
                    #if(modifier.Removed){#
                    -
                    #} else {#
                    +
                    #}#
                    #= modifier.Qty # X #= modifier.Description #
                </div>
                # } #
            </td>
            <td>&nbsp;</td>
        </tr>
        #}#
    </script>
    <script type="text/html" id="OrderLineAggregate">
        #if(DiscountTotal > 0){#
        <tr>
            <td></td>
            <td style="text-align:right">Discount Total</td>
            <td>#: kendo.toString(DiscountTotal, "c") #</td>
        </tr>
        #}#

        #if(DeliveryCharge > 0 || CardCharge > 0){#
        <tr>
            <td></td>
            <td><b>Charges</b></td>
            <td></td>
        </tr>
        #}#
        #if(DeliveryCharge > 0){#
        <tr>
            <td></td>
            <td style="text-align:left">Delivery charge</td>
            <td>#: kendo.toString(DeliveryCharge, "c") #</td>
        </tr>
        #}#
        #if(CardCharge > 0){#
        <tr>
            <td></td>
            <td style="text-align: left">Payment charge</td>
            <td>#: kendo.toString(CardCharge, "c") #</td>
        </tr>
        #}#
        #if(TotalTax > 0){ #
        <tr>
            <td></td>
            <td style="text-align: right">Total Tax</td>
            <td>#: kendo.toString(TotalTax, "c") #</td>
        </tr>
        #}#
        #if(ChargeTotal > 0) {#
        <tr>
            <td></td>
            <td style="text-align: right">Total Charges</td>
            <td>#: kendo.toString(ChargeTotal, "c") #</td>
        </tr>
        #}#
        @*#if(ItemsTotal > FinalPrice){#
            <tr>
                <td></td>
                <td style="text-align: right">Savings</td>
                <td>#: kendo.toString(ItemsTotal - FinalPrice, "c") #</td>
            </tr>
            #}#*@
        @*#if(FinalPrice-CardCharge < ItemsTotal){#
            <tr>
                <td></td>
                <td style="text-align: right">Saving</td>
                <td data-item-total="#=ItemsTotal#"
                    data-final-price="#=FinalPrice#"
                    data-payment-charge="#=CardCharge#"
                    data-delivery-charge="#=DeliveryCharge#">
                    #= kendo.toString(ItemsTotal-FinalPrice-DeliveryCharge, "c") #
                </td>
            </tr>
            #}#*@
        <tr>
            <td></td>
            <td style="text-align: right"><b>Final Price</b></td>
            <td><b>#: kendo.toString(FinalPrice + DeliveryCharge, "c") #</b></td>
        </tr>
    </script>
    <script id="ReferenceIdTemplate" type="text/html">
        <h3 style="margin-top: 1em;">Order Reference</h3>
        <table>
            @*<thead>
                    <tr>
                        <th>RamessesOrderNum</th>
                        <th>ExternalOrderRef</th>
                    </tr>
                </thead>*@
            <tbody>
                <tr>
                    <td>
                        <h3>#: RamesesOrderNum #</h3>
                        #if (TicketNumber > 0){#
                        <h4>
                            Ticket Number : #: TicketNumber #
                        </h4>
                        #}#
                    </td>
                    @*<td>#: ExternalOrderRef #</td>*@
                </tr>
            </tbody>
        </table>
    </script>
    <script id="VoucherTemplate" type="text/html">
        <h3>Vouchers</h3>
        <table class="order-line-grid">
            <thead>
                <tr>
                    <th style="text-align:center">Voucher Code</th>
                    <th style="text-align:center">Discount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#: VoucherCode #</td>
                    <td>
                        #if(DiscountType == 'Fixed'){#
                        <!-- ie £1.00 -->
                        #: kendo.toString(DiscountValue,"c") #
                        #} else {#
                        <!-- Percentage -->
                        #: (100 - DiscountValue) # %
                        #}#
                    </td>
                </tr>
            </tbody>
        </table>
    </script>
    <script id="LoyaltyTemplate" type="text/html">
        #if(awardedPoints > 0){#
        <p>
            You have earned #= awardedPoints # points with this order
        </p>
        #}#
    </script>
}