    <!-- PAYMENT VIEW - WIZARD STEP-->
    <script type="text/html" id="checkoutPayment-template">

        <div class="checkoutSection" data-bind="'attr': { 'id': id }, template: { name: checkoutHelper.paymentProvider }"> 
        </div>

    </script>    

    <!-- PAYMENT VIEW - PAGE -->
    <script type="text/html" id="paymentView">

        <div class="checkoutPage">
            <div class="paymentPage">
                <h1 data-bind="text: textStrings.payTitle"></h1>
                <div id="checkoutPaymentContainer">
                    <h2 data-bind="text: textStrings.payPrompt"></h2>

                    <p data-bind="text: textStrings.payWarning"></p>

                    <!-- ko if: cartHelper.cart().displayCardChargePayment() != undefined && cartHelper.cart().displayCardChargePayment().length > 0 -->
                    <div id="paymentCardCharge" data-bind="html: cartHelper.cart().displayCardChargePayment"></div>
                    <!-- /ko -->
                    
                    <div id="paymentPayLine">
                        <!-- Pay at door / on collection -->
                        <div class="button" id="payAtDoorButton">
                            <a data-bind="click: checkoutHelper.payAtDoor, text: $root.orderType() == 'delivery' ? textStrings.payAtDoor : textStrings.payOnCollection" href="#"></a>
                        </div>

                        <!-- Pay now -->
                        <!-- ko if: $root.siteDetails() != null && $root.siteDetails().paymentProvider != undefined && $root.siteDetails().paymentProvider.length > 0 -->
                        <div class="button" id="payNowButton">
                            <a data-bind="click: checkoutHelper.payNow, text: textStrings.payNow" href="#"></a>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>

    </script>

    <!-- MERCURY PAYMENT VIEW -->
    <script type="text/html" id="mercuryPaymentView">

        <div class="checkoutPage">
            <div class="paymentPage">
                <h1 data-bind="text: textStrings.payTitle"></h1>

                <p data-bind="text: textStrings.payWarning"></p>

                <!-- ko if: cartHelper.cart().displayCardChargePayment() != undefined && cartHelper.cart().displayCardChargePayment().length > 0 -->
                <div id="paymentCardCharge" data-bind="html: cartHelper.cart().displayCardChargePayment"></div>
                <!-- /ko -->

                <div>
                    <div id="mercuryPaymentContainer">
                        <iFrame id='mercuryPaymentIFrame'>
                            Your browser does not support iFrames. To view this content, please download and use the latest version of one of the following browsers: Internet Explorer, Firefox, Google Chrome or Safari.
                        </iFrame>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- DATACASH PAYMENT VIEW-->
    <script type="text/html" id="dataCashPaymentView">

        <div class="checkoutPage">
            <div class="paymentPage">
                <h1 data-bind="text: textStrings.payTitle"></h1>

                <p data-bind="text: textStrings.payWarning"></p>

                <!-- ko if: cartHelper.cart().displayCardChargePayment() != undefined && cartHelper.cart().displayCardChargePayment().length > 0 -->
                <div id="paymentCardCharge" data-bind="html: cartHelper.cart().displayCardChargePayment"></div>
                <!-- /ko -->

                <div>
                    <div id="dataCashPaymentContainer">
                        <iFrame id='dataCashPaymentIFrame'>
                            Your browser does not support iFrames. To view this content, please download and use the latest version of one of the following browsers: Internet Explorer, Firefox, Google Chrome or Safari.
                        </iFrame>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- MERCANET PAYMENT VIEW-->
    <script type="text/html" id="mercanetPaymentView">

        <div class="checkoutPage">
            <div class="paymentPage">
                <h1 data-bind="text: textStrings.mercanetTitle"></h1>

                <p data-bind="text: textStrings.mercanetIntro"></p>

                <!-- ko if: cartHelper.cart().displayCardChargePayment() != undefined && cartHelper.cart().displayCardChargePayment().length > 0 -->
                <div id="paymentCardCharge" data-bind="html: cartHelper.cart().displayCardChargePayment"></div>
                <!-- /ko -->

                <div>
                    <div id="mercanetPaymentContainer">
                        <iFrame id='mercanetPaymentIFrame' data-bind="html: textStrings.mercanetiFrameWarn">
                            
                        </iFrame>
                    </div>
                </div>
            </div>
        </div>
    </script>
