    <!-- SUBMIT ORDER VIEW -->
    <script type="text/html" id="submitOrderView">
        <div class="checkoutPage">
            <div>
                <div class="sitesBox">
                    <h1 class="welcomeHeader" data-bind="text: textStrings.welcomeHeader"></h1>

                    <!-- Please wait -->
                    <div class="chooseStore">
                        <h2 class="waitPrompt" data-bind="text: textStrings.sovOneMoment"></h2>
                        <div style="width:35px; margin: 0 auto;">
                            <div style="margin: 0 auto;"><img src="Content/Images/loader.gif" /></div>
                        </div>
                        <p style="text-align:center;">
                            <span data-bind="text: $root.pleaseWaitMessage()"></span>
                            <span data-bind="text: $root.pleaseWaitProgress()"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </script>