@using Permissions = MyAndromeda.Web.Areas.Menu;
@{
    var workContext = Html.GetWorkContext();
    var translator = Html.GetTranslator();
    var authorizer = Html.GetAuthorizer();
}

@if (authorizer.Authorize(Permissions.UserPermissions.ViewFtpToolbar))
{
    <div id="FtpWrapper" ng-controller="FtpController">
        <div class="row">
            <div class="col-xs-8">
                <div class="space">
                    <button class="k-button" ng-click="DeleteLocalFile()" ng-disabled="BlockAccess" title="Click here to delete the local file">
                        <span ng-show="DeleteBusy" class="fa fa-spinner fa-spin loading-spinner text-center"></span>
                        <i class="fa fa-trash-o"></i>
                        Delete local menu version
                    </button>

                    <button class="k-button" ng-click="CheckDbVersion()" ng-disabled="BlockAccess" title="Click here to reload the menu version">
                        <span ng-show="VersionBusy" class="fa fa-spinner fa-spin loading-spinner text-center"></span>
                        <i class="fa fa-info-circle"></i>
                        Check menu version
                    </button>

                    <button class="k-button" ng-click="UploadToFtp()" ng-disabled="BlockAccess" title="Click here to push the menu back to the ftp.">
                        <span ng-show="UploadBusy" class="fa fa-spinner fa-spin loading-spinner text-center"></span>
                        <i class="fa fa-cloud-upload"></i>
                        Try to backup
                    </button>

                    <button class="k-button k-primary" ng-click="DownloadFromFtp()" title="Click here to fetch the newest version of the menu from the FTP.">
                        <span ng-show="DownloadBusy" class="fa fa-spinner fa-spin loading-spinner text-center"></span>
                        <i ng-hide="DownloadBusy" class="fa fa-download"></i>
                        Try to get latest
                    </button>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="space">
                    <div>
                        <b>Access 97 Menu Detail (Rameses)</b>
                    </div>
                    <div>Version: <i>{{Version}}</i></div>
                    <div>Updated on: <i>{{UpdatedOn}}</i></div>
                    <div><i>Last download: {{LastDownloaded}}</i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{Errors}}
            </div>
        </div>
    </div>
}

@if (false)
{
    <script src="~/Scripts/MyAndromeda.App.All.js"></script>
    <script src="~/Scripts/angular.js"></script>
}

@using (Html.BeginScripts("MyAndromeda.MenuServices.Angular", Area.Foot))
{
    <script type="text/javascript">
        $(function () {
            var ftpRoutes = MyAndromeda.Menu.Settings.Routes.Ftp;

            ftpRoutes.DownloadMenu = "@string.Format("/api/{0}/menu/ftp/download", workContext.CurrentSite.AndromediaSiteId)";
            ftpRoutes.UploadMenu = "@string.Format("/api/{0}/menu/ftp/upload", workContext.CurrentSite.AndromediaSiteId)";
            ftpRoutes.Version = "@string.Format("/api/{0}/menu/version", workContext.CurrentSite.AndromediaSiteId)";
            ftpRoutes.Delete = "@string.Format("/api/{0}/menu/delete", workContext.CurrentSite.AndromediaSiteId)";

            var element = document.getElementById("FtpWrapper");
            angular.bootstrap(element, [MyAndromeda.Menu.Modules.MenuFtpModuleName]);
        });
    </script>
}