@using (Html.BeginScripts())
{
    var workContext = Html.GetWorkContext();
    if (false)
    {
        <script src="~/lib/myandromeda/MyAndromeda.App.All.js"></script>
    }
    <link href="~/App_Styles/Loyalty.css" rel="stylesheet" />
    <script type="text/javascript">
        MyAndromeda.Loyalty.Settings.AndromedaSiteId = "@workContext.CurrentSite.AndromediaSiteId";

        var element = document.getElementById("LoyaltyApp");
        MyAndromeda.Loyalty.Start(element);
    </script>
}

<div id="LoyaltyApp" ng-app>
    <div class="header">
        <h3>Loyalty</h3>

    </div>

    <div class="clearfix">
        <!-- Content goes here -->
        <div ng-view>
        </div>
        <div class="clearfix"></div>
    </div>

    <script id="start.html" type="text/template">

        <div class="row">

            <div class="col-sm-6" ng-show="ShowEditList">
                <div class="k-widget">
                    <div class="k-toolbar" style="padding: 1em;">
                        <h3 style="margin:0; padding:0">Subscribed loyalty List</h3>
                    </div>
                    <div class="k-content">
                        <ul ng-repeat="storeProvider in CurrentLoyaltyTypes">
                            <li>
                                <a class="k-button" href="#/edit/{{storeProvider.ProviderName}}">
                                    {{storeProvider.ProviderName}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" ng-show="ShowAddList">
                <div class="k-widget">
                    <div class="k-toolbar" style="padding: 1em;">
                        <h3 style="margin:0; padding:0">Add Provider list</h3>

                    </div>
                    <div class="k-content">
                        <ul ng-repeat="provider in AvailableLoyaltyTypeNames">
                            <li>
                                <a class="k-button" href="#/edit/{{provider}}">
                                    {{provider}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </script>

    <script id="edit.html" type="text/template">
        <div ng-hide="ProviderAvailable">
            Loading <span class="fa fa-spinner fa-spin loading-spinner text-center"></span>
        </div>
        <div kendo-validator="AndromedaLoyaltyValidator" ng-show="ProviderAvailable">

            <div class="col-xs-12">
                <h3>'{{Name}}' Loyalty Configuration</h3>
            </div>
            <div class="form-horizontal form-widgets col-sm-12">
                <div class="form-group">
                    <div class="col-sm-12">
                        <!-- some fiddling with pence -> pound in the controller -->

                        <label class="col-sm-3">
                            <input type="checkbox" title="Enable loyalty options" ng-model="Model.Enabled" />
                            Enable Loyalty
                        </label>
                        <div class="col-sm-9">
                            <button class="k-button" ng-click="SetDefaults()">
                                Set Defaults
                            </button>
                            <button class="k-button k-primary" ng-disabled="SaveBusy" ng-click="Save()">
                                <i ng-show="SaveBusy" class="fa fa-spinner fa-spin loading-spinner text-center"></i>
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Conversion -->

                <div class="form-group" ng-show="Model.Enabled">
                    <div class="col-xs-12"><h3>How much are the points worth?</h3></div>

                    <label class="control-label col-sm-6 col-xs-12">Conversion rate - {{Currency}} is worth: </label>
                    <div class="col-xs-6 col-sm-2">
                        <input id="PointValue" name="PointValue"
                               kendo-numeric-text-box k-min="0" k-max="500" k-ng-model="Model.PointValue" ng-required="Model.Enabled" />
                    </div>
                    <div ng-show="!Model.PointValue" class="col-xs-4"><span class="k-invalid-msg" data-for="PointValue"></span></div>
                    <div ng-show="(Model.PointValue > 0)" class="col-xs-4">{{Currency}} = {{Model.PointValue}} points</div>
                </div>

                <!-- Redeem -->

                <div class="form-group" ng-show="Model.Enabled">
                    <div class="col-xs-12"><h3>Redeeming points</h3></div>
                </div>

                <!-- minimum point requirement -->
                <div class="form-group" ng-show="Model.Enabled">
                    <label class="control-label col-sm-6 col-xs-12">
                        Minimum number of points needed before being able to redeem:
                    </label>
                    <div class="col-xs-6 col-sm-2">
                        <input id="minimumPointsSaved" name="minimumPointsSaved" kendo-numeric-text-box="MinimumPointsBeforeAvailableNumericTextBox" k-min="0" k-ng-model="Model.MinimumPointsBeforeAvailable" />
                    </div>
                    <div class="col-sm-4">
                        <div ng-if="IsMinimumPointsBeforeAvailableEnabled()">
                            <span>{{ ValueOf(Model.MinimumPointsBeforeAvailable) }}</span>
                        </div>
                        <div ng-if="!IsMinimumPointsBeforeAvailableEnabled()">
                            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                                <span class="k-icon k-warning"> </span> This will be disabled. Enter a value to enable the option
                            </span>
                        </div>
                        <div class="bg-warning" ng-if="IsMaximumAndMinimumRulesEqual()">
                            <i class="glyphicon glyphicon-warning-sign"></i> Warning. The maximum points a person can own is equal to the minimum before it can be spent.
                        </div>
                        <div class="bg-danger" ng-if="IsMaximumAndMinimumRulesInvalid()">
                            <i class="glyphicon glyphicon-warning-sign"></i> This is invalid. The maximum points must be greater than the minimum limit for spending.
                        </div>
                    </div>
                </div>

                <!-- percentage and value -->
                <div class="form-group" ng-show="Model.Enabled">
                    <label class="control-label col-sm-6">
                        The maximum amount that can be discounted on the order:
                    </label>
                </div>
                <div class="form-group" ng-show="Model.Enabled">

                    <label class="control-label col-sm-6 col-xs-12">Percent:</label>
                    <div class="col-xs-6 col-sm-2">
                        <input kendo-numeric-text-box k-min="0" k-max="1" k-format="'p0'" k-step="0.01" k-ng-model="Model.MaximumPercentThatCanBeClaimed" />
                    </div>
                    <div class="col-sm-4">
                        &nbsp;
                    </div>
                </div>

                <div class="form-group" ng-show="Model.Enabled">
                    <label class="control-label col-sm-6 col-xs-12">Max value:</label>
                    <div class="col-xs-6 col-sm-2">
                        <input kendo-numeric-text-box k-format="'c'" k-min="0" k-ng-model="Model.MaximumValueThatCanBeClaimed" />
                    </div>
                    <div class="col-sm-4">
                        &nbsp;
                    </div>
                </div>

                <div class="form-group" ng-show="Model.Enabled">
                    <label class="control-label col-sm-6">Required total - The minimum remaining value in order:</label>
                    <div class="col-sm-2">
                        <input kendo-numeric-text-box k-format="'c'" k-min="0" k-ng-model="Model.MinimumOrderTotalAfterLoyalty" />
                    </div>
                    <div class="col-sm-4">
                        After loyalty has been discounted the order must cost at least
                        {{ DisplayAsCurrency(Model.MinimumOrderTotalAfterLoyalty) }} <i>(leave empty if not needed.)</i>
                    </div>
                </div>

                <!-- end of redeeming -->
                <!-- earning points -->
                <div class="form-group" ng-show="Model.Enabled">
                    <div class="col-xs-12"><h3>Earning points</h3></div>
                </div>

                <!-- end of earning -->
                <div class="form-group" ng-show="Model.Enabled">
                    <label class="control-label col-sm-4 col-xs-12">
                        Points earned for every {{Currency}}:
                    </label>
                    <div class="col-sm-2">
                        <input kendo-numeric-text-box="AwardingPointsNumericTextBox" k-min="0" k-ng-model="Model.AwardPointsPerPoundSpent" ng-required="Model.Enabled" />
                    </div>
                    <div class="col-sm-4">
                        Customer receives {{ ValueOf(Model.AwardPointsPerPoundSpent) }} for every {{Currency}} spent
                    </div>
                </div>

                <div class="form-group" ng-show="Model.Enabled">
                    <label class="control-label col-sm-4 col-xs-12">
                        Points given on registration:
                    </label>
                    <div class="col-xs-6 col-sm-2">
                        <input kendo-numeric-text-box k-min="0" k-ng-model="Model.AwardOnRegiration" />
                    </div>
                    <div class="col-xs-4">
                        {{ ValueOf(Model.AwardOnRegiration) }}
                    </div>
                </div>

                <div class="form-group" ng-show="Model.Enabled">
                    <label class="control-label col-sm-4">
                        Maximum points per customer:
                    </label>
                    <div class="col-sm-2">
                        <input id="maximumPoints" name="maximumPoints" kendo-numeric-text-box="MaximumObtainablePointsNumericTextBox" k-min="0" k-ng-model="Model.MaximumObtainablePoints" />
                    </div>
                    <div class="col-sm-4">
                        <div ng-if="IsMaximumObtainablePointsEnabled()">
                            if this amount of points is reached ({{ValueOf(Model.MaximumObtainablePoints)}}), no more points will be earned by the customer, until the points are redeemed.
                        </div>
                        
                    </div>
                </div>

                @*<div class="form-group" ng-show="Model.Enabled">
                        <label class="control-label col-sm-4">Maximum points per customer:</label>
                        <div class="col-sm-2">
                            <input kendo-numeric-text-box k-min="0" k-ng-model="Model.AutoSpendPointsOverThisPeak" />
                        </div>
                        <div class="col-sm-3">
                            <div ng-if="IsAutoSpendPointsOverThisPeakEnabled()">
                                <span>{{ ValueOf(Model.AutoSpendPointsOverThisPeak) }}</span>
                            </div>
                            <div class="bg-warning" ng-if="!IsAutoSpendPointsOverThisPeakEnabled()">
                                <span><i class="glyphicon glyphicon-warning-sign"></i> This will be disabled. Enter a value to enable the option</span>
                            </div>

                        </div>
                    </div>*@


                <div class="form-group" ng-show="Model.Enabled">
                    <label class="control-label col-sm-4">Round:</label>
                    <div class="col-sm-2" style="padding-top:4px;">
                        <input class="k-radio" ng-model="Model.RoundUp" value="True" type="radio" name="Round" id="RoundUp" />
                        <label class="k-radio-label" for="RoundUp">Up</label>
                        <br />
                        <input class="k-radio" ng-model="Model.RoundUp" value="False" type="radio" name="Round" id="RoundDown" />
                        <label class="k-radio-label" for="RoundDown">Down</label>
                    </div>
                    <div class="col-sm-4">If the point calculation results in a fraction then it will be rounded up or down</div>
                </div>

            </div>

            @*<div class="col-sm-4">
                    To get {{Currency10}} the customer will need to spend
                </div>*@
        </div>

    </script>

</div>
