    <!-- Contact details -->
    <script type="text/html" id="checkoutContactDetails-template">
        <div class="checkoutSection" data-bind="'attr': { 'id': id }">
            <div id="checkoutContactDetailsContainer">
                <h3 data-bind="text: textStrings.checkWhoAreYou"></h3>

                <!-- First name -->
                <div class="checkoutContactLine">
                    <div class="required">*</div>
                    <div class="checkoutContactColumn1">
                        <label for="checkoutFirstName" data-bind="text: textStrings.checkFirstName"></label>
                    </div>
                    <div class="checkoutContactColumn2">
                        <input id="checkoutFirstName" autofocus type="text" data-bind="value: checkoutHelper.checkoutDetails.firstName, 'attr': { 'class': checkoutHelper.errors.firstNameHasError() ? 'checkoutDataError' : '' }, disable: settings.lockCustomerDetailsPage" />
                    </div>
                    
                </div>

                <!-- Surname -->
                <div class="checkoutContactLine">
                    <div class="required">*</div>
                    <div class="checkoutContactColumn1">
                        <label for="checkoutLastName" data-bind="text: textStrings.checkSurname"></label>
                    </div>
                    <div class="checkoutContactColumn2">
                        <input id="checkoutLastName" type="text" data-bind="value: checkoutHelper.checkoutDetails.surname, 'attr': { 'class': checkoutHelper.errors.surnameHasError() ? 'checkoutDataError' : '' }, disable: settings.lockCustomerDetailsPage" />
                    </div>
                </div>

                <!-- Phone -->
                <div class="checkoutContactLine">
                    <div class="required">*</div>
                    <div class="checkoutContactColumn1">
                        <label for="checkoutTelNo" data-bind="text: textStrings.checkTel"></label>
                    </div>
                    <div class="checkoutContactColumn2">
                        <input id="checkoutTelNo" type="text" data-bind="value: checkoutHelper.checkoutDetails.telephoneNumber, 'attr': { 'class': checkoutHelper.errors.telephoneHasError() ? 'checkoutDataError' : '' }, disable: settings.lockCustomerDetailsPage, valueUpdate: 'keypress', event: { keypress: helper.numbersOnly }" />
                    </div>
                </div>

                <!-- Email -->
                <div class="checkoutContactLine">
                    <div class="required">&nbsp;</div>
                    <div class="checkoutContactColumn1">
                        <label for="checkoutEmail" data-bind="text: textStrings.checkEmail"></label>
                    </div>
                    <div class="checkoutContactColumn2">
                        <span id="checkoutEmail" data-bind="text: checkoutHelper.checkoutDetails.emailAddress" />
                    </div>
                </div>
                
                <div class="requiredLine" data-bind="text: textStrings.checkRequired"></div>

                <!-- Marketing -->
                <div class="checkoutContactLine" style="margin-top:10px;">
                    <div style="clear: left; float:left; width: 20px; text-align: right; margin-top:5px;">
                        <input type="checkbox" data-bind="checked: checkoutHelper.checkoutDetails.marketing" id="marketing" />
                    </div>
                    <div style="float:left; margin-top:5px;">
                        <label for="marketing" data-bind="text: textStrings.checkMarketing"></label>
                    </div>
                </div>

                <!-- ko if: settings.customerAccountsEnabled -->
                <div class="checkoutContactLine">
                    <div style="clear: left; float:left; width: 20px; text-align: right; margin-top:5px;">
                        <input type="checkbox" data-bind="checked: checkoutHelper.checkoutDetails.rememberContactDetails" id="Checkbox1" />
                    </div>
                    <div style="float:left; margin-top:5px;">
                        <label for="rememberContactDetails" data-bind="text: textStrings.checkRememberContact"></label> 
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: checkoutHelper.errors.contactDetailsHasError() -->
                <div class="checkoutError" data-bind="text: textStrings.checkMissing"></div>
                <!-- /ko -->

                <!-- Next & back buttons -->
                <div class="checkoutButtons">
                    <!-- Back -->
                    <div class="button backButton" data-bind="visible: checkoutHelper.backButton.visible">
                        <a data-bind="click: checkoutHelper.backButtonClicked, text: checkoutHelper.backButton.displayText" href="#"></a>
                    </div>

                    <!-- Next -->
                    <div class="button nextButton">
                        <a data-bind="click: checkoutHelper.nextButtonClicked, text: checkoutHelper.nextButton.displayText" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </script>