    <!-- Collection/Delivery time -->
    <script type="text/html" id="checkoutDeliveryTime-template">
        <div class="checkoutSection" data-bind="'attr': { 'id': id }">
            <div id="checkoutDeliveryTimeContainer">
                <div id="checkoutDeliveryTimePrompt">
                    <h3>
                        <span data-bind="visible: $root.orderType() == 'collection', text: textStrings.checkCollectTime"></span>
                        <span data-bind="visible: $root.orderType() == 'delivery', text: textStrings.checkDeliverTime"></span>
                    </h3>
                </div>
                <div id="checkoutDeliveryTime">
                    <div id="deliveryTimeRequired">*<select id="deliveryTime" autofocus data-bind="options: checkoutHelper.times, optionsText: 'text', value: checkoutHelper.checkoutDetails.wantedTime, 'attr': { 'class': checkoutHelper.errors.deliveryTimeError() ? 'checkoutDataError' : '' }, event: { change: checkoutHelper.deliveryTimeChanged }"></select>
                    </div>
                    <div>
                        <p data-bind="text: textStrings.checkSlotWarning"></p>
                    </div>
                </div>
                <div class="requiredLine">
                    * Required
                </div>
                <div class="checkoutError" data-bind="visible: checkoutHelper.errors.deliveryTimeHasError(), text: textStrings.checkMissing">
                </div>

                <!-- Next & back buttons -->
                <div class="checkoutButtons">
                    <!-- Back -->
                    <div class="button backButton" data-bind="visible: checkoutHelper.backButton.visible">
                        <a data-bind="click: checkoutHelper.backButtonClicked, text: checkoutHelper.backButton.displayText" href="#"></a>
                    </div>

                    <!-- Next -->
                    <div class="button nextButton">
                        <a data-bind="click: checkoutHelper.nextButtonClicked, text: checkoutHelper.nextButton.displayText" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </script>