    <!-- ORDER ACCEPTED VIEW -->
    <script type="text/html" id="orderAcceptedView">
        <div id="orderAcceptedContent" class="content">
            <div class="sitesBox">
                <h1 class="welcomeHeader" data-bind="text: textStrings.welcomeHeader"></h1>

                <div id="orderAccepted">
                    <h3 data-bind="text: $root.contentViewModel().congratsMessage"></h3>
                    <h3 data-bind="text: textStrings.oavThanks"></h3>

                    <!-- ko if: checkoutHelper.showCongratsLoyaltyWarningMessage -->
                    <p data-bind="text: textStrings.oavLoyaltyPointsWarning"></p>
                    <!-- /ko -->

                    <div id="orderAcceptedOptions">
                        <div class="button">
                            <a href="#" data-bind="click: helper.newOrder, text: textStrings.oavReturnToMenu"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>