.button, .highlightedButton
{
    float: none;
}

.button a, .highlightedButton a
{
    font-size:10pt;
}
header
{
    width: 100%;
    margin: 0;
    padding:0;
    border:0;
    overflow: hidden;
    /*background-color: #AD2523;*/
    /*position:fixed;*/
    top:0;
    z-index:10;
    height:50px;
}
#pageHeader
{
    overflow:hidden;
    /*background: transparent url('Images/DaddyDonkeyLogo.png') no-repeat;
    background-size: auto 50px;*/
    height: 50px;
    padding: 5px;
}

#logo
{
    display: block;
    height: 50px;
    width: 100px;
    background: transparent url('Images/DaddyDonkeyLogo.png') no-repeat;
    background-size: auto 50px;
}

#logo:hover
{
    background: transparent url('Images/HomeLogo1.png') no-repeat;
    background-size: auto 50px;
}

header h1
{
}

#headerLeft
{
    text-align:center;
}

#headerLeft img
{
    height:55px;
    width: auto;
    max-width: 100%;
    overflow:hidden;
}

#headerRight
{
    display:none;
}

#phone
{
    color: white; 
    margin: 5px 0 0 0;  
    font-size: 11pt;
}

#socialMedia
{
    font-size: 10pt;

    margin:0;
    padding:0;

    /*background-color: #FFFFFF;

    -moz-border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px; 
    -khtml-border-bottom-left-radius: 10px; 

    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    -khtml-border-bottom-right-radius: 10px;*/
}

#socialMedia p
{
    display:none;
    /*float: left; 
    padding: 3px 10px 0 0; 
    margin: 0;
    font-size: 10pt;
    color:white;*/
}

#storeDetailsAddressWrapper
{
    clear:both; 
    /*float:right;*/
    /*height: 40px;*/
}

#storeDetailsAddress
{
    font-size: 8pt; 
    padding: 5px 0 5px 0;
    margin:0;
    color: white;
}

#chooseStoreSelectContainer 
{
    overflow: auto;
    width: 100%;
}

#chooseStoreSelectOuter
{
}

#chooseStoreSelectInner
{
}

#chooseStoreSelectInner select
{
    border: 1px solid #466011;
}
#menuSection
{
    height:100%;
}

#mainMenu
{
    display:none;
}

#mainMenu a:link, #mainMenu a:visited, #mainMenu a:active
{
    text-decoration: none;
    font-size: 16pt;
}

.mainMenuButton, .mainMenuButtonSelected, .mainMenuButtonHighlighted
{
    float: right;
    padding: 5px 7px 5px 7px;
    margin-right: 8px;

    border: solid 1px gray;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;
}

.mainMenuButton
{
    background-color: #ffc000;
}

.mainMenuButtonHighlighted
{
    background-color: yellow;
}

.mainMenuButton a:link, .mainMenuButton a:visited, .mainMenuButton a:active,
.mainMenuButtonHighlighted a:link, .mainMenuButtonHighlighted a:visited, .mainMenuButtonHighlighted a:active
{
    color:#383838;
}

.mainMenuButtonSelected
{
    background-color: #ffc000;
}

.mainMenuButtonSelected a:link, .mainMenuButtonSelected a:visited, .mainMenuButtonSelected a:active
{
    color:#383838;
}

#viewContainer
{
    /*position: relative;
    height: 100%;*/
}

.sitesBox
{
    color: #FFFFFF;
    padding: 0;

    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 7px;
}

.welcomeHeader
{
    display:none;
    /*font-weight:normal;
    text-align:center;
    font-size:10pt;
    color:#493700;
    padding:0;
    margin:10px 0 0 0;*/
}

.chooseStorePrompt
{
    margin:20px 0 20px 0;
}
.sitesBox h2
{
    color: #FFFFFF;
}
.sitesBox select
{
    clear:both;
    float: left;
    display:block;
    font-size:16pt;
    padding: 5px;
}
.sitesBox a
{
    font-size:16pt;
}

.siteButton
{
    width:100%; 
    height:50px; 
    margin-bottom:10px;
}

.siteButton a
{
    padding-top: 15px;
    font-size:10pt;
}

.waitPrompt
{
    margin: 50px 0 20px 0;
}

.content
{
    padding:0;
    margin:5px 0 0 0;
}

/* HOME VIEW */
#homeFullOrderDeal
{
    text-align:center;
    font-size: 12pt;
    color:red;
}

.homeBox
{
    /*color: white;
    padding: 0 25px 0 25px;

    position: relative;
    height: 100%;
    width: 974px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: 7px;*/
}
.homeBox h1
{
    font-size: 11pt;
    font-weight: bold;
    padding: 0;
    margin: 5px 0 5px 0;
    text-align:center;
    color: #FFEA00;
    background-color: #EF7000;
}

#homeAddressWrapper
{
    /*float:left; 
    width: 630px;
    height: 270px;

    padding: 20px 0 0 20px;
    margin: 10px 0 0 0;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;

    overflow: hidden;
    background-color:white;
    border: 1px solid black;*/

    /*color: #493700;*/
}

#homeAddress
{
    /*float:left;
    width: 200px;*/
    padding: 5px 0 5px 0;
}

#homeAddressLines
{
    display: none;
}

#homeAddressLinesMobile
{
    display: block;
    font-size:10pt;
    margin:5px 0 0 5px;
    color: white;
    
}

#homeAddressLinesMobileTel
{
    margin: 5px 0 0 0;
    font-size: 10pt;
}

#homeAddressMap
{
    /*float: left;*/
}

#homeCheckPostcode
{
    margin-top:10px;
    width:100%;
}

#homeCheckPostcodeButton
{
    margin: 0 auto;
    width: 220px;
}

#homeCheckPostcodeButton a
{
    padding: 5px 0 5px 0;
}

#mapContainer
{
    /*width: 100%;*/
    margin: 0 5px 0 5px;
    height: 125px;
    overflow: hidden;
    /*float: left;*/
    /*margin: 0 0 0 10px;*/
    border: solid 1px gray;
}

#map
{
    width:100%;
    height:100%;
}

#homeDeliveryTimes
{
    /*float:right; 
    width: 210px;
    height: 250px;*/

    /*padding: 20px;*/
    margin: 5px 0 0 0;

    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;*/

    overflow: hidden;
    background-color:transparent;
    /*border: 1px solid black;*/

    color: #FFFFFF;
}

.homeDeliveryTimesDay
{
    clear: both;
    overflow: hidden;
    font-size: 8pt;
    margin-left: 10px;
}

.homeDeliveryTimesDayColumn1
{
    float:left; 
    width: 100px;
}

.homeDeliveryTimesDayColumn2
{
    float:left;
}

#homeMenuSections
{
    clear: both;
    overflow:hidden;
}

#homeMenuSections p
{
    font-size: 10pt;
    font-weight: normal;
    padding: 0;
    margin: 5px 0 5px 5px;
    color: white;
}

#homeMenuButtons
{
    margin: 0 0 55px 5px;
    overflow: hidden;
}

.homeMenuSection
{
    float:left; 
    width: 75px; 
    height: 55px;
    margin: 0 15px 15px 0;
}

.homeMenuSection a:link, .homeMenuSection a:visited, .homeMenuSection a:active
{
    padding-top:10px;
    font-size: 10pt;
}

#homeDeliveryMinimumOrder
{
    padding-top: 10px;
    font-weight: normal;
    font-size: 10pt;
    text-align:center;
}

/* POSTCODE CHECK */
#postcodeCheck
{
    background-color: #815126;
    overflow: hidden;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;

    background: #F4F2F2;

    /* Safari 4-5, Chrome 1-9 */
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C6955B), to(#815126));*/
    /* Safari 5.1, Chrome 10+ */
    /*background: -webkit-linear-gradient(left, #C6955B, #815126);*/
    /* Firefox 3.6+ */
    /*background: -moz-linear-gradient(left, #C6955B, #815126);*/
    /* IE 10 */
    /*background: -ms-linear-gradient(left, #C6955B, #815126);*/
    /* Opera 11.10+ */
    /*background: -o-linear-gradient(left, #C6955B, #815126);*/
}
#postcodeCheckInner
{
    padding:15px 10px 0 10px;
}

#postcodeCheckInner h1
{
    font-size: 11pt;
    margin:0 0 0 5px;
    color: white;
}

#postcodeCheckTop
{
    margin: 10px 0 0 0
}

#postcodeCheckButton
{
    margin: 5px 0 5px 0;
    width: 150px;
}

#postcodeCheckButton a
{
    padding: 5px 0 5px 0;
}

#postcodeCheck h1
{
    color: #815126;
    text-align: center;
    font-weight: normal;
    font-size: 10pt;
    padding: 0;
    margin: 0 0 5px 0;
}

#postcodeCheck p
{
    margin: 5px 0 0 0;
    padding: 0;
    text-align: center;
}

#postcodeCheckResult
{
    clear:both;
    padding-top: 5px;
}

#postcodeCheckFail
{
    padding-top: 5px;
    color: red;
}

#postcodeCheckOk
{
    padding-top: 5px;
    color: #4CFF00;
}

#postcodeCheckChangeStoreButton
{
    margin: 5px 0 0 0;
    width: 150px;
}

#postcodeCheckChangeStoreButton a
{
    padding: 5px 0 5px 0;
}

#postcodeCheckShowMenuButton 
{
    margin: 5px 0 0 0;
    width: 150px;
}

#postcodeCheckShowMenuButton a
{
    padding: 5px 0 5px 0;
}

#postcodeCheckInput
{
    width:100%;
}

#postcodeCheckInput input
{
    display:block;
    width: 100px; 
    height: 25px; 
    font-size: 10pt;
    text-align: center;
    margin: 0 auto;
}

/* Terms and conditions */

#tandcPopupBox
{
    background-color: #ffc000;
    overflow: hidden;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}
#tandcInner
{
    padding: 10px;
}

#tandcInner h1
{
    color: black;
    padding: 0;
    margin: 0 0 5px 0;
    font-weight: normal;
    text-align: center;
}

#tandcText
{
    width: 100%;
    height: 200px;
    overflow-y: auto;
    background-color: #FFFFFF;
    border: solid 1px #00A99B;
}

#tandcButtons
{
    display: none;
}

.menuPage
{
    margin: 0;
    /*overflow: hidden;*/
    position:relative;
    height: 100%;
    /*padding-top:40px;*/
}

#rightColumn
{
    display: none;
}

#yourOrderContainer
{      
    padding: 0 0 40px 0;
    margin:0;
    background-color: #5B3D70;
    font-size: 8pt;
    overflow: hidden;
}

.ticked
{
    background: url(Images/TickedSmall.png) no-repeat;
    padding-left: 25px;
    line-height: 20pt;
    color:white;
}

.unticked
{
    background: url(Images/UntickedSmall.png) no-repeat;
    padding-left: 25px;
    line-height: 20pt;
}

#orderItemsHeader
{
    margin-top: 5px;
}

#orderItemsHeader h2
{
    font-size:10pt;
    margin:0;
    padding:0;
}

#cartWrapper
{
    border-top: 1px solid #F3A65B;
    border-bottom: solid 1px #F3A65B;
    background: #5B3D70;
}

#cartItems, #offlineCart
{
    padding: 0 0 15px 0;
    overflow: hidden;
}

.cartItem
{
    padding-bottom:5px;
}

#cartTotalWrapper
{
    margin: 0;
}

.cartTotal
{
    font-size: 12pt;
}

.cartTotalPrice
{
    font-size: 12pt;
    font-weight:bold;
}

#cartHelp
{
    text-align: center;
    margin-top: 10px;
}

#cartLineItems
{ 
    overflow: hidden; 
    padding: 10px 5px 0 5px;
}

#deliveryOrCollection
{
    text-align:left;
    font-size: 8pt;
    line-height: 20pt;
    margin: 5px 0 5px 5px;
    padding:0;
    overflow: hidden;
    color: white;
}

#deliveryOrCollection input
{
    margin-right: 0;
}

#deliveryOrCollection label
{
    margin-right: 5px;
}

#cartTitle
{
    text-align:center;
}
#cartTitle h1
{
    font-size: 12pt;
    font-weight: bold;
    padding: 0;
    margin: 5px 0 5px 0;
    text-align:center;
    color: #FFFFFF;
    background-color: #5B3D70;
}
#cartSidebarActions a
{
}
#emptyBasket
{
    padding: 10px 0 0 0;
}

#emptyBasket h2
{
    font-size:10pt;
}

#emptyBasket p
{
    display: none;
}

#cartSubTotalWrapper
{
    clear:both;
}

#cartSubTotalWrapper span
{
    font-size: 9pt;
}

#cartDiscountWrapper
{
    clear:both;
}

#cartDiscountWrapper span
{
    font-size: 9pt;
}

#optionsContainer
{
    margin: 12px 0 0 0;
    min-height:50px;

    border: solid 1px #E4E4E4;
    background-color: #F4F2F2;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

#optionsTitle
{
    padding: 0 5px 0 5px;
    background-color: #1E2F60;
        
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px; 
    -khtml-border-top-left-radius: 10px; 

    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px; 
    -khtml-border-top-right-radius: 10px; 

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C6955B), to(#815126));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #C6955B, #815126);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #C6955B, #815126);
    /* IE 10 */
    background: -ms-linear-gradient(left, #C6955B, #815126);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #C6955B, #815126);

    color: white;
    font-size:16pt;
    padding:10px;
    text-align:center;
}

#options
{
    font-size:10pt;
}

#clearOrderButton
{
    float: left;
    width:50px;
    margin: 5px 0 0 5px;
}

#clearOrderButton a
{
    font-size: 10pt;
    padding: 5px 0 5px 0;
}

#backToMenuButton
{
    float: left;
    width:100px;
    margin: 5px 0 0 5px;
}

#backToMenuButton a
{
    font-size: 10pt;
    padding: 5px 0 5px 0;
}

#checkoutButton
{
    float: left;
    width:70px;
    margin: 5px 0 0 5px;
}

#checkoutButton a
{
    font-size: 10pt;
    padding: 5px 0 5px 0;
}

.checkoutPage
{
    margin: 5px 0 0 0;
    padding: 0 0 60px 0;
    width: 100%;
}
.checkoutPage h1
{
    margin:0;
    padding:0;
    text-align:center;
    font-size:12pt;
    color: white;
}

.checkoutSection
{
    width:100%;
}
#checkoutContactDetailsContainer
{
    width:100%;
    background-color: transparent;
}

#checkoutContactDetailsContainer h3, #checkoutDeliveryTimePrompt h3, #checkoutDeliveryAddressContainer h3, #checkoutOrderNotesContainer h3
{
    font-size: 10pt;
    font-weight: bold;
    padding: 0;
    margin: 5px 0 5px 0;
    text-align:center;
    color: #F4EF14;
    background-color: #EF7000;
}

.checkoutContactLine
{
    margin: 0 0 10px 0;
}

.checkoutContactColumn1, #marketingLine, .checkoutAddressColumn1, #checkoutDeliveryTime p
{
    font-size: 10pt;
    float: none;
    margin: 0 5px 0 5px;
}

.checkoutContactColumn2, .checkoutAddressColumn2
{
    width: auto;
    float: none;
    padding: 0 10px 0 5px;
    margin:0;
}

.checkoutAddressColumn2 input, .checkoutContactColumn2 input
{
    padding:3px 0 3px 0;
    margin:0;
    position:relative;
    width: 100%;
    border: solid 1px black;
    font-size: 10pt;
    height: auto;
}

.checkoutAddressColumn2 textarea
{
    width: 100%;
}

.checkoutAddressColumn3
{
    float: none;
    font-size: 8pt;
    color: white;
    margin: 0 0 5px 5px;
}

.requiredLine, #deliveryTimeRequired p
{
    font-size: 8pt;
}

#checkoutSectionsContainer
{
    width:100%;
    /*position: relative;*/
}

.checkoutSectionHeaders
{
    display:none;
    margin: 0;
}
.checkoutSection
{
    padding: 0 0 5px 0;
    background-color: #EF7000;
}

#checkoutPaymentContainer h2
{
    font-size: 12pt;;
}

#checkoutPaymentContainer
{
    padding: 0 10px 10px 10px;
    overflow: hidden;
}

#orderAcceptedOptions
{
    width:230px;
    margin: 0 auto;
}

#orderAcceptedOptions .button a
{
    padding: 5px 0 5px 0;
}

#paymentPayLine
{
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
}

#payAtDoorButton
{
    margin-bottom: 5px;
}

#paymentPayLine a
{
    padding: 5px 0 5px 0;
}

#paymentTandCCheckbox
{
    color: white;
}

#mercuryPaymentContainer
{
    text-align: center; 
    width: 100%;
    height: 100%; 
}

#mercuryPaymentIFrame
{
    width:100%;
    height: 100%;
    /*scrolling: auto;*/
    text-align: center;
    border: 0;
}

#dataCashPaymentContainer
{
    text-align: center; 
    width: 100%;
    height: 100%; 
}

#dataCashPaymentIFrame
{
    width:100%;
    height: 100%;
    text-align: center;
    border: 0;
}

#storeDetailsContainer
{
    /*padding: 15px 20px 20px 20px;*/
    margin: 12px 0 0 0;
    min-height:50px;

    border: solid 1px #E4E4E4;
    background-color: #F4F2F2;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

#storeDetailsTitle
{
    padding: 0 5px 0 5px;
    background-color: #1E2F60;
        
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px; 
    -khtml-border-top-left-radius: 10px; 

    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px; 
    -khtml-border-top-right-radius: 10px; 

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C6955B), to(#815126));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #C6955B, #815126);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #C6955B, #815126);
    /* IE 10 */
    background: -ms-linear-gradient(left, #C6955B, #815126);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #C6955B, #815126);

    color: white;
    font-size:18pt;
    padding:10px;
    text-align:center;
}

#storeDetails
{
    font-size:13pt;
}

.storeDetailsDayColumn1
{
    font-style: italic;
}

.menu
{
    margin: 12px 0 0 0;
    border: solid 1px #E4E4E4;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
}

#sectionHeaders
{
    display: none;
}

#sectionHeadersTop h1
{
    color: #36490D;
    font-size: 13pt;
    margin: 0;
    padding: 10px 0 10px 10px;
    font-weight: bold;
}
#sectionHeadersContent
{
    padding: 0 5px 10px 5px;
}
.sectionHeader
{
    padding:5px 0 5px 5px;
    clear: both;
    overflow: hidden;
    /*height: 27px;*/
    width: 100%;
}
.selectedSectionHeader
{
    padding:5px 0 5px 5px;
    clear: both;
    overflow: hidden;
    /*height: 27px;*/
    width: 100%;
}
.sectionHeader a:link, .sectionHeader a:visited, .sectionHeader a:active
{
    display:block;
    width: 100px;
    color:#383838;
    font-size:15pt;
    text-decoration: none;

    border: solid 1px gray;
    padding: 2px 7px 2px 7px;
    background-color: #ffc000;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;
}
.selectedSectionHeader a:link, .selectedSectionHeader a:visited, .selectedSectionHeader a:active
{
    display:block;
    width: 100px;
    color:#E6001D;
    font-size:15pt;
    text-decoration: none;

    border: solid 1px gray;
    padding: 2px 7px 2px 7px;
    background-color: #ffc000;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;
}

#sectionsWrapper
{
    overflow: hidden;
    /*margin-top: 90px;*/
    /*height:100%;*/
    /*position:absolute;
    height:auto;
    top:155px;
    bottom:30px;
    left:145px;
    right:240px;
    border: solid 1px black;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;
    
    background-color: white;*/
}
#sections
{
    /*position:relative;*/
    /*height:100%;*/
    /*overflow-y:scroll;*/
    overflow-x:hidden;
    margin-bottom:55px;
}

#sectionsContainer
{
    /*position: relative;*/
    /*height: 100%;*/
}

.section
{
    /*position: absolute;
    top:0;*/
}

.sectionTitle h1
{
    display:none;
}

.sectionItems
{
}

.itemRow
{
    clear:both;
    /*margin:10px 5px 10px 5px;*/
    padding:5px 5px 0 5px;
    overflow: hidden;

    /*border: solid 1px #ffc000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;*/
    
    /*background-color:#FFF0C1;*/

    background-color:#AD2523;
    border-top: solid 4px #F4EF14;
}

.itemRow select
{
    height:25px;
    font-size:12pt; 
    margin: 0 5px 0 0;
}

.nameDescriptionContainer
{
    float:left;
    /*width: 320px;*/
    color: white;
    overflow:hidden;
}

.itemName
{
    font-size:10pt;
    color:#F4EF14;
    padding:0;
    margin:0 ;
    font-weight:bold;
}

.itemDescription
{
    font-size:9pt;
}

.notAvailable
{
    font-size:9pt;
}

.priceCategoryContainer
{
    clear:both;
    float:right;
    padding:5px 0 0 0;
    overflow:hidden;
}

.priceContainer
{
}
.price
{
    margin:5px 5px 0;
    padding: 0;
    font-weight:normal;
    color:#F4EF14;
    font-size: 14pt;
    float:left;
    height:30px;
}

.menuOptions
{
    float:right;
    overflow:hidden;
    margin-bottom: 5px;
    /*clear:both;
    float:right;*/
}
    
.categoryContainer
{
    clear: both;
    float:right;
    /*float:right;*/
    /*min-width: 50px;*/
    /*margin:5px 0 0 0;*/
}
.quantity
{
    margin-right: 5px;
}
.quantity select
{
    float:right;
    height:30px;
    margin-right: 0;
}
.category1
{
    float: right;
}
.category1 select
{
    height:30px;
    font-size:10pt;
}
.category2
{
    float: right;
}
.category2 select
{
    height:30px;
    font-size:10pt;
}
.addItemButton
{
    float:left;
    width:100px;
    height:30px;
    margin: 0;
}

.addItemButton a
{
    padding-top: 7px;
}

.dealItem
{
    /*border: solid 1px #ffc000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
    -khtml-border-radius: 10px;*/
    
    /*margin:10px 5px 10px 5px;*/
    padding:5px;
    background-color:#AD2523;
    border: solid 2px #F4EF14;

    color: white;

    overflow:hidden;
}

.dealName
{
    font-size:10pt;
}

.dealItem p
{
    font-size:10pt;
}

.dealOptions
{
    /*margin: 5px 0 0 5px;*/
}

.dealOptions .highlightedButton
{
    float:right;
    width:100px;
}

.popupBoxBackgroundVisible, .popupBoxBackgroundHidden
{
    display: none;
}

.popupBoxHidden, .popupBoxVisible
{
    background-color:white;
    width: 100%;
}

.dealPopupBoxBackgroundVisible, .dealPopupBoxBackgroundHidden
{
    display:none;
}

.popupItemDetails
{
    padding: 0 0 0 5px;
    color:white;
}

.popupItemDetails h2
{
    padding: 0;
    margin: 0;
    color:#FFFFFF;
    font-weight:bold;
    font-size:12pt;
}

.popupDescription
{
    font-size: 10pt;
}

.popupToppingsSingle
{
    margin:0 0 0 110px;
}

.popupToppingsSingle2
{
    display:none;
}
.popupToppingsDouble
{
    margin:0 10px 0 20px;
}
.popupToppingsDouble2
{
    display:none;
}

.popupOptions
{
    float:right;
    background-color: #849ACB;
    padding: 0 0 0 10px;
    position: relative;
    padding-bottom:8000px; /* This little trick simulates height 100% */
    margin-bottom:-8000px;
}

.popupBoxHeaderContainer
{
    overflow:hidden;
    background-color: #00A99B;
}
    
.popupBoxHeaderContainer h2
{
    font-weight: bold;
}
.popupTopping
{
    width:228px;
}
#popupToppingsHelp
{
    font-size:8pt;
}
.popupToppingName
{
    width:100px;
}
.popupAdditionalTopping
{
    width: 160px;
}
.popupRemovableTopping
{
    width: 160px;
}

#popupOptionsLeft
{
    clear: both;
    overflow: hidden;
    margin: 5px 0 5px 0;
}

#popupOptionsTopQuantity
{
    float:left;
    margin: 0 5px 0 0;
}

#popupQuantity
{
    font-weight:normal;
}

#popupQuantityHeader
{
    margin-bottom:5px;
    font-size:10pt;
}

#popupQuantity label
{
    color: white;
}

#popupQuantity select
{
    font-size: 12pt;
    padding:0;
    margin:0;
}

#popupOptionsTopPrice
{
    clear:both;
    float:left;
    margin:0 5px 0 5px;
}

#popupPriceHeader
{
    color:white;
    font-size:10pt;
}

#popupPrice
{
    clear:both;
    font-weight:bold;
    font-size:14pt;
    color: white;
    margin: 0;
    padding: 0;
    line-height:20pt;
}

#popupCatContainer
{ 
    float:left;
    margin: 0 0 0 0;
}

#popupCatContainer span
{ 
    color: white;
}

#popupCatContainer select
{
    font-size:12pt;
}

#popupCatHeader
{
    /*float:right;*/
    color: white;
    padding:0;
    text-align:left;
    margin-bottom:5px;
    font-size:10pt;
}

#popupCategory1 
{
    clear:both;
    float:right;
    font-size:12pt;
    font-weight:normal;
}

#popupCategory1 select
{
    margin:0;
    padding:0;
}

#popupCategory2
{
    clear:both;
    float:right;
    font-size:12pt;
    font-weight:normal;
}

#popupCategory2 select
{
    margin:0;
    padding:0;
}

#popupCategory2 span
{
    color: white;
}

#popupOptionsRight
{
    clear:both;
    /*float:right;*/
    margin:5px 0 0 5px;
}

#popupCancelButton
{
    float:left;
    width:90px;
    margin: 0 5px 0 0;
}

#popupCancelButton a
{
    padding: 5px 0 5px 0;
}

#popupDealOptions
{
    padding: 5px 0 5px 5px;
    background-color: #00A99B;
    overflow:hidden;
}

#popupAddToCartButton
{
    clear: both;
    float:left;
    width: 110px;
    margin: 0 5px 5px 0;
}

#popupAddToCartButton a
{
    padding: 5px 0 5px 0;
}

#popupRemoveFromCartButton
{
    float:left;
    width: 150px;
    margin: 0 5px 0 0;
}

#popupRemoveFromCartButton a
{
    padding: 5px 0 5px 0;
}

#popupUpdateItemButton
{
    clear: both;
    float: left;
    width: 75px;
    margin: 0 5px 5px 0;
}

#popupUpdateItemButton a
{
    padding: 5px 0 5px 0;
}

#popupAddToDealButton
{
    clear: both;
    float:left;
    width: 60px;
    margin: 0 5px 5px 0;
    padding:0;
}

#popupAddToDealButton a
{
    padding: 5px 0 5px 0;
}

#popupCancelDealButton
{
    float:left;
    width:60px;
    margin: 0 5px 0 0;
}

#popupCancelDealButton a
{
    padding: 5px 0 5px 0;
}

#dealPopupAddToCartButton
{
    clear: both;
    float:left;
    width: 110px;
    margin: 0 5px 0 0;
    font-weight:normal;
}

#dealPopupAddToCartButton a
{
    padding: 5px 0 5px 0;
}

#dealPopupUpdateCartButton
{
    float:left;
    width: 50px;
    margin: 5px 10px 0 0;
    font-weight:normal;
}

#dealPopupUpdateCartButton a
{
    padding: 5px 0 5px 0;
}

#dealPopupRemoveFromCartButton
{
    float:left;
    width: 160px;
    margin: 5px 10px 0 0;
    font-weight:normal;
}

#dealPopupRemoveFromCartButton a
{
    padding: 5px 0 5px 0;
}

#dealPopupCancelButton
{
    float:left;
    width:75px;
    font-weight:normal;
}

#dealPopupCancelButton a
{
    padding: 5px 0 5px 0;
}

.popupDealLineDetails
{
    padding:0 0 0 5px;
    overflow: hidden;

    color: black;
}

.popupDealCustomize
{
    clear:both;
    overflow:hidden;
}

.popupDealCustomizeItemButton
{
    width: 95px;
}

.popupDealCustomizeItemButton a
{
    padding: 2px 0 2px 0;

    background: -webkit-gradient(linear, left top, left bottom, from(#00A99B), to(#00A99B));
    background: -webkit-linear-gradient(top, #00A99B, #00A99B);
    background: -moz-linear-gradient(top, #00A99B, #00A99B);
    background: -ms-linear-gradient(top, #00A99B, #00A99B);
    background: -o-linear-gradient(top, #00A99B, #00A99B);
}

.dealPopupItemNo
{
    float: left; 
    font-weight:bold;
}

.popupOptions select
{
    height:35px;
    font-size:12pt; 
    padding:0 0 0 5px;
    margin:0;
}

#popupBody
{
    background-color: #5B3D70;
    /*padding: 0 0 0 5px;*/
    /*overflow:hidden;*/
}

#popupBody h1
{
    font-size: 11pt;
    font-weight: bold;
    padding: 0;
    margin: 5px 0 5px 0;
    text-align:center;
    color: #FFFFFF;
    /*background-color: #00A99B;*/
}

#popupChefCommentsInner
{
    padding: 0 10px 0 5px;
    position: relative;
}

#popupChefCommentsInner textarea
{
    width:100%; 
    resize: none; 
    height:75px;
}

#popupChefCommentsInner p
{
    padding: 0;
    margin: 5px 0 5px 0;
    font-size: 10pt;
    color: white;
}

#popupPersonInner
{
    padding: 0 10px 0 5px;
    position: relative;
}

#popupPersonInner p
{
    padding: 0;
    margin: 5px 0 5px 0;
    font-size: 10pt;
    color: white;
}

#popupPersonInner input
{
    width:100%;
    border: 1px solid black;
}

#dealPopupBox
{
    /*height:100%;*/
}

.popupDealLine
{
    font-size:10pt;
    overflow: hidden;
    padding:5px;
    background-color:#FFFFFF;
    border-top: solid 4px #00A99B;
}

.popupDealLineItem
{
    padding-right: 5px;
}

.popupDealLine select
{
    /*height:20px;*/
    font-size:12pt; 
    padding:0;
    margin:0 0 5px 0;
}

#popupFreeToppings
{
    text-align:center;
    color: red;
}

.errorBox
{
    background-color: #815126;
    overflow: hidden;
    padding: 10px 50px 30px 50px;
    margin: 20px 0 0 0;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;

    /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C6955B), to(#815126));
    /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(left, #C6955B, #815126);
    /* Firefox 3.6+ */
    background: -moz-linear-gradient(left, #C6955B, #815126);
    /* IE 10 */
    background: -ms-linear-gradient(left, #C6955B, #815126);
    /* Opera 11.10+ */
    background: -o-linear-gradient(left, #C6955B, #815126);
}
.errorBox a
{
    font-size:20pt;
}
.errorMessage
{
    text-align:center;
    margin:20px 0 20px 0;
    font-weight: normal;
}
.errorOptions
{
    width:160px;
    margin: 0 auto;
}
.errorBox h2
{
    color: white;
}

#mobileMenu
{
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    text-align: center;
    /*color: #606060;*/
    height: 50px;
    color: white;
    background: #EF7000;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#A0A0A0));
    background: -webkit-linear-gradient(top, #CCCCCC, #A0A0A0);
    background: -moz-linear-gradient(top, #CCCCCC, #A0A0A0);
    background: -ms-linear-gradient(top, #CCCCCC, #A0A0A0);
    background: -o-linear-gradient(top, #CCCCCC, #A0A0A0);*/
}

#mobileCheckoutMenu
{
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    text-align: center;
    color: #000000;
    height: 50px;
    background: #F4EF14;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#A0A0A0));
    background: -webkit-linear-gradient(top, #CCCCCC, #A0A0A0);
    background: -moz-linear-gradient(top, #CCCCCC, #A0A0A0);
    background: -ms-linear-gradient(top, #CCCCCC, #A0A0A0);
    background: -o-linear-gradient(top, #CCCCCC, #A0A0A0);*/
}

.mobileCheckoutMenuButton
{
    width: 50%;
    float: left;
}

.mobileMenuButton
{
    width: 33.33%;
    float: left;
}

.mobileMenuButtonInner, .mobileMenuButtonSelectedInner
{
    position: relative;
    padding: 0;
    font-size:9pt;
    line-height:50px;
    margin: 0;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 50px;
    overflow:hidden;
}

.mobileMenuButtonSelectedInner
{
    background-color: #F3A65B;

    /*background: -webkit-gradient(linear, left top, left bottom, from(#B6B6B6), to(#898989));
    background: -webkit-linear-gradient(top, #B6B6B6, #898989);
    background: -moz-linear-gradient(top, #B6B6B6, #898989);
    background: -ms-linear-gradient(top, #B6B6B6, #898989);
    background: -o-linear-gradient(top, #B6B6B6, #898989);*/
}

.mobileMenuButtonInner a:link, .mobileMenuButtonInner a:visited, .mobileMenuButtonInner a:active,
.mobileMenuButtonSelectedInner a:link, .mobileMenuButtonSelectedInner a:visited, .mobileMenuButtonSelectedInner a:active
{
    text-decoration:none;
    color: black;
    font-weight:bold;
}

#mobileMenuSections
{
    background-color:black;
}

#mobileMenuSections select
{
    width:100%;
    font-size: 14pt;
}

#mobileMenuSectionsSelect
{
    /*float:left;*/
}

#footer
{
    display:none;
}

.menuSectionHasFocus
{
    display:block;
}

.menuSectionDoesntHaveFocus
{
    display:none;
}

.headFootNoPopup
{
    display: block;
}

.headFootPopup
{
    display:none;
}


