@{
    List<AndroAdminDataAccess.Domain.TimeSpanBlock> openingHours = null;
}

<div class="openingHoursBlockView">
    <fieldset>
        <legend>@ViewData["Day"].ToString()</legend>  
     
        @if (Model.OpeningTimesByDay.TryGetValue(@ViewData["Day"].ToString(), out openingHours) && openingHours.Count > 0)
        {
            <ul style="list-style-type: none; padding:0; margin:0;">
            @foreach (AndroAdminDataAccess.Domain.TimeSpanBlock timeSpanBlock in openingHours)
            {
                if (timeSpanBlock.OpenAllDay)
                {
                    <li class="siteOpenAllDay">Open all day</li>
                }
                else
                { 
                    <li>@timeSpanBlock.StartTime - @timeSpanBlock.EndTime</li>
                }
            }
            </ul>
        }
        else
        {
            <p class="siteClosed">Closed</p> 
        }
    </fieldset>
</div>