@model dynamic

<div style="height:400px;" data-role="radialgauge" data-theme="flat" data-pointer="{ value: 60000000 }" data-scale="{ max: 100000000, labels: { template: '#: data.value / 1000000 #' }}">

</div>