@*@model MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel
@using (Html.BeginForm("CustomerAccountSettings", "AndroWebOrdering", FormMethod.Post, new { Id = Model.Id }))
{
    @Html.Hidden("Id", Request.QueryString["id"])
    <div style="height:450px;">
        <div>
            <div style="height:400px;margin-top:20px;">
                <div><h5><b>Customer Account Settings</b></h5></div>              
                <div style="margin-top:35px;">
                    <div class="verticalCheckBox">
                        <input type="checkbox" id="CustomerAccountSettings.IsEnable"
                               value="true"
                               name="Model.WebsiteConfigurations.CustomerAccountSettings.IsEnable"
                               data-bind="checked: IsEnable" />  Enable customer accounts
                    </div>
                    <div style="margin-left:25px;">
                        <div class="verticalCheckBox horizontalCheckBox">
                            <input type="checkbox" id="CustomerAccountSettings.IsEnableAndromedaLogin"
                                   value="true"
                                   name="Model.WebsiteConfigurations.CustomerAccountSettings.IsEnableAndromedaLogin"
                                   data-bind="checked: IsEnableAndromedaLogin" />  Enable Andromeda Login
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="saveDiv">
            <button id="saveUpSelling" class="k-button k-primary">Save</button>
        </div>
    </div>

}*@
