@model MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel

@(Html.Kendo().PanelBar()
        .Name("LegalNotices")
        .ExpandMode(PanelBarExpandMode.Single)
        .Items(tabStrip =>
        {

            tabStrip
                .Add().Text("Terms Of Use")
                    .Selected(true)
                    .Expanded(true)
                    .Enabled(true)
                    .Content(@<text>
                        @RenderTermsAndConditions()
                    </text>);
            tabStrip.Add().Text("Privacy Policy")
                .Selected(false)
                .Expanded(false)
                .Enabled(true)
                .Content(@<text>
                    @RenderPrivacyPolicy()
                </text>);
            tabStrip.Add().Text("Cookie Policy")
                    .Selected(false)
                    .Expanded(false)
                    .Enabled(true)
                    .Content(@<text>
                        @RenderCookiePolicy()
                    </text>);
        })
)

@helper RenderTermsAndConditions()
{
    <div class="row" style="height:400px;">
        <div class="col-xs-12">
            <textarea class="form-control" id="LegalNotices.TermsOfUse" style="height:350px;"                      
                      name="TermsOfUse"
                      data-bind="value: TermsOfUse"
                      data-role="editor"
                      data-tools="['bold',
                                   'italic',
                                   'underline',
                                   'strikethrough',
                                   'justifyLeft',
                                   'justifyCenter',
                                   'justifyRight',
                                   'justifyFull',
                                   'outdent',
                                   'indent',
                                   'createLink',
                                   'unlink',
                                   'insertImage',
                                   'insertFile',
                                   'subScript',
                                   'superScript',
                                   'tableEdititing',
                                   'viewHTml',
                                   'formatting',
                                   'cleanFormatting',
                                   'fontName',
                                   'fontSize',
                                   'fontColor',
                                   'backColor']">
                {{TermsOfUse}}
            </textarea>
        </div>
        <div class="form-group col-xs-12" style="margin-top:15px;">
            <button type="button" class="k-button k-primary center" ng-click="SaveChanges()">Save</button>
        </div>
    </div>
}

@helper RenderPrivacyPolicy()
{
    <div class="row" style="height:400px;margin-top:15px;">
        <div class="col-xs-12">
            <textarea class="form-control" id="LegalNotices.PrivacyPolicy" style="height:350px;"
                      name="PrivacyPolicy"
                      data-bind="value: PrivacyPolicy"
                      data-role="editor"
                      data-tools="['bold',
                                   'italic',
                                   'underline',
                                   'strikethrough',
                                   'justifyLeft',
                                   'justifyCenter',
                                   'justifyRight',
                                   'justifyFull',
                                   'outdent',
                                   'indent',
                                   'createLink',
                                   'unlink',
                                   'insertImage',
                                   'insertFile',
                                   'subScript',
                                   'superScript',
                                   'tableEdititing',
                                   'viewHTml',
                                   'formatting',
                                   'cleanFormatting',
                                   'fontName',
                                   'fontSize',
                                   'fontColor',
                                   'backColor']">
                {{PrivacyPolicy}}
            </textarea>
        </div>
        <div class="col-xs-12" style="margin-top:15px;">
            <button type="button" class="k-button k-primary center" ng-click="SaveChanges()">
    Save</button>
    </div>
    </div>
}

@helper RenderCookiePolicy()
{
    <div class="row" style="height:400px;">        
        <div class="col-xs-12">
            <textarea class="form-control" id="LegalNotices.CookiePolicy" style="height:350px;"
                      name="CookiePolicy"
                      data-bind="value: CookiePolicy"
                      data-role="editor"
                      data-tools="['bold',
                                  'italic',
                                  'underline',
                                  'strikethrough',
                                  'justifyLeft',
                                  'justifyCenter',
                                  'justifyRight',
                                  'justifyFull',
                                  'outdent',
                                  'indent',
                                  'createLink',
                                  'unlink',
                                  'insertImage',
                                  'insertFile',
                                  'subScript',
                                  'superScript',
                                  'tableEdititing',
                                  'viewHTml',
                                  'formatting',
                                  'cleanFormatting',
                                  'fontName',
                                  'fontSize',
                                  'fontColor',
                                  'backColor']">
                {{CookiePolicy}}
            </textarea>
        </div>
        <div class="form-group col-xs-12" style="margin-top:15px;">
            <button type="button" class=" k-button k-primary center" ng-click="SaveChanges()">Save</button>
        </div>
    </div>
}