@model MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel

<div ng-controller="StoresController">

    <kendo-grid options="storeGridOptions">

    </kendo-grid>


</div>