
<div ng-controller="upSellController">
    <div kendo-validator="UpSellingValidator">
        <div class="row">
            <div class="col-sm-4">
                <label><input type="checkbox" name="EnableMultiselectOptions" ng-model="Settings.UpSelling.Enabled" /> Enabled?</label>
            </div>
        </div>
        <div class="row" ng-if="Settings.UpSelling.Enabled">
            <div class="col-sm-12">
                Select the display categories to be elevated for up-selling. 
            </div>
            <div class="col-sm-6">
                <select kendo-multi-select k-options="MultiselectOptions" k-ng-model="Settings.UpSelling.DisplayCategories"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a class="k-button" ng-click="SaveChanges()">
                    Save
                </a>
            </div>
        </div>

    </div>
</div>