@model MyAndromeda.Menus.Context.Ftp.DownloadMenuContext
@{
    ViewBag.Title = "Original";
}

<h2>Original</h2>
<p>found file: @Model.HasFoundFile</p>
<p>downloaded: @Model.HasDownloadedMenu</p>
<p>unzipped: @Model.HasUnzippedMenu</p>