<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Port to which restarter listens -->
    <!-- SECURITY: Make sure this port isn't reachable from the public Internet -->
    <add key="RestarterPort" value="11300"/>
    <add key="RestarterEnabled" value ="true"/>
    
  </appSettings>
</configuration>