<?xml version="1.0"?>
<configuration>
  <appSettings>
    <clear />
    <add key="StarsNavUdpPort" value="6080" />
    <add key="StarsNavTcpPort" value="6082" />
    <add key="GlobalSatTcpPort" value="5000" />
    <add key="SmartPipeUdpPort" value="30176" />
    <add key="SmartPipeTcpPort" value="30176" />
    <add key="DatabaseType" value="MSSQL" />
    <add key="NmeaPort" value="30175" />
    <add key="UdpNmeaPort" value="30175" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="ConnStr" connectionString="Server=284666-WEB1;Database=GpsGateServer;Trusted_Connection=Yes" />
  </connectionStrings>
</configuration>