<div class="getting-started">
    <div class="header">
        <h3>Getting Started</h3>
    </div>
    <p>
        Currently this editor allows you to do the following: 
    </p>
    <ol>
        <li>Open/close a day</li>
        <li>Specify the store is open all day</li>
        <li>Add or remove the time(s) where the store is open</li>
    </ol>
    <p>
        To specify the store is open on a day then make sure the day's checkbox is ticked. If the store is open during particular hours then these times can then be specified.
    </p>
</div>