
<section class="well" id="NotificationSending">
    <h2 class="ra-well-title">Announce</h2>
    <div class="row">

        <div class="form-horizontal form-widgets col-sm-6">
            <div class="form-group">
                <label class="control-label col-sm-4" for="UserName">UserName</label>
                <div class="col-sm-8 col-md-6">
                    <input class="k-textbox" id="UserName" value="matt">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="StoreId">StoreId</label>
                <div class="col-sm-8 col-md-6">
                    <input class="k-textbox" id="StoreId" value="0">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="StoreId">Settings</label>
                <div class="col-sm-8 col-md-6">
                    <div class="col-sm-12">
                        <input type="checkbox" class="k-checkbox" id="NotifyOthersLoggedIntoChain"><label for="NotifyOthersLoggedIntoChain" class="k-checkbox-label">NotifyOthersLoggedIntoChain</label>
                    </div>
                    <div class="col-sm-12">
                        <input type="checkbox" class="k-checkbox" id="NotifyOthersLoggedIntoStore"><label for="NotifyOthersLoggedIntoStore" class="k-checkbox-label">NotifyOthersLoggedIntoStore</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="Message">Message</label>
                <div class="col-sm-8 col-md-6">
                    <textarea id="Message">
                        I'm a test message. Lorem ipsum dolor sit amet.
                    </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="buttons-wrap">
            <button class="k-button k-state-default k-button-send">Send</button>
        </div>
    </div>
</section>

@using (Html.BeginScripts())
{
    <script type="text/javascript">
        $(function () {
            $(".k-button-send").click(function (e) {
                e.preventDefault();
                

            })
        });
    </script>
}