<div class="header">
    <h3>Add a new opening time</h3>
</div>
<p>
    A number of time spans can be used to represent the opening times. For example if your store is open for lunch and closed for early afternoon but open again for the evening you could add the first range from 11:00 to 13:30 and a later range from 17:00 to 22:00. 
</p>

<div class="header">
    <h4>Troubleshooting</h4>
</div>
<p>A new time cannot be added that spans over a current opening time. If you are extending a time the best way is to remove the current opening time that is in the way and have a longer range.</p>