<footer>
    Copyright 2012 Andromeda Trading Limited.  All rights reserved.
    <div style="width:60px; margin: 0 auto;">
    @(Html.Kendo().QRCode()
        .Name("AndromedaHomepageQr")
        //.Size(60)
        .Value("http://www.andromedapos.com/")
        .Color("#e15613")
        .RenderAs(RenderingMode.SVG)
        )
    </div>
    @Html.GetVersion()
</footer>