@model MyAndromeda.Web.Models.Emails.ResetPasswordEmail
@{
    var translator = Html.GetTranslator();    
}
@section Header 
{
To: @Model.Email
From: Support@MyAndromeda.com
Subject: MyAndromeda password reset for @Model.FirstName
}

<p>@translator.T("A request has been received to reset your password. If you did not initiate the request, then please ignore or delete this email.")</p>
<p>Please click the following link to reset your password: 
    <a href="@Url.Action("ResetPassword", "Account", new { code = HttpUtility.UrlEncode(Model.ValidationCode) }, "https")">Reset Password</a>
</p>