/****** Script for SelectTopNRows command from SSMS  ******/
USE DailyReporting;
SELECT TOP 1000 [TheDate]
      ,[nIdealCOS]
      ,[nStoreID]
      ,[nCOLHourlyPay]
      ,[TotPay]
      ,[NetSales]
      ,[TotalOrders]
      ,[DineInNetSales]
      ,[DelNetSales]
      ,[CarryOutNetSales]
      ,[DineInTotalOrders]
      ,[DelTotalOrders]
      ,[CarryOutTotalOrders]
      ,[TotSalesTax]
      ,[ManagerDiscounts]
      ,[DealDiscounts]
      ,[FullMenuPrice]
      ,[LabourSeconds]
      ,[LabourCost]
      ,[TotalCancels]
      ,[valueCancels]
      ,[NumOrdersLT30Mins]
      ,[NumOrdersLT45Mins]
      ,[AvgMake]
      ,[AvgOutTheDoor]/60 as [AvgOutTheDoor]
      ,[AvgDoorTime]
      ,[TotCOS]
      ,[Create_TimeStamp]
      ,[nCustomerID]
      ,[RackTime]
  FROM [dbo].[DailySummary] WHERE (TheDate='20130905' AND nstoreid=1186) ORDER BY TheDate, nStoreID