<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="data source=83.138.144.122;Initial Catalog=OrderTracking;user id=Order7rack1n6U3er;password=Order7rack1n6Pa55;" />
      <!-- live -->
      <!--<add name="AndroAdmin" connectionString="Server=83.138.144.122;initial catalog=androadmin;password=r2Is!islMM$;user=AndroAdminUser;" providerName="System.Data.SqlClient"/>
    <add name="AndroUsers" connectionString="Server=83.138.144.122;initial catalog=AndroUsers;password=AndroPass;user=AndroUser;" providerName="System.Data.SqlClient"/>-->

      <!-- dev -->
      <add name="AndroAdmin" connectionString="Server=.;initial catalog=androadmin;password=r2Is!islMM$;user=AndroAdminUser;" providerName="System.Data.SqlClient"/>
      <add name="AndroUsers" connectionString="Server=.;initial catalog=AndroUsers;password=AndroPass;user=AndroUser;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <add key="BackgroundTimerInvervalMilliseconds" value="5000"/>
    <add key="GPSGateTrackerServicesUrl" value="http://gps.andromedagps.com:8080/gpsgatetrackerservices.svc"/>
    <add key="ExpireTrackerLocationsAfterMinutes" value="20"/>
    
    <!--<add key="GPSGateTrackerServicesUrl" value="http://localhost/gpsgateservices/GPSGateTrackerServices.svc"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Andromeda.WebOrderTracking.WebOrderTrackingService" behaviorConfiguration="RESTBehavior">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="Andromeda.WebOrderTracking.WebOrderTrackingService"
                  behaviorConfiguration="MyEndpointBehavior"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RESTBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="MyEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>