<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MarketingEventQueue" value="marketing-event-queue-staging" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MarketingEventStoreQueue" value="marketing-event-store-queue-staging" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MarketingEventAuditHistoryQueue" value="marketing-event-audit-history-queue-staging" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="MyAndromeda.WebApiClient.BaseAddress" value="http://staging.myandromeda.co.uk/" xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="AzureWebJobsDashboard" 
         connectionString="DefaultEndpointsProtocol=https;AccountName=myandromeda;AccountKey=dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag==" />
    <add name="AzureWebJobsStorage" 
         connectionString="DefaultEndpointsProtocol=https;AccountName=myandromeda;AccountKey=dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag==" />


    <add name="AndroAdminEntities"
         connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging3.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroAdminDbContext"
         connectionString="metadata=res://*/Model.AndroAdmin.DbContext.csdl|res://*/Model.AndroAdmin.DbContext.ssdl|res://*/Model.AndroAdmin.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging3.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyAndromedaDbContext"
         connectionString="metadata=res://*/Model.MyAndromeda.DbContext.csdl|res://*/Model.MyAndromeda.DbContext.ssdl|res://*/Model.MyAndromeda.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net,1433;initial catalog=staging.MyAndromeda;persist security info=True;user id=andromeda;password=h6ruh7kS2#4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="DataWarehouseDbContext" 
         connectionString="metadata=res://*/Models.DataWarehouseDataContext.csdl|res://*/Models.DataWarehouseDataContext.ssdl|res://*/Models.DataWarehouseDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging3.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=Andromeda;password=uQW9gdZMM;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseEntities" 
         connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging3.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=ACSUser;password=Pass123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
</configuration>
