
@{
    var authorizer = Html.GetAuthorizer();
}
@using (Html.BeginHelpSection("Store Details", TabArea.Help, true))
{
    if (!authorizer.Authorize(MyAndromeda.Web.Areas.Store.StoreUserPermissions.EditStoreDetails))
    {
        <p>
            <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg field-validation-error">
                <span class="k-icon k-warning"></span> You are not currently authorized to edit any of these sections. If you would like access please contact helpdesk. 
            </span>
        </p>
    }
    <p>
        These are the sections that can be used to change how your store appears on the web. 
    </p>

}