<?xml version="1.0"?>

<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
            <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
        </sectionGroup>
        <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    <spring>
        <parsers>
            <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
            <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
        </parsers>
        <context>
            <resource uri="assembly://OrderTracking.Gps.Webservice/OrderTracking.Gps.Webservice.Config/Controllers.xml" />
            <resource uri="assembly://OrderTracking.Gps.Dao.NHibernate/OrderTracking.Gps.Dao.NHibernate.Dao/Dao.xml" />
        </context>
    </spring>
    <databaseSettings>

        <!-- DEV / TEST
        <add key="db.datasource" value="CLOUDTOWER\SQL2008"/>
        <add key="db.user" value="OrderTrackingUser"/>
        <add key="db.password" value="OrderTrackingPass"/>
        <add key="db.database" value="GpsGateServer"/>
        -->

        <!-- LIVE -->
        <add key="db.datasource" value="94.236.121.24" />
        <add key="db.user" value="Order7rack1n6U3er" />
        <add key="db.password" value="Order7rack1n6Pa55" />
        <add key="db.database" value="GpsGateServer" />

    </databaseSettings>

    <appSettings>
        <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory"/>
    </appSettings>
    
    <connectionStrings/>

    <system.web>
        <webServices>
            <protocols>
                <add name="HttpSoap12"/>
                <add name="HttpSoap"/>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
        <httpHandlers>
            <add verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory, Spring.Web"/>
        </httpHandlers>
        <httpModules>
            <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
            <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate21"/>
        </httpModules>
        <!-- todo: set to false when live-->
        <compilation debug="true"/>
    </system.web>


    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
      </compilers>
    </system.codedom>

    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
          <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>

</configuration>
