@using MyAndromeda.Data.Model.AndroAdmin;
@model Store

@using (Html.BeginForm()) 
{
    <div>
        <label for="edt">Estimated collection time: (mins)</label>
        @Html.Kendo().NumericTextBox().Name("ect").Value(Model.EstimatedCollectionTime).Decimals(0)
    </div>
    <div>
        <button class="k-button" type="submit">Save</button>
    </div>
}