@using MyAndromedaDataAccess.Domain.Reporting;
@model SalesSummmary

<table class="sparkline" data-date="">
    <colgroup>
        <col style="width: 100px" />
        <col style="width: 100px" />
        <col style="width: 100px" />
    </colgroup>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Range</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Turnover</td>
            <td>
                @Model.Total.ToString("C")
            </td>
            <td>@Html.Kendo().Sparkline(Model.Data.OrderBy(e=> e.Day)).Name("MonthlyTotalSparkLine").Series(e => e.Line(data => data.Total))</td>
        </tr>
        <tr>
            <td>
                Avg (per day)
            </td>
            <td>
                @Model.TotalAverage.ToString("C")
            </td>
            <td></td>
        </tr>
    </tbody>
</table>

