<script type="text/html" id="headerView">

    <div id="pageHeader">
        <div id="pageHeaderInner">

            <img id="headerCompanyLogo" data-bind="attr: { src: settings.companyLogoUrl }, click: $root.headerViewModel().logoClicked">
            <div id="headerHello" data-bind="html: accountHelper.helloText">

            </div>
            <div id="headerRight">

                <div id="socialMedia">
                    <!-- ko if: viewModel.selectedSite() && viewModel.sites() !== undefined && viewModel.sites().length > 1 -->
                    <div class="button" id="chooseStoreButton">
                        <a data-bind="click: homePageActionHelper.ClearCurrentStore">
                            Change Store
                        </a>
                    </div>
                    <!-- /ko -->
                    <a id="footerInstagram" style="display:none;" href="#" target="_blank" data-bind="visible: settings.instagram.length > 0, attr: { href: settings.instagram, title: settings.instagram }, html: textStrings.hInstagram"></a>
                    <a id="footerTwitter" style="display:none;" href="#" target="_blank" data-bind="visible: settings.twitter.length > 0, attr: { href: settings.twitter, title: settings.twitter }, html: textStrings.hTwitter"></a>
                    <a id="footerFacebook" style="display:none;" href="#" target="_blank" data-bind="visible: settings.facebook.length > 0, attr: { href: settings.facebook, title: settings.facebook }, html: textStrings.hFacebook"></a>
                    <a id="footerPInterest" style="display:none;" href="#" target="_blank" data-bind="visible: settings.pinterest.length > 0, attr: { href: settings.pinterest, title: settings.pinterest }, html: textStrings.hPinterest"></a>
                    <div id="facebookLikeButton" class="fb-like" data-bind="visible: settings.facebookLikeUrl.length > 0, attr: {'data-href': settings.facebookLikeUrl}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                </div>

                <!-- ko if: settings.isHeaderLoginEnabled && $root.contentViewModel().isHeaderLoginVisible && $root.selectedSite() != undefined -->
                <div id="headerLoggedIn">
                    <!-- ko ifnot: accountHelper.isLoggedIn -->
                    <div id="headerMyProfileButton">
                        <a id="mainMenuLoginButton" data-bind="click: $root.headerViewModel().login, html: textStrings.hLoginButton" href="#"></a>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: accountHelper.isLoggedIn -->
                    <div id="headerMyProfileButton">
                        <a id="mainMenuMyProfileButton" data-bind="click: $root.headerViewModel().myProfile, html: textStrings.hMyProfileButton" href="#"></a>
                    </div>
                    <div id="headerMyOrdersButton">
                        <a id="mainMenuMyOrdersButton" data-bind="click: $root.headerViewModel().myOrders, html: textStrings.hMyOrdersButton" href="#"></a>
                    </div>
                    <div id="headerLogoutButton">
                        <a id="mainMenuLogoutButton" data-bind="click: $root.headerViewModel().logout, html: textStrings.hLogoutButton" href="#"></a>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
                <!-- ko if: $root.contentViewModel().areHeaderOptionsVisible -->
                <div id="mainMenu">

                    <!-- Home -->
                    <!-- ko if: settings.isHomePageEnabled -->
                    <div id="menuHome" data-bind="attr: { 'class': (!guiHelper.isMenuVisible() && $root.viewName() == 'homeView') ? 'mainMenuButtonSelected' : 'mainMenuButton' }">
                        <a id="mainMenuHomeButton" data-bind="text: textStrings.hHomeButon, click: $root.headerViewModel().showHome, attr: { href: $root.selectedSite() === undefined ? '' : ('/' + $root.selectedSite().name + '/Home/') }"></a>
                    </div>
                    <!-- /ko -->
                    <!-- Menu -->
                    <!-- ko if: settings.showOrderNowButton && $root.selectedSite() != undefined -->
                    <div id="menuOrderNow" data-bind="attr: { 'class': guiHelper.isMenuVisible() ? 'mainMenuButtonSelected' : 'mainMenuButtonHighlighted' }">
                        <a id="mainMenuMenuButton" data-bind="text: textStrings.hOrderNowButton, click: $root.headerViewModel().showMenu, attr: { href: $root.selectedSite() === undefined ? '' : ('/' + $root.selectedSite().name + '/Menu/') }"></a>
                    </div>
                    <!-- /ko -->   
                    <!-- Store details -->
                    <!-- ko if: settings.isStoreDetailsPageEnabled && $root.selectedSite() != undefined -->
                    <div id="menuStoreDetails" data-bind="attr: { 'class': (!guiHelper.isMenuVisible() && $root.viewName() == 'storeDetailsView') ? 'mainMenuButtonSelected' : 'mainMenuButton' }">
                        <a id="mainMenuStoreDetailsButton" data-bind="text: textStrings.hStoreDetailsButon, click: $root.headerViewModel().showStoreDetails, attr: { href:  $root.selectedSite() === undefined ? '' : ('/' + $root.selectedSite().name + '/StoreDetails/') }"></a>
                    </div>
                    <!-- /ko -->

                    <!--Custom pages -->
                    <!-- ko foreach: settings.pages -->

                    <div data-bind="attr: { 'class': (!guiHelper.isMenuVisible() && $root.viewName() == $data.Title) ? 'mainMenuButtonSelected' : 'mainMenuButton' }">
                        <a data-bind="text: $data.Title, click: $root.headerViewModel().cmsPage" href="#"></a>
                    </div>

                    <!-- /ko -->

                    <!-- Select store -->
                    <!-- ko if: settings.showSelectStoresButton -->
                    <div id="menuSelectStore" class="mainMenuButton">
                        <a id="mainMenuSelectStoreButton" data-bind="text: textStrings.hChangeStoreButton, click: chooseStore" href="#"></a>
                    </div>
                    <!-- /ko -->
                    <!-- Delivery area check -->
                    <!-- ko if: settings.showDeliveryCheckButton && deliveryZoneHelper.deliveryZones() != undefined -->
                    <div id="menuDeliveryAreaCheck" class="mainMenuButton">
                        <a id="mainMenuDeliveryAreaCheckButton" data-bind="text: textStrings.hDeliveryAreaButton, click: postcodeCheckHelper.showPopup" href="#"></a>
                    </div>
                    <!-- /ko -->
                    <!-- Return to parent website -->
                    <!-- ko if: settings.showReturnToParentWebsite -->
                    <div id="menuReturnToParentWebsite" class="mainMenuButton">
                        <a id="mainMenuReturnToParentButton" data-bind="text: textStrings.hReturnToParentWebsiteButton, click: $root.returnToHostWebsite" href="#"></a>
                    </div>
                    <!-- /ko -->

                    <!-- Feedback form -->
                    <!-- ko if: settings.isFeedbackEnabled -->
                    <div id="menuFeedback" data-bind="attr: { 'class': (!guiHelper.isMenuVisible() && $root.viewName() == 'feedbackView') ? 'mainMenuButtonSelected' : 'mainMenuButton' }">
                        <a id="mainMenuFeedbackFormButton" data-bind="text: textStrings.hFeedbackButton, click: $root.headerViewModel().showFeedback" href="#"></a>
                    </div> 
                    <!-- /ko -->    
                    
                </div>
                <!-- /ko -->

            </div>
                
            <div style="display:none;" data-bind="visible: $root.contentViewModel().isPostcodeSelectorVisible, template: { name: 'postcodeStoreLocatorView' }"></div>

        </div>    
    </div>
    
</script>
