<script type="text/html" id="mobileHeaderView">

    <div id="mobileHeader" style="display:none;" data-bind="visible: $root.isMobileMode()">

        <div id="mobileSubHeader">

            <!-- ko if: $root.contentViewModel().isHeaderVisible() -->

            <!-- ko if: $root.contentViewModel().isMobileMenuVisible === undefined -->
            <div id="mobileMenuButton" data-bind="click: $root.headerViewModel().showMobileMenu">☰</div>
            <!-- /ko -->

            <!-- ko if: $root.contentViewModel().isMobileMenuVisible !== undefined -->
            <div id="mobileMenuExitButton" data-bind="click: $root.headerViewModel().showMobileMenu"></div>
            <!-- /ko -->

            <!-- /ko -->

            <img id="headerMobileCompanyLogo" data-bind="attr: { src: settings.mobileCompanyLogoUrl }, click: $root.headerViewModel().logoClicked">

            <!-- ko if: $root.selectedSite() !== undefined && $root.contentViewModel().isHeaderVisible() -->
            <div class="button" id="hmMyOrderButton">
                <a href="#" data-bind="click: $root.headerViewModel().showCart, text: cartHelper.cart().totalItemCount"></a>
            </div>
            <!-- /ko -->

        </div>

    </div>

</script>