@{
    ViewBag.Title = "Support";
}

<div class="clearfix">
    <div class="header">
        <h3><i class="fa fa-html5"></i> Supported devices / browsers</h3>
    </div>
    <div class="sb-right content1">
        <div class="header">
            <h3>Supported browsers</h3>
        </div>
        <p>The current list of supported browsers are:</p>
        <ul>
            <li>IE 11+</li>
            <li>Chrome 32+</li>
            <li>Firefox 26+</li>
            <li>Safari 5+</li>
        </ul>
    </div>
    <div class="sb-right content1">
        <div class="header">
            <h3>Supported devices</h3>
        </div>
        <p>The current list of supported devices are:</p>
        <ul>
            <li>IPad 2+</li>
        </ul>
        <p>Other devices may work if their browser is new / up-to-date. Performance may differ between devices.</p>
    </div>
</div>
