    <!-- Contact details -->
    <script type="text/html" id="checkoutUpselling-template">
        <div class="checkoutSection" data-bind="'attr': { 'id': id }">
            <div id="checkoutUpsellingContainer">
                <h3 data-bind="text: textStrings.checkUpsellingTitle"></h3>

                <div id="upsellList">
                <!-- ko foreach: checkoutHelper.upsellCategories -->
                <div class="upsellText" data-bind="text: text"></div>
                <div class="button upsellButton">
                    <a data-bind="click: checkoutHelper.upsell, text: textStrings.checkUpsellButton" href="#">back</a>
                </div>
                <!-- /ko -->
                </div>

                <!-- Next & back buttons -->
                <div class="checkoutButtons">
                    <!-- Back -->
                    <div class="button backButton" data-bind="visible: checkoutHelper.backButton.visible">
                        <a data-bind="click: checkoutHelper.backButtonClicked, text: checkoutHelper.backButton.displayText" href="#"></a>
                    </div>

                    <!-- Next -->
                    <div class="button nextButton">
                        <a data-bind="click: checkoutHelper.nextButtonClicked, text: checkoutHelper.nextButton.displayText" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </script>