<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL />
    <DeployIisAppPath />
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DailyReportingCodeFirstDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:jkrhpwclrb.database.windows.net;Initial Catalog=DailyReporting;User ID=MyAndromedaWeb@jkrhpwclrb;Password=33wTKvh4nWafXtW;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DailyReportingCodeFirstDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=DailyReporting;user id=MyAndromedaWeb@jkrhpwclrb;password=33wTKvh4nWafXtW;MultipleActiveResultSets=True;App=EntityFramework;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AndroAdminUsersDataContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=test1.androcloudservices.com;Initial Catalog=AndroUsers;Persist Security Info=True;User ID=AndroAdminUser;Password=r2Is!islMM$;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AndroAdminUsersDataContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.AndroAdminUsers.DbContext.csdl|res://*/Model.AndroAdminUsers.DbContext.ssdl|res://*/Model.AndroAdminUsers.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CustomerWarehouseDbContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=test1.androcloudservices.com;Initial Catalog=DataWarehouse;Persist Security Info=True;User ID=Andromeda;Password=uQW9gdZMM;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CustomerWarehouseDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.CustomerDataWarehouse.DbContext.csdl|res://*/Model.CustomerDataWarehouse.DbContext.ssdl|res://*/Model.CustomerDataWarehouse.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DailyReportingDbContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:jkrhpwclrb.database.windows.net;Initial Catalog=DailyReporting;User ID=Andromeda;Password=uQW9gdZMM;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DailyReportingDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.DailyReporting.csdl|res://*/Model.DailyReporting.ssdl|res://*/Model.DailyReporting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=DailyReporting;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DataWarehouseEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=test1.androcloudservices.com;Initial Catalog=DataWarehouse;Persist Security Info=True;User ID=Andromeda;Password=uQW9gdZMM;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataWarehouseEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.DataWarehouseDataContext.csdl|res://*/Models.DataWarehouseDataContext.ssdl|res://*/Models.DataWarehouseDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MyAndromedaDbContext" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:jkrhpwclrb.database.windows.net,1433;Initial Catalog=test.MyAndromeda;Persist Security Info=True;User ID=andromeda;Password=h6ruh7kS2#4;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyAndromedaDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.MyAndromeda.DbContext.csdl|res://*/Model.MyAndromeda.DbContext.ssdl|res://*/Model.MyAndromeda.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net,1433;initial catalog=test.MyAndromeda;persist security info=True;user id=andromeda;password=h6ruh7kS2#4;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AndroAdminDbContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=test1.androcloudservices.com;Initial Catalog=AndroAdmin;Persist Security Info=True;User ID=AndroAdminUser;Password=r2Is!islMM$;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AndroAdminDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.AndroAdmin.DbContext.csdl|res://*/Model.AndroAdmin.DbContext.ssdl|res://*/Model.AndroAdmin.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AttachMenuDbContext" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Menus\{0}\menu.mdb;Jet OLEDB:Database Password=zangaboo" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AttachMenuDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Menus\{0}\menu.mdb;Jet OLEDB:Database Password=zangaboo" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AndroAdminEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=test1.androcloudservices.com;Initial Catalog=AndroAdmin;Persist Security Info=True;User ID=AndroAdminUser;Password=r2Is!islMM$;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AndroAdminEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AcsOrderDbContext" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=test1.androcloudservices.com;Initial Catalog=DataWarehouse;Persist Security Info=True;User ID=Andromeda;Password=uQW9gdZMM;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AcsOrderDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.AcsOrders.csdl|res://*/Model.AcsOrders.ssdl|res://*/Model.AcsOrders.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;user id=Andromeda;password=uQW9gdZMM;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>