@using MyAndromedaDataAccess.Domain.Marketing;

@model IEnumerable<EmailCampaignTask>
@{
    var count = Model.Count();    
}

@if (count > 0) 
{
    <div class="k-widget">
        <div class="k-content">
            @(Html.Kendo().Grid(Model).Columns(cols => {
                cols.Bound(e => e.EmailCampaign.Reference);
                cols.Bound(e => e.Started);
                cols.Bound(e=> e.RunLaterOnUtc);    
            }))
        </div>
    </div>
}

@using (Html.BeginScripts())
{ 
    <script type="text/javascript">

    </script>
} 