<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Staging2Profile" value="This is published for staging 2 - Amazon" xdt:Transform="Insert"/>
  </appSettings>
  <connectionStrings>
    <add name="ACSEntities" xdt:Locator="Match(name)" xdt:Transform="Replace"
         connectionString="metadata=res://*/Model.ACSEntities.csdl|res://*/Model.ACSEntities.ssdl|res://*/Model.ACSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AMAZONA-UDQHFLK;Initial Catalog=TestACS;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseEntities" xdt:Locator="Match(name)" xdt:Transform="Replace"
         connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AMAZONA-UDQHFLK;Initial Catalog=DataWarehouse;Persist Security Info=True;user id=User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>