@using UsersPermissions = MyAndromeda.Web.Areas.Users.Permissions;
@using MyAndromeda.Authorization;

@model MyAndromeda.Web.Areas.Users.ViewModels.UserListViewModel

@(Html.Kendo().Grid(Model.Users).Name("UserList")
    .Filterable(f => f.Enabled(true))
    .Columns(cols =>
    {
        cols.Bound(e => e.Firstname).Filterable(true);
        cols.Bound(e => e.Surname);
        cols.Bound(e => e.Username);
        //cols.Bound(e => e.Id);

        if (this.Html.IsAuthorizedForAny(UsersPermissions.CreateUsers, UsersPermissions.ChangeUserRole))
        {
            cols.Template(@<text>
<a class="k-button" href="@Url.Action("EditRoles", new { UserId = item.Id })">Edit Roles</a>
</text>);
        }
        if (this.Html.IsAuthorizedFor(UsersPermissions.RemoveUserFromChain))
        {
            cols.Template(@<text>
<a class="k-button k-button-remove-user" href="@Url.Action("RemoveUser", new { UserId = item.Id })">Remove User</a>
</text>);
        }
    })
    
)

