@{
    ViewBag.Title = "Andro Admin Home";
}

<div class="helpPage">
    <h2>@Html.ActionLink("Help", "Index") / Overview</h2>

    <h2>What is Andro admin?</h2>
    <p>Andro Admin is a series of web sites used to administer various systems related to Rameses.</p>
    <p>Historically, there have been several different Andro Admin web sites.  Each can be used to administer a different system but they are all designed to look like the same website:</p>
    <ul>
        <li>Users – used for maintaining users</li>
        <li>Dashboard – used for configuring Rameses dashboard dials</li>
        <li>Order tracking – used for configuring order tracking</li>
        <li>Loyalty – The now obsolete Loyalty card system</li>
    </ul>
    <p>Maintaining these web sites has been difficult because of they way that they were implemented.  The decision was taken to add all new functionality to a new unified Andro Admin web site, implemented using more widely used technologies but designed to run alongside the “old” Andro Admin websites.</p>

    <p>This document covers the “new” Andro Admin  website.</p>

    <h2>What can be administered from Andro Admin?</h2>

    <p>At the time of writing the following systems can be administered from Andro Admin:</p>
    <ul>
        <li>Stores – the master list of stores running Rameses, similar to AndroDb</li>
        <li>AMS – manage which stores send data data to which AMS server</li>
        <li>ACS – manage the Andromeda Cloud System</li>
    </ul>

    <h2>Website Location</h2>
    <p>Type the following url into your web browser:</p>

    http://www.androtechnology.co.uk/AndroAdmin
</div>

