@{
    ViewBag.Title = "Andro Admin Home";
}

<div class="helpPage">
    <h2>@Html.ActionLink("Help", "Index") / Store GPS location</h2>

    <p>You can use this tab to view or change the stores location on the map.</p>

    <img src="@Url.Content("~/Content/Images/Help/ViewStoreGPSLocation.png")" />

    <p>The “GPS Latitude” and “GPS Longitude” are two numbers that represent the location of the store on a map of the world.  If the values are blank then the stores location is not known.</p>
    <p>To change the store location click the change button.  </p>
    <p>If you already know the latitude and longitude of the store enter it in the “GPS Latitude” and “GPS Longitude” boxes and click the “Update” button.</p>
    <p>Alternatively, you can try and find the stores “GPS Latitude” and “GPS Longitude” values using an address.  Enter an address in the box above the map and click the “Find address on map” link.  </p>
    <p>If the store already has an address then it will be automatically inserted in the address box.  You can delete or modify the address in the address box before clicking the “Find address on map” link.  Changing the address in the address box will NOT change the stores address – it’s just used to search the map. You can put whatever address you like in this box:</p>

    <img src="@Url.Content("~/Content/Images/Help/EditStoreGPSLocation.png")" />
    
    <p>When you click the “Find address on map” button the web site will attempt to find the location of the address on the map.  If the address can be found then the values will be inserted into the “GPS Latitude” and “GPS Longitude” boxes – overwriting anything that was already in the boxes.  The address location will also be displayed on the map so that you can check that the location is correct.</p>
    <p>The yellow icon indicates the location of the address.  If the store location on the map is close but not correct then you can move the icon to the correct location.  Click on the icon and drag it another location and then release the mouse button.  You will see the “GPS Latitude” and “GPS Longitude” values change accordingly.  If the location is completely wrong then try changing the address in the address box above the map and click the “Find address on map” link.</p>

    <img src="@Url.Content("~/Content/Images/Help/StoreGPSLocationMarker.png")" />
    
    <p>Don’t forget to click the update button to save the new store location!</p>
</div>

