@{
    ViewBag.Title = "Andro Admin Home";
}

<div class="helpPage">
    <h2>@Html.ActionLink("Help", "Index") / View store details</h2>

    <p>To view the details for a specific store click the “Stores” button on the navigation menu to get a list of stores.  Locate the store in the list and click on the store name.</p>
    <p>When you add a new store you will be automatically taken to the store details page for the new store.</p>
    <p>The store details page shows information about an existing store.  There is too much store information to show on a single page so the store information is split into several “tabs”.  Use the tab buttons across the top to switch between the sections.</p>
    <p>Each tab is broken down into sub-sections.  If you have permission to change a store then each sub-section will have a “change” link that will allow you to modify the store details in that sub-section.</p>
</div>
