@using MyAndromeda.Authorization
@model MyAndromeda.Web.ViewModels.ChainListViewModel



<div id="StartApp"></div>
@*@(Html.Kendo().TabStrip()
    .Name("FindChain")
    .Items(items => {
        items.Add().Text("Tree view")
            .Selected(false)
            .Enabled(false)
            .Content(@<text>@Html.Partial("ChainTreeView", Model)</text>);
        items.Add().Text("List view")
            .Selected(true)
            .Content(@<text>
                @Html.Partial("GridTreeView")
            </text>);
    })
)*@

@*@Html.Partial("GridTreeView")*@

@*@Html.Partial("Help")*@

@using (Html.BeginScripts())
{
    if (false) { 
    <script src="~/lib/myandromeda/MyAndromeda.App.All.js"></script>
    }
    <script>
        $(function () {
            MyAndromeda.Start.setupStart("StartApp");
        });
    </script>
}

<script type="text/ng-template" id="chain-list.html">
    <!-- List chains -->
    <div class="header">
        <h3>My Chains</h3>
    </div>

    <kendo-tree-list k-options="chainListOptions">

    </kendo-tree-list>
</script>

<script type="text/ng-template" id="store-list.html">
    <!-- $scope.chainId -->
    <!-- $scope.chainName -->
    <div class="header">
        <h3>{{chain.Name}}</h3>
        <a class="k-button" ui-sref="start-chains">Back</a>
    </div>

    <kendo-grid k-options="storeListOptionss">

    </kendo-grid>
</script>