@model dynamic

<div style="height:400px"
    data-role="chart" 
    data-theme="flat" 
    data-series-defaults="{ type: 'column' }" 
    data-series="[{ field: 'value', tooltip: { visible: true, format: '000,' } }]" 
    data-value-axis="{ labels: { template: '#: data.value # M' } }"  
    data-bind="source: country" 
    data-category-axis="{ field: 'country', majorGridLines: false }">
</div>