    <script type="text/html" id="myOrdersView">
        <div id="myOrdersContent" class="content">
            <div id="mpMenu">
                <a id="moMyProfile" data-bind="html: textStrings.mpMyProfile, click: $root.contentViewModel().myProfile"></a>
                <a id="moMyOrders" data-bind="html: textStrings.mpMyOrders, click: $root.contentViewModel().myOrders"></a>
                <a id="moLogout" data-bind="html: textStrings.mpLogout, click: $root.contentViewModel().logout"></a>
                <a id="moBack" data-bind="html: textStrings.mpBackToMenu, click: $root.contentViewModel().backToMenu"></a>
            </div>

            <div id="moContent">
                <!-- ko if: myOrdersHelper.status() == 'get' -->
                <div id="moPleaseWaitOrders">
                    <h1 data-bind="html: textStrings.moPleaseWaitOrders"></h1>
                    <div id="pleaseWaitLogoWrapper">
                        <div id="pleaseWaitLogo"></div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: myOrdersHelper.status() == 'error'-->
                <h1 data-bind="html: textStrings.moError"></h1>
                <!-- /ko -->
                <!-- ko if: myOrdersHelper.status() == 'got' && myOrdersHelper.orders().length == 0 -->
                <h1 id="moNoOrders" data-bind="html: textStrings.moNoOrders"></h1>
                <!-- /ko -->
                <!-- ko if: (myOrdersHelper.status() == 'got' || myOrdersHelper.status() == 'getDetails') && myOrdersHelper.orders().length > 0 -->
                    <!-- ko foreach: myOrdersHelper.orders -->
                        <div class="moOrder">
                            <div class="moOrderHeader" data-bind="click: $root.contentViewModel().displayOrderDetails">
                                <div class="moPlacedDate" data-bind="html: placedDate"></div>
                                <div class="moPlacedTime" data-bind="html: placedTime"></div>
                                <div class="moRefresh" data-bind="click: $root.contentViewModel().refresh"></div>
                                <div class="moStatus" data-bind="html: status"></div>                                
                                <!-- ko if: status == 0 || status == 1 || status == 2 || status == 3 || status == 4 -->
                                <!--<div class="moStatus" data-bind="html: status"></div>-->
                                <!-- /ko -->
                                <!-- ko if: isSelected() -->
                                <div class="moQuantityTitle" data-bind="html: textStrings.moQuantity"></div>
                                <div class="moPriceTitle" data-bind="html: textStrings.moPrice"></div>
                                <!-- /ko -->
                            </div>
                            <!-- ko if: isSelected() &&  dataStatus() == 'got' -->
                            <div class="moOrderLines">
                            <!-- ko foreach: orderLines -->
                                <div>
                                    <div class="moName" data-bind="html: name"></div>
                                    <div class="moQuantity" data-bind="html: quantity"></div>
                                    <div class="moPrice" data-bind="html: helper.formatPrice(price)"></div>
                                </div>
                                <!-- ko foreach: modifiers -->
                                <div>
                                    <div class="moModName" data-bind="html: description"></div>
                                    <div class="moModPrice" data-bind="html: helper.formatPrice(price)"></div>
                                </div>
                                <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko foreach: deals -->
                                <div>
                                    <div class="moName" data-bind="html: name"></div>
                                    <div class="moQuantity"></div>
                                    <div class="moPrice" data-bind="html: helper.formatPrice(price)"></div>
                                </div>
                                <!-- ko foreach: dealLines -->
                                    <div>
                                        <div class="moModName" data-bind="html: name"></div>
                                        <!--<div class="moModPrice" data-bind="html: helper.formatPrice(price)"></div>-->
                                    </div>
                                    <!-- ko foreach: modifiers -->
                                    <div>
                                        <div class="moModName" data-bind="html: description"></div>
                                        <!--<div class="moModPrice" data-bind="html: helper.formatPrice(price)"></div>-->
                                    </div>
                                    <!-- /ko -->
                                <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko foreach: discounts -->
                                <div>
                                    <div class="moName" data-bind="html: name"></div>
                                    <div class="moPrice" data-bind="html: helper.formatPrice(price)"></div>
                                </div>
                            <!-- /ko -->
                            </div>

                            <!-- ko if: deliveryCharge !== undefined && deliveryCharge() > 0 -->
                            <div class="moDeliveryCharge">
                                <div class="moTotal" data-bind="html: helper.formatPrice(deliveryCharge())"></div>
                                <div class="moTotalTitle" data-bind="html: textStrings.moDeliveryCharge"></div>
                            </div>
                            <!-- /ko -->

                            <!-- ko if: paymentCharge !== undefined && paymentCharge() > 0 -->
                            <div class="moPaymentCharge">
                                <div class="moTotal" data-bind="html: helper.formatPrice(paymentCharge())"></div>
                                <div class="moTotalTitle" data-bind="html: textStrings.moPaymentCharge"></div>
                            </div>
                            <!-- /ko -->

                            <div class="moOrderTotal">
                                <div class="moTotal" data-bind="html: helper.formatPrice(total())"></div>
                                <div class="moTotalTitle" data-bind="html: textStrings.moOrderTotal"></div>
                            </div>
                            <div class="moRepeatOrder button">
                                <a id="moRepeatOrderButton" data-bind="html: textStrings.moRepeatOrder, click: $root.contentViewModel().repeatOrder"></a>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: isSelected() &&  dataStatus() == 'getDetails' -->
                            <h1 data-bind="html: textStrings.moPleaseWaitOrder"></h1>
                            <div class="moPleaseWait"></div>
                            <!-- /ko -->
                        </div>
                    <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </script>
