<!-- PASSWORD RESET REQUEST VIEW -->
    <script type="text/html" id="passwordResetRequestView">
        <div id="passwordResetRequestContent" class="content">
            <div id="forgotPasswordBox">
                
                <h1 data-bind="text: textStrings.prPasswordRetrieval"></h1>

                <p data-bind="text: textStrings.prPasswordRetrievalInstructions"></p>
                <div id="forgotPasswordEmailPrompt">
                    <label for="forgotPasswordEmail" data-bind="text: textStrings.prEmail"></label>
                </div>
                        
                <div id="forgotPasswordEmail">
                    <input autofocus type="text" data-bind="value: $root.contentViewModel().emailAddress, valueUpdate: 'keypress', event: { keypress: $root.contentViewModel().keyPress }" />
                </div>

                <div class="button" id="forgotPasswordButton">
                    <a data-bind="click: $root.contentViewModel().resetPassword, html: textStrings.prRetrievalPassword" href="#"></a>
                </div>

                <div class="button" id="forgotPasswordCancelButton">
                    <a data-bind="click: $root.contentViewModel().resetPasswordCancel, html: textStrings.prCancel" href="#"></a>
                </div>

                <div id="forgotPasswordMessage" data-bind="text: $root.contentViewModel().message"></div>
            </div>
        </div>
    </script>