    <!-- PLEASE WAIT VIEW -->
    <script type="text/html" id="pleaseWaitView">
        <div id="pleaseWaitContent" class="content">
            <div id="pleaseWaitBox">
                <!-- Please wait -->
                <h1 class="welcomeHeader" data-bind="text: textStrings.welcomeHeader"></h1>
                <h2 class="waitPrompt" data-bind="text: textStrings.pwOneMomentPlease"></h2>
                <div id="pleaseWaitLogoWrapper">
                    <div id="pleaseWaitLogo"></div>
                </div>
                <p id="waitDetails">
                    <span id="waitMessage" data-bind="text: $root.pleaseWaitMessage()"></span>
                    <span id="waitProgress" data-bind="text: $root.pleaseWaitProgress()"></span>
                </p>
            </div>
        </div>
    </script>