
<script type="text/template"> 
    <div class="hubItem">
        <div class="description">
            Offline since
            #: kendo.toString(new Date(2000, 10, 6), "G") #
        </div>
        <h3>#: Name#</h3>
        
    </div>
</script>
