
<script type="text/template" id="HubTemplate">
    <div class="store">
        <div class="description">
            #: Online # 
            #: kendo.toString(LastUpdatedAtUtc, "G") #
        </div>
        <div class="description-alt">
            hello
        </div>
        <h3>#:Host#</h3>
    </div>
</script>