@model MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel


<div class="row">
    <div class="col-xs-12 col-md-6 form-horizontal form-widgets">
        <div class="form-group">
            <label class="control-label col-md-4 col-xs-12" for="Home.Welcome.TitleText">
                Welcome Title:
            </label>
            <div class="col-md-8 col-xs-12">
                <input class="k-textbox"
                    placeholder="About my store"
                    id="Home.Welcome.TitleText"
                    data-bind="value: Welcome.TitleText" />
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-4 col-xs-12">
                    Description:
                </label>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <textarea 
                        
                        class="k-textbox"
                        cols="20" rows="6"
                        data-bind="value: Welcome.DescriptionText"
                        data-role="editor"
                        data-tools="['bold','italic','underline','strikethrough','justifyLeft','justifyCenter','justifyRight','justifyFull','outdent','indent',
                                           'createLink','unlink','insertImage','insertFile','subScript','superScript','tableEdititing','viewHTml','formatting','cleanFormatting',
                                           'fontName','fontSize','fontColor','backColor']"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 form-horizontal form-widgets">
        <div class="form-group">
            <label class="control-label col-md-4 col-xs-12" >
                Menu Title:
            </label>
            <div class="col-md-8 col-xs-12">
                <input class="k-textbox"
                    placeholder="About my store"
                    id="Home.Menu.TitleText"
                    name="Home.Menu.TitleText"
                    data-bind="value: Menu.TitleText" />
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label class="control-label col-md-4 col-xs-12">
                    Description:
                </label>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <textarea id="Home.Menu.DescriptionText" 
                              name="Home.Menu.DescriptionText"
                              class="k-textbox"
                              cols="20" rows="6"
                              data-bind="value: Menu.DescriptionText"
                              data-role="editor"
                              data-tools="['bold','italic','underline','strikethrough','justifyLeft','justifyCenter','justifyRight','justifyFull','outdent','indent',
                                           'createLink','unlink','insertImage','insertFile','subScript','superScript','tableEdititing','viewHTml','formatting','cleanFormatting',
                                           'fontName','fontSize','fontColor','backColor']"></textarea>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-12">
        <button id="saveWelcome" class="k-button k-primary" ng-click="SaveChanges()">Save</button>
    </div>
</div>
