@model MyAndromeda.SendGridService.Models.MarketingEmailMessage
@{
    this.Layout = "_CustomerOrderEmailLayout.cshtml";

}
@section Header
{
    To: noone@hi.com
    From: donotreply@androtech.com
    Reply-To: helpdesk@androtech.com
    Subject: Marketing Email
}

@section OrderHeader
{
<table border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" width="100%" style="width: 100%;">
    <tr>
        <td style="padding: 4px 7px;"><% body %></td>
    </tr>
</table>
}

@* create region in footer 
    - Fill it with the unsubscribe
*@

@section UnsubscribeDetail
{
<table border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" width="100%" style="width: 100%; height: 65px;">
    <tr>
        <td style="padding: 4px 7px; margin:0; font-size: 16px; line-height:17px;">
            <center>
                <a href="[unsubscribe]">Unsubscribe from these emails</a>
            </center>
        </td>
    </tr>
</table>    
}
