
<div id="chartArea">
    <div class="clearfix">
        <div class="sb-right content1of4">
            <div
                data-role="chart"
                data-title="{ text: 'Pay Types' }"
                data-legend="{ 
                    position: 'top' 
                }"
                data-series-defaults="{ 
                    type: 'pie',
                    labels: {
                        template: '#: kendo.format(\'{0:P}\', percentage) #',
                        position: 'outsideEnd',
                        visible: true,
                        background: 'transparent'
                    }
                }"
                data-series="[{
                    field: 'value',
                    categoryField: 'key',
                    padding: 0
                }]"
                data-tooltip="{
                    visible: true,
                    template: $('#PieToolTipTemplate').html()
                }"
                data-bind="source: payTypes">
            </div>
        </div>
        <div class="sb-right content2of4">
            <div data-role="chart"
                data-title="Order Details"
                data-legend="{ position: 'top' }"
                data-series-defaults="{ type: 'line' }"
                data-category-axis="{
                    field: 'OrderPlacedTime',
                    baseUnit: 'hours',
                    type: 'date',
                    labels: {
                        rotation: -90
                    },
                    majorGridLines: {
                        visible: false
                    }
                }"
                data-value-axis="[
                    { name: 'Sales', title: { text:'Sales' }, labels:{ template: '#:kendo.toString(value/100, \'c\' )#' } }
                ]"
                data-tooltip="{
                    visible: true
                }"
                data-group="{ field: 'OrderPlacedTime' }"
                data-series="[
                    { 'name' : 'Sales Series', 'field': 'FinalPrice', 'axis': 'Sales', 'type': 'column', aggregate: 'sum' }
                ]"
                data-bind="source: dataSource">
            </div>
        </div>

        <div class="sb-right content1of4">
            <div
                data-role="chart"
                data-title="{ text: 'Order Types' }"
                data-legend="{ position: 'top' }"
                data-series-defaults="{ 
                    type: 'pie',
                    labels: {
                        template: '#: kendo.format(\'{0:P}\', percentage) #',
                        position: 'outsideEnd',
                        visible: true,
                        background: 'transparent'
                    }
                }"
                data-series="[{
                    field: 'value',
                    categoryField: 'key',
                    padding: 0
                }]"
                data-tooltip="{
                    visible: true,
                    template: $('#PieToolTipTemplate').html()
                }"
                data-bind="source: orderTypes">
            </div>
        </div>
    </div>
</div>


@if (false)
    { 
    <script src="~/Scripts/linq.js"></script>
    }

@using(Html.BeginScripts("ListView_Charts")){
    <script type="text/javascript">
        function gridChanged(e) {
            var grid = $("#OrderList"),
                kendoGrid = grid.data("kendoGrid"),
                dataSource = kendoGrid.dataSource,
                view = dataSource.view(),
                aggregates = dataSource.aggregates;

            var gridDataSource = new kendo.data.DataSource({
                data: Enumerable.from(view).toArray()
            });

            var payTypes = Enumerable.from(view)
                .groupBy(function (x) { return x.PayType; })
                .select(function (x) {
                    return {
                        key: x.key(),
                        value: x.sum(function (y) { return y.FinalPrice; })
                    };
                }).toArray();

            var orderTypes = Enumerable.from(view)
                .groupBy(function (x) { return x.OrderType; })
                .select(function (x) {
                    return {
                        key: x.key(),
                        value: x.sum(function (y) { return y.FinalPrice; })
                    };
                }).toArray();


            var viewModel = null;
            if ($("#chartArea").data("groupedData")) {
                viewModel = $("#chartArea").data("groupedData");
            } else {
                viewModel = $("#chartArea").data("groupedData") || {
                    visible: true,
                    dataSource: gridDataSource,
                    view: view,
                    payTypes: payTypes,
                    orderTypes: orderTypes
                };
            }

            $("#chartArea").data("groupedData", viewModel);


            //kendo.bind($("#chartArea"), viewModel);
        }
    </script>
    <script type="text/html" id="PieToolPercentageTipTemplate">
        #: category # hello
    </script>
    
    <script type="text/html" id="PieToolTipTemplate">
        <div>#: category #</div>
        <div>#: kendo.toString(value, 'C') #</div>
    </script> 
}
