<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ACSEntities" connectionString="metadata=res://*/Model.ACS.csdl|res://*/Model.ACS.ssdl|res://*/Model.ACS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.39\;initial catalog=ACS;persist security info=True;user id=acsuser;password=Pass123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ACSEntities" connectionString="metadata=res://*/Model.ACS.csdl|res://*/Model.ACS.ssdl|res://*/Model.ACS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROBDEVVM\SQL2012;initial catalog=ACS;persist security info=True;user id=acsuser;password=Pass123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>