@model IEnumerable<MyAndromeda.Core.Authorization.IUserRole>

<div class="header">
    <h3>Roles</h3>
    <a class="k-button" href="@Url.Action("Create")">Create</a>
</div>

@(Html.Kendo().Grid(Model)
    .Name("UserRoles")
    .Columns(cols => {
        cols.Bound(e => e.Name);
        cols.Template(@<text>
            <a class="k-button" href="@Url.Action("AssignPermissionsToRole", "Permission", new { Name = item.Name, Area ="Authorization" })">Permissions</a>
        </text>).Width(100);
    })
)
