<!-- Views -->
<script type="text/ng-template" id="employee-list.html">

    <div class="header">
        <h3>Employees</h3>
        <a class="btn btn-primary" ui-sref="chain.list">Back</a>
    </div>

    <!-- List of employees  -->
    <kendo-grid options="employeeGridOptions"></kendo-grid>

</script>

<script type="text/ng-template" id="employee-edit.html">

    <div class="header">
        <h3>Edit Employee</h3>
        <a class="btn btn-primary" ui-sref="hr.store-list">Back</a>
    </div>

    <form kendo-validator="validator">
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{employee.ShortName}}

                        <span ng-if="employee.ShiftStatus" class="label label-success">On shift</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="width:40px"><i class="fa fa-child"></i></span>
                                            <input type="text" class="form-control" ng-model="employee.ShortName" id="employee.ShortName" name="employee.ShortName"
                                                   placeholder="Short-Name" required>
                                        </div>
                                        <span class="k-invalid-msg" data-for="employee.ShortName"></span>
                                    </div>

                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="width:40px"><i class="fa fa-phone"></i></span>
                                            <input type="text" class="form-control" ng-model="employee.Phone" id="employee.Phone" name="employee.Phone"
                                                   placeholder="land/mobile number" required>
                                        </div>
                                        <span class="col-sm-12 k-invalid-msg" data-for="employee.Phone"></span>
                                    </div>

                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-envelope-o"></i>
                                            </span>
                                            <input type="email" class="form-control" ng-model="employee.Email" id="employee.Email" name="employee.Email"
                                                   placeholder="e.g. myname@example.net" required>
                                        </div>
                                        <span class="k-invalid-msg" data-for="employee.Email"></span>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <div class="employee-photo-large" style="background-image:url(/Content/profile-picture.jpg)">
                                        </div>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <input name="files"
                                               type="file"
                                               kendo-upload
                                               k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: true }" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Details
                        <a class="btn btn-primary" ng-click="save(employee)">Save</a>
                    </div>
                    <div class="panel-body">
                        <div class="form-horizontal form-widgets col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3">
                                    Name
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" ng-model="employee.Name" class="k-textbox" id="employee.Name" name="employee.Name"
                                           placeholder="Enter full employee name" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" for="birthday">Birthday</label>
                                <div class="col-sm-8 col-md-6">
                                    <input type="date" kendo-date-picker k-ng-model="employee.DateOfBirth" id="employee.DateOfBirth" name="employee.DateOfBirth"
                                           placeholder="Select a date of birth" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" for="gender">Gender</label>
                                <div class="col-sm-8">
                                    <select kendo-drop-down-list
                                            ng-model="employee.Gender" id="employee.Gender" name="employee.Gender">
                                        <option value="Male" selected>Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>

                            

                            <div class="form-group">
                                <label class="control-label col-sm-3" for="gender">Gender</label>
                                <div class="col-sm-8">
                                    <select kendo-drop-down-list
                                            ng-model="employee.Gender" id="employee.Gender" name="employee.Gender">
                                        <option value="Male" selected>Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" for="employee.Department">Department</label>
                                <div class="col-sm-8">
                                    {{employee.Department}}
                                    <select kendo-drop-down-list
                                            ng-model="employee.Department" id="employee.Department" name="employee.Department">
                                        <option value="Front of house" selected>Front of house</option>
                                        <option value="Kitchen">Kitchen</option>
                                        <option value="Management">Management</option>
                                        <option value="Delivery">Delivery</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Primary Role</label>
                                <div class="col-sm-8">
                                    <select kendo-combo-box k-ng-model="employee.PrimaryRole" id="employee.PrimaryRole" name="employee.PrimaryRole">
                                        <optgroup label="Front of house">
                                            <option value="Receptionist" selected>Receptionist</option>
                                            <option value="Order taker">Order taker</option>
                                        </optgroup>
                                        <optgroup label="Kitchen">
                                            <option value="Head Chef">Head Chef</option>
                                            <option value="Chef">Chef</option>
                                            <option value="Kitchen Porter">Kitchen Porter</option>
                                        </optgroup>
                                        <optgroup label="Management">
                                            <option value="Regional Manager">Regional Manager</option>
                                            <option value="General Manager">General Manager</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Assistent Manager">Assistant Manager</option>
                                            <option value="Supervisor">Supervisor</option>
                                        </optgroup>
                                        <optgroup label="Delivery">
                                            <option value="Driver">Driver</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label class="control-label col-sm-3">Skills</label>
                                <div class="col-sm-8">
                                    <select kendo-multi-select k-ng-model="employee.Skills" id="employee.Skills" name="employee.Skills"></select>
                                </div>
                            </div>*@

                            <div class="form-group">
                                <label class="control-label col-sm-3">Driving License</label>
                                <div class="col-sm-8">
                                    <input type="text" class="k-textbox" ng-model="employee.DrivingLicense" id="employee.DrivingLicense" name="employee.DrivingLicense" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">Payroll Number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="k-textbox" ng-model="employee.PayrollNumber" id="employee.PayrollNumber" name="employee.PayrollNumber" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3">National Insurance</label>
                                <div class="col-sm-8">
                                    <input type="text" class="k-textbox" ng-model="employee.NationalInsurance" id="employee.NationalInsurance" name="employee.NationalInsurance" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#">Documents <span class="badge">5</span></a></li>
                    <li role="presentation"><a href="#">Employment History <span class="badge">3</span></a></li>
                    <li role="presentation"><a href="#">Schedule</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Documents</div>

                </div>
            </div>
        </div>



    </form>
</script>

<script type="text/ng-template" id="employee-documents.html">
    <div class="panel-body">
        <div class="panel-heading">Documents</div>
        None
    </div>
</script>

<script type="text/ng-template" id="employee-schedule.html">
    <div class="panel panel-default">
        <div class="panel-heading">Schedule</div>
        <div class="panel-body">not implemented</div>
    </div>
</script>


<!-- end of views -->
<!-- directives -->
<script type="text/ng-template" id="employee-pic.html">
    <div class="employee-photo"
         ng-style="profilePicture(dataItem.ProfilePic)">
    </div>
    <div class="employee-name">{{dataItem.Name}} <span class="label label-success">On shift</span></div>
</script>

<script type="text/html" id="employee-list-row-template">
    <a class="k-button k-primary-button" data-id="dataItem.Id" ui-sref="hr.store-list.edit-employee({id: dataItem.Id})">
        Edit
    </a>
</script>
<script type="text/html" id="employee-list-header-template">
    <a class="k-button k-primary-button" ui-sref="hr.store-list.create-employee">Create</a>
</script>