<!-- Views -->
<script type="text/ng-template" id="employee-list.html">
    <div class="list-page default-transition">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navbar navbar-default">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li ui-sref-active="active">
                                <a ui-sref="hr.store-list.employee-list">
                                    <i class="fa fa-file-o"></i>
                                    Employees Files
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="hr.store-list.scheduler">
                                    <i class="fa fa-calendar-o"></i>
                                    Store Schedule
                                </a>
                            </li>
                        </ul>
                        <div class="nav navbar-nav navbar-right">
                            <div class="navbar-form form-group">
                                <a class="btn btn-default" ui-sref="chain.list">Back to chain list</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- store-employee-list.html -->
        <!-- store-employee-scheduler.html -->
        <div ui-view="store-employee-view"></div>


    </div>
</script>

<script type="text/ng-template" id="store-employee-list.html">
    <kendo-grid options="employeeGridOptions"></kendo-grid>
</script>

<script type="text/ng-template" id="store-employee-scheduler.html">

    <div ng-if="schedulerOptions">
        <div id="scheduler" kendo-scheduler k-options="schedulerOptions">
        </div>
    </div>
</script>


<script type="text/ng-template" id="employee-create.html">
    <form kendo-validator="validator">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group">
                    <a class="btn btn-success" ng-click="save(employee)">Create</a>
                    <a class="btn btn-default" ui-sref="hr.store-list.employee-list">Back to employee list</a>
                </div>

            </div>
            <div class="panel-body">

                <div ui-view="editor-main"></div>

            </div>
        </div>
    </form>
</script>
<script type="text/ng-template" id="employee-edit.html">
    <div class="edit-page default-transition">

        <div class="list-group" ng-if="employee.Id">
            <div class="list-group-item">
                <employee-pic employee='employee'></employee-pic>
            </div>
        </div>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">

                </div>
                <div class="nav navbar-nav navbar-right text-right">

                    <button type="button" class="hidden-sm hidden-md hidden-lg btn btn-info" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>

                    <i>&nbsp;</i>
                </div>

                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active">
                            <a ui-sref="hr.store-list.edit-employee.details">Details</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="hr.store-list.edit-employee.documents">
                                Documents <span class="badge">{{employee.Documents.length}}</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="hr.store-list.edit-employee.schedule">Schedule</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <form kendo-validator="validator">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="btn-group">
                        <a class="btn btn-success" ng-click="save(employee)">Save</a>
                        <a class="btn btn-default" ui-sref="hr.store-list.employee-list">Back to employee list</a>
                    </div>

                </div>
                <div class="panel-body">

                    <div ui-view="editor-main"></div>

                </div>
            </div>


        </form>
    </div>
</script>

<script type="text/ng-template" id="employee-documents.html">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Documents</h3>

        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-4">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a class="btn btn-info" ng-click="new()">New document</a>
                                    <a class="btn btn-danger" ng-click="removeAll()">Remove all</a>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-repeat="doc in dataItem.Documents">

                            <div class="panel" ng-class="{ 'panel-default': (doc.Id !== document.Id), 'panel-info': (doc.Id === document.Id)  }">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{doc.Name ? doc.Name : "Enter a name..."}}</h3>
                                </div>
                                <div class="panel-body">
                                    <span class="btn-group">
                                        <a class="btn btn-info" ng-click="select(doc)">View <span class="badge badge-success">{{doc.Files.length}}</span></a>
                                        <a class="btn btn-danger" ng-click="remove(doc)">Delete</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8" ng-if="!document">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Getting started</h3>
                        </div>
                        <div class="panel-body">
                            To get started create, or view a document.
                        </div>
                    </div>

                </div>
                <div class="col-sm-8" ng-if="document">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Edit Document</h3>
                        </div>
                        <div class="panel-body">

                            <div class="row form-group" data-id="{{document.Id}}">

                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-file-archive-o"></i></span>
                                        <input type="text"
                                               class="form-control" ng-model="document.Name" id="document.Name" name="document.Name"
                                               placeholder="document name" required>
                                    </div>
                                    <span class="k-invalid-msg" data-for="document.name"></span>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @*{{document.FileType}}
                                        <a class="btn btn-default"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
                                        <a class="btn btn-default"><i class="fa fa-file-word-o"></i> Download Document</a>
                                        <a class="btn btn-default"><i class="fa fa-file-text-o"></i> Download</a>*@
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <input name="files"
                                           kendo-upload
                                           type="file"
                                           k-upload="onUploading"
                                           k-success="onUploadSuccess"
                                           k-async="{ saveUrl: uploadRoute(), autoUpload: true }" />
                                </div>
                            </div>

                            <div class="row" ng-if="!status.uploading">
                                <div class="col-lg-6" ng-repeat="file in document.Files">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {{file.FileName}}
                                        </div>
                                        <div class="panel-body">
                                            <div class="employee-photo-large">
                                                <img style="max-height:190px; max-width:100%" ng-src="{{getEmployeeDocumentImage(document, file)}}" />
                                            </div>

                                        </div>
                                        <div class="panel-footer">
                                            <span class="btn-group">
                                                <a class="btn btn-info" href="{{downloadDocumentFile(document, file)}}">Download</a>
                                                <a class="btn btn-danger" ng-click="removeFile(document, file)">Remove</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</script>

<!-- end of views -->
<!-- directives -->
<script type="text/ng-template" id="employee-pic.html">

    <div class="employee-photo"
         ng-style="profilePicture(employee)">
    </div>
    <div class="employee-name">
        <span class="short-name" style="-ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis;" ng-if="options.showShortName">
            {{employee.ShortName}}
        </span>
        <span class="full-name" ng-if="options.showFullName">({{employee.Name}})</span>
        <span class="label label-success" ng-if="options.showWorkStatus">On shift</span>
    </div>
    @*<div>
            showFullName: {{options.showFullName}}<br />
            showShortName: {{options.showShortName}}<br />
            showWorkStatus: {{options.showWorkStatus}}
        </div>*@
</script>

<script type="text/html" id="employee-list-row-template">
    <a class="btn btn-info" data-id="dataItem.Id" ui-sref="hr.store-list.edit-employee.details({id: dataItem.Id})">
        View
    </a>
</script>

<script type="text/html" id="employee-list-header-template">
    <a class="btn btn-primary" ui-sref="hr.store-list.create-employee.details">Add Employee</a>
</script>



<script type="text/ng-template" id="employee-edit-schedule.html">

    <div ng-if="employee.Id" class="default-transition">
        <div kendo-scheduler k-options="schedulerOptions">
        </div>
    </div>

</script>

<script type="text/ng-template" id="employee-task.html">
    <div class="task" ng-class="{
            'task-front-of-house' : employee.Department == 'Front of house',
            'task-kitchen' : employee.Department == 'Kitchen',
            'task-management' : employee.Department == 'Management',
            'task-delivery' : employee.Delivery == 'Delivery'
          }">
        <employee-pic employee='employee' show-full-name="false" show-work-status="false"></employee-pic>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <span class="label label-info">{{employee.PrimaryRole}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h6>
                        {{extra.startTime}} - {{extra.endTime}}
                        <span ng-if="!extra.isAllDay" class="label label-success">{{extra.hours}} hr</span>
                        <span ng-if="extra.isAllDay" class="label label-success">All Day</span>
                    </h6>
                </div>
            </div>

        </div>
    </div>
</script>
<script type="text/ng-template" id="working-task.html">

    <div class="task" ng-class="{
            'task-front-of-house' : employee.Department == 'Front of house',
            'task-kitchen' : employee.Department == 'Kitchen',
            'task-management' : employee.Department == 'Management',
            'task-delivery' : employee.Delivery == 'Delivery'
          }">
        <div class="container-fluid">

            <div class="row" data-name="{{::employee.ShortName}}">
                <span ng-if="!task.isAllDay" class="label label-default">{{::extra.startTime}}-{{::extra.endTime}} </span>
                <span ng-if="!task.isAllDay" class="label" ng-class="{
                      'label-default': task.isAllDay,
                      'label-success' : !task.isAllDay }">{{::extra.hours | number: 1 }}h</span>


                <span ng-if="task.isAllDay" class="label label-default">All day </span>

                <span ng-if="task.isAllDay" class="label label-default">{{::task.TaskType}}</span>
            </div>

        </div>
    </div>

</script>


<script type="text/ng-template" id="employee-edit-details.html">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{employee.ShortName}}

                    <span ng-if="employee.ShiftStatus" class="label label-success">On shift</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:40px"><i class="fa fa-child"></i></span>
                                        <input type="text" class="form-control" ng-model="employee.ShortName" id="employee.ShortName" name="employee.ShortName"
                                               placeholder="Short-Name" required data-required-msg="Employee name (first name/nickname) is required">
                                    </div>
                                    <span class="k-invalid-msg" data-for="employee.ShortName"></span>
                                </div>

                            </div>

                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:40px"><i class="fa fa-phone"></i></span>
                                        <input type="text" class="form-control" ng-model="employee.Phone" id="employee.Phone" name="employee.Phone"
                                               placeholder="land/mobile number" required data-required-msg="Employee phone number is required">
                                    </div>
                                    <span class="col-sm-12 k-invalid-msg" data-for="employee.Phone"></span>
                                </div>

                            </div>

                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope-o"></i>
                                        </span>
                                        <input type="email" class="form-control" ng-model="employee.Email" id="employee.Email" name="employee.Email"
                                               placeholder="e.g. myname@example.net" required data-required-msg="Employee email is required">
                                    </div>
                                    <span class="k-invalid-msg" data-for="employee.Email"></span>
                                </div>
                            </div>

                            <div ng-if="employee.Id"
                                 class="row form-group">
                                <div class="col-sm-12" ng-if="!status.uploading">
                                    <div style="display:flex;justify-content:center;align-items:center;height:200px">
                                        <img style="max-height:100%" class="img-rounded img-responsive" ng-src="{{profilePicture(employee)}}" />
                                    </div>
                                </div>
                            </div>

                            <div ng-if="employee.Id">
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <input name="files"
                                               kendo-upload="profilePicUploader"
                                               type="file"
                                               k-upload="onUploading"
                                               k-success="onUploadSuccess"
                                               k-template="fileTemplate"
                                               k-async="{ saveUrl: saveRoute(), autoUpload: true }" />
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!employee.Id">
                                <div class="alert alert-info">Save the record first before adding a image.</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-sm-9">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Details
                </div>
                <div class="panel-body">
                    <div class="form-horizontal form-widgets col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Name
                            </label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="employee.Name" class="k-textbox" id="employee.Name" name="employee.Name"
                                       data-required-msg="Enter a name for the employee"
                                       placeholder="Enter full employee name" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="birthday">Birthday</label>
                            <div class="col-sm-8 col-md-6">
                                <input kendo-date-picker 
                                       ng-model="dateString"
                                       k-ng-model="employee.DateOfBirth" 
                                       id="employee.DateOfBirth" 
                                       name="employee.DateOfBirth"
                                       placeholder="Select a date of birth" />
                            </div>
                            <div class="col-sm-12">DOB: {{dateString}}</div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="gender">Gender</label>
                            <div class="col-sm-8">
                                <select kendo-drop-down-list
                                        ng-model="employee.Gender"
                                         id="employee.Gender" name="employee.Gender">
                                    <option value="Male" selected>Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="employee.Department">Department</label>
                            <div class="col-sm-8">
                                <select kendo-drop-down-list required
                                        data-required-msg="Select a department from the list"
                                        ng-model="employee.Department" id="employee.Department" name="employee.Department">
                                    <option value="Front of house" selected>Front of house</option>
                                    <option value="Kitchen">Kitchen</option>
                                    <option value="Management">Management</option>
                                    <option value="Delivery">Delivery</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Primary Role</label>
                            <div class="col-sm-8">
                                @*{{employee.PrimaryRole}}*@
                                <select kendo-combo-box ng-model="employee.PrimaryRole" id="employee.PrimaryRole" name="employee.PrimaryRole">
                                    <optgroup label="Front of house">
                                        <option value="Receptionist" selected>Receptionist</option>
                                        <option value="Order taker">Order taker</option>
                                    </optgroup>
                                    <optgroup label="Kitchen">
                                        <option value="Head Chef">Head Chef</option>
                                        <option value="Chef">Chef</option>
                                        <option value="Kitchen Porter">Kitchen Porter</option>
                                    </optgroup>
                                    <optgroup label="Management">
                                        <option value="Regional Manager">Regional Manager</option>
                                        <option value="General Manager">General Manager</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Assistent Manager">Assistant Manager</option>
                                        <option value="Supervisor">Supervisor</option>
                                    </optgroup>
                                    <optgroup label="Delivery">
                                        <option value="Driver">Driver</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Driving License</label>
                            <div class="col-sm-8">
                                <input type="text" class="k-textbox" ng-model="employee.DrivingLicense" id="employee.DrivingLicense" name="employee.DrivingLicense" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Payroll Number</label>
                            <div class="col-sm-8">
                                <input type="text" class="k-textbox" ng-model="employee.PayrollNumber" id="employee.PayrollNumber" name="employee.PayrollNumber" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">National Insurance</label>
                            <div class="col-sm-8">
                                <input type="text" class="k-textbox" ng-model="employee.NationalInsurance" id="employee.NationalInsurance" name="employee.NationalInsurance" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/ng-template" id="rotaTaskEditor.html">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Presets
                    </div>
                    <div class="panel-body">
                        No presets (holiday, preset shift times (morning / afternoon))
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Shift
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>
                                    <input type="checkbox" ng-model="task.isAllDay" /> All day?
                                </label>
                            </div>
                        </div>
                        <div class="row" ng-if="!task.isAllDay">

                            <div class="col-sm-6">
                                <div class="label label-default">Start:</div>
                                <input kendo-date-time-picker required
                                       name="start"
                                       k-ng-model="task.start"
                                       style="width: 100%;" />
                                <span data-for="start" class="k-invalid-msg" style="display: none;"></span>
                            </div>
                            <div class="col-sm-6">
                                <div class="label label-default">End:</div>
                                <input kendo-date-time-picker required
                                       name="end"
                                       k-ng-model="task.end"
                                       style="width: 100%;" />
                                <span data-for="end" class="k-invalid-msg" style="display: none;"></span>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="label label-default">Employee:</div>

                                <select kendo-drop-down-list
                                        ng-model="task.EmployeeId"
                                        k-data-text-field="'ShortName'"
                                        k-data-value-field="'Id'"
                                        k-data-source="dataSources.storeEmployeeDataSource"
                                        style="width: 100%;"></select>
                            </div>
                            <div class="col-sm-6">
                                <div class="label label-default">Task type:</div>

                                <select kendo-drop-down-list
                                        ng-model="task.TaskType"
                                        k-data-text-field="'text'"
                                        k-data-value-field="'value'"
                                        k-data-source="dataSources.storeTaskTypeDataSource"
                                        style="width: 100%;"></select>

                            </div>
                        </div>
                        <br />
                        <div class="row" ng-if="(task.TaskType == 'Need cover' || task.TaskType == 'Covering Shift')">

                            <div class="col-sm-6">
                                <div class="label label-default">Title:</div>

                                <input name="title" id="title" class="k-textbox" type="text" required placeholder="Title" ng-model="task.title" />
                                <div data-for="title" class="k-invalid-msg" style="display: none;"></div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Repeat rota on different days</div>
                    <div class="panel-body">
                        <div class="label label-default">Repeat</div>
                        <div data-container-for="recurrenceRule">
                            <div data-bind="value:recurrenceRule" name="recurrenceRule" data-role="recurrenceeditor"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</script>

<script type="text/ng-template" id="hr.store-list.edit-employee.documents.html">
    <div class="row" ng-if="employee">
        <div class="col-sm-12">
            <employee-docs employee="employee">
            </employee-docs>
        </div>

    </div>
</script>

<script type="text/ng-template" id="file-upload.html">
    <div class="row">
        <div class="col-xs-12">
            <div class='alert alert-info' style="margin-bottom:0;">
                <span style="overflow: hidden;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;text-overflow: ellipsis;display: block">
                    {{::name}}
                </span>
                <div class="label label-info"><i ng-if="state.percentage == 100" class="fa fa-check-circle"></i> {{state.percentage}} %</div>
            </div>
        </div>
    </div>
</script>