<!-- Views -->
<script type="text/ng-template" id="employee-list.html">
    <div class="list-page">
        <div class="header">
            <h3>Employees</h3>
            <a class="btn btn-primary" ui-sref="chain.list">Back</a>
        </div>

        <!-- List of employees  -->
        <kendo-grid options="employeeGridOptions"></kendo-grid>
    </div>
</script>

<script type="text/ng-template" id="employee-edit.html">
    <div class="edit-page">

        <div class="list-group" ng-if="employee">
            <div class="list-group-item">
                <employee-pic employee='employee'></employee-pic>
            </div>
        </div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ui-sref-active="active">
                            <a ui-sref="hr.store-list.edit-employee.details">Details</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="hr.store-list.edit-employee.documents">Documents <span class="badge">{{employee.Documents.length}}</span></a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="hr.store-list.edit-employee.schedule">Schedule</a>
                        </li>
                    </ul>
                    <div class="nav navbar-nav navbar-right">
                        <div class="navbar-form form-group">
                            <a class="btn btn-success" ng-click="save(employee)">Save</a>
                            <a class="btn btn-default" ui-sref="hr.store-list">Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>


        <form kendo-validator="validator">

            <div ui-view="editor-main"></div>

        </form>
    </div>
</script>

<script type="text/ng-template" id="employee-documents.html">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Documents</h3>

        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-4">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a class="btn btn-info" ng-click="new()">New document</a>
                                    <a class="btn btn-danger" ng-click="removeAll()">Remove all</a>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-repeat="doc in dataItem.Documents">

                            <div class="panel" ng-class="{ 'panel-default': (doc.Id !== document.Id), 'panel-info': (doc.Id === document.Id)  }">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{doc.Name ? doc.Name : "Enter a name..."}}</h3>
                                </div>
                                <div class="panel-body">
                                    <span class="btn-group">
                                        <a class="btn btn-info" ng-click="select(doc)">View <span class="badge badge-success">{{doc.Files.length}}</span></a>
                                        <a class="btn btn-danger" ng-click="remove(doc)">Delete</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8" ng-if="!document">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Getting started</h3>
                        </div>
                        <div class="panel-body">
                            To get started create, or view a document.
                        </div>
                    </div>

                </div>
                <div class="col-sm-8" ng-if="document">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Edit Document</h3>
                        </div>
                        <div class="panel-body">

                            <div class="row form-group" data-id="{{document.Id}}">

                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-file-archive-o"></i></span>
                                        <input type="text"
                                               class="form-control" ng-model="document.Name" id="document.Name" name="document.Name"
                                               placeholder="document name" required>
                                    </div>
                                    <span class="k-invalid-msg" data-for="document.name"></span>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    @*{{document.FileType}}
                                        <a class="btn btn-default"><i class="fa fa-file-pdf-o"></i> Download PDF</a>
                                        <a class="btn btn-default"><i class="fa fa-file-word-o"></i> Download Document</a>
                                        <a class="btn btn-default"><i class="fa fa-file-text-o"></i> Download</a>*@
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <input name="files"
                                           kendo-upload
                                           type="file"
                                           k-upload="onUploading"
                                           k-success="onUploadSuccess"
                                           k-async="{ saveUrl: uploadRoute(), autoUpload: true }" />
                                </div>
                            </div>

                            <div class="row" ng-if="!status.uploading">
                                <div class="col-lg-6" ng-repeat="file in document.Files">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {{file.FileName}}
                                        </div>
                                        <div class="panel-body">
                                            <div class="employee-photo-large">
                                                <img style="max-height:190px; max-width:100%" ng-src="{{getEmployeeDocumentImage(document, file)}}" />
                                            </div>

                                        </div>
                                        <div class="panel-footer">
                                            <span class="btn-group">
                                                <a class="btn btn-info" href="{{downloadDocumentFile(document, file)}}">Download</a>
                                                <a class="btn btn-danger" ng-click="removeFile(document, file)">Remove</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</script>

<!-- end of views -->
<!-- directives -->
<script type="text/ng-template" id="employee-pic.html">
    <div class="employee-photo"
         ng-style="profilePicture(employee)">
    </div>
    <div class="employee-name">
        {{employee.ShortName}}
        <span ng-if="!hide-full-name">({{employee.Name}})</span>
        
        <span class="label label-success">On shift</span>
    </div>
    <div></div>
</script>

<script type="text/html" id="employee-list-row-template">
    <a class="btn btn-info" data-id="dataItem.Id" ui-sref="hr.store-list.edit-employee.details({id: dataItem.Id})">
        View
    </a>
</script>

<script type="text/html" id="employee-list-header-template">
    <a class="btn btn-primary" ui-sref="hr.store-list.create-employee">Create</a>
</script>

<script type="text/ng-template" id="employee-edit-schedule.html">

    <div ng-if="employee.Id">
        <div kendo-scheduler k-options="schedulerOptions">
        </div>
    </div>

</script>

<script type="text/ng-template" id="employee-task.html">
    <employee-pic employee='employee' hide-full-name="true"></employee-pic>
</script>

<script type="text/ng-template" id="employee-edit-details.html">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{employee.ShortName}}

                    <span ng-if="employee.ShiftStatus" class="label label-success">On shift</span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:40px"><i class="fa fa-child"></i></span>
                                        <input type="text" class="form-control" ng-model="employee.ShortName" id="employee.ShortName" name="employee.ShortName"
                                               placeholder="Short-Name" required>
                                    </div>
                                    <span class="k-invalid-msg" data-for="employee.ShortName"></span>
                                </div>

                            </div>

                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="width:40px"><i class="fa fa-phone"></i></span>
                                        <input type="text" class="form-control" ng-model="employee.Phone" id="employee.Phone" name="employee.Phone"
                                               placeholder="land/mobile number" required>
                                    </div>
                                    <span class="col-sm-12 k-invalid-msg" data-for="employee.Phone"></span>
                                </div>

                            </div>

                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope-o"></i>
                                        </span>
                                        <input type="email" class="form-control" ng-model="employee.Email" id="employee.Email" name="employee.Email"
                                               placeholder="e.g. myname@example.net" required>
                                    </div>
                                    <span class="k-invalid-msg" data-for="employee.Email"></span>
                                </div>
                            </div>

                            <div ng-if="employee.Id"
                                 class="row form-group">
                                <div class="col-sm-12" ng-if="!status.uploading">
                                    <div class="employee-photo-large" style="display:flex;justify-content:center;align-items:center;height:200px">
                                        <img style="width:100%;height:auto" class="img-responsive" ng-src="{{profilePicture(employee)}}" />
                                    </div>
                                </div>
                            </div>

                            <div ng-if="employee.Id">
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <input name="files"
                                               kendo-upload
                                               type="file"
                                               k-upload="onUploading"
                                               k-success="onUploadSuccess"
                                               k-async="{ saveUrl: saveRoute(), autoUpload: true }" />
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!employee.Id">
                                <div class="alert alert-info">Save the record first before adding a image.</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-sm-9">

            <div class="panel panel-default">
                <div class="panel-heading">
                    Details
                </div>
                <div class="panel-body">
                    <div class="form-horizontal form-widgets col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Name
                            </label>
                            <div class="col-sm-8">
                                <input type="text" ng-model="employee.Name" class="k-textbox" id="employee.Name" name="employee.Name"
                                       placeholder="Enter full employee name" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="birthday">Birthday</label>
                            <div class="col-sm-8 col-md-6">
                                <input type="date" kendo-date-picker k-ng-model="employee.DateOfBirth" id="employee.DateOfBirth" name="employee.DateOfBirth"
                                       placeholder="Select a date of birth" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="gender">Gender</label>
                            <div class="col-sm-8">
                                <select kendo-drop-down-list
                                        ng-model="employee.Gender" id="employee.Gender" name="employee.Gender">
                                    <option value="Male" selected>Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3" for="employee.Department">Department</label>
                            <div class="col-sm-8">
                                <select kendo-drop-down-list
                                        ng-model="employee.Department" id="employee.Department" name="employee.Department">
                                    <option value="Front of house" selected>Front of house</option>
                                    <option value="Kitchen">Kitchen</option>
                                    <option value="Management">Management</option>
                                    <option value="Delivery">Delivery</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Primary Role</label>
                            <div class="col-sm-8">
                                @*{{employee.PrimaryRole}}*@
                                <select kendo-combo-box ng-model="employee.PrimaryRole" id="employee.PrimaryRole" name="employee.PrimaryRole">
                                    <optgroup label="Front of house">
                                        <option value="Receptionist" selected>Receptionist</option>
                                        <option value="Order taker">Order taker</option>
                                    </optgroup>
                                    <optgroup label="Kitchen">
                                        <option value="Head Chef">Head Chef</option>
                                        <option value="Chef">Chef</option>
                                        <option value="Kitchen Porter">Kitchen Porter</option>
                                    </optgroup>
                                    <optgroup label="Management">
                                        <option value="Regional Manager">Regional Manager</option>
                                        <option value="General Manager">General Manager</option>
                                        <option value="Manager">Manager</option>
                                        <option value="Assistent Manager">Assistant Manager</option>
                                        <option value="Supervisor">Supervisor</option>
                                    </optgroup>
                                    <optgroup label="Delivery">
                                        <option value="Driver">Driver</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Driving License</label>
                            <div class="col-sm-8">
                                <input type="text" class="k-textbox" ng-model="employee.DrivingLicense" id="employee.DrivingLicense" name="employee.DrivingLicense" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">Payroll Number</label>
                            <div class="col-sm-8">
                                <input type="text" class="k-textbox" ng-model="employee.PayrollNumber" id="employee.PayrollNumber" name="employee.PayrollNumber" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-3">National Insurance</label>
                            <div class="col-sm-8">
                                <input type="text" class="k-textbox" ng-model="employee.NationalInsurance" id="employee.NationalInsurance" name="employee.NationalInsurance" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</script>

<script type="text/ng-template" id="hr.store-list.edit-employee.documents.html">
    <div class="row" ng-if="employee">
        <div class="col-sm-12">
            <employee-docs employee="employee">
            </employee-docs>
        </div>
    </div>
</script>