@model dynamic
@if (Html.HasNotificationMessages() || Html.HasNotificationErrorMessages())
{ 
    
    <section id="notifications">
        @if (Html.HasNotificationErrorMessages()) { 
        <section id="errors" class="k-block k-error-colored">
            @foreach (var message in Html.NotificationErrorMessage()) 
            {
                <div class="message">@message</div>
            }
        </section>    
        }
        @if (Html.HasNotificationMessages()) { 
        <section id="notes" class="k-block k-info-colored">
            @foreach (var message in Html.NotificationMessages()) 
            {
                <div class="message">@message</div>
            }
        </section>
        }
        @if (Html.HasExceptionMessages()) { 
        <section id="exceptions">
            <ol>
            @foreach (var exception in Html.NotificationExceptionMessages())
            { 
                <li><b>@exception.Message</b>
                    <div class="exception message">
                        <div>
                            @exception.StackTrace
                        </div>
                    </div>
                </li>
            }
            </ol>
        </section>
        }
    </section>
    <div class="separator"></div>
}