    <!-- Cart sidebar -->
<script type="text/html" id="cartView">
    <div id="yourOrderContainer">

        <div id="cartTitle">
            <h1 data-bind="html: textStrings.sMyOrder"></h1>
        </div>

        <!-- ko ifnot: AndroWeb.Helpers.CartHelper.isCheckoutMode -->
        <!-- Delivery or collection -->
        <!-- ko if: guiHelper.canChangeOrderType() -->
        <div id="deliveryOrCollection">
            <!-- ko if: settings.enableDelivery -->
            <label id="forDelivery" for="delivery" data-bind="'attr': { 'class': $root.orderType() == 'delivery' ? 'ticked' : 'unticked' }, html: textStrings.sDeliverToDoor"></label>
            <input id="delivery" name="orderTypeGroup" type="radio" value="delivery" data-bind="checked: $root.orderType, click: AndroWeb.Helpers.CartHelper.orderTypeChanged" />
            <!-- /ko -->
            <!-- ko if: settings.enableCollection -->
            <label id="forCollection" for="collection" data-bind="'attr': { 'class': $root.orderType() == 'collection' ? 'ticked' : 'unticked' }, html: textStrings.sCollectFromStore"></label>
            <input id="collection" name="orderTypeGroup" type="radio" value="collection" data-bind="checked: $root.orderType, click: AndroWeb.Helpers.CartHelper.orderTypeChanged" />
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko if: !guiHelper.canChangeOrderType() -->
        <div id="deliveryOrCollectionText">
            <label class="ticked" data-bind="html: ($root.orderType() == 'collection' ? textStrings.sCollectFromStore : ( $root.orderType() == 'delivery' ?  textStrings.sDeliverToDoor : textStrings.sDineIn ))"></label>
        </div>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: guiHelper.cartActions() == guiHelper.cartActionsMenu && $root.isTakingOrders() -->
        <div id="cartSidebarActions" style="clear:both;">
            <!-- ko if: AndroWeb.Helpers.CartHelper.cart().checkoutEnabled() && (settings.enableDelivery || settings.enableCollection) -->
            <div id="checkoutButton" class="highlightedButton">
                <a data-bind="click: AndroWeb.Helpers.CartHelper.checkout, html: textStrings.sCheckout + ' (' + ko.utils.unwrapObservable(AndroWeb.Helpers.CartHelper.cart().displayTotalPrice) + ')'" href="#"></a>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <div id="cartItems">
            <!-- Store offline -->
            <!-- ko if: !$root.isTakingOrders() -->
            <div>
                <h2 id="sOffline" data-bind="html: textStrings.sOffline"></h2>
            </div>
            <!-- /ko -->
            <!-- Store online -->
            <!-- ko if: $root.isTakingOrders() -->
            <div>

                <!-- Cart empty -->
                <!-- ko if: AndroWeb.Helpers.CartHelper.cart().cartItems().length == 0 && AndroWeb.Helpers.CartHelper.cart().deals().length == 0 -->
                <div id="emptyBasket">
                    <h2 data-bind="html: textStrings.sEmpty1"></h2>
                    <p data-bind="html: textStrings.sEmpty2"></p>
                </div>
                <!-- /ko -->
                <!-- Cart -->
                <!-- ko if: AndroWeb.Helpers.CartHelper.cart().cartItems().length != 0 || AndroWeb.Helpers.CartHelper.cart().deals().length != 0 -->
                <div id="cartWrapper">

                    <div id="orderItemsHeader">
                        <h2>
                            <span data-bind="html: textStrings.sItemCount1"></span>
                            <span data-bind="html: AndroWeb.Helpers.CartHelper.cart().deals().length + AndroWeb.Helpers.CartHelper.cart().cartItems().length"></span>
                            <span data-bind="html: textStrings.sItemCount2"></span>
                        </h2>
                    </div>
                    <div id="cartLineItems">
                        <div id="cartLineItemsHeader">
                            <h2 id="cartLineItemsItemHeader" data-bind="html: textStrings.sitem"></h2>
                            <h2 id="cartLineItemsPriceHeader" data-bind="html: textStrings.sPrice"></h2>
                            <h2 id="cartLineItemsQuantityHeader" data-bind="html: textStrings.sQuantity"></h2>
                        </div>
                        <!-- Deals -->
                        <div id="cartDealItemsWrapper">
                            <!-- ko foreach: AndroWeb.Helpers.CartHelper.cart().deals -->
                            <!-- ko template: { name: AndroWeb.Helpers.CartHelper.getDealTemplate } -->
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>

                        <!-- List items -->
                        <div id="cartMenuItemsWrapper">
                            <!-- ko foreach: AndroWeb.Helpers.CartHelper.cart().cartItems -->
                            <!-- ko template: { name: AndroWeb.Helpers.CartHelper.getItemTemplate } -->
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>

                    <!-- ko if: AndroWeb.Helpers.CartHelper.isCheckoutMode() && checkoutHelper.checkoutDetails.slotsRemoved -->
                    <h2 id="slotsRemoved" data-bind="text: $root.orderType() == 'collection' ? textStrings.sRemovedCollectionSlots : textStrings.sRemovedDeliverySlots "></h2>
                    <!-- /ko -->
                    <!-- Order sub total -->
                    <div id="cartSubTotalWrapper">
                        <span class="cartTotal" data-bind="html: textStrings.sSubTotal"></span>
                        <span class="cartTotalPrice" data-bind="html: AndroWeb.Helpers.CartHelper.cart().displaySubTotalPrice"></span>
                    </div>

                    <!-- ko foreach: AndroWeb.Helpers.CartHelper.cart().vouchers -->
                    <div class="cartItem">
                        <span class="cartName">Voucher: <span data-bind="html: VoucherCode"></span></span>

                        <a href="#" class="cartRemoveVoucher" data-bind="click: checkoutHelper.removeVouchers"></a>

                        <!-- ko if: EffectType.toLowerCase() == 'fixed' -->
                        <span class="cartPrice" data-bind="html: discount == undefined ? '?' : ('-' +  helper.formatPrice(discount() * 100))"></span>
                        <!-- /ko -->
                        <!-- ko if: EffectType.toLowerCase() != 'fixed' -->
                        <span class="cartPrice" data-bind="html: discount == undefined ? '?' : ('-' +  helper.formatPrice(discount()))"></span>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <!-- Loyalty -->
                    <!-- ko if: loyaltyHelper.IsEnabled() && loyaltyHelper.loyaltySession.spentPoints() > 0 -->
                    <div class="cartItem" style="clear:both">

                        <div class="cartName">
                            <span data-bind="text: textStrings.checkSRedeemedLoyaltyPrompt1"></span>
                            <span data-bind="html:loyaltyHelper.loyaltySession.spentPoints()"></span>
                            <span data-bind="text: textStrings.checkSRedeemedLoyaltyPrompt2"></span>
                        </div>

                        <a href="#" class="cartRemoveVoucher" data-bind="click: loyaltyBindingHelper.remove"></a>

                        <span class="cartPrice">-<span data-bind="html: loyaltyHelper.loyaltySession.spentPointsValueLabel()"></span></span>

                    </div>
                    <!-- /ko -->
                    <!-- ko if: AndroWeb.Helpers.CartHelper.cart().discountName != undefined && AndroWeb.Helpers.CartHelper.cart().discountName() != undefined && AndroWeb.Helpers.CartHelper.cart().discountName().length > 0 -->
                    <!-- Order discount -->
                    <div id="cartDiscountWrapper">
                        <span class="cartTotal" data-bind="html: AndroWeb.Helpers.CartHelper.cart().discountName"></span>
                        <span class="cartTotalPrice" data-bind="html: AndroWeb.Helpers.CartHelper.cart().displayDiscountAmount"></span>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: AndroWeb.Helpers.CartHelper.cart().displayDeliveryCharge != undefined && AndroWeb.Helpers.CartHelper.cart().displayDeliveryCharge().length > 0 -->
                    <!-- Delivery charge -->
                    <div id="cartDiscountWrapper">
                        <span class="cartTotal" data-bind="html: textStrings.checkSDeliveryCharge"></span>
                        <span class="cartTotalPrice" data-bind="html: AndroWeb.Helpers.CartHelper.cart().displayDeliveryCharge"></span>
                    </div>
                    <!-- /ko -->
                    <!-- Order totals -->
                    <div id="cartTotalWrapper">
                        <span class="cartTotal" data-bind="html: textStrings.sOrderTotal"></span>
                        <span class="cartTotalPrice" data-bind="html: AndroWeb.Helpers.CartHelper.cart().displayTotalPrice"></span>
                    </div>

                    <!-- ko if: AndroWeb.Helpers.CartHelper.cart().preLoyaltySubTotalPrice() < settings.minimumDeliveryOrder && $root.orderType() == 'delivery' -->
                    <div class="cartAutoRemove">
                        <span data-bind="html: textStrings.sMinimumDelivOrder.replace('{minimumvalue}',helper.formatPrice(settings.minimumDeliveryOrder)).replace('{deliverycharge}', AndroWeb.Helpers.CartHelper.cart().displayDeliveryCharge())"></span>
                   <!--     <span data-bind="html: helper.formatPrice(settings.minimumDeliveryOrder)"></span> -->
                    </div>
                    <!-- /ko -->
                    <!-- ko if: AndroWeb.Helpers.CartHelper.cart().areDisabledItems -->
                    <div class="cartAutoRemove" data-bind="html: textStrings.sInvalid"></div>
                    <!-- /ko -->
                    <!-- ko if: AndroWeb.Helpers.CartHelper.isCheckoutMode() && (loyaltyHelper.IsEnabled() || settings.voucherCodesEnabled)-->
                    <div id="checkoutOptionsSection">
                        <h1 data-bind="text: textStrings.checkSOptions"></h1>
                        <!-- Vouchers -->
                        <!-- Add voucher codes -->
                        <!-- ko if: settings.voucherCodesEnabled -->
                        <div class="checkoutVoucherSection">
                            <h2 data-bind="text: textStrings.checkSAddVoucher"></h2>
                            <!-- ko if: AndroWeb.Helpers.CartHelper.cart().vouchers().length == 0 -->
                            <div class="cartRow" style="clear:both">
                                <div id="checkoutSAddVoucherTitle" data-bind="text: textStrings.checkSAddVoucherTitle" style="float: left"></div>

                                <input id="checkoutSVoucherCode" maxlength="32" type="text" data-bind="value: checkoutHelper.checkVoucherCode, attr: { placeholder:textStrings.checkSVoucherCode }" />

                                <div class="button checkoutRedeemButton">
                                    <a data-bind="click: checkoutHelper.addVoucherCode, text: textStrings.checkSAddVoucherCode" href="#"></a>
                                </div>
                                <div class="checkoutError" data-bind="visible: checkoutHelper.voucherError() != undefined, text: checkoutHelper.voucherError"></div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: AndroWeb.Helpers.CartHelper.cart().vouchers().length != 0 -->
                            <div class="cartRow" style="clear:both">
                                <!-- ko foreach: AndroWeb.Helpers.CartHelper.cart().vouchers -->
                                <div class="cartRow">
                                    <span class="cartName" data-bind="text: textStrings.checkSSelectedVoucher.replace('{code}', VoucherCode)"></span>
                                </div>
                                <!-- /ko -->
                            </div>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                        <!-- ko if: loyaltyHelper.IsEnabled() -->
                        <div class="checkoutLoyaltySection">
                            <h2 data-bind="text: textStrings.checkSRedeemPrompt"></h2>
                            <!-- ko if: loyaltyHelper.loyaltySession.spentPoints() == 0 -->
                            <div class="cartRow" style="clear:both">
                                <div class="checkoutRedeemPrompt">
                                    <span data-bind="text: loyaltyHelper.loyaltySession.displayPointsLeft()"></span>
                                    <span data-bind="text: textStrings.checkSAddLoyaltyPrompt1"></span>
                                    <span data-bind="text: textStrings.checkSAddLoyaltyPrompt2"></span>
                                    <span data-bind="html:loyaltyHelper.loyaltySession.displayPointsValueLabel()"></span>
                                </div>
                                <!-- ko if: loyaltyHelper.loyaltySession.minimumPointsMessage().length == 0 -->
                                <div class="button checkoutRedeemButton">
                                    <a data-bind="click: loyaltyBindingHelper.redeem, text: textStrings.checkSAddLoyaltyAddButton" href="#"></a>
                                </div>
                                <!-- /ko -->
                                <!-- ko if: loyaltyHelper.loyaltySession.minimumPointsMessage().length > 0 -->
                                <div class="minimumPointsMessage" data-bind="html: loyaltyHelper.loyaltySession.minimumPointsMessage"></div>
                                <!-- /ko -->

                            </div>
                            <!-- /ko -->
                            <!-- ko if: loyaltyHelper.loyaltySession.spentPoints() != 0 -->
                            <div class="cartRow" style="clear:both">
                                <span data-bind="html:loyaltyHelper.loyaltySession.spentPoints()"></span>
                                <span data-bind="text: textStrings.checkSAddLoyaltyPrompt3"></span>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: loyaltyHelper.loyaltySession.spentPoints() == 0 -->
                            <div id="cartAwardLoyalty">
                                <div data-bind="text: textStrings.checkSEarnLoyalty.replace('{points}', loyaltyHelper.loyaltySession.canGainThesePoints())"></div>
                            </div>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <!-- Menu actions -->
                    <!-- ko if: guiHelper.cartActions() == guiHelper.cartActionsMenu -->
                    <div id="cartSidebarActions" style="clear:both;">
                        <!-- ko if: AndroWeb.Helpers.CartHelper.cart().checkoutEnabled() -->
                        <div id="checkoutButton" class="highlightedButton">
                            <a data-bind="click: AndroWeb.Helpers.CartHelper.checkout, html: textStrings.sCheckout + ' (' + ko.utils.unwrapObservable(AndroWeb.Helpers.CartHelper.cart().displayTotalPrice) + ')'" href="#"></a>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->

                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->

            <!-- ko if: AndroWeb.Helpers.CartHelper.cart().cartItems().length != 0 && $root.menuViewName() == 'menuSectionsView' -->
            <div id="cartHelp" data-bind="html: textStrings.sRemove"></div>
            <!-- /ko -->

        </div>

        <!-- ko ifnot: AndroWeb.Helpers.CartHelper.isCheckoutMode -->
        <!-- ko if: AndroWeb.Helpers.CartHelper.cart().autoApplyVoucherText() !== undefined && AndroWeb.Helpers.CartHelper.cart().autoApplyVoucherText().length > 0  -->
        <h2 id="cartAutoApplyVoucherText" data-bind="html: AndroWeb.Helpers.CartHelper.cart().autoApplyVoucherText"></h2>
        <!-- /ko -->
        <!-- /ko -->

    </div>
</script>

<!-- Cart item -->
<script type="text/html" id="cartItem-template">
    <div data-bind="'attr': { 'class': isEnabled() ? 'cartItem' : 'cartItemDisabled' }">
        <div class="cartRow">
            <a class="cartName" data-bind="html: displayName, click: AndroWeb.Helpers.CartHelper.editCartItem" href="#"></a>
            <a href="#" class="cartRemove" data-bind="visible: isEnabled(), click: AndroWeb.Helpers.CartHelper.removeCartItem"></a>
            <span class="cartQuantity" data-bind="html: quantity"></span>
            <span data-bind="'attr': { 'class': isEnabled() ? 'cartPrice' : 'cartPriceDisabled' }, html: displayPrice"></span>
        </div>
        <!-- ko if: $root.orderType() == 'delivery' && (menuItem.DelPrice == undefined && menuItem.DeliveryPrice == undefined) -->
        <div class="notAvailable" data-bind="html: textStrings.ciCollectOnly"></div>
        <!-- /ko -->
        <!-- ko if: $root.orderType() == 'collection' && (menuItem.ColPrice == undefined && menuItem.CollectionPrice == undefined) -->
        <div class="notAvailable" data-bind="html: textStrings.ciDeliverOnly"></div>
        <!-- /ko -->
        <!-- ko foreach: displayToppings -->
        <!-- ko template: { name: 'cartTopping-template' } -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</script>

<!-- Disabled cart item -->
<script type="text/html" id="disabledCartItem-template">
    <div class="cartItem">
        <div class="cartRow">
            <div class="cartRemovedTimeSlot" data-bind="visible: removedTimeSlot(), attr: { title: availabilityText }"></div>
            <span class="cartName" data-bind="html: displayName"></span>
            <a href="#" class="cartRemove" data-bind="visible: isEnabled(), click: AndroWeb.Helpers.CartHelper.removeCartItem"></a>
            <span class="cartQuantity" data-bind="html: quantity"></span>
            <span data-bind="'attr': { 'class': isEnabled() ? 'cartPrice' : 'cartPriceDisabled' }, html: displayPrice"></span>
        </div>
        <!-- ko if: $root.orderType() == 'delivery' && (menuItem.DelPrice == undefined && menuItem.DeliveryPrice == undefined) -->
        <div class="notAvailable" data-bind="html: textStrings.dciCollectOnly"></div>
        <!-- /ko -->
        <!-- ko if: $root.orderType() == 'collection' && (menuItem.ColPrice == undefined && menuItem.CollectionPrice == undefined) -->
        <div class="notAvailable" data-bind="html: textStrings.dciDeliverOnly"></div>
        <!-- /ko -->
        <!-- ko foreach: displayToppings -->
        <!-- ko template: { name: 'cartTopping-template' } -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</script>

<!-- Cart topping -->
<script type="text/html" id="cartTopping-template">
    <div class="cartRowItemTopping">
        <span class="cartIndent1" data-bind="html: cartName"></span>
        <span data-bind="'attr': { 'class': $parent.isEnabled() ? 'cartPrice' : 'cartPriceDisabled' }, html: cartPrice"></span>
    </div>
</script>

<!-- Cart deal -->
<script type="text/html" id="cartDeal-template">
    <div data-bind="'attr': { 'class': isEnabled() ? 'cartItem' : 'cartItemDisabled' }">
        <a data-bind="click: AndroWeb.Helpers.CartHelper.editCartDeal" href="#">
            <div class="cartRow">
                <span class="cartName" data-bind="html: name"></span>
                <a href="#" class="cartRemove" data-bind="visible: isEnabled(), click: AndroWeb.Helpers.CartHelper.removeDealItem"></a>
                <span data-bind="'attr': { 'class': isEnabled() ? 'cartPrice' : 'cartPriceDisabled' }, html: displayPrice()"></span>
            </div>
            <!-- ko foreach: cartDealLines -->
            <!-- ko template: { name: 'cartDealLine-template' } -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: minimumOrderValueNotMet() -->
            <div class="cartRow cartError">
                <span data-bind="html: textStrings.cdMinSpend"></span>
                <span data-bind="html: minimumOrderValue"></span>
            </div>
            <!-- /ko -->
            <!-- ko if: $root.orderType() == 'delivery' && !dealWrapper.deal.ForDelivery -->
            <div class="notAvailable" data-bind="html: textStrings.cdNoDelivery"></div>
            <!-- /ko -->
            <!-- ko if: $root.orderType() == 'collection' && !dealWrapper.deal.ForCollection -->
            <div class="notAvailable" data-bind="html: textStrings.cdNoCollection"></div>
            <!-- /ko -->
        </a>
    </div>
</script>

<!-- Disabled cart deal -->
<script type="text/html" id="disabledCartDeal-template">
    <div data-bind="'attr': { 'class': isEnabled() ? 'cartItem' : 'cartItemDisabled' }">
        <div class="cartRow">
            <div class="cartRemovedTimeSlot" data-bind="visible: dealWrapper.removedTimeSlot(), attr: { title: dealWrapper.availabilityText }"></div>
            <span class="cartName" data-bind="html: name"></span>
            <a href="#" class="cartRemove" data-bind="visible: isEnabled(), click: AndroWeb.Helpers.CartHelper.removeDealItem"></a>
            <span data-bind="'attr': { 'class': isEnabled() ? 'cartPrice' : 'cartPriceDisabled' }, html: displayPrice()"></span>
        </div>
        <!-- ko foreach: cartDealLines -->
        <!-- ko template: { name: 'cartDealLine-template' } -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: minimumOrderValueNotMet() -->
        <div class="cartRow cartError">
            <span data-bind="html: textStrings.cddMinSpend"></span>
            <span data-bind="html: minimumOrderValue"></span>
        </div>
        <!-- /ko -->
    </div>
</script>

<!-- Cart deal line -->
<script type="text/html" id="cartDealLine-template">
    <div class="cartRowDealLine">
        <span class="cartIndent1" data-bind="html: displayName"></span>
        <span data-bind="'attr': { 'class': $parent.isEnabled() ? 'cartPrice' : 'cartPriceDisabled' }, html: displayPrice()">-</span>
    </div>
    <!-- ko if: categoryPremium() != undefined -->
    <div class="cartRowDealLineTopping">
        <span class="cartIndent1" data-bind="html: categoryPremiumName" style="margin-left:10px;"></span>
        <span data-bind="'attr': { 'class': $parent.isEnabled() ? 'cartPrice cartDealLinePrice' : 'cartPriceDisabled cartDealLinePrice' }, html: categoryPremium"></span>
    </div>
    <!-- /ko -->
    <!-- ko if: itemPremium() != undefined -->
    <div class="cartRowDealLineTopping">
        <span class="cartIndent1" data-bind="html: itemPremiumName" style="margin-left:10px;"></span>
        <span data-bind="'attr': { 'class': $parent.isEnabled() ? 'cartPrice cartDealLinePrice' : 'cartPriceDisabled cartDealLinePrice' }, html: itemPremium"></span>
    </div>
    <!-- /ko -->
    <!-- ko foreach: cartItem().displayToppings -->
    <!-- ko template: { name: 'cartDealLineTopping-template' } -->
    <!-- /ko -->
    <!-- /ko -->
</script>

<!-- Cart deal line topping -->
<script type="text/html" id="cartDealLineTopping-template">
    <div class="cartRowDealLineTopping">
        <span class="cartIndent2" data-bind="html: cartName" style="margin-left:10px;"></span>
        <span data-bind="'attr': { 'class': $parents[1].isEnabled() ? 'cartPrice cartDealLinePrice' : 'cartPriceDisabled cartDealLinePrice' }, html: cartPrice"></span>
    </div>
</script>