    <!-- STORE DETAILS PAGE -->
<script type="text/html" id="storeDetailsView">
    <div id="storeDetailsContent" class="content">
        <div class="storeDetailsBox" itemscope itemtype="http://schema.org/Organisation">
            <div class="storeDetailsBoxInner">
                <h1 itemprop="name" class="welcomeHeader" data-bind="text: $root.selectedSite() === undefined ? '' : $root.selectedSite().name"></h1>

                <div id="deliveryTimesAddressWrapper">
                    <div id="storeDetailsDeliveryTimes">
                        <h1 data-bind="text: textStrings.storeDetailsDeliveryTimes"></h1>

                        <div class="storeDetailsDeliveryTimesDay">
                            <div class="storeDetailsDeliveryTimesDayColumn1" data-bind="text: textStrings.storeDetailsMonday"></div>
                            <div class="storeDetailsDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.monday.displayText()"></div>
                        </div>
                        <div class="storeDetailsDeliveryTimesDay">
                            <div class="storeDetailsDeliveryTimesDayColumn1" data-bind="text: textStrings.storeDetailsTuesday"></div>
                            <div class="storeDetailsDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.tuesday.displayText()"></div>
                        </div>
                        <div class="storeDetailsDeliveryTimesDay">
                            <div class="storeDetailsDeliveryTimesDayColumn1" data-bind="text: textStrings.storeDetailsWednesday"></div>
                            <div class="storeDetailsDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.wednesday.displayText()"></div>
                        </div>
                        <div class="storeDetailsDeliveryTimesDay">
                            <div class="storeDetailsDeliveryTimesDayColumn1" data-bind="text: textStrings.storeDetailsThursday"></div>
                            <div class="storeDetailsDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.thursday.displayText()"></div>
                        </div>
                        <div class="storeDetailsDeliveryTimesDay">
                            <div class="storeDetailsDeliveryTimesDayColumn1" data-bind="text: textStrings.storeDetailsFriday"></div>
                            <div class="storeDetailsDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.friday.displayText()"></div>
                        </div>
                        <div class="storeDetailsDeliveryTimesDay">
                            <div class="storeDetailsDeliveryTimesDayColumn1" data-bind="text: textStrings.storeDetailsSaturday"></div>
                            <div class="storeDetailsDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.saturday.displayText()"></div>
                        </div>
                        <div class="storeDetailsDeliveryTimesDay">
                            <div class="storeDetailsDeliveryTimesDayColumn1" data-bind="text: textStrings.storeDetailsSunday"></div>
                            <div class="storeDetailsDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.sunday.displayText()"></div>
                        </div>

                        <h2 data-bind="html: textStrings.storeDetailsETD.replace('{time}', $root.etd())"><span data-bind="text: $root.etd()"></span></h2>

                        <!-- ko ifnot: $root.ect() == null || $root.ect() == undefined -->
                        <h2 data-bind="html: textStrings.storeDetailsECT.replace('{time}', $root.ect())"><span data-bind="text: $root.ect()"></span></h2>
                        <!-- /ko -->

                        <div id="homeDeliveryMinimumOrder" data-bind="html: textStrings.storeDetailsMinimumDeliv.replace('{price}', helper.formatPrice(settings.minimumDeliveryOrder))"></div>
                    </div>

                    <div id="storeDetailsAddressWrapper">
                        <div id="storeDetailsAddressWrapperInner">
                            <div id="storeDetailsAddressWrapperInner2">
                                <div id="storeDetailsAddress">
                                    <h1 data-bind="html: textStrings.storeDetailsLocationPrompt"></h1>
                                    <div id="storeDetailsAddressLinesMultiLine" itemprop="streetAddress" data-bind="html: displayAddressMultiLine"></div>
                                    <div id="storeDetailsAddressLinesSingleLine" itemprop="streetAddress" data-bind="html: displayAddress"></div>
                                    <!-- Telephone -->
                                    <!-- ko if: siteDetails() !== undefined && siteDetails().phone != undefined && siteDetails().phone.length > 0 -->
                                    <div id="storeDetailsAddressLinesTel">
                                        <span data-bind="html: textStrings.hPhone"></span>
                                        <span itemprop="telephone" data-bind="text: siteDetails().phone"></span>
                                    </div>
                                    <!-- /ko -->
                                    <!-- Support email -->
                                    <!-- ko if: settings.supportEmail.length > 0 -->
                                    <div id="storeDetailsSupportEmail">
                                        <span data-bind="html: textStrings.hSupportEmailPrompt"></span>
                                        <a itemprop="email" data-bind="attr: { href: 'mailto:' + settings.supportEmail }, html: settings.supportEmail"></a>
                                    </div>
                                    <!-- /ko -->
                                </div>
                                <div id="storeDetailsAddressMap">
                                    <div id="mapContainer">
                                        <div id="map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</script>