@{
    ViewBag.Title = "Index";
}

<div class="header">
    <h3>MyAndromeda internal emails</h3>
</div>

<p>Last updated: @DateTime.Now.ToShortTimeString()</p>

@(Html.Kendo().Grid<MyAndromeda.SendGridService.Analytics.Models.SummaryResult>()
    .Name("EmailSummary")
    .Columns(cols =>
    {
        cols.Bound(e => e.Date);
        cols.Bound(e => e.Delivered);
        cols.Bound(e => e.Opens);
        cols.Bound(e => e.Clicks);
        cols.Bound(e => e.Blocked);
        cols.Bound(e => e.Bounces);
        cols.Bound(e => e.SpamDrop);
    })
    .Pageable()
    .Filterable()
    .Sortable()
    .ColumnMenu(e => e.Filterable(true).Sortable(true))
    .DataSource(data =>
        {
            data.Ajax()
                .ServerOperation(false)
                .Sort(sort => sort.Add(e => e.Date).Descending())
                .Read(read => read.Action("Data", "EmailSummary"));

        }
    )
)