@model MyAndromeda.Web.Models.ErrorModel
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section Breadcrumb
{
    <ul>
        <li>
            @Html.ActionLink("My Sites", "Index", "Sites")
        </li>
        <li>
            Error
        </li>
    </ul>
}*@

<div class="header">
    <h3>Sorry, an error occurred while processing your request.</h3>
    <a href="#" title="back" class="k-button k-button-back">Back</a>
</div>

<p>@Model.Message</p>

@using (Html.BeginScripts()) { 
    <script type="text/javascript">
        $(function () {
            $(".header").on("click", ".k-button-back", function (e) {
                e.preventDefault();
                history.back();
            });
        });
    </script>
}