@model MyAndromeda.Web.Areas.Acs.Models.AcsApplicationViewModel

<div id="WebHooks">
    <div ng-view></div>
</div>


@using (Html.BeginScripts())
{
    if (false)
    {
        <script src="~/lib/myandromeda/MyAndromeda.App.All.js"></script>
    }

    <script type="text/javascript">
        $(function () {
            MyAndromeda.WebHooks.WebHookService.readRoute = "/api/webhook-setup/read/";
            MyAndromeda.WebHooks.WebHookService.updateRoute = "/api/webhook-setup/update/";
            MyAndromeda.WebHooks.WebHookService.acsApplicationId = "@Model.Id";
            MyAndromeda.WebHooks.Setup("WebHooks");
        });
    </script>
    <script id="start.html" type="text/template">
        <div class="header">
            <h3>Web Hooks</h3>
            <a ng-click="update()" class="k-button">Save</a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="(key, groupSettings) in settings">
                        <div class="header">
                            <h3>
                                {{key}}
                            </h3>
                            <a ng-click="add(key)" class="k-button">Add</a>
                        </div>
                        <div ng-repeat="setting in groupSettings">
                            <div class="row">

                                <div class="col-sm-8">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input class="k-textbox" type="text" ng-model="setting.Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label>Callback</label>
                                            <input class="k-textbox" type="url" ng-model="setting.CallBackUrl" placeholder="callback url" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>
                                            Enabled?
                                            <input style="display:block;" type="checkbox" ng-model="setting.Enabled" />
                                        </label>
                                        
                                    </div>
                                    
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <a class="k-button" ng-click="remove(key, setting)">Remove</a>
                                    </div>
                                </div>


                            </div>

                            @*<div>
                        Request Headers
                        <div>

                        </div>
                    </div>*@
                            
                        </div>
                        <a ng-click="update()" class="k-button">Save</a>
                    </li>
                </ul>
            </div>
        </div>
    </script>
}