<?xml version="1.0"?>
<configuration>
	<configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
        </sectionGroup>
        <!--<section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler, NHibernate.Caches.SysCache" requirePermission="false" />-->
        <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
        
    </sectionGroup>
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="OrderTracking.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
    <!--<syscache>
        <cache region="LongTerm" expiration="3600" priority="5" />
        <cache region="ShortTerm" expiration="900" priority="3" />
    </syscache>-->
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
                <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
                <arg key="configType" value="FILE-WATCH"/>
                <arg key="configFile" value="~/Config/Log4Net.xml"/>
            </factoryAdapter>
        </logging>
    </common>
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
    </parsers>
    <context>
      <resource uri="assembly://OrderTracking.WebService/OrderTracking.WebService.Config/Controllers.xml"/>
      <resource uri="assembly://OrderTracking.Dao.NHibernate/OrderTracking.Dao.NHibernate.Dao/Dao.xml"/>
    </context>
  </spring>
  <databaseSettings>
  
   <!--<add key="db.datasource" value="CLOUDTOWER\SQL2008"/>
 <add key="db.datasource" value="TestServer08\TESTSQL2008"/>-->

    <!-- DEV / TEST
    <add key="db.datasource" value="83.138.144.122"/>
    <add key="db.user" value="OrderTrackingUser"/>
    <add key="db.password" value="OrderTrackingPass"/>
    <add key="db.database" value="OrderTracking_Test"/>
-->
    <!-- LIVE-->
    <add key="db.datasource" value="83.138.144.122"/> 
    <add key="db.user" value="Order7rack1n6U3er"/>
    <add key="db.password" value="Order7rack1n6Pa55"/>
<!--    <add key="db.database" value="OrderTracking"/> -->
    <add key="db.database" value="OrderTracking"/>
    
    
  </databaseSettings>
    <!-- Dev/Test/Live -->
  <appSettings>
    <add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="NHibernateSessionFactory"/>
    <add key="Deployed" value="Dev"/>
  </appSettings>

  <connectionStrings/>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpSoap12"/>
        <add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpHandlers>
      <add verb="*" path="*.asmx" type="Spring.Web.Services.WebServiceHandlerFactory, Spring.Web"/>
    </httpHandlers>
    <httpModules>
      <add name="Spring" type="Spring.Context.Support.WebSupportModule, Spring.Web"/>
      <add name="OpenSessionInView" type="Spring.Data.NHibernate.Support.OpenSessionInViewModule, Spring.Data.NHibernate21"/>
    </httpModules>
    <!-- todo: set to false when live-->
    <compilation debug="true"/>
  </system.web>

  <applicationSettings>
    <OrderTracking.WebService.Properties.Settings>
      <setting name="OrderTracking_WebService_AndroGps_Trackers" serializeAs="String">
        <value>http://gps.andromedagps.com/Trackers.asmx</value>
      </setting>
      <setting name="OrderTracking_WebService_AndroGeoCode_GeoCode"
        serializeAs="String">
        <value>http://geocode.androtechnology.co.uk/GeoCode.asmx</value>
      </setting>
    </OrderTracking.WebService.Properties.Settings>
  </applicationSettings>
</configuration>
