@using MyAndromedaDataAccess.Domain.Marketing;

@model dynamic
<div class="header">
    <h3>History</h3>
    <a class="k-button" href="@Url.Action("Index", "Email")">Back</a>
</div>

@(Html.Kendo()
    .Grid<EmailCampaignTask>()
    .Name("EmailTasks")
    .Filterable()
    .Pageable()
    .Sortable()
    .Scrollable(c => c.Height(400))
    //.ToolBar(tools => tools.Template(@<text><a class="k-button" href="@Url.Action("Index", "Email")">Back</a></text>
    .Columns(cols =>
    {
        cols.Bound(e => e.EmailCampaign.Reference);
        cols.Bound(e=> e.RanAt).Title("Last Run").Width(150);
        cols.Bound(e=> e.Started).Width(100);
        cols.Bound(e => e.Completed).Width(100);
        //cols.Bound(r => r.);
    }).DataSource(data => data.Ajax().ServerOperation(false).Read(r => r.Action("Read", "EmailTasks")))
)