@media only screen and (min-width: 601px)
{
    body
    {
        height: 100%;
    }

    .highlightedButton a, .button a
    {
        padding: 7px 0 7px 0;
    }

    header h1
    {
        float: right;
        font-size: 28pt;
        padding-right: 20px;
    }

    #headerRight
    {
        float: right;
    }

    #headerLeft
    {
        float: left;
        margin: 20px 30px 0 20px;
        height: 140px;
    }

    #headerLeft img
    {
    }

    #logo
    {
        display: none;
    }

    #logo:hover
    {
        display: none;
    }

    #phone
    {
        float: right;
        color: Black;
        margin: 10px 10px 0 0;
        font-size: 16pt;
    }

    #socialMedia
    {
        float: right;
        font-size: 10pt;
        margin: 0;
        padding: 6px 20px 6px 20px;
        background-color: #FFFFFF;
        -moz-border-bottom-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        border-bottom-left-radius: 10px;
        -khtml-border-bottom-left-radius: 10px;
        -moz-border-bottom-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        border-bottom-right-radius: 10px;
        -khtml-border-bottom-right-radius: 10px;
    }

    #socialMediaAddThis
    {
        float: left;
        width: 150px;
    }

    #socialMedia p
    {
        float: left;
        padding: 3px 10px 0 0;
        margin: 0;
        font-size: 14pt;
        color: black;
    }

    #twitter
    {
        position: absolute;
        left: 550px;
        top: 5px;
        height: 26px;
        background: transparent url('/Content/Images/Twitter.png') no-repeat;
    }

    #twitter a
    {
        text-decoration: none;
        font-weight: bold;
        padding: 5px 0 0 35px;
        display: block;
    }

    #facebook
    {
        position: absolute;
        left: 700px;
        top: 5px;
        height: 26px;
        background: transparent url('/Content/Images/Facebook.png') no-repeat;
    }

    #facebook a
    {
        text-decoration: none;
        font-weight: bold;
        padding: 5px 0 0 35px;
        display: block;
    }

    #storeDetailsAddressWrapper
    {
        clear: right;
        float: right;
        height: 40px;
    }

    #storeDetailsAddress
    {
        font-size: 12pt;
        padding: 10px 0 0 0;
        margin: 0;
        color: gray;
    }

    #chooseStoreSelectContainer
    {
        overflow: auto;
        width: 100%;
    }

    #chooseStoreSelectOuter
    {
        float: right;
        right: 50%;
        position: relative;
    }

    #chooseStoreSelectInner
    {
        float: right;
        right: -50%;
        position: relative;
    }

    #chooseStoreSelectInner select
    {
        border: 1px solid #466011;
    }

    #mainMenu
    {
        clear: right;
        float: right;
        overflow: hidden;
        padding: 15px 0 4px 10px;
    }

    .mainMenuButton, .mainMenuButtonSelected, .mainMenuButtonHighlighted
    {
        float: right;
        margin-right: 8px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        -moz-box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
        box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
        overflow: hidden;
    }

    .mainMenuButton a:link, .mainMenuButton a:visited, .mainMenuButton a:active,
    .mainMenuButtonHighlighted a:link, .mainMenuButtonHighlighted a:visited, .mainMenuButtonHighlighted a:active
    {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 7px 5px 7px;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFC21C), to(#D39E00));
        background: -webkit-linear-gradient(top, #FFC21C, #D39E00);
        background: -moz-linear-gradient(top, #FFC21C, #D39E00);
        background: -ms-linear-gradient(top, #FFC21C, #D39E00);
        background: -o-linear-gradient(top, #FFC21C, #D39E00);
        text-decoration: none;
        font-size: 16pt;
        color: #383838;
    }

    .mainMenuButtonSelected a:link, .mainMenuButtonSelected a:visited, .mainMenuButtonSelected a:active
    {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 7px 5px 7px;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFC21C), to(#D39E00));
        background: -webkit-linear-gradient(top, #FFC21C, #D39E00);
        background: -moz-linear-gradient(top, #FFC21C, #D39E00);
        background: -ms-linear-gradient(top, #FFC21C, #D39E00);
        background: -o-linear-gradient(top, #FFC21C, #D39E00);
        text-decoration: none;
        font-size: 16pt;
        color: #383838;
    }

    #mobileMenuSections
    {
        display: none;
    }

    #viewContainer
    {
        position: relative;
        height: 100%;
    }

    .sitesBox, .siteSelectorBox
    {
        color: #493700;
        padding: 0 50px 0 50px;
        position: relative;
        height: 100%;
        width: 924px;
        overflow-y: auto;
        overflow-x: hidden;
        margin-right: 7px;
    }

    #siteSelectorPostcodeTextbox
    {
        position: absolute;
        left: 550px;
        top: 75px;
    }

    #siteSelectorPostcodeTextbox input
    {
        width: 190px;
        height: 35px;
        font-size: 16pt;
        padding: 0 10px 0 10px;
    }

    #siteSelectorPostcodeGoButton
    {
        position: absolute;
        left: 780px;
        top: 70px;
    }

    #siteSelectorPostcodeExample
    {
        position: absolute;
        left: 675px;
        top: 115px;
    }

    #siteSelectorShowSitesButton
    {
        position: absolute;
        left: 560px;
        top: 140px;
    }

    .welcomeHeader
    {
        font-weight: normal;
        text-align: center;
        font-size: 36pt;
        color: #493700;
        padding: 0;
        margin: 10px 0 0 0;
    }

    #postcodeCheckHeader
    {
        display: none;
    }

    .chooseStorePrompt
    {
        margin: 20px 0 20px 0;
    }

    .sitesBox h2
    {
        color: #493700;
    }

    .sitesBox select
    {
        clear: both;
        float: left;
        display: block;
        font-size: 16pt;
        padding: 5px;
    }

    .sitesBox a
    {
        font-size: 16pt;
    }

    .siteButton
    {
        width: 200px;
        height: 125px;
        margin-right: 10px;
    }

    .siteButton a
    {
        padding-top: 15px;
    }

    .waitPrompt
    {
        margin: 50px 0 20px 0;
    }

    .content
    {
        overflow: hidden;
        position: absolute;
        height: auto;
        top: 155px;
        bottom: 30px;
        border: solid 1px black;
        background-color: #EAEAEA;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
    }

    /* HOME VIEW */
    #homeFullOrderDeal
    {
        color:red;
        text-align:center;
    }

    #homeAddressWrapper
    {
        position: absolute;
        left: 0;
        width: 660px;
        min-height: 100%;
        height: 100%;
        overflow: hidden;
    }

    #homeAddressWrapperInner
    {
        position: relative;
        height: 100%;
        width: 100%;
    }

    #homeAddressWrapperInner2
    {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 10px;
        padding: 20px 0 20px 20px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        background-color: white;
        border: 1px solid black;
        color: #493700;
    }

    #homeAddress
    {
        float: left;
        width: 200px;
    }

    #homeCheckPostcodeButton
    {
        display: none;
    }

    #homeAddress h1
    {
        font-size: 16pt;
        padding: 0;
        margin: 0 0 10px 0;
        font-weight: normal;
    }

    #homeAddressLines
    {
        display: block;
    }

    #homeAddressLinesMobile
    {
        display: none;
    }

    #homeAddressMap
    {
        float: left;
    }

    #mapContainer
    {
        width: 400px;
        height: 250px;
        overflow: hidden;
        float: left;
        margin: 0 0 0 10px;
        border: solid 1px gray;
    }

    #map
    {
        width: 100%;
        height: 100%;
    }

    #deliveryTimesAddressWrapper
    {
        overflow: hidden;
        position: relative;
        margin: 10px 0 0 0;
        padding: 0 0 10px 0;
    }

    #homeDeliveryTimes
    {
        float: right;
        width: 250px;
        min-height: 250px;
        padding: 20px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        overflow: hidden;
        background-color: white;
        border: 1px solid black;
        color: #493700;
    }

    #homeDeliveryTimes h1
    {
        font-size: 11pt;
        font-weight: bold;
        padding: 0;
        margin: 0 0 15px 0;
        text-align: center;
    }

    #homeDeliveryTimes h2
    {
        font-size: 11pt;
        font-weight: bold;
        padding: 0;
        margin: 15px 0 0 0;
        text-align: center;
    }

    .homeDeliveryTimesDay
    {
        clear: both;
        overflow: hidden;
        margin-left: 25px;
    }

    .homeDeliveryTimesDayColumn1
    {
        float: left;
        width: 100px;
    }

    .homeDeliveryTimesDayColumn2
    {
        float: left;
    }

    #homeMenuSections
    {
        clear: both;
        padding: 0 0 10px 0;
        overflow: hidden;
    }

    #homeMenuSections h1
    {
        font-size: 20pt;
        font-weight: normal;
        padding: 0;
        margin: 5px 0 10px 0;
        color: #493700;
    }

    #homeMenuSections p
    {
        font-size: 14pt;
        font-weight: normal;
        padding: 0;
        margin: 0 0 10px 0;
        color: #493700;
    }

    .homeMenuSection
    {
        float: left;
        width: 120px;
        height: 65px;
        margin: 0 15px 15px 0;
        position: relative;
    }

    .homeMenuSection a:link, .homeMenuSection a:visited, .homeMenuSection a:active
    {
        font-size: 14pt;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 120px;
        height: 65px;
    }

    #homeMenuButtonsWrapper
    {
        clear: both;
        float: right;
        right: 50%;
        position: relative;
        margin-top: 5px;
    }

    #homeMenuButtons
    {
        overflow: hidden;
        float: right;
        right: -50%;
        position: relative;
    }

    #homeDeliveryMinimumOrder
    {
        margin: 5px 0 0 0;
        text-align: center;
        font-weight: bold;
        font-size: 11pt;
    }

    /* POSTCODE CHECK */
    #postcodeCheck
    {
        background-color: #815126;
        overflow: hidden;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        background: #F4F2F2;
    }

    #postcodeCheckInner
    {
        padding: 10px;
    }

    #postcodeCheckTop
    {
        margin: 10px 0 0 0;
    }

    #postcodeCheckTop input
    {
        float: left;
        margin: 0 0 0 40px;
        width: 100px;
        height: 30px;
        font-size: 16pt;
        text-align: center;
    }

    #postcodeCheckButton
    {
        float: left;
        margin: 0 0 0 15px;
        width: 180px;
    }

    #postcodeCheckButton a
    {
    }

    #postcodeCheck h1
    {
        color: #815126;
        text-align: center;
        font-weight: normal;
        font-size: 15pt;
        padding: 0;
        margin: 0 0 5px 0;
    }

    #postcodeCheck p
    {
        margin: 5px 0 0 0;
        padding: 0;
        text-align: center;
    }

    #postcodeCheckResult
    {
        clear: both;
        padding-top: 5px;
    }

    #postcodeCheckFail
    {
        padding-top: 5px;
        color: red;
    }

    #postcodeCheckOk
    {
        padding-top: 5px;
        color: #4CFF00;
    }

    #postcodeCheckChangeStoreButton
    {
        position: absolute;
        bottom: 10px;
        width: 150px;
        margin: 0 0 0 10px;
    }

    #postcodeCheckShowMenuButton
    {
        position: absolute;
        bottom: 10px;
        width: 200px;
        margin: 0 0 0 175px;
    }

    /* Login/register */
    #postcodeCheck
    {
        background-color: #815126;
        overflow: hidden;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        background: #F4F2F2;
        /* Safari 4-5, Chrome 1-9 */
        /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C6955B), to(#F4F2F2));*/
        /* Safari 5.1, Chrome 10+ */
        /*background: -webkit-linear-gradient(left, #C6955B, #F4F2F2);*/
        /* Firefox 3.6+ */
        /*background: -moz-linear-gradient(left, #C6955B, #815126);*/
        /* IE 10 */
        /*background: -ms-linear-gradient(left, #C6955B, #815126);*/
        /* Opera 11.10+ */
        /*background: -o-linear-gradient(left, #C6955B, #815126);*/
    }

    /* IMAGE */
    #imagePopup
    {
        position: absolute;
        top: 0;
        top: 50%;
        left: 50%;
        margin: 0 0 0 0;
        background-color: white;
        border: solid 1px gray;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
        -moz-box-shadow: 0 0 10px rgba(68,68,68,0.6);
        -webkit-box-shadow: 0 0 10px rgba(68,68,68,0.6);
        box-shadow: 0 0 10px rgba(68,68,68,0.6);
        overflow: hidden;
        z-index: 1004;
    }

    #imageInner p
    {
        padding: 0;
        margin: 0;
        font-size: 10pt;
        color: gray;
        text-align: center;
    }

    /* Terms and conditions */

    #tandcPopupBox
    {
        background-color: #EAEAEA;
        overflow: hidden;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
    }

    #tandcInner
    {
        padding: 10px;
    }

    #tandcInner h1
    {
        color: black;
        padding: 0;
        margin: 0;
        font-weight: normal;
        text-align: center;
    }

    #tandcText
    {
        margin: 10px 10px 0 10px;
        width: 640px;
        height: 250px;
        overflow-y: scroll;
        background-color: white;
        border: solid 1px gray;
        padding: 10px;
    }

    #tandcText iframe
    {
        border: none;
        width: 100%;
        height: 100%;
    }

    #tandcOkButton
    {
        position: absolute;
        bottom: 10px;
        width: 75px;
        margin: 10px 0 0 313px;
    }

    .menuPage
    {
        margin: 0;
        overflow: hidden;
        position: relative;
        height: 100%;
    }

    #yourOrderContainer
    {
        overflow: hidden;
    }

    #orderItemsHeader
    {
        margin-top: 5px;
    }

    #orderItemsHeader h2
    {
        font-size: 12pt;
    }

    #cartWrapper
    {
        border-top: 1px solid #ffc000;
        background: #EAEAEA;
    }

    #cartItems, #offlineCart
    {
        padding: 0 0 15px 0;
        overflow: hidden;
    }

    #emptyBasket
    {
        padding: 5px;
    }

    #emptyBasket h2
    {
        font-size: 12pt;
    }

    #cartHelp
    {
        text-align: center;
        margin-top: 10px;
    }

    #deliveryOrCollectionText
    {
        font-size: 14pt;
        margin-left: 20px;
    }

    #cartLineItems
    {
        border-bottom: solid 1px #ffc000;
        padding: 10px 5px 0 5px;
    }

    #deliveryOrCollection
    {
        text-align: left;
        font-size: 14pt;
        margin: 0 0 10px 20px;
    }

    #deliveryOrCollection input
    {
        margin-right: 20px;
    }

    #cartTitle
    {
        padding: 10px;
        text-align: center;
    }

    #cartTitle h1
    {
        color: #36490D;
        font-size: 13pt;
        margin: 0;
        padding: 0;
        font-weight: bold;
    }

    #cartSubTotalWrapper
    {
        clear:both;
    }

    #cartSubTotalWrapper span
    {
        font-size: 10pt;
    }

    #cartDiscountWrapper
    {
        clear:both;
    }

    #cartDiscountWrapper span
    {
        font-size: 10pt;
    }

    #optionsContainer
    {
        margin: 12px 0 0 0;
        min-height: 50px;
        border: solid 1px #E4E4E4;
        background-color: #F4F2F2;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
    }

    #optionsTitle
    {
        padding: 0 5px 0 5px;
        background-color: #1E2F60;
        -moz-border-top-left-radius: 10px;
        -webkit-border-top-left-radius: 10px;
        border-top-left-radius: 10px;
        -khtml-border-top-left-radius: 10px;
        -moz-border-top-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        border-top-right-radius: 10px;
        -khtml-border-top-right-radius: 10px;
        /* Safari 4-5, Chrome 1-9 */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C6955B), to(#815126));
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(left, #C6955B, #815126);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(left, #C6955B, #815126);
        /* IE 10 */
        background: -ms-linear-gradient(left, #C6955B, #815126);
        /* Opera 11.10+ */
        background: -o-linear-gradient(left, #C6955B, #815126);
        color: white;
        font-size: 16pt;
        padding: 10px;
        text-align: center;
    }

    #options
    {
        font-size: 10pt;
    }

    #clearOrderButton
    {
        float: left;
        width: 100px;
        margin-left: 10px;
    }

    #clearOrderButton a
    {
        font-size: 11pt;
    }

    #checkoutButton
    {
        float: left;
        width: 100px;
        margin-left: 7px;
    }

    #checkoutButton a
    {
        font-size: 11pt;
    }

    .checkoutPage
    {
        height: auto;
        position: absolute;
        top: 155px;
        margin: 0 0 0 -512px;
        left: 50%;
        width: 762px;
        bottom: 30px;
        border: solid 1px black;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        background-color: #EAEAEA;
    }

    .checkoutPage section
    {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
        width: 750px;
    }

    .checkoutPage h1
    {
        text-align: center;
        font-size: 16pt;
        padding: 0;
        margin: 10px 0 10px 0;
        font-weight: normal;
    }

    #checkoutSectionsContainer
    {
        position: relative;
        height: 500px;
        overflow: hidden;
    }

    .checkoutSection
    {
        padding: 10px 20px 10px 10px;
        position: absolute;
        overflow: hidden;
        width: 600px;
    }

    .checkoutAddressColumn1 span
    {
        font-size: 9pt;
        color: gray;
    }

    .orderNotesColumn1 span
    {
        font-size: 9pt;
        color: gray;
    }

    #rememberAddressWrapper
    {
        margin-top: 5px;
    }

    .checkoutButtons .button
    {
    }

    .backButton
    {
        width: 100px;
        float: left;
    }

    .nextButton
    {
        width: 100px;
        float: right;
        margin-right: 20px;
    }

    #paymentPayLine
    {
        width: 310px;
        margin: 0 auto;
        overflow: hidden;
    }

    #paymentTandCCheckbox
    {
        width: 375px;
        margin: 0 auto;
    }

    #mercuryPaymentContainer
    {
        text-align: center;
        width: 647px;
        height: 500px;
    }

    #mercuryPaymentIFrame
    {
        width: 647px;
        height: 500px;
        text-align: center;
        border: 0;
    }

    #dataCashPaymentContainer
    {
        text-align: center;
        width: 647px;
        height: 500px;
    }

    #dataCashPaymentIFrame
    {
        width: 647px;
        height: 700px;
        text-align: center;
        border: 0;
    }

    #mercanetPaymentContainer
    {
        text-align: center;
        width: 647px;
        height: 300px;
    }

    #mercanetPaymentIFrame
    {
        width: 300px;
        height: 700px;
        text-align: center;
        border: 0;
    }

    #storeDetailsContainer
    {
        margin: 12px 0 0 0;
        min-height: 50px;
        border: solid 1px #E4E4E4;
        background-color: #F4F2F2;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
    }

    #storeDetailsTitle
    {
        padding: 0 5px 0 5px;
        background-color: #1E2F60;
        -moz-border-top-left-radius: 10px;
        -webkit-border-top-left-radius: 10px;
        border-top-left-radius: 10px;
        -khtml-border-top-left-radius: 10px;
        -moz-border-top-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        border-top-right-radius: 10px;
        -khtml-border-top-right-radius: 10px;
        /* Safari 4-5, Chrome 1-9 */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C6955B), to(#815126));
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(left, #C6955B, #815126);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(left, #C6955B, #815126);
        /* IE 10 */
        background: -ms-linear-gradient(left, #C6955B, #815126);
        /* Opera 11.10+ */
        background: -o-linear-gradient(left, #C6955B, #815126);
        color: white;
        font-size: 18pt;
        padding: 10px;
        text-align: center;
    }

    #storeDetails
    {
        font-size: 13pt;
    }

    .storeDetailsDayColumn1
    {
        font-style: italic;
    }

    .menu
    {
        margin: 12px 0 0 0;
        border: solid 1px #E4E4E4;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
    }

    #menuSection
    {
        height: 100%;
    }

    #sectionHeaders
    {
    }

    #sectionHeadersTop h1
    {
        color: #36490D;
        font-size: 12pt;
        margin: 0;
        padding: 10px 0 10px 5px;
        font-weight: bold;
    }

    .sectionHeader
    {
        margin: 5px 0 5px 0;
        clear: both;
        overflow: hidden;
        width: 125px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        -moz-box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
        box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
        background-color: #ffc000;
    }

    .selectedSectionHeader
    {
        margin: 5px 0 5px 0;
        clear: both;
        overflow: hidden;
        width: 125px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        -moz-box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
        -webkit-box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
        box-shadow: 0px 2px 7px rgba(0,0,0,0.25);
        background-color: #ffc000;
    }

    .sectionHeader a:link, .sectionHeader a:visited, .sectionHeader a:active
    {
        display: block;
        width: 100%;
        height: 100%;
        color: #383838;
        font-size: 15pt;
        text-decoration: none;
        padding: 2px 7px 2px 7px;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFC21C), to(#D39E00));
        background: -webkit-linear-gradient(top, #FFC21C, #D39E00);
        background: -moz-linear-gradient(top, #FFC21C, #D39E00);
        background: -ms-linear-gradient(top, #FFC21C, #D39E00);
        background: -o-linear-gradient(top, #FFC21C, #D39E00);
    }

    .selectedSectionHeader a:link, .selectedSectionHeader a:visited, .selectedSectionHeader a:active
    {
        display: block;
        width: 100%;
        height: 100%;
        color: #E6001D;
        font-size: 15pt;
        text-decoration: none;
        padding: 2px 7px 2px 7px;
        background: -webkit-gradient(linear, left top, left bottom, from(#FFC21C), to(#D39E00));
        background: -webkit-linear-gradient(top, #FFC21C, #D39E00);
        background: -moz-linear-gradient(top, #FFC21C, #D39E00);
        background: -ms-linear-gradient(top, #FFC21C, #D39E00);
        background: -o-linear-gradient(top, #FFC21C, #D39E00);
    }

    .sectionHeader h1
    {
        background-color: transparent;
        text-align: center;
        padding: 0;
        margin: 20px;
    }

    #sectionsWrapper
    {
        overflow: hidden;
        position: absolute;
        height: auto;
        top: 155px;
        bottom: 30px;
        left: 145px;
        right: 260px;
        border: solid 1px black;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        background-color: white;
        margin-bottom: 5px;
    }

    #sections
    {
        position: relative;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #sectionsContainer
    {
        margin-bottom: 50px;
    }

    .section
    {
    }

    .checkoutPage h1
    {
        color: #36490D;
        font-size: 26pt;
        margin: 0;
        padding: 5px;
        font-weight: normal;
        text-align: center;
    }

    #checkoutPaymentContainer
    {
        height: 150px;
        padding: 0 20px 20px 20px;
        overflow: hidden;
    }

    #orderAccepted
    {
        overflow: hidden;
    }

    #orderAcceptedOptions
    {
        clear: both;
        width: 924px;
    }

    #orderAcceptedOptions .button
    {
        width: 220px;
        margin-left: 360px;
    }

    #orderAcceptedOptions .button a
    {
        padding: 5px 0 5px 0;
        width: 220px;
    }

    #marketingSection
    {
        margin-top: 10px;
    }

    #marketingSection input
    {
        clear: left;
        float: left;
        width: 20px;
        text-align: right;
        margin-top: 5px;
    }

    #marketingSection label
    {
        float: left;
    }

    #rememberSection
    {
    }

    #rememberSection input
    {
        clear: left;
        float: left;
        width: 20px;
        text-align: right;
        margin-top: 5px;
    }

    #rememberAddressWrapper label
    {
        font-size: 10pt;
    }

    .sectionItems
    {
    }

    .itemRow
    {
        clear: both;
        margin: 10px 35px 10px 10px;
        padding: 10px;
        overflow: hidden;
        border: solid 1px #ffc000;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        background-color: #EAEAEA;
    }

    .itemRow select
    {
        height: 30px;
        font-size: 12pt;
    }

    .itemImage
    {
        float: left;
        position: relative;
    }

    .itemImageOverlay
    {
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: url('/Content/Images/zoom.png') 0 0, move;
        cursor: url('/Content/Images/zoom.cur'), -moz-zoom-in;
    }

    .itemDetails, .itemDetailsWithImage
    {
        overflow: hidden;
        padding-left: 10px;
    }

    .nameDescriptionContainer
    {
        float: left;
        width: 310px;
        color: black;
    }

    .itemName
    {
        font-size: 16pt;
        color: #383838;
        padding: 0;
        margin: 0;
        font-weight: bold;
    }

    .itemDescription
    {
        font-size: 12pt;
        margin-bottom: 10px;
    }

    .descriptionContainer
    {
        overflow: hidden;
    }

    .itemImage img
    {
        float: left;
        margin: 0 5px 0 0;
        cursor: url('/Content/Images/zoom.png') 0 0, move;
        cursor: url('/Content/Images/zoom.cur'), -moz-zoom-in;
    }

    .notAvailable
    {
        font-size: 10pt;
    }

    .priceCategoryContainer
    {
        float: right;
    }

    .quantity
    {
        float: right;
        margin-left: 10px;
    }

    .quantity select
    {
        float: right;
        height: 30px;
        margin-right: 0;
    }

    .itemPrice
    {
        float: right;
        margin: 0;
        padding: 0;
        font-weight: normal;
        color: #0F2D69;
        min-width: 120px;
        text-align: right;
        font-size: 28pt;
    }

    .categoryQuantityContainer
    {
        overflow: hidden;
    }

    .category1
    {
        float: right;
    }

    .category2
    {
        float: right;
    }

    .priceAddContainer
    {
        margin-top: 5px;
    }

    .addItemButton
    {
        float: right;
        margin-top: 5px;
    }

    .addItemButton a
    {
        padding: 7px 0 7px 0;
    }

    .dealItem
    {
        border: solid 1px #ffc000;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        margin: 10px 35px 10px 10px;
        padding: 10px;
        background-color: #EAEAEA;
        color: black;
        overflow: hidden;
    }

    .dealOptions
    {
        float: right;
        margin: 5px 0 0 5px;
    }

    .dealOptions .highlightedButton
    {
        width: 135px;
    }

    #popupBody
    {
        overflow-x: hidden;
        padding-bottom: 20px;
        height: 100%;
    }

    #popupDealBoxBodyContainer
    {
        padding: 0 0 0 10px;
    }

    .popupDealCustomize
    {
        width: 160px;
        float: left;
        min-height: 1px;
    }

    .popupDealLineDetails
    {
        float: left;
    }

    .dealPopupItemNo
    {
        float: left;
        font-weight: bold;
    }

    .popupDealLine
    {
        font-size: 16pt;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .popupDealLineItem
    {
        padding-right: 20px;
    }

    .popupDealLine select
    {
        height: 35px;
        font-size: 16pt;
        padding: 0;
        margin: 0;
    }

    #mobileHeader
    {
        display: none;
    }

    #mobileMenu
    {
        display: none;
    }

    #mobileCheckoutMenu
    {
        display: none;
    }

    .popupBoxBackgroundVisible
    {
        display: block;
    }

    .popupDealCustomizeItemButton
    {
        width: 100px;
    }

    .popupDealCustomizeItemButton a
    {
    }

    .popupBoxBackgroundHidden
    {
        display: none;
    }

    .popupBoxBackgroundHidden, .popupBoxBackgroundVisible
    {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.5);
    }

    .popupItemDetails
    {
        padding: 10px 20px 0 20px;
        float: left;
        color: white;
    }

    .dealPopupBoxBackgroundHidden
    {
        display: none;
    }

    .dealPopupBoxBackgroundVisible
    {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.5);
    }

    .popupItemDetails h2
    {
        padding: 0;
        margin: 0;
        color: #C7C6C4;
        font-weight: bold;
    }

    #popupName
    {
        font-size: 18pt;
    }

    #popupOptions
    {
    }

    .popupBoxHeaderContainer
    {
        padding-bottom: 10px;
        overflow: hidden;
        background-color: black;
    }

    .popupBoxHeaderContainer h2, .popupBoxHeaderContainer a
    {
        font-weight: bold;
    }

    #popupOptionsLeft
    {
        overflow: hidden;
        text-align: center;
        margin: 15px 0 0 0;
    }

    #popupOptionsTopQuantity
    {
        float: right;
    }

    #popupQuantity
    {
        font-weight: normal;
    }

    #popupQuantityHeader
    {
        margin-bottom: 5px;
    }

    #popupQuantity label
    {
        color: white;
    }

    #popupQuantity select
    {
        font-size: 16pt;
    }

    #popupOptionsTopPrice
    {
        float: right;
    }

    #popupPriceHeader
    {
        color: white;
    }

    #popupPrice
    {
        clear: both;
        float: right;
        font-weight: normal;
        font-size: 26pt;
        color: white;
        text-align: right;
        margin: 0 15px 10px 20px;
        padding: 0;
        line-height: 26pt;
    }

    #popupCatContainer
    {
        float: right;
        margin: 0 20px 0 0;
        height: 100%;
    }

    #popupCatContainer span
    {
        color: white;
    }

    #popupCatContainer select
    {
        font-size: 16pt;
    }

    #popupCatHeader
    {
        float: right;
        color: white;
        padding: 0;
        margin: 0;
    }

    #popupCategory1
    {
        clear: both;
        float: right;
        font-weight: normal;
        overflow: hidden;
    }

    #popupCategory2
    {
        clear: both;
        float: right;
        font-weight: normal;
        overflow: hidden;
    }

    #popupOptionsRight
    {
        float: right;
        margin: 0;
    }

    #popupCancelButton
    {
        clear: both;
        width: 150px;
        margin: 0 5px 0 0;
    }

    #popupDealOptions
    {
        float: right;
        background-color: black;
        position: relative;
        padding: 15px 0 8000px 10px; /* This little trick simulates height 100% */
        margin: 0 0 -8000px 0;
        overflow: hidden;
        text-align: center;
    }

    #popupAddToCartButton
    {
        clear: both;
        width: 150px;
        margin: 0 10px 5px 0;
        padding: 0;
    }

    #popupRemoveFromCartButton
    {
        clear: both;
        width: 190px;
        margin: 0 5px 0 0;
    }

    #popupUpdateItemButton
    {
        clear: both;
        width: 190px;
        margin: 0 15px 5px 0;
    }

    #popupAddToDealButton
    {
        clear: both;
        width: 125px;
        margin: 0 15px 5px 5px;
    }

    #popupCancelDealButton
    {
        clear: both;
        width: 125px;
        margin: 0 15px 0 5px;
    }

    #dealPopupAddToCartButton
    {
        clear: both;
        width: 150px;
        margin: 0 10px 0 0;
    }

    #dealPopupUpdateCartButton
    {
        clear: both;
        width: 190px;
        margin: 0 10px 0 0;
    }

    #dealPopupRemoveFromCartButton
    {
        clear: both;
        width: 190px;
        margin: 5px 10px 0 0;
    }

    #dealPopupCancelButton
    {
        clear: both;
        width: 150px;
        margin: 5px 10px 0 0;
    }

    .popupOptions select
    {
        height: 35px;
        font-size: 12pt;
        padding: 0 0 0 5px;
        margin: 0;
    }

    #popupBody
    {
        padding: 0 0 0 20px;
    }

    #popupBody h2
    {
        padding: 5px 0 0 0;
        margin: 10px 0 10px 0;
        font-size: 16pt;
        font-weight: normal;
        color: #EFB300;
    }

    #popupFreeToppings
    {
        text-align: center;
        color: red;
    }

    .errorBox
    {
        background-color: #815126;
        overflow: hidden;
        padding: 10px 50px 30px 50px;
        margin: 20px 0 0 0;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -khtml-border-radius: 10px;
        /* Safari 4-5, Chrome 1-9 */
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C6955B), to(#815126));
        /* Safari 5.1, Chrome 10+ */
        background: -webkit-linear-gradient(left, #C6955B, #815126);
        /* Firefox 3.6+ */
        background: -moz-linear-gradient(left, #C6955B, #815126);
        /* IE 10 */
        background: -ms-linear-gradient(left, #C6955B, #815126);
        /* Opera 11.10+ */
        background: -o-linear-gradient(left, #C6955B, #815126);
    }

    .errorBox a
    {
        font-size: 20pt;
    }

    .errorMessage
    {
        text-align: center;
        margin: 20px 0 20px 0;
        font-weight: normal;
    }

    .errorOptions
    {
        width: 160px;
        margin: 0 auto;
    }

    .errorBox h2
    {
        color: white;
    }

    .menuSectionHasFocus, .menuSectionDoesntHaveFocus
    {
        display: block;
    }

    .headFootNoPopup, .headFootPopup
    {
        display: block;
    }

    #payAtDoorButton
    {
        width: 150px;
        margin-right: 5px;
    }

    #payNowButton
    {
        width: 150px;
        margin-left: 5px;
    }

    .sectionTitle h1
    {
        color: #36490D;
        font-size: 26pt;
        margin: 0;
        padding: 5px;
        font-weight: normal;
        text-align: center;
    }

    /* Login/register popup */
    #loginRegister
    {
        position: absolute;
        top: 0;
        left: 50%;
        top: 50%;
        margin: -200px 0 0 -400px;
        background-color: white;
        border: solid 1px gray;
        height: 260px;
        width: 800px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        -khtml-border-radius: 10px; /* for old Konqueror browsers */
        -moz-box-shadow: 0 0 10px rgba(68,68,68,0.6);
        -webkit-box-shadow: 0 0 10px rgba(68,68,68,0.6);
        box-shadow: 0 0 10px rgba(68,68,68,0.6);
        overflow: hidden;
        z-index: 1004;
    }

    #loginRegisterInner
    {
    }

    #loginRegisterInner h1
    {
        padding: 0;
        margin: 0;
        text-align: center;
        padding-top: 10px;
    }

    #signIn
    {
        padding: 0 10px 10px 10px;
    }

    #loginUsingFacebook
    {
        float: left;
        width: 380px;
        overflow: hidden;
    }

    #loginUsingFacebook p
    {
        color: gray;
        text-align: center;
        padding: 0 10px 0 10px;
    }

    #facebookLoginButtonOuter
    {
        width: 100%;
        margin-top: 20px;
        clear: left;
        text-align: center;
    }

    #facebookLoginButton
    {
        float: none;
        width: 200px;
        margin: 0 auto;
        border-radius: 5px;
    }

    #facebookLoginButton a
    {
        color: white;
        background: -webkit-linear-gradient(top, #3D5C9F, #6A84C1);
    }

    #facebookLoginDivider
    {
        float: left;
        overflow: hidden;
    }

    #facebookLoginDividerTop
    {
        margin: 15px 0 5px 10px;
        border-left: 1px solid gray;
        width: 1px;
        height: 55px;
    }

    #facebookLoginDividerBottom
    {
        margin: 5px 0 10px 10px;
        border-left: 1px solid gray;
        width: 1px;
        height: 55px;
    }

    #loginSection
    {
        float: left;
        width: 349px;
        margin: 15px 0 0 20px;
        overflow: hidden;
    }

    #loginSectionInner
    {
        overflow: hidden;
    }

    #loginSectionInner p
    {
        padding: 0;
        margin: 0;
        color: gray;
        margin-bottom: 10px;
        text-align: center;
    }

    .loginFormPrompt
    {
        float: left;
        width: 150px;
        text-align: right;
        margin-right: 10px;
    }

    .loginFormInput
    {
        float: left;
    }

    #loginButtonContainer
    {
        width: 100%;
        margin-top: 10px;
        clear: left;
        text-align: center;
        position: relative;
    }

    #loginButton
    {
        float: none;
        width: 80px;
        margin: 0 auto;
    }

    #loginError
    {
        position: absolute;
        color: red;
        width: 120px;
        top: 0;
        right: 0;
        font-size: 10pt;
    }

    #registerContainer
    {
        clear: both;
        padding-top: 45px;
        overflow: hidden;
        background-color: #EFEFEF;
        height: 218px;
    }

    #createAnAccount h2
    {
        margin: 0 0 10px 0;
        overflow: hidden;
        text-align: center;
    }

    .registerSection
    {
        overflow: hidden;
        width: 380px;
        float: left;
    }

    #registerMarketing
    {
        clear: left;
        text-align: center;
        margin-top: 8px;
    }

    #registerErrorMessage
    {
        clear: left;
        text-align: center;
        color: red;
    }

    #loginRegisterButtons
    {
        position: absolute;
        width: 170px;
        bottom: 10px;
        left: 50%;
        margin-left: -80px;
        z-index: 10;
    }

    #signUpButton
    {
        float: left;
        width: 80px;
        margin-right: 5px;
    }

    #closeLoginRegisterPopupButton
    {
        float: left;
        width: 80px;
        margin-left: 5px;
    }

    #sendingOrderToStore
    {
        text-align: center;
        margin-bottom: 30px;
    }

    /* Wait for order page */
    #waitForOrderStatus
    {
        text-align: center;
    }

    #waitForOrderButton
    {
        margin-left: 380px;
        width: 150px;
    }

    .disabled
    {
        pointer-events: none;
    }
}
