<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"></section>-->
    
    <!--<section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EposTabServiceSoap" maxReceivedMessageSize="13107200">
          <security mode="Transport" />
        </binding>
        <binding name="EposTabServiceSoap1" />
        <binding name="WebOrdersAPISoap" maxReceivedMessageSize="13107200">
          <security mode="Transport" />
        </binding>
        <binding name="WebOrdersAPISoap1" maxReceivedMessageSize="13107200" />
      </basicHttpBinding>
      <customBinding>
        <binding name="EposTabServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="WebOrdersAPISoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://server1.stocklinkonline.com/stocknetapi/epostabservice.asmx" binding="basicHttpBinding" bindingConfiguration="EposTabServiceSoap" contract="IbsServices.EposTabServiceSoap" name="EposTabServiceSoap" />
      <endpoint address="https://server1.stocklinkonline.com/stocknetapi/WebOrdersAPI.asmx" binding="basicHttpBinding" bindingConfiguration="WebOrdersAPISoap" contract="IbsWebOrderApi.WebOrdersAPISoap" name="WebOrdersAPISoap" />
    </client>
  </system.serviceModel>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="true" internalLogFile="${basedir}App_Data\Logs\nlog.txt" internalLogLevel="Debug" internalLogToConsole="true">

    <variable name="logDirectory" value="${basedir}App_Data\Logs\${shortdate}" />

    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

      <target name="f" xsi:type="File" fileName="${logDirectory}/${logger}.txt" layout="${longdate} ${callsite} ${level} --- ${message}" />
      <target name="debugFile" xsi:type="File" fileName="${logDirectory}/debug.txt" layout="${longdate} ${callsite} ${level} --- ${message}" />
      <target name="errorFile" xsi:type="File" fileName="${logDirectory}/error.txt" layout="${longdate} ${callsite} ${level} --- ${message}" />
      <target name="webHooks" xsi:type="File" fileName="${logDirectory}/webhooks.txt" layout="${longdate} ${callsite} ${level} --- ${message}" />
      <target name="webapiLogs" xsi:type="File" fileName="${logDirectory}/webapi.txt" layout="${longdate} ${callsite} ${level} --- ${message}" />
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="console,debugFile" levels="Debug,Warn,Error,Fatal" />
      <logger name="*" minlevel="Error" writeTo="errorFile" levels="Error,Fatal" />

      <logger name="MyAndromeda.Web.Handlers.*" writeTo="webapiLogs" levels="Info,Debug,Warn,Error,Fatal" />
      <logger name="MyAndromeda.Web.Controllers.Api.*" writeTo="f" levels="Info,Debug,Warn,Error,Fatal" />
      <logger name="MyAndromeda.Services.Bringg.*" writeTo="f" levels="Info,Debug,Warn,Error,Fatal" />
      <logger name="MyAndromeda.Services.Ibs.Implementation.*" writeTo="f" level="Info" />
      <logger name="MyAndromeda.Services.WebHooks.Handlers" writeTo="f" level="Info" />
                    
    </rules>

  </nlog>
  <connectionStrings>
    <!-- Test 1 Cloud connection strings -->
    
    <add name="AndroAdminEntities" connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroAdminDbContext" connectionString="metadata=res://*/Model.AndroAdmin.DbContext.csdl|res://*/Model.AndroAdmin.DbContext.ssdl|res://*/Model.AndroAdmin.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroAdminUsersDataContext" connectionString="metadata=res://*/Model.AndroAdminUsers.DbContext.csdl|res://*/Model.AndroAdminUsers.DbContext.ssdl|res://*/Model.AndroAdminUsers.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="MyAndromedaDbContext" connectionString="metadata=res://*/Model.MyAndromeda.DbContext.csdl|res://*/Model.MyAndromeda.DbContext.ssdl|res://*/Model.MyAndromeda.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net,1433;initial catalog=test.MyAndromeda;persist security info=True;user id=andromeda;password=h6ruh7kS2#4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="AcsOrderDbContext" connectionString="metadata=res://*/Model.AcsOrders.csdl|res://*/Model.AcsOrders.ssdl|res://*/Model.AcsOrders.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;user id=Andromeda;password=uQW9gdZMM;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomerWarehouseDbContext" connectionString="metadata=res://*/Model.CustomerDataWarehouse.DbContext.csdl|res://*/Model.CustomerDataWarehouse.DbContext.ssdl|res://*/Model.CustomerDataWarehouse.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="DailyReportingDbContext" connectionString="metadata=res://*/Model.DailyReporting.csdl|res://*/Model.DailyReporting.ssdl|res://*/Model.DailyReporting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=DailyReporting;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DailyReportingCodeFirstDbContext" providerName="System.Data.SqlClient" connectionString="data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=DailyReporting;user id=MyAndromedaWeb@jkrhpwclrb;password=33wTKvh4nWafXtW;MultipleActiveResultSets=True;App=EntityFramework;" />
    <add name="AttachMenuDbContext" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Menus\{0}\menu.mdb;Jet OLEDB:Database Password=zangaboo" providerName="System.Data.SqlClient" />
    
    
    <add name="DataWarehouseDbContext" connectionString="metadata=res://*/Models.DataWarehouseDataContext.csdl|res://*/Models.DataWarehouseDataContext.ssdl|res://*/Models.DataWarehouseDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=Andromeda;password=uQW9gdZMM;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=ACSUser;password=Pass123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=myandromeda;AccountKey=dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=myandromeda;AccountKey=dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag==" />
    
    
    <!-- STAGING -->
    
    <!--<add name="AndroAdminEntities" connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging3.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroAdminDbContext" connectionString="metadata=res://*/Model.AndroAdmin.DbContext.csdl|res://*/Model.AndroAdmin.DbContext.ssdl|res://*/Model.AndroAdmin.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging3.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroAdminUsersDataContext" connectionString="metadata=res://*/Model.AndroAdminUsers.DbContext.csdl|res://*/Model.AndroAdminUsers.DbContext.ssdl|res://*/Model.AndroAdminUsers.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging3.androcloudservices.com;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyAndromedaDbContext" connectionString="metadata=res://*/Model.MyAndromeda.DbContext.csdl|res://*/Model.MyAndromeda.DbContext.ssdl|res://*/Model.MyAndromeda.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net,1433;initial catalog=staging.MyAndromeda;persist security info=True;user id=andromeda;password=h6ruh7kS2#4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    --><!-- these have been merging --><!--
    
    
    <add name="AcsOrderDbContext" connectionString="metadata=res://*/Model.AcsOrders.csdl|res://*/Model.AcsOrders.ssdl|res://*/Model.AcsOrders.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging3.androcloudservices.com;initial catalog=DataWarehouse;user id=Andromeda;password=uQW9gdZMM;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomerWarehouseDbContext" connectionString="metadata=res://*/Model.CustomerDataWarehouse.DbContext.csdl|res://*/Model.CustomerDataWarehouse.DbContext.ssdl|res://*/Model.CustomerDataWarehouse.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging3.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="DataWarehouseDbContext" connectionString="metadata=res://*/Models.DataWarehouseDataContext.csdl|res://*/Models.DataWarehouseDataContext.ssdl|res://*/Models.DataWarehouseDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging3.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=Andromeda;password=uQW9gdZMM;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging3.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=ACSUser;password=Pass123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <add name="DailyReportingDbContext" connectionString="metadata=res://*/Model.DailyReporting.csdl|res://*/Model.DailyReporting.ssdl|res://*/Model.DailyReporting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=DailyReporting;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DailyReportingCodeFirstDbContext" providerName="System.Data.SqlClient" connectionString="data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=DailyReporting;user id=MyAndromedaWeb@jkrhpwclrb;password=33wTKvh4nWafXtW;MultipleActiveResultSets=True;App=EntityFramework;" />
    <add name="AttachMenuDbContext" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Menus\{0}\menu.mdb;Jet OLEDB:Database Password=zangaboo" providerName="System.Data.SqlClient" />-->



    <!-- GPRS Live -->
    <!--<add name="AndroAdminEntities"
         connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cloud3.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroAdminDbContext"
         connectionString="metadata=res://*/Model.AndroAdmin.DbContext.csdl|res://*/Model.AndroAdmin.DbContext.ssdl|res://*/Model.AndroAdmin.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cloud3.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroAdminUsersDataContext"
         connectionString="metadata=res://*/Model.AndroAdminUsers.DbContext.csdl|res://*/Model.AndroAdminUsers.DbContext.ssdl|res://*/Model.AndroAdminUsers.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cloud3.androcloudservices.com;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyAndromedaDbContext"
         connectionString="metadata=res://*/Model.MyAndromeda.DbContext.csdl|res://*/Model.MyAndromeda.DbContext.ssdl|res://*/Model.MyAndromeda.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net,1433;initial catalog=GPRS.MyAndromeda;persist security info=True;user id=andromeda;password=h6ruh7kS2#4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- these have been merging -->
    <!--<add name="AcsOrderDbContext" connectionString="metadata=res://*/Model.AcsOrders.csdl|res://*/Model.AcsOrders.ssdl|res://*/Model.AcsOrders.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cloud3.androcloudservices.com;initial catalog=DataWarehouse;user id=Andromeda;password=uQW9gdZMM;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomerWarehouseDbContext" connectionString="metadata=res://*/Model.CustomerDataWarehouse.DbContext.csdl|res://*/Model.CustomerDataWarehouse.DbContext.ssdl|res://*/Model.CustomerDataWarehouse.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cloud3.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseEntities" connectionString="metadata=res://MyAndromeda.Data.DataWarehouse/Models.DataWarehouseDataContext.csdl|res://MyAndromeda.Data.DataWarehouse/Models.DataWarehouseDataContext.ssdl|res://MyAndromeda.Data.DataWarehouse/Models.DataWarehouseDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cloud3.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <add name="DailyReportingDbContext" connectionString="metadata=res://*/Model.DailyReporting.csdl|res://*/Model.DailyReporting.ssdl|res://*/Model.DailyReporting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=DailyReporting;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DailyReportingCodeFirstDbContext" providerName="System.Data.SqlClient" connectionString="data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=DailyReporting;user id=MyAndromedaWeb@jkrhpwclrb;password=33wTKvh4nWafXtW;MultipleActiveResultSets=True;App=EntityFramework;" />
    <add name="AttachMenuDbContext" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Menus\{0}\menu.mdb;Jet OLEDB:Database Password=zangaboo" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="MarketingEventQueue" value="marketing-event-queue-dev" />
    <add key="MarketingEventStoreQueue" value="marketing-event-store-queue-dev" />
    <add key="MarketingEventAuditHistoryQueue" value="marketing-event-audit-history-queue-dev" />

    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <add key="log4net.Config" value="Config\log4net.config" />
    <add key="log4net.Internal.Debug" value="true" />
    <!-- override who to send the email to -->
    <add key="StagingApplicationMode" value="true" />
    <add key="StagingMailModeToValue" value="matthew.green@androtech.com" />
    <!--<add key="SignPostServiceUrl" value="https://dev1.androcloudservices.com/AndroCloudAPI/weborderapiv2/host?applicationId={0}" />-->
    <add key="SignPostServiceUrl" value="https://test1.androcloudservices.com/AndroCloudAPI/weborderapiv2/host?applicationId={0}" />
    <!--<add key="SignPostServiceUrl" value="https://cloud3.androcloudservices.com/AndroCloudAPI/weborderapiv2/host?applicationId={0}" />-->
    <add key="ServiceTimeout" value="60000" />
    <!-- WebBackgrounderSetup - allow different tasks to be switched off -->
    <add key="MyAndromeda.Tasks.RunSyncronization" value="true" />
    <add key="MyAndromeda.Tasks.RunFtpPublishing" value="true" />
    <add key="MyAndromeda.Tasks.RunFtpDownloading" value="true" />
    <add key="MyAndromeda.Tasks.RunMenuPublishing" value="true" />
    <add key="MyAndromeda.Web.Settings.ShowDebugView" value="true" />
    <add key="MyAndromeda.Web.Settings.ProfileApplication" value="false" />
    <add key="MyAndromeda.Web.Settings.LogUsingSignalR" value="true" />
    <add key="MyAndromeda.Menu.AzureMenuCloudContainer" value="dev" />
    <add key="MyAndromeda.Menu.AzureAccountName" value="myandromeda" />
    <add key="MyAndromeda.Menu.AzureAccountPassword" value="dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag==" />
    <!-- Web hooks -->
    <add key="WebHooks.EdtEndpoint" value="web-hooks/store/update-estimated-delivery-time" />
    <add key="WebHooks.StoreStatusEndpoint" value="web-hooks/store/update-status" />
    <add key="WebHooks.MenuVersionEndpoint" value="web-hooks/store/update-menu" />
    <add key="WebHooks.MenuItemsChangedEndpoint" value="web-hooks/store/update-menu-items" />
    <add key="WebHooks.OrderStatusEndpoint" value="web-hooks/store/orders/update-order-status" />
    <add key="Webhooks.BringEndpoint" value="web-hooks/bringg/update" />
    <add key="Webhooks.BringEtaEndpoint" value="web-hooks/bringg/update-eta" />
    <!-- 
      Order emails
    -->
    <add key="Emails.SuccessDistribution" value="matthew.green@androtech.com" />
    <add key="Emails.RejectedDistribution" value="matthew.green@androtech.com" />
    <add key="Emails.OrderManagementDistribution" value="matthew.green@androtech.com" />
    <!-- refund notifications  -->
    <add key="Emails.RefundNotifications" value="matthew.green@androtech.com" />
    <!-- 
      End of order emails. 
    -->
    <!-- Webapi settings -->
    <add key="MyAndromeda.WebApiClient.BaseAddress" value="http://localhost:50262/" />
    <!-- routeTemplate: "api/{adromedaSiteId}/{controller}/{action}/{id}" -->
    <add key="MyAndromeda.WebApiClient.SyncingMenuEndpoint" value="/api/{andromedaSiteId}/PublishMenu/Sync" />

    <!-- Staging 2 ftp !-->
    <!--<add key="MyAndromeda.Menu.Ftp.Url" value="54.245.96.4" />
    <add key="MyAndromeda.Menu.Ftp.UserName" value="Matt" />
    <add key="MyAndromeda.Menu.Ftp.Password" value="Loki4446" />-->
    <add key="MyAndromeda.Menu.Ftp.Url" value="www.androupdate.com" />
    <add key="MyAndromeda.Menu.Ftp.UserName" value="androupdate" />
    <add key="MyAndromeda.Menu.Ftp.Password" value="ptambling1974" />
    <add key="MyAndromeda.Menu.Ftp.Root" value="Menus" />
    <add key="MyAndromeda.Menu.Ftp.TransferMode" value="Passive " />
    <add key="MyAndromeda.Menu.LocalFolder" value="|DataDirectory|\Menus\{0}\[File]" />
    <add key="MyAndromeda.Authorization.EncryptionKey" value="£3av+23t" />
    <add key="MyAndromeda.Authorization.EncryptionCodeValidForHours" value="12" />
    <!-- i dont think you do anything yet... -->
    <add key="MyAndromeda.Settings.AllowPublishing" value="false" />
    <add key="Myandromeda.Emails.OrderMonitoringDefault" value="matthew.green@androtech.com" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- Dev Cloud-->
    <!-- Andro Web-ordering web-site Logo re-size settings (width x Height x ContentAlignment ;)
         ContentAlignment values:
         TopLeft, TopCenter, TopRight, 
         MiddleLeft, MiddleCenter, MiddleRight,
         BottomLeft, BottomCenter, BottomRight-->
    <add key="MyAndromeda.WebsiteLogo.Settings" value="272x130xBottomCenter;" />
    <add key="MyAndromeda.WebsiteLogo.OptedSize" value="0" />
    <!-- OptedSize: 0 based index for MyAndromeda.WebsiteLogo.Settings-->
    <add key="MyAndromeda.MobileLogo.Settings" value="272x130xBottomCenter;" />
    <add key="MyAndromeda.MobileLogo.OptedSize" value="2" />
    <!-- OptedSize: 0 based index for MyAndromeda.MobileLogo.Settings-->
    <add key="MyAndromeda.Carousel1.Settings" value="1022x300xMiddleCenter;" />
    <add key="MyAndromeda.Carousel1Logo.OptedSize" value="0" />
    <!-- OptedSize: 0 based index for MyAndromeda.Carousel1Logo.Settings-->
    <!-- test -->
    <add key="MyAndromeda.WebOrderingWebSite.CreateService" value="http://54.217.208.103/services/WebOrdering_2_2_0_0/WebOrdering/WebSites?key=2E6A6992402245F2BC0ED3721FCD660823BDDA896C7A44939B5B746B2542CBFE" />
    <!-- live -->
    <!--<add key="MyAndromeda.WebOrderingWebSite.CreateService" value="http://54.75.243.148/services/WebOrdering/WebOrdering/WebSites?key=2E6A6992402245F2BC0ED3721FCD660823BDDA896C7A44939B5B746B2542CBFE" />-->
    <!-- dev -->
    <!--<add key="MyAndromeda.WebOrderingWebSite.CreateService" value="http://54.171.173.3/services/WebOrdering_2_2_0_0/WebOrdering/WebSites?key=2E6A6992402245F2BC0ED3721FCD660823BDDA896C7A44939B5B746B2542CBFE" />-->
    <!-- local -->
    <!--<add key="MyAndromeda.WebOrderingWebSite.CreateService" value="http://localhost/services/WebOrdering_2_2_0_0/WebOrdering/WebSites?key=2E6A6992402245F2BC0ED3721FCD660823BDDA896C7A44939B5B746B2542CBFE" />-->
    <add key="PostCodeService" value="http://test1.androcloudservices.com/postcodeservice/api/postcode" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="866C20F2D1FA9C8F3005EEFC28C00B743CDA551046B52446668A1C21E53C76126E489C865C14B2CCCC4CDFC7DC71648A2880E838AA0CCE622759798BA22462A8" decryptionKey="BF7DE76FEB0F8E1764AE65BFA1F4EDD234E9798B01DD195415EB872BD01EB24A" validation="SHA1" decryption="AES" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" maxQueryStringLength="10240" enable="true" maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Kendo.Mvc.UI" />
      </namespaces>
    </pages>
    <membership defaultProvider="AndromedaMembershipProvider">
      <providers>
        <clear />
        <add name="AndromedaMembershipProvider" type="MyAndromedaMembershipProvider.MyAndromedaMembershipProvider" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    
    
    
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <!-- -->
      <smtp from="donotreply@myandromeda.co.uk">
        <!-- live  -->
        <!--<network host="smtp.sendgrid.net" userName="azure_8e6d96136ea205548edd2781e2fa3020@azure.com" password="l1gdc5dk23TSeZ9" port="587" />-->
        <!-- test -->
        <network host="smtp.sendgrid.net" userName="azure_1fd33f45053ec3160eaa80a489096ada@azure.com" password="SrZAE75KLH1hq7a" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MvcMiniProfiler.Data.ProfiledDbProvider" />
      <add name="MvcMiniProfiler.Data.ProfiledDbProvider" invariant="MvcMiniProfiler.Data.ProfiledDbProvider" description="MvcMiniProfiler.Data.ProfiledDbProvider" type="MvcMiniProfiler.Data.ProfiledDbProviderFactory, MvcMiniProfiler, Version=1.6.0.0, Culture=neutral, PublicKeyToken=b44f9351044011a3" />
    </DbProviderFactories>
  </system.data>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
    <!--<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>-->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <handlers>
      
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
      
      <!--<add name="ImageResizingModule" type="ImageResizer.InterceptModule" />-->
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="10240" maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.3.0" newVersion="3.7.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  
</configuration>