#executiveContent{ 
    margin-top:20px;
    float:left;
    width:945px;    
    background-color:#E2E0E1;
    color:#201F24;
}

#executiveContent h2{ 
    padding: 20px 0 20px 20px;
}

#executiveContent a{
    color:#201F24;
    text-decoration:underline;
}

#executiveContent a:hover{
    color:#201F24;
    text-decoration:none;
}
#logindisplay{
    padding-bottom:20px;
}
.hoDashboard h2{
   background:url(http://dashboard.androtechnology.co.uk/dashboard/Images/icoDashboard.gif) no-repeat left;
   width:50px; float:right; padding-left:30px; padding-right:30px;
}

.orderBy{ 
    padding-left: 20px;
    float:left;
}

a.asc
{
    background: url(http://dashboard.androtechnology.co.uk/dashboard/Images/icoUp.gif) no-repeat top left;  padding-left:15px;
} 

a.desc  
{  
    background: url(http://dashboard.androtechnology.co.uk/dashboard/Images/icoDown.gif) no-repeat top left;  padding-left:15px;
} 

#dataTable{ 
    border-collapse:collapse;
    margin-top: 20px;
}

#dataTable2{ 
    border-collapse:collapse;
    margin-top: 20px;
}

#dataTable h3{
    padding-left:4px;
}

#dataTable2 h3{
    padding-left:4px;
}

#dataTable .tb{
    padding-right:3px
}

#dataTable2 .tb{
    padding-right:3px
}

#dataTable .tbBg
{
	padding-right:3px;
    background-color:#7FACBA;
}

#dataTable2 .tbBg
{
	padding-right:3px;
    background-color:#7FACBA;
}

#dataTable .tbError
{
	padding-right:3px;
    color:Red;
}

.sep{
    height:1px;
    background-color:#323136;
}

/*
#dataTable2 tr td
{
	border-left: solid 1px gray;
	text-align : right;
}
*/

.HeaderRow td
{
	font-weight: bold;
}

.ColHeader1
{
	text-align: center;
	background-color: #9FC7CE;
	border-left: solid 1px gray;
	padding: 2px 2px 2px 2px;
}

.ColHeaderOdd
{
	text-align: center;
	background-color: #D3D3D3;
	border-left: solid 1px gray;
	padding: 2px 2px 2px 2px;
}

.ColHeaderEven
{
	text-align: center;
	background-color: #9FC7CE;
	border-left: solid 1px gray;
	padding: 2px 2px 2px 2px;
}

.Col1
{
	font-weight: bold;
	text-align: left;
	background-color:#9FC7CE;
	border-left: solid 1px gray;
	padding: 2px 2px 2px 0;
}

.ColOdd
{
	text-align : right;
	border-left: solid 1px gray;
	padding: 2px 2px 2px 0;
}

.ColOddError
{
	text-align : right;
	border-left: solid 1px gray;
	padding: 2px 2px 2px 0;
	color:Red;
}

.ColEven
{
	text-align: right;
	background-color:#B1D3D8;
	border-left: solid 1px gray;
	padding: 2px 2px 2px 0;
}

.ColFoot1
{
	font-weight: bold;
	text-align: right;
	background-color:#9FC7CE;
	border-left: solid 1px gray;
	padding: 2px 4px 2px 0;
}

.ColFootOdd
{
	font-weight: bold;
	text-align: right;
	background-color: #D3D3D3;
	border-left: solid 1px gray;
	padding: 2px 2px 2px 0;
}

.ColFootEven
{
	font-weight:bold;
	text-align : right;
	background-color: #9FC7CE;
	border-left: solid 1px gray;
	padding: 2px 2px 2px 0;
}