@{
    var data = new[] { 5000, 1900, 1030, 10004, 7333, 5000, 1900, 1030, 10004, 7333, 5000, 1900, 1030, 10004, 7333, 5000, 1900, 1030, 10004, 7333, 1030, 10004, 7333, 5000, 1030, 10004, 7333, 5000};
}
@* Spark size is managed by line height *@
<table class="sparkline" >
    <colgroup>
        <col style="width: 150px" />
        <col style="width: 150px" />
    </colgroup>
    <thead>
        <tr>
            <th>label</th>
            <th>Last </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                A
            </td>
            <td>@(Html.Kendo().Sparkline().Name("sparks").Data(data))</td>
        </tr>
        <tr>
            <td>
                B
            </td>
            <td>@(Html.Kendo().Sparkline().Name("sparks2").Data(data))</td>
        </tr>
        <tr>
            <td>
                C
            </td>
            <td>@(Html.Kendo().Sparkline().Name("sparks3").Data(data))</td>
        </tr>
    </tbody>
</table>

@*@using (Html.BeginScripts())
{ 
    <script>
        var a = [ 0, 10, 14, 7 ];
    </script>
}*@