@model MyAndromeda.Web.Models.SiteModel

@{
    ViewBag.Title = "ChangeEmployees";
}

@*@section Breadcrumb
{
    <ul>
        <li>
            @Html.ActionLink("My Sites", "Index", "Sites")
        </li>
        <li>
            @Html.ActionLink(@Model.SiteDetails.ClientSiteName, "Index", "Site", new { id = @Model.SiteDetails.ExternalSiteId }, null)
        </li>
        <li>
            Change Employees
        </li>
    </ul>
}*@
