/*!
    Copyright © 2013 Andromeda Trading Limited.  All rights reserved.  
    THIS FILE AND ITS CONTENTS ARE PROTECTED BY COPYRIGHT AND/OR OTHER APPLICABLE LAW. 
    ANY USE OF THE CONTENTS OF THIS FILE OR ANY PART OF THIS FILE WITHOUT EXPLICIT PERMISSION FROM ANDROMEDA TRADING LIMITED IS PROHIBITED. 
*/

body {
    background-color: #949599;
}

header {
    height: 196px;
    background-color: transparent;
    border: 0;
    background: url('Images/header-bg.gif') left top repeat-x #f0eeef;
}

.highlightedButton a, .button a {
    background-color: #a7b321;
    border: 0;
}

.selectedSectionHeader {
    background-color: transparent;
}

    .selectedSectionHeader a:link, .selectedSectionHeader a:visited, .selectedSectionHeader a:active {
        background-color: #838c05;
        color: #ffffff;
        border: 0;
        font-weight: normal;
        font-size: 12pt;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding-top: 7px;
        padding-bottom: 7px;
        width: 120px;
    }

.sectionHeader a:link, .sectionHeader a:visited, .sectionHeader a:active {
    background-color: #a7b321;
    color: #ffffff;
    border: 0;
    font-weight: normal;
    font-size: 12pt;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 120px;
}

#sectionHeaders {
    background-color: transparent;
    border: 0;
}

#sectionHeadersTop h1 {
    border: 0;
}

#footer {
    background: url('Images/footer-bg.png') left top repeat-x #949599;
    padding-top: 12px;
    height: auto;
    border: 0;
}

#footerLinks {
    color: #ffffff;
    width: 600px;
}

#mainMenu {
    /*position: relative;
    
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*/
    position: absolute;
    background-color: #949599;
    float: left;
    margin-top: 22px;
    right: 0;
    left: 275px;
    width: auto;
    padding-left: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.mainMenuButtonSelected a:link, .mainMenuButtonSelected a:visited, .mainMenuButtonSelected a:active {
    background-color: transparent;
    color: #cccdd1;
    font-weight: normal; /*font-size:12pt;*/
    border: 0;
    /*text-transform: uppercase;*/
    padding: 10px 5px;
}

.mainMenuButton a:link, .mainMenuButton a:visited, .mainMenuButton a:active, .mainMenuButtonHighlighted a:link, .mainMenuButtonHighlighted a:visited, .mainMenuButtonHighlighted a:active {
    background-color: transparent;
    color: #ffffff;
    border: 0;
    /*text-transform: uppercase;*/
    padding: 10px 5px;
}

#pickStoreOptions h2 {
    margin-top: 0;
    font-weight: normal;
}

#pickStoreOptions * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#pickStoreOptions .welcome, .postcodeLookup {
    padding: 0.5em;
    margin: 0.5em 0;
}

#pickStoreOptions .postcodeLookup {
    background-color: #f0eeef;
    border: 2px solid #cccccc;
}

#chooseStoreButton {
    padding-right: 10px;
}

.postcodeLookup input, .postcodeLookup select {
    width: 160px;
    min-width: 160px;
}

.postcodeLookup input, .postcodeLookup select, .postcodeLookup button, .message {
    font-size: 14px;
    line-height: 16px;
    padding: 0.35em;
}

.postcodeLookup button {
    float: none;
}

.message {
    margin: 0.5em 0;
    border: 2px solid;
}

.good-message {
    border-color: #44c110;
}

.bad-message {
    border-color: #bf0202;
}


#headerRight {
    width: auto;
    float: none;
    margin-left: 150px;
}

.button, .highlightedButton {
    float: left;
}

#headerRegisterButton {
    margin-right: 10px;
    float: right;
}

#headerForgotPasswordButton {
    float: right;
}

    #headerRegisterButton a, #headerForgotPasswordButton a {
        text-decoration: none;
        color: #000000;
    }

.dealName, .itemName {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.dealItem, .itemRow {
    background-color: #f0eeef;
    border: 1px solid #dedede;
    clear: none;
    margin: 0 5px 5px 0;
}

#headerHello {
    margin-top: 10px;
    margin-bottom: 20px;
}

#pageHeader {
    height: 196px;
}

.homeProduct img {
    width: 200px;
    height: 131px;
}

#homeProductSliderContainer, #homeProductSliderContainer > div {
    height: 190px !important;
}

    #homeProductSliderContainer .jssora01r, #homeProductSliderContainer .jssora01l {
        top: 73px !important;
        right: 0;
    }

.homeBoxInner #homeFullOrderDeal {
    display: none;
}

#homeContent, #sectionsWrapper {
    padding-bottom: 15px;
}

#storeDetailsDeliveryTimes {
    background-color: #a7b321;
    color: #ffffff;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

.category2, .category1 {
    margin-left: 10px;
    margin-top: 10px;
}

.priceAddContainer .highlightedButton.addItemButton {
    float: right;
    margin-left: 10px;
    text-align: right;
}

.priceAddContainer {
    margin-top: 10px;
    float: right;
    width: 160px;
}

.itemPrice {
    float: none;
    display: inline;
    text-align: right;
}

.itemName {
    background-color: #a7b321;
    color: #ffffff;
    padding: 5px 10px;
    min-width: 230px;
    left: 0;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.dealName {
    background-color: #a7b321;
    color: #ffffff;
    padding: 5px 10px;
    min-width: 230px;
    left: 0;
    margin-top: -10px !important;
    margin-left: -10px !important;
    display: inline-block;
    margin-bottom: 10px;
}


.popupItemDetails img {
    float: left;
    padding-right: 13px;
}

.popupItemDetails > h2 {
    float: none;
    font-weight: normal !important;
    padding: 15px 15px 5px 0;
    width: auto;
    overflow: hidden;
    padding-left: 0;
}

#popupDescription {
    float: none;
    width: auto;
    padding: 0 10px 0 0;
    clear: none;
    padding-left: 10px;
    margin-top: 0;
}

#popupOptions {
    margin-top: 30px;
}

#popupToppingsContainer {
    margin-right: 18px;
}

    #popupToppingsContainer h1 {
        font-size: 18px;
        font-weight: normal;
        background-color: #949599;
        color: #ffffff;
        padding: 5px;
    }

#popupFreeToppings {
    padding: 5px;
}

.popupToppingsHeaders {
    background-color: #e2e2e2;
    padding: 3px 0;
}

.popupTopping {
    border-bottom: 1px solid #d7d7d7;
    padding: 3px 0;
}

#popupAddToCartButton {
    margin-right: 20px;
}

.popupBoxHeaderContainer a {
    font-weight: normal;
}

#popupCatHeader {
    color: #000000;
    float: left;
    margin-right: 5px;
}

#popupCatContainer, #popupCategory1, #popupCategory2 {
    float: left;
    clear: none;
}

    #popupCatContainer select {
        font-size: 14px;
        margin-left: 5px;
    }

#popupCatContainer, #popupCategory1 {
    margin-right: 5px;
}

.popupBoxHidden, .popupBoxVisible {
    background-color: #ffffff;
}

#popupDealBoxBodyContainer > h1 {
    background-color: #949599;
    padding: 5px 5px;
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
}

#popupDealBoxBodyContainer {
    padding: 20px;
}

.dealPopupItemNo {
    font-weight: normal;
}

#popupDealOptions {
    padding-right: 12px;
}

.itemName, #homeStoreDetailsTitle, #homeProductSlider h2, .dealName, .itemName, .popupDealItemPicker, .dealPopupItemNo, #storeDetailsAddress h1,
#storeDetailsDeliveryTimes h1, #homeMenuTitle, .popupItemDetails > h2, #popupToppingsContainer h1, #popupDealBoxBodyContainer > h1, #lrCreateAnAccount, #lrCreateAnAccountAddress, #mpRegisterContainer h2, .sectionTitle h1, #sectionHeadersTop h1, #moContent h1, #orderAccepted h3, #orderAccepted h4, #forgotPasswordBox h1, #homeCarousel2 .homeCarouselMenuItemCard h2, #informationInner h1 {
    font-weight: normal !important;
}

.popupDealItemPicker, .dealPopupItemNo {
    font-size: 18px;
}

#homeCarousel2 .homeCarouselMenuItemCard h2 {
    font-size: 18px;
    line-height: 24px;
}

#homeCarousel2 .homeCarouselMenuItemCard p {
    font-size: 12px;
}

#poweredByAndro {
    display: inline;
    float: none;
}

#homeMenu, #homeStoreDetails {
    margin-top: 0;
}

#footerLinks a {
    color: #ffffff;
}

#dealPopupBox .popupItemDetails > h2 {
    font-size: 26px;
    margin-left: 10px;
}

.homeProductImageWrapper {
    width: 202px;
}

#homeCarousel2 .homeCarouselMenuItemCardImagePrice {
    background: url('Images/price-bg.png') left top repeat;
    color: #ffffff;
    background-color: transparent;
}

.content, #lrCreateAnAccount, .lrLoginFormPrompt, .lrLoginFormInput, #lrEmailRegisterMarketing, #lrSMSRegisterMarketing, #lrEmailRegisterMarketing, .requiredLine, #lrCreateAnAccountAddress, #lrAddressDetails, #mpRegisterAddressContainer,
#mpRegisterContainer h2, #mpRegisterContainer, #myProfileContent, #myOrdersContent {
    background-color: #ffffff;
}

    .checkoutAddressLine input, .lrLoginFormInput input, .checkoutAddressLine textarea {
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 5px 4px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

#lrEmailRegisterMarketing, #lrSMSRegisterMarketing {
    margin-bottom: 10px;
}

#lrBox {
    background-color: #ffffff;
}

    #lrBox label {
        font-size: 11pt;
    }

.checkoutAddressLine textarea {
    width: 270px;
    margin-left: 0;
}

.checkoutAddressColumn2 {
    float: none;
}

#lrRegisterButton {
    margin-left: 25px;
}

#moContent h1 {
    padding: 10px 20px;
}

.checkoutSectionHeader {
    background-color: #f2f2f2;
}

.selectedCheckoutSectionHeader {
    background-color: #e1e1e1;
}

.checkoutSectionHeader, .selectedCheckoutSectionHeader {
    padding: 10px 18px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 1px;
}

.upsellText {
    clear: both;
    display: inline-block;
    float: left;
    line-height: 25px;
    margin-top: 10px;
    width: 190px;
}

.button.upsellButton {
    margin-top: 11px;
}

.checkoutPage h3 {
    font-size: 25px;
    margin: 10px 0;
}

#checkoutUpsellingContainer {
    margin: 10px 10px;
}

.checkoutButtons .nextButton {
    float: right;
    margin-right: 0;
    margin-top: 20px;
    width: auto;
}

.checkoutButtons .backButton {
    margin-top: 20px;
}

.orderNotesColumn1 {
    margin-top: 5px;
    width: 160px;
    float: left;
}

#checkoutSColumn1 > div, #checkoutSColumn2 > div {
    clear: both;
    padding: 8px 0;
}

#checkoutSOrderItems div {
    width: 150px;
}

#checkoutSOrderItems .checkoutSOrderItem {
    width: auto !important;
    clear: both;
}

    #checkoutSOrderItems .checkoutSOrderItem .checkoutSOrderItemName {
        padding-right: 10px;
    }

#checkoutSTotalPrompt, #checkoutSAddVoucherTitle {
    float: left;
    margin-right: 5px;
    display: none;
}

#checkoutSTotalValue {
    display: inline-block;
}

#checkoutSAddVoucherContainer > input, #checkoutSAddVoucherContainer > label {
    float: left;
    margin-right: 10px;
}

#checkoutSVoucherCode {
    float: left;
    border: 1px solid #ccc;
    padding: 5px 4px;
    margin: 0 5px 0 5px;
    height: 20px;
}

#orderAccepted h3, #orderAccepted h4 {
    font-size: 22px;
    line-height: 25px;
}

#orderAccepted {
    padding: 10px 0;
}

.checkoutSOrderItemName {
    width: 300px;
    float: left;
}

#forgotPasswordMessage {
    text-align: center;
    color: #ff0000;
}

#forgotPasswordBox h1 {
    font-size: 29px;
}

#headerMyProfileButton a:link, #headerMyProfileButton a:visited, #headerMyProfileButton a:active, #headerMyOrdersButton a:link, #headerMyOrdersButton a:visited, #headerMyOrdersButton a:active, #headerLogoutButton a:link, #headerLogoutButton a:visited, #headerLogoutButton a:active {
    padding: 15px 8px;
    background-color: transparent;
    border: 0;
    color: #ffffff;
}

#headerMyProfileButton, #headerMyOrdersButton, #headerLogoutButton {
    float: left;
}

#headerLogoutButton, #headerMyOrdersButton {
    display: block;
}

.popupToppingsSingle2 {
    margin-left: 165px;
}

.popupToppingsDouble, .popupToppingsDouble2 {
    margin-right: 0;
}

#informationInner {
    background-color: #ffffff;
    top: 0;
    width: 100%;
    padding: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#footerFacebook, #footerTwitter, #footerInstagram, #footerPInterest {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding-right: 10px;
}

#footerSocialButtons {
    padding-top: 10px;
    padding-bottom: 40px;
}

#footerTop {
    height: auto;
}

#footerFacebook {
    background: url('Images/icon-facebook-32.png') left top no-repeat;
}

#footerTwitter {
    background: url('Images/icon-twitter-32.png') left top no-repeat;
}

#footerInstagram {
    background: url('Images/icon-instagram-32.png') left top no-repeat;
}

#footerPInterest {
    background: url('Images/icon-pinterest-32.png') left top no-repeat;
}

#footerWrapper {
    background: url('Images/footer-bg.png') left top repeat-x #949599;
}

#homeCarousel2 H2 {
    margin: 5px 0;
    font-size: 18px;
    font-weight: normal;
}

#homeCarousel2 p {
    margin: 0;
    font-size: 9pt;
}

.quantity {
    width: 100%;
}

.itemImage {
    margin-right: 13px;
    float: none;
    margin-top: 0;
}

#moContent > h1 {
    font-size: 25px;
}

.errorOptions a {
    width: initial !IMPORTANT;
}

.moName {
    clear: both;
}

.moPriceTitle {
    float: right;
}

.olControlPanZoom {
    display: none;
}

#checkoutPaymentContainer {
    height: initial;
    padding: 0;
    overflow: initial;
}

#dataCashPaymentIFrame {
    width: 100%;
    height: 700px;
}

#dataCashPaymentContainer {
    height: initial;
}

.checkoutDataError {
    background-color: red;
    -moz-box-shadow: 0 0 6px red;
    -webkit-box-shadow: 0 0 6px red;
    box-shadow: 0 0 6px red;
}

.lrLoginFormInput input[type="checkbox"] {
    width: auto;
    margin-left: 1em;
}

#headerLoginBox {
    margin-top: 24px;
}

#homeMenuTitle, #homeStoreDetailsTitle {
    font-size: 25px;
    line-height: 26px;
}

#sectionsWrapper {
    position: relative;
    top: 5px;
    left: 0;
}

#storeDetailsDeliveryTimes h1, #storeDetailsAddress h1 {
    font-size: 22px;
}

#storeDetailsAddressWrapperInner2 {
    padding-top: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

#storeDetailsAddress {
    padding-right: 2%;
}

#storeDetailsAddressMap {
}

.popupItemDetails {
    color: #000000;
    width: 50%;
}

.checkoutPage #checkoutPageInner {
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
}

#menuSectionWrapper {
    background-color: #f0eeef;
}

#menuSection, #viewContainer {
    min-height: 676px;
    height: auto;
    background-color: #f0eeef;
}

#viewContainerOuter {
    background-color: #f0eeef;
    width: 100%;
}

#loginRegisterInner h1 {
    border: none;
    height: auto;
    font-size: 23px;
    margin: 0;
}

.loginFormInput {
    padding: 4px;
}

#lrCreateAnAccount, #lrCreateAnAccountAddress, #mpRegisterContainer h2 {
    font-size: 22px;
    margin: 10px 0;
}

.itemDescription {
    margin: 0 0 0 5px;
}

#viewContainer {
    min-height: 600px;
}

.checkoutError {
    clear: both;
    margin-top: 20px;
    padding-top: 10px;
}

/*.rightColumn
{
    position: absolute;
    right: 0;
    max-height: 600px;
    overflow-y: auto;
}*/

.itemDetails, .itemDetailsWithImage {
    float: right;
    width: 160px;
    margin: 0 5px 5px 5px;
}

.checkoutPage h1 {
    font-size: 21pt;
}

#headerLoggedIn {
    height: 96px;
}

.mainMenuButton, .mainMenuButtonSelected, .mainMenuButtonHighlighted {
    float: left;
}

#headerLogoutButton {
    right: 0;
}

#headerMyOrdersButton {
    right: 64px;
    /*text-transform: uppercase;*/
}

#headerMyProfileButton {
    right: 174px;
    /*text-transform: uppercase;*/
}

#headerLoggedIn a {
    color: #ffffff;
}

#mpMenu {
    display: none;
}

.mainMenuButton a:link, .mainMenuButton a:visited, .mainMenuButton a:active, .mainMenuButtonHighlighted a:link, .mainMenuButtonHighlighted a:visited, .mainMenuButtonHighlighted a:active, .mainMenuButtonSelected a:link, .mainMenuButtonSelected a:visited, .mainMenuButtonSelected a:active, #headerMyProfileButton a:link, #headerMyProfileButton a:visited, #headerMyProfileButton a:active, #headerMyOrdersButton a:link, #headerMyOrdersButton a:visited, #headerMyOrdersButton a:active, #headerLogoutButton a:link, #headerLogoutButton a:visited, #headerLogoutButton a:active {
    font-size: 12pt;
}

#homeContent {
    padding-bottom: 10px;
}

.validationMessage {
    font-size: 0.9em;
    color: #333;
    padding: 0 0.5em;
}

    .validationMessage::before {
        content: "* ";
        color: red;
    }
