<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <appSettings>
    <!-- Use this if you want to debug these web services locally in Visual Studio but want to use a live/test database.  
    The problem is if you're doing it properly, you'll call the hosts web service first to find out which server to use to call the web services.  
    The urls returned will be test or live urls NOT localhost.  Use this setting to override the host names returned. -->
    <add key="DevHostsOverride" value="localhost/services" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="Atest" value="true" />
    <add key="SignalRHub" value="http://dev1.androcloudservices.com:8081/" />
    <!-- 
    The IP addresses that are allowed to call the sync web services
    ::1: = localhost
    83.138.144.122 = Rackspace server
    81.133.222.182 = Andromeda Office
    188.39.16.134 = OLD Andromeda Office 
    Use a Pipe | to delimit the list of IP addresses
    -->
    <add key="EnableSyncToIPLocking" value="false" />
    <add key="LockSyncToIPAddresses" value="::1|127.0.0.1|83.138.144.122|81.133.222.182" />
    <add key="Staging2Profile" value="This is published for dev1 - Amazon" />
    <!--<add key="privateHubWebServiceUrl" value="http://test1.androcloudservices.com/ACSHubWCFServicesV2/ACSHubServices/order/" />-->
    <add key="privateHubWebServiceUrl" value="http://localhost/services/ACSHubWCFServicesV2/ACSHubServices/ramesesorder/" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ACSEntities" connectionString="metadata=res://*/Model.ACSEntities.csdl|res://*/Model.ACSEntities.ssdl|res://*/Model.ACSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=test1.androcloudservices.com;Initial Catalog=ACS;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;user id=ACSUser;password=Pass123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
    <!-- 
      Cloud 3 settings 
    -->
    <add name="ACSEntities"
      connectionString="metadata=res://*/Model.ACSEntities.csdl|res://*/Model.ACSEntities.ssdl|res://*/Model.ACSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:dmel6muo0u.database.windows.net,1433;Initial Catalog=Cloud4;Persist Security Info=True;User ID=andromeda@dmel6muo0u;Password=h6ruh7kS2#4;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>

    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:jkrhpwclrb.database.windows.net,1433;initial catalog=DataWarehouse_Cloud3;Persist Security Info=True;User ID=Andromeda@jkrhpwclrb;password=h6ruh7kS2#4;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/> 

  
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="True" aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add service="weborderapi.NoSvc" relativeAddress="weborderapi.svc" />
        <add service="weborderapiv2.NoSvc" relativeAddress="weborderapiv2.svc" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2000000" maxBufferSize="2000000">
          <readerQuotas maxArrayLength="2000000" maxStringContentLength="2000000" />
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <remove scheme="http" />
      <add scheme="http" binding="wsHttpBinding" />
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="weborderapi.NoSvc">
        <endpoint kind="webHttpEndpoint" contract="AndroCloudPrivateWCFServices.IRESTServices" />
      </service>
      <service name="weborderapiv2.NoSvc">
        <endpoint kind="webHttpEndpoint" contract="AndroCloudPrivateWCFServices.IRESTServicesV2" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>