<span id="staticNotification"></span>

<div class="header">
    <h3>Logging</h3>
    <a id="clearDebugLogging" class="k-button" href="#clear" >
        Clear
    </a>
</div>
<div id="LoggingAppendto" style="height:500px; overflow: auto" class="k-block">

</div>


@using (Html.BeginScripts()) 
{
    var context = Html.GetWorkContext();
    if (false) {
    <script src="~/Scripts/app/Hubs/MenuHub.js"></script>
    }
    <script>
        $(document).ready(function () {
            var seconds = 180; 
            //var popupNotification = $("#popupNotification").kendoNotification().data("kendoNotification");
            var staticNotification = $("#staticNotification").kendoNotification({
                appendTo: "#LoggingAppendto",
                autoHideAfter: seconds * 1000,
                button: true
            }).data("kendoNotification");

            $("#clearDebugLogging").bind("click", function(e){
                e.preventDefault();
                staticNotification.hide();
            });
            var options = @Html.GetJsonContextOptions();
            @*{
                chainId: @(context.CurrentChain.Available ? context.CurrentChain.Chain.Id.ToString() : "null"),
                externalSiteId: @(context.CurrentChain.
            };*@
            var storeHub = MyAndromeda.Hubs.StoreHub.GetInstance(options);

            storeHub.bind("onDebug", function (message) {
                var d = new Date();
                staticNotification.show(kendo.toString(d, 'HH:MM:ss.') + message, "info");
            });
            storeHub.bind("onError", function (message) {
                var d = new Date();
                staticNotification.show(kendo.toString(d, 'HH:MM:ss.') + message, "error");
            });

        });
    </script>
}