@{
    var workContext = this.Html.GetWorkContext();    
}

<div class="header">
    <h3>RouteData - Values</h3>
</div>
@foreach (var pair in workContext.CurrentRequest.RouteData.Values) 
{
    <div class="header">
        <h4>@pair.Key: </h4>
        @pair.Value
    </div>
}

<div class="header">
    <h3>RouteData - DataTokens</h3>
</div>
@foreach (var pair in workContext.CurrentRequest.RouteData.DataTokens) 
{
    <div class="header">
        <h4>@pair.Key:</h4>
        @pair.Value
    </div>
}