@model IEnumerable<MyAndromeda.Core.Authorization.IPermission>

@foreach (var group in Model.GroupBy(e => e.Category))
{
    <div class="well">
        <div class="title">@group.Key</div>
        <div>
            <ul>
                @foreach (var permission in group)
                {
                    <li>@permission.Name</li>
                }
            </ul>
        </div>
    </div>
}