<form action="@this.Url.RouteUrl("ibacscallback", new { httproute = "", controller = "IBacsTel", orderId = 219, AndromedaSiteId = 1197 })" method="post">

    <div>
        <label for="printer_id">Printer</label>
        <input id="printer_id" name="printer_id" type="text" value="" />
    </div>
    <div>
        <label for="order_id">Order</label>
        <input id="order_id" name="order_id" type="text" value="219" />
    </div>
    <div>
        <label for="status">Status</label>
        <input id="status" name="status" type="text" value="" />
    </div>
    <div>
        <label for="msg">Message</label>
        <input id="msg" name="msg" value="" />
    </div>
    <div>
        <label for="delivery_time">Delivery time</label>
        <input id="delivery_time" name="delivery_time" value="" />
    </div>
    <button type="submit">Submit</button>
</form>


