@model MyAndromeda.Web.Models.Emails.ResetPasswordNotificationEmail
@{
    var translator = Html.GetTranslator();    
}
@section Header 
{
To: @Model.Email
From: Support@MyAndromeda.com
Subject: @translator.T("Your MyAndromeda password has changed.") 
}
<p>@translator.T("Your password has been changed on MyAndromeda and you can now use the new password.")</p>
