@{
    var workContext = Html.GetWorkContext();
    var translator = Html.GetTranslator();
}

<div id="FtpWrapper" ng-controller="FtpController">
    <div class="row">
        <div class="col-xs-12">
           
            <button class="k-button" ng-click="DeleteLocalFile()" ng-disabled="BlockAccess" title="Click here to delete the local file">
                <span ng-show="DeleteBusy"  class="fa fa-spinner fa-spin loading-spinner text-center"></span>
                Delete local menu version
            </button>
            <button class="k-button" ng-click="CheckDbVersion()" ng-disabled="BlockAccess" title="Click here to reload the menu version">
                <span ng-show="VersionBusy" class="fa fa-spinner fa-spin loading-spinner text-center"></span>
                Local menu version {{Version}}
            </button>
            <button class="k-button" ng-click="DownloadFromFtp()" ng-disabled="BlockAccess" title="Click here to fetch the newest version of the menu from the FTP.">
                <span ng-show="DownloadBusy" class="fa fa-spinner fa-spin loading-spinner text-center"></span>
                Try to get latest
            </button>
            <button class="k-button" ng-click="UploadToFtp()" ng-disabled="BlockAccess" title="Click here to push the menu back to the ftp.">
                <span ng-show="UploadBusy" class="fa fa-spinner fa-spin loading-spinner text-center"></span>
                Try to backup
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{Errors}}
        </div>
    </div>
</div>

@if (false)
{
    <script src="~/Scripts/MyAndromeda.App.All.js"></script>
    <script src="~/Scripts/angular.js"></script>
}

@using (Html.BeginScripts("MyAndromeda.MenuServices.Angular", Area.Foot))
{ 
    <script type="text/javascript">
        $(function () {
            var ftpRoutes = MyAndromeda.Menu.Settings.Routes.Ftp;

            ftpRoutes.DownloadMenu = "@string.Format("/api/{0}/menu/ftp/download", workContext.CurrentSite.AndromediaSiteId)";
            ftpRoutes.UploadMenu = "@string.Format("/api/{0}/menu/ftp/upload", workContext.CurrentSite.AndromediaSiteId)";
            ftpRoutes.Version = "@string.Format("/api/{0}/menu/version", workContext.CurrentSite.AndromediaSiteId)";
            ftpRoutes.Delete = "@string.Format("/api/{0}/menu/delete", workContext.CurrentSite.AndromediaSiteId)";

            var element = document.getElementById("FtpWrapper");
            angular.bootstrap(element, [MyAndromeda.Menu.Modules.MenuFtpModuleName]);
        });
    </script>
}