@using (Html.BeginHelpSection("Getting Started", TabArea.Help, true))
{
    <div class="header">
        <h3>Getting Started</h3>
    </div>
    <p>
        From this view you have the ability to:
    </p>
    <ul>
        <li><a class="k-button" href="@Url.Action("Create")"><i class="fa fa-user"></i> Add User</a> - <i>to the selected chain</i></li>
        <li>Remove User - <i>from the selected chain</i></li>
        <li>Edit User Roles - <i>User's global role</i></li>
    </ul>
}