@{
    ViewBag.Title = "Andro Admin Home";
}

<div class="helpPage">
    <h2>@Html.ActionLink("Help", "Index") / Manage stores</h2>

    <p>The “Manage Stores” sub-section lists all stores that are already setup in Andro Admin.</p>

    <img src="@Url.Content("~/Content/Images/Help/ManageStores.png")" />
</div>

