@{
    ViewBag.Title = "Andro Admin Home";
}

<div class="helpPage">
    <h2>@Html.ActionLink("Help", "Index") / Navigating the website</h2>

    <p>When you have successfully logged in you will see the welcome page.</p> 

    <p>The navigation menu bar will appear underneath the website header.  The navigation menu bar contains links to each section of the website.  The links that you see in the navigation bar will depend on the sections that you are allowed to access.</p>

    <img src="@Url.Content("~/Content/Images/Help/navigation.png")" />

</div>

