@{
    ViewBag.Title = "Andro Admin Home";
}

<div class="helpPage">
    <h2>@Html.ActionLink("Help", "Index") / Store address</h2>

    <p>You can use this tab to view or change the stores address.</p>

    <img src="@Url.Content("~/Content/Images/Help/StoreAddress.png")" />

    <p>The address layout on this page may change depending on the country that the store is in.  See the description of each part of the address on the right hand side.</p>
</div>

