<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <appSettings>
    <add key="mongoServer" value="mongodb://localhost" />
    <add key="mongoDatabase" value="WebOrdering" />

    <!--<add key="DefaultMapping" value="itsu.androtest.co.uk" />-->
    <!--<add key="DefaultMapping" value="andromedapizza.com" />-->
    <!--<add key="DefaultMapping" value="dev1.androtest.co.uk" />-->
    <!--<add key="DefaultMapping" value="speedrabbit" />-->
    <!--<add key="DefaultMapping" value="ezeepizza.com" />-->
    <!--<add key="DefaultMapping" value="design1.androtest.co.uk" />-->
    <!--<add key="DefaultMapping" value="megatest1.androtest.co.uk" />-->
    <!--<add key="DefaultMapping" value="megatest5.androtest.co.uk" />-->
    <add key="DefaultMapping" value="qa1.androtest.co.uk" />

    <add key="MappingFile" value="C:\Andromeda Development Source\Rameses Web Components\Services\Andromeda.WebOrdering\Mappings.xml" />
    <add key="PayPalPendingOrdersFolder" value="C:\paypal\pending\" />
    <add key="PayPalCompletedOrdersFolder" value="C:\paypal\completed\" />
    <add key="MercanetRequestExe" value="C:\mercanet\payment\bin\request.exe" />
    <add key="MercanetPathFile" value="C:\mercanet\payment\param\pathfile" />
    <add key="MercanetResponseExe" value="C:\mercanet\payment\bin\response.exe" />
    <add key="MercanetPendingOrdersFolder" value="C:\mercanet\payment\orders\pending\" />
    <add key="MercanetCompletedOrdersFolder" value="C:\mercanet\payment\orders\completed\" />
    <add key="SignalRHub" value="http://localhost/andromeda.weborderingsignalrhub/signalr/hubs" />
    <add key="LogMenuCalls" value="false" />
    <!-- Menus are big so logging calls that return a menu uses a lot of disk space -->
    <add key="LogSiteCalls" value="false" />
    <!-- Menus are big so logging calls that return a menu uses a lot of disk space -->
    <add key="BackgroundServicesInterval" value="3000" />

    <add key="defaultDatacashPageSetId" value="2463" />
    <!--<add key="defaultDatacashPageSetId" value="2169" />-->
    <!--<add key="defaultDatacashPageSetId" value="939" />-->
    <!--<add key="defaultDatacashPageSetId" value="2156" />-->
    <add key="enable3DSecure" value="true" />
    <add key="3DSecureWhitelist" value="D17F95D0-458C-4ECA-A30F-B4058ADFF0E1" />

    <add key="paypalLocalhostOverride" value="true" />

    <add key="DefaultETD" value="45" />

    <add key="KEY" value="2E6A6992402245F2BC0ED3721FCD660823BDDA896C7A44939B5B746B2542CBFE" />
    <add key="websitesFolder" value="C:\inetpub\wwwroot\sites\" />
    <add key="mappingsFolder" value="C:\AndroWebOrdering\mappings\" />
    <add key="themesFolder" value="C:\AndroWebOrdering\themes\" />
    <add key="templatesFolder" value="C:\AndroWebOrdering\templates\" />

    <add key="feedbackEmailUsername" value="Onlineordering@androtech.com" />
    <add key="feedbackEmailPassword" value="oo181113" />
    <add key="feedbackEmailServer" value="https://outlook.hs20.net/ews/Exchange.asmx" />
    <add key="feedbackEmailTo" value="weborderalerts@androtech.com" />
    <add key="feedbackEmailSubject" value="Feedback submitted for {WEBSITE} / {STORENAME}" />
    <add key="feedbackEmailBody" value="             &lt;br /&gt;             Website: {WEBSITE}&lt;br /&gt;             Store: {STORENAME}&lt;br /&gt;             Customer name: {CUSTOMERNAME}&lt;br /&gt;             Email: {EMAIL}&lt;br /&gt;             Feedback category: {FEEDBACKCATEGORY}&lt;br /&gt;             Feedback: {FEEDBACK}&lt;br /&gt;" />

    <add key="StaticContentDequeueDelayInMinutes" value="2" />
  </appSettings>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--<bufferSize value="1" />-->
      <file value="log" />
      <appendToFile value="true" />
      <countDirection value="-1" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.txt'" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="10000KB" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>