@model IList<MyAndromeda.Web.Areas.AndroWebOrdering.Models.AndroWebOrderingWebSiteModel>
@{
    ViewBag.Title = "Index";
}

<div class="header">
    <h3>Andro Web Ordering Websites</h3>
</div>

@(Html.Kendo().Grid(Model)
    .Name("AndroWebOrderingGrid")
    .Columns(cols =>
    {
        cols.Bound(e => e.Name).Title("<b>Website</b>")
            .ClientTemplate("# if (Enabled == true) { #" +
        "<a href='" + Url.Action("Index", "AndroWebOrdering") + "?id=#= Id #'" + ">#=Name#</a>" +
    "# } else { #" +
        "#: Name # (Website Disabled)" +
    "# } #");
        //.ClientTemplate("<a href='" + Url.Action("Index", "AndroWebOrdering") + "?id=#= Id #'" + ">#=Name#</a>");        
    })
    .Filterable()
    .Sortable()
    .Pageable(paging => paging.Refresh(true))
    .DataSource(dataSource =>
    {
        dataSource
            .Ajax()
            .ServerOperation(false)
            .PageSize(10)
            .Model(model => model.Id(e => e.Id));
    })
)