
@*@using (Html.BeginHelpSection("Employees", TabArea.Help, false)) 
{
    <div class="header">
        <h3>Employees</h3>
    </div>
    <p>This is a list of the employees set up in store. Once the store's changes merge with the cloud all the employees will be listed.</p>
    <p><i>Editing employee details will come in a future release.</i></p>
}*@

@*@using (Html.BeginHelpSection("Employees", TabArea.Debug, false))
{
    <div class="header">
        <h3>Employees</h3>
    </div>
    <p>Employee debug section</p>
}*@