<div class="header">
    <h3>Opening and Closing a day</h3>
</div>

<p>For each day there is the ability to specify when the store will be available or closed.</p>

<div class="header">
    <h4>Notes: closing store for a day</h4>
</div>
<p>
    When closing the store for a day any allotted time that the store is open will be deleted. This means that if the day is enabled again at a later date the times will need to be re-entered. 
</p>
