<div class="header">
    <h3>Remove a time where the store is open</h3>
</div>
<p>
    For each time span that the store is open can be removed with the delete button next to each time. If you are trying to reduce a time span it is easier to remove this item then add a new time span to reflect the new opening times. 
</p>
