@{
    var translator = Html.GetTranslator();    
}

@(Html.Kendo().Grid<MyAndromeda.Web.Areas.Reporting.ViewModels.OrderHeaderViewModel>()
    .Name("CustomerGrid#=ACSOrderId#")
    .ToolBar(tools => {
        tools.Template(@<text>
            <a class="k-button" href="@Url.ActionClientTemplate("CustomerDetail", "Customer", new { Id = "#=CustomerId#" })">Customer Page</a>
        </text>);
    })
    .Columns(cols =>
    {
        cols.Bound(e => e.OrderPlacedTime)
    .Title("Order Placed Time")
    .ClientTemplate("\\#: kendo.toString(kendo.parseDate(TimeStamp),'g') \\#")
    .Width(140);
        cols.Bound(e => e.PayType).Title(translator.T("Pay Type"))
            .ClientGroupHeaderTemplate("Payments made by: \\#: value \\#");
        cols.Bound(e => e.FinalPrice).Title(translator.T("Final Price"))
            .ClientTemplate("\\#:kendo.toString(FinalPrice, 'c')\\#")
            .ClientFooterTemplate("<div>Total for all:</div><div> \\#: kendo.toString(sum, 'c') \\#</div>")
            .ClientGroupFooterTemplate("<div>Total: \\#: kendo.toString(sum, 'c') \\#</div><div>Avg: \\#: kendo.toString(average, 'c')\\#");
        cols.Bound(e => e.OrderType).Title(translator.T("Order Type"));
    })
    .HtmlAttributes(new { style = "height: 420px;" })
    .ClientDetailTemplateId("TicketTemplate")
    .ColumnMenu(cols => cols.Sortable(true).Filterable(true))
    .Events(e => e.DetailInit("manageDetailInit").Change("gridChanged"))
    .Mobile()
    .Pageable(p => p.Refresh(true))
    .DataSource(data =>
        data.Ajax()
        .Events(e => e.Change("gridChanged"))
        .Read("ReadCustomerHistory", "Orders", new { AcsOrderId = "#=ACSOrderId#" })
        .ServerOperation(false)
        .PageSize(10)
        .Aggregates(aggs =>
        {
            aggs.Add(e => e.FinalPrice).Min().Max().Sum().Average();
            aggs.Add(e => e.PayType).Count();
        })
        .Sort(sort => sort.Add(meber => meber.TimeStamp).Descending())
    ).ToClientTemplate()
)