@using (Html.BeginHelpSection("Getting started", TabArea.Help, true))
{ 
    <div></div>
}

@using (Html.BeginHelpSection("Sample", TabArea.Help))
{ 
    <div class="header">
        Display totals for Collection and Delivery
    </div>
    <p>
        Let say we wanted to see for the week the sales total for delivery modes 
    </p>
    <ol>
        <li>Drag the order type header into the group </li>
    </ol>
    
    <a class="k-button k-button-show-orderType-then-payType" href="#">Show me</a>
}