@using MyAndromeda.Web.Areas.Reporting.ViewModels;
@using MyAndromedaDataAccess.Domain.Reporting;

@model PopularItemsViewModel

@{
    var id = "SummaryItems_" + Guid.NewGuid();
}

@using (Html.BeginForm("ReadExcel", "Orders"))
{
    <input type="hidden" id="Title" name="Title" />
    <input type="hidden" id="Data" name="Data" />
    <input type="hidden" id="Model" name="Model" />
    
    <div class="sparkline">
        @(Html.Kendo()
            .Grid<SummaryOfLineItem>()
            .Name(id)
            .Sortable()
            .Filterable()
            .Scrollable(s => s.Height(400))
            .Pageable(p => p.Refresh(true).PageSizes(new [] { 10, 20, 40, 100}))
            .Groupable()
            .ToolBar(tools =>
            {
                tools.Excel();
                tools.Pdf();
                @*
                tools.Template(@<text>
                <input type="submit" value="Excel" class="k-button k-button-for-excel" />
                </text>);*@
            })
            .Columns(cols => { 
                cols.Bound(e => e.Description).Title("Name").Groupable(true);
                cols.Bound(e => e.ItemPrice).Title("Item Price").Groupable(false)
                    .ClientTemplate("#: kendo.toString(ItemPrice, 'c') #")
                    .Width(80);
                cols.Bound(e => e.OrderCount).Title("Orders").Groupable(false)
                    .Filterable(false)
                    .Width(180)
                    .ClientTemplate("<span class='sparkline' data-representation='OrderCount' data-value='#:OrderCount#'></span>#:OrderCount#");
                cols.Bound(e => e.ItemsQuantitySold).Title("Quantity Sold").Groupable(false)
                    .Width(180)
                    .ClientTemplate("<span class='sparkline' data-representation='QuantityCount' data-value='#:ItemsQuantitySold#'></span>#:ItemsQuantitySold#"); ;
                cols.Bound(e => e.SumPrice).Title("Sum Price").Groupable(false)
                    .Width(180)
                    .ClientTemplate("<span class='sparkline' data-representation='SumPrice' data-value='#:SumPrice #'></span>#:kendo.toString(SumPrice, 'c')#");
            })
        
            .DataSource(data => 
                data.Ajax()
                    .Read("ReadPopularItems", "PopularItems", new { Model.Filter.FilterFrom, Model.Filter.FilterTo })
                    .Sort(sort => sort.Add(member => member.OrderCount).Descending())

                   
            )
        )
    </div>
}
@using (Html.BeginScripts())
{ 
    <script type="text/javascript">
        $(function () {
            var listView = $("#@id").data("kendoGrid");
            listView.bind("dataBound", function (e) {
                var graphs = $("#@id").find(".sparkline");
                graphs.each(function (index, element) {
                    var $e = $(this);
                    var represents = $e.data("representation")
                    if(represents === 'OrderCount') {
                        $e.kendoSparkline({ type: "bar", data: $e.data("value"), valueAxis: { max: @(Model.OrderQuantityMax)} });
                    }
                    if(represents === 'QuantityCount'){
                        $e.kendoSparkline({ type: "bar", data: $e.data("value"), valueAxis: { max: @(Model.OrderQuantityMax)} });
                    }
                    if(represents === 'SumPrice') {
                        $e.kendoSparkline({ type: "bar", data: $e.data("value"), valueAxis: { max: @(Model.OrderSumMax)} });
                    }
                });
            });
        });
    </script>
    <script type="text/html" id="summaryOfItemTemplate">
        <tr>
            <td class="product-item">
                #:Description #
            </td>
            <td>
                <span class="sparkline" data-value="#:OrderCount#"></span>
            </td>
        </tr>
    </script>
}

@using (Html.BeginScripts())
{
    if (false) { 
    <script src="~/Scripts/MyAndromeda.App.All.js"></script>
    }
    
    <script type="text/javascript">
        $(function () {
            var exportService = new MyAndromeda.GridExport.Services.KendoGridExcelExporter({
                title: "Best Selling Items",
                gridSelector: $("#@id"),
                downloadSelector: "input.k-button-for-excel",
                titleSelector: "#Title",
                modelSelector: "#Model",
                dataSelector: "#Data"
            });
            exportService.init();
        });
        kendo.ui.FilterMenu.prototype.filter = function(expression) {
            expression = this._merge(expression);
            if (expression.filters.length) {
                this.dataSource.filter(expression);
            } else {
                this.dataSource.filter({});
            }
        }
    </script>
}
