@using AndroAdmin.Helpers

@model AndroAdmin.ViewModels.HostV2.HostStoreSelectionViewModel

@{
    var groups = Model.PossibleHosts;
    var privateHosts= groups.Where(e => e.Key == "PrivateWebOrderingAPI").SingleOrDefault();
}  


<div id="PrivateHardwareBind">
    <div class="k-block content">
        
        <div class="k-header">
            Test Private ACS Services
        </div>
        <p>
            The services require the hardware key for the store to test the private services host feed. 
        </p>
        <p data-bind="visible: noHosts" style="color:red;">There are no V2 'PrivateWebOrderingAPI' hosts available to test</p>
        <fieldset data-bind="visible: hostsAvailable">
            <legend><label for ="hardwareKey">Hardware Key:</label></legend>
            <input id="hardwareKey" name="hardwareKey" data-value-update="keyup" data-bind="value: hardwareKey" />
            <p>Andromeda site Id: @Model.Store.AndromedaSiteId</p>
        </fieldset>
        <div data-role="listview"
                     data-template="privateTemplate"
                     data-bind="source: items, visible: hostsAvailable"
            style="overflow: auto">
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        var items = @Html.ToJsonFromArray(privateHosts.Value.Where(e=> e.Version >= 2), e => new { 
               e.Url,
               e.OptInOnly,
               e.Enabled,
               e.Version
        });

        var vm = kendo.observable({
            hardwareKey: "",
            noHosts: items.length === 0 ? true: false,
            hostsAvailable: items.length === 0 ? false: true,
            items: new kendo.data.ObservableArray(items.map(function(item){
                return {
                    url: item.url,
                    getHardwareKey: function(){
                        return vm.get("hardwareKey");
                    },
                    serviceEndpoint: function(){
                        var key = vm.get("hardwareKey");
                        var url = this.get("url");
                        return kendo.format("{0}/host/{1}?licenseKey={2}&hardwareKey={3}", url, '@Model.Store.AndromedaSiteId', '@Model.Store.LicenceKey', key);
                    }
                }
            }))
        });
        
        vm.bind("change", function(e){
            console.log(e);
            if(e.field === "hardwareKey")
            {
                var items = vm.get("items");
                items.trigger("change");
                console.log(items);
            }
        });

        kendo.bind($("#PrivateHardwareBind"), vm);

        $("#PrivateHardwareBind").on("click", ".k-button-host", function(e) {
            if(vm.get("hardwareKey").length === 0){
                alert("You must specify a hardware key");
                e.preventDefault();
            }
        });
    });
</script>

<script type="text/html" id="privateTemplate">
    <div class="host k-block" style="margin:1em">
        <div class="k-header">
            #: url # 
        </div>
        <div>
            <a class="k-primary k-button k-button-host" target="_blank" href="#: serviceEndpoint() #">Debug service endpoint</a>
        </div>
    </div>
</script>