@{
    ViewBag.Title = "Andro Admin";
}

<h2>The old Andro admin websites</h2>

<p>This page contains links to the old AndroAdmin websites.  See the links below.  Clicking the link will open the website in a new tab or window.</p>
<p>You can use the same username and password to access both this website and all the old andro admin websites.  You can use the old andro admin "Users" website to maintain users for both old and new andro admin websites.</p>

<p>
    <a href="http://admin.androtechnology.co.uk/AndroAdmin/Admin" target="_blank">Andro admin Users</a>
</p>

<p>
    <a href="http://admin.androtechnology.co.uk/DashboardAdmin/" target="_blank">Andro admin Dashboard</a>
</p>

<p>
    <a href="http://admin.androtechnology.co.uk/OrderTrackingAdmin/" target="_blank">Andro admin Order tracking</a>
</p>