@model AndroAdmin.ViewModels.HubSelectionListViewModel
@{
    ViewBag.Title = "Hubs";
    Layout = "~/Views/Shared/_WebOrderingLayout.cshtml";    
}
<div class="hub-list">
    @foreach (var item in Model.AllHubs) 
    {
        <div class="hub-list-item">
            <label><input type="checkbox" name="@Html.FieldNameFor(e=> e.SelectedHubs)" value="@item.Id" />@item.Name</label>
        </div>
    }
</div>