.sparkline td {
  line-height: 40px;
}
.sparkline .k-grid td {
  overflow: visible;
}
.sparkline .k-sparkline {
  width: 200px;
}
.sparkline .k-sparkline {
  display: inline-block;
  width: 100px;
}
.product-item .k-sparkline {
  display: inline-block;
  width: 100px;
}
