    <!-- CHECKOUT DETAILS VIEW -->
    <script type="text/html" id="checkoutView">
        <div class="checkoutPage">
            <section id="checkoutPageInner">
                <h1 data-bind="text: textStrings.checkCheckout"></h1>
                <!-- Checkout section headers -->
                <div id="checkoutSectionContainer" class="checkoutSectionHeaders">
                    <!-- ko foreach: checkoutHelper.checkoutSections -->
                        <!-- ko template: { name: 'checkoutSectionHeader-template' } -->
                        <!-- /ko -->
                    <!-- /ko -->
                </div>

                <!-- Checkout sections -->
                <div id="checkoutSectionsContainer" class="sectionsContainer">
                    <!-- ko foreach: checkoutHelper.checkoutSections -->
                        <!-- ko template: { name: checkoutHelper.getTemplateName } -->
                        <!-- /ko -->
                    <!-- /ko -->
                </div>
            </section>
         </div>
    </script>

    <!-- Checkout section header -->
    <script type="text/html" id="checkoutSectionHeader-template">
        <div class="checkoutSectionHeader" data-bind="attr: { class: checkoutHelper.visibleCheckoutSection() == index ? 'selectedCheckoutSectionHeader' : 'checkoutSectionHeader' }">
            <h2 data-bind="click: $parent.showCheckoutSection, text: displayName"></h2>
        </div>
    </script>