    <!-- Delivery address -->
    <script type="text/html" id="checkoutDeliveryAddress-template">
        <div class="checkoutSection" data-bind="attr: { 'id': id }">
            <div id="checkoutDeliveryAddressContainer">
                <h3 data-bind="text: textStrings.checkDeliveryAddress"></h3>
                <div data-bind="template: { name: $root.addressType() }"></div>
                <div id="rememberAddressWrapper">
                    <input type="checkbox" data-bind="checked: checkoutHelper.checkoutDetails.rememberAddress" id="rememberAddress" />
                    <label for="rememberAddress" data-bind="text: textStrings.checkRememberAddress"></label> 
                </div>

                <!-- Next & back buttons -->
                <div data-bind="visible: !guiHelper.isMobileMode()" class="checkoutButtons">
                    <!-- Back -->
                    <div class="button backButton">
                        <a data-bind="click: checkoutHelper.backButtonClicked, text: checkoutHelper.backButton.displayText, visible: checkoutHelper.backButton.visible" href="#"></a>
                    </div>

                    <!-- Next -->
                    <div class="button nextButton">
                        <a data-bind="click: checkoutHelper.nextButtonClicked, text: checkoutHelper.nextButton.displayText" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </script>