    <!-- PAYMENT VIEW -->
    <script type="text/html" id="paymentView">
        <div class="checkoutPage">
            <section>
                <h1 data-bind="text: textStrings.payTitle"></h1>
                    <div id="checkoutPaymentContainer">
                    <h2 data-bind="text: textStrings.payPrompt"></h2>
                    <div id="paymentPayLine">
                        <!-- Pay at door / on collection -->
                        <div class="button" id="payAtDoorButton">
                            <a data-bind="click: checkoutHelper.payAtDoor, text: $root.orderType() == 'delivery' ? textStrings.payAtDoor : textStrings.payOnCollection" href="#"></a>
                        </div>

                        <!-- Pay now -->
                        <!-- ko if: viewModel.siteDetails() != null && viewModel.siteDetails().paymentProvider != undefined && viewModel.siteDetails().paymentProvider.length > 0 -->
                        <div class="button" id="payNowButton">
                            <a data-bind="click: checkoutHelper.payNow, text: textStrings.payNow" href="#"></a>
                        </div>
                        <!-- /ko -->
                    </div>
                    <div id="paymentTandCContainer">
                        <div id="paymentTandCCheckbox">
                            <input data-bind="checked: tandcHelper.agree" type="checkbox" />
                            <span data-bind="text: textStrings.payTNC1"></span>
                            <a href="#" data-bind="click: tandcHelper.showPopup, text: textStrings.payTNC2"></a>
                        </div>
                        <!-- ko if: tandcHelper.agree() == false -->
                        <div id="paymentTandCError" data-bind="text: textStrings.payTNCWarn"></div>
                        <!-- /ko -->
                    </div>
                </div>
            </section>
        </div>
    </script>

    <!-- MERCURY PAYMENT VIEW-->
    <script type="text/html" id="mercuryPaymentView">
        <div class="checkoutPage">
            <section>
                <h1>Payment</h1>
                <div>
                    <div id="mercuryPaymentContainer">
                        <iFrame id='mercuryPaymentIFrame'>
                            Your browser does not support iFrames. To view this content, please download and use the latest version of one of the following browsers: Internet Explorer, Firefox, Google Chrome or Safari.
                        </iFrame>
                    </div>
                </div>
            </section>
        </div>
    </script>

    <!-- DATACASH PAYMENT VIEW-->
    <script type="text/html" id="dataCashPaymentView">
        <div class="checkoutPage">
            <section>
                <h1>Payment</h1>
                <div>
                    <div id="dataCashPaymentContainer">
                        <iFrame id='dataCashPaymentIFrame'>
                            Your browser does not support iFrames. To view this content, please download and use the latest version of one of the following browsers: Internet Explorer, Firefox, Google Chrome or Safari.
                        </iFrame>
                    </div>
                </div>
            </section>
        </div>
    </script>

    <!-- MERCANET PAYMENT VIEW-->
    <script type="text/html" id="mercanetPaymentView">
        <div class="checkoutPage">
            <section>
                <h1 data-bind="text: textStrings.mercanetTitle"></h1>
                <p data-bind="text: textStrings.mercanetIntro"></p>
                <div>
                    <div id="mercanetPaymentContainer">
                        <iFrame id='mercanetPaymentIFrame' data-bind="html: textStrings.mercanetiFrameWarn">
                            
                        </iFrame>
                    </div>
                </div>
            </section>
        </div>
    </script>