@{
    var context = Html.GetWorkContext();  
}

<section id="NotificationSending" class="well">
    <h2 class="ra-well-title">Announce</h2>
    <div class="row">
        

        <div class="form-horizontal form-widgets col-sm-6">
            <div class="form-group">
                <label for="UserName" class="control-label col-sm-4">UserName</label>
                <div class="col-sm-8 col-md-6">
                    <input value="@context.CurrentUser.User.Username" id="UserName" class="k-textbox">
                </div>
            </div>

            <div class="form-group">
                <label for="StoreId" class="control-label col-sm-4">StoreId</label>
                <div class="col-sm-8 col-md-6">
                    <input value="@(context.CurrentSite.Available ? context.CurrentSite.AndromediaSiteId : 0)" id="StoreId" class="k-textbox">
                </div>
            </div>

            <div class="form-group">
                <label for="StoreId" class="control-label col-sm-4">Settings</label>
                <div class="col-sm-8 col-md-6">
                    <div class="col-sm-12">
                        <input type="checkbox" id="NotifyOthersLoggedIntoChain" class="k-checkbox"><label class="k-checkbox-label" for="NotifyOthersLoggedIntoChain">NotifyOthersLoggedIntoChain</label>
                    </div>
                    <div class="col-sm-12">
                        <input type="checkbox" id="NotifyOthersLoggedIntoStore" class="k-checkbox"><label class="k-checkbox-label" for="NotifyOthersLoggedIntoStore">NotifyOthersLoggedIntoStore</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="Message" class="control-label col-sm-4">Message</label>
                <div class="col-sm-8 col-md-6">
                    <textarea id="Message">
                    I'm a test message. Lorem ipsum dolor sit amet. 
                </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="buttons-wrap">
            <button class="k-button k-state-default k-button-send">Send</button>
        </div>
    </div>
</section>

@using (Html.BeginScripts())
{
    if (false)
    {
    <script src="~/Scripts/kendo/2014.3.1119/kendo.all.js"></script>
    }
    <script type="text/javascript">
        $(function () {
            $(".k-button-send").click(function (e) {
                e.preventDefault();

                //api/{AndromedaSiteId}/Announce
                var storeId = $("#StoreId").val();
                var userName = $("#UserName").val();
                var message = $("#Message").val();
                var notifyOthersLoggedIntoChain = $("#NotifyOthersLoggedIntoChain").prop('checked');
                var notifyOthersLoggedIntoStore = $("#NotifyOthersLoggedIntoStore").prop('checked');

                var url = kendo.format("/api/{0}/Announce", storeId);

                $.post(url, {
                    userName: userName,
                    message: message,
                    notifyOthersLoggedIntoChain: notifyOthersLoggedIntoChain,
                    notifyOthersLoggedIntoStore: notifyOthersLoggedIntoStore
                });
            });
        });
    </script>        
}
