@model IEnumerable<MyAndromedaDataAccess.Domain.Site>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section Breadcrumb
{
    <ul>
        <li>
            <a href="#">My Sites</a>
        </li>
    </ul>
}*@

<div class="header">
    <h3>My Sites</h3>
</div>

@(Html.Kendo().Grid(Model)
    .Name("SiteList")
    .Pageable(p=> p.PageSizes(new []{ 10, 50, 100 }))
    .Sortable()
    .Filterable(filterable=> filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Starts with")
                .Contains("Contains")
        ))
    ) 
    
    .Scrollable(c=> c.Height(300))
    //.Scrollable(c => c.Height(380))
    .DataSource(d => d.Ajax().ServerOperation(false).Batch(true))
    .Columns(cols => {
        cols.Bound(e => e.ClientSiteName)
            .Title("Site name")
            .Filterable(true)
            .Template(@<text> @Html.ActionLink(item.ClientSiteName, "Index", "Site", new { Area = "Store", ChainId = item.ChainId, ExternalSiteId = item.ExternalSiteId }, null)  </text>)
            .ClientTemplate("<a href='/Chain/#=ChainId#/Store/#=ExternalSiteId#/Store'>#=ClientSiteName#</a>");
        //cols.Bound(e=> e.CustomerSiteId).Title("Site id");
}))

@using (Html.BeginHelpSection("Getting Stared", TabArea.Help, true))
{
    <div class="header">
        <h3>Site List</h3>
    </div>
}

@using (Html.BeginHelpSection("Site List", TabArea.Help)) 
{
    <div class="header">
        <h3>No sites?</h3>
    </div>
    <div>
        <p>If there are no sites in the site list then are no sites directly attached to this area of the chain. Please navigate to a more specific branch to access the stores.</p>
    </div>
}