
@using (Html.BeginHelpSection("Store Details", TabArea.Help, true)) 
{
    <p>
        These are are the fields which can be used to change how external services perceive the store  
    </p>
}