/*!
    Copyright © 2014 Andromeda Trading Limited.  All rights reserved.  
    THIS FILE AND ITS CONTENTS ARE PROTECTED BY COPYRIGHT AND/OR OTHER APPLICABLE LAW. 
    ANY USE OF THE CONTENTS OF THIS FILE OR ANY PART OF THIS FILE WITHOUT EXPLICIT PERMISSION FROM ANDROMEDA TRADING LIMITED IS PROHIBITED. 
*/

/* BUTTON */
.highlightedButton a, .button a
{
    background-color: <<BUTTONCOLOR>>;
    color: <<BUTTONTEXTCOLOR>>;
}
.sectionHeader a:link, .sectionHeader a:visited, .sectionHeader a:active
{
    background-color: <<BUTTONCOLOR>>;
    color: <<BUTTONTEXTCOLOR>>;
}
.itemName, .dealName, .siteListCollectFromHere, #storeDetailsDeliveryTimes
{
    background-color: <<BUTTONCOLOR>> !IMPORTANT;
    color: <<BUTTONTEXTCOLOR>> !IMPORTANT;
}

.popupToppingsSection h2
{
    color: <<BUTTONCOLOR>>;
}

/* SELECTED BUTTON */
.selectedSectionHeader a:link, .selectedSectionHeader a:visited, .selectedSectionHeader a:active
{
    background-color: <<SELECTEDBUTTONCOLOR>>;
    color: <<SELECTEDBUTTONTEXTCOLOR>>;
}

/* MAIN MENU BAR */
#mainMenu
{
    background-color: <<MAINMENUBARCOLOUR>>;
}

/* MAIN MENU TEXT */
.mainMenuButtonSelected a:link, .mainMenuButtonSelected a:visited, .mainMenuButtonSelected a:active
{
    color: <<MAINMENUTEXTCOLOUR>>;
}

/* MAIN MENU SELECTED TEXT */
.mainMenuButton a:link, .mainMenuButton a:visited, .mainMenuButton a:active, .mainMenuButtonHighlighted a:link, .mainMenuButtonHighlighted a:visited, .mainMenuButtonHighlighted a:active
{
    color: <<MAINMENUSELECTEDTEXTCOLOUR>>;
}
/* STARTBACKGROUNDIMAGEBLOCK */
@media only screen and (min-width: 601px)
{
    body
    {
        background-color: transparent;
        background: url(<<BACKGROUNDIMAGEURL>>) repeat;
        background-attachment: fixed;
    }
    header
    {
        background: transparent;
    }
    #viewContainerOuter
    {
        background-color: transparent;
    }
    /*#staticContentOuter
    {
        background-color: transparent;
    }*/
    #menuSectionWrapper 
    {
        background-color: transparent;
    }
    #footerWrapper
    {
        background: transparent;
    }
}

#headerMyProfileButton a, 
#headerMyProfileButton a:link, 
#headerMyProfileButton a:visited, 
#headerMyProfileButton a:active,
#headerMyProfileButton a:hover,
#headerMyOrdersButton a, 
#headerMyOrdersButton a:link, 
#headerMyOrdersButton a:visited, 
#headerMyOrdersButton a:active,
#headerMyOrdersButton a:hover,
#headerLogoutButton a, 
#headerLogoutButton a:link, 
#headerLogoutButton a:visited, 
#headerLogoutButton a:active,
#headerLogoutButton a:hover
{
    color: <<MAINMENUBARCOLOUR>>;
}

@media only screen and (max-width: 600px)
{
    body
    {
        background: url(<<MOBILEBACKGROUNDIMAGEURL>>) repeat;
        background-color: transparent;
        background-attachment: fixed;
    }
}
/* ENDBACKGROUNDIMAGEBLOCK */
/* STARTNOBACKGROUNDIMAGEBLOCK */

#footer
{
    background: transparent;
}

#pageHeader
{
    background: transparent;
}

/* ENDNOBACKGROUNDIMAGEBLOCK */

<<ADDITIONAL>>






