@using MyAndromeda.Data.DataWarehouse.Domain.Marketing;

@model dynamic

@(Html.Kendo()
    .Grid<CustomerModel>()
    .Name("CustomerList")
    .ToolBar(tools => { tools.Template(@<text><a href="@Url.Action("CSV", "CustomerList")" class="k-button k-button-csv">CSV</a></text>); })
    .Scrollable(s => s.Height(400))
    .Columns(cols =>
        {
            cols.Bound(e => e.FirstName);
            cols.Bound(e => e.Surname);
            cols.Bound(e=> e.Email);
        })
    .Sortable()
    .Filterable()
    .DataSource(ajax => ajax
        .Ajax()
        .PageSize(20)
        .ServerOperation(false).Read("Read", "CustomerList")))

@using(Html.BeginScripts()){
    <script type="text/javascript">
        $(function () {
            $("#CustomerList").on("click", ".k-button-csv", function (e) {
                //e.preventDefault();
                //alert("not yet");
            });
        });
    </script>
}