<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <variable name="logDirectory" value="${basedir}/App_Data/Logs/${shortdate}" />

  <targets>
    <target name="console" xsi:type="ColoredConsole"
      layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />
    <target name="debugFile" xsi:type="File" fileName="${logDirectory}/debug.txt"
     layout="${longdate} ${callsite} ${level} ${message}" />

    <target name="errorFile" xsi:type="File" fileName="${logDirectory}/error.txt"
     layout="${stacktrace} ${message}" />
    <target name="f" xsi:type="File" fileName="${logDirectory}/${logger}.txt"/>
  </targets>

  <rules>
    <logger name="debug" minlevel="Debug" writeTo="console,debugFile" />
    <logger name="error" minlevel="Error" writeTo="errorFile" />
    
    <logger name="MyAndromeda.Web.Handlers.*" minlevel="Debug" writeTo="f" />
    <logger name="MyAndromeda.Web.Controllers.Api.*" writeTo="f"  />
    <logger name="MyAndromeda.Services.Bringg.*" writeTo="f"/>
  </rules>
</nlog>