@model IList<AndroAdminDataAccess.Domain.ACSApplication> 
@{
    ViewBag.Title = "ExistingACSApplication";
}

<h2>ExistingACSApplication</h2>

<ul>
@foreach (var acsApplication in Model.OrderBy(e=> e.Name)) 
{
    <li>
        <a href="@Url.Action("Edit", new { AcsApplicationId = acsApplication.Id })">@acsApplication.Name (@acsApplication.Id)</a>
    </li>    
}
</ul>