@model IList<AndroAdminDataAccess.Domain.AndroWebOrderingWebsite>
@{
    ViewBag.Title = "Index";
}

<h2>Manage Andro Web Ordering</h2>

<style>
    .actionLink {
        font-size: larger;
        margin-left: 600px;
    }
</style>

@*<div style="padding-top:13px;margin-bottom:3px;">
        <div id="filters" class="k-toolbar k-widget k-toolbar-resizable">
            <b style="text-align:left">Search: </b><input class="k-textbox" style="width: 200px; " type="text" data-bind="value: searchText" data-value-update="keyup" />
            <div style="float:right; padding-right:10px;">
                <a class="k-primary k-button" href="@Url.Action("Edit", "AndroWebOrdering")">Add New Website</a>
            </div>

        </div>
    </div>*@


@(Html.Kendo().Grid<AndroAdminDataAccess.Domain.AndroWebOrderingWebsite>()
    .Name("AndroWebOrderingGrid")
    .Excel(e => e.AllPages(true))
            .ToolBar(tools => { 
                tools.Excel();
                tools.Custom().Action("Edit", "AndroWebOrdering").Text("Add New Website");
            })
    .Columns(cols =>
    {
        cols.Bound(e => e.Name)
            .Title("<b>Website</b>")
            .Filterable(e => e.Mode(GridFilterMode.Row))
            .Width("200px")
            .ClientTemplate("<a href='" + Url.Action("Edit", "AndroWebOrdering") + "?id=#= Id #'" + ">#=Name#</a>");
        cols.Bound(e => e.LiveDomainName).Width("230px").Title("<b>Live &amp; Preview Domain</b>")
            .ClientTemplate("#= LiveDomainName# <br/> #=PreviewDomainName#");
        //cols.Bound(e => e.PreviewDomainName).Width("230px").Title("<b>Preview Domain</b>");
        cols.Bound(e => e.StoresCount).Title("<b># Stores *</b>").Width("70px");

        cols.Bound(e => e.SubscriptionName)
            .Title("<b>Subscription Type</b>")
            .Filterable(e => e.Multi(true).CheckAll(true))
            .Width("100px");
        cols.Bound(e => e.Status)
            .Title("<b>Status</b>")
            .Filterable(e => e.Multi(true).CheckAll(true))
            .Width("100px");
    })
    .Filterable(f => f.Mode(GridFilterMode.Row))
    .Sortable()
    .Pageable(paging => paging.Refresh(false))
    .DataSource(dataSource =>
    {
        dataSource
            .Ajax()
            .Read(read => read.Action("List", "AndroWebOrdering").Type(HttpVerbs.Get))
            //.PageSize(30)
            .ServerOperation(false)
            .Model(model => model.Id(e => e.Id));
    })
)

<script src="~/Scripts/app/AndroWebOrdering/AndroWebOrdering.js"></script>
<script type="text/javascript">

    $(function () {
        var service = new AndroWebOrdering.Services.Websites.WebsitesListService();
        service.Init();
    });

</script>