<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- 
  If you are looking here and want more output, 
  first thing to do is change root/priority/@value to "INFO" or "ALL" 
  -->

  <root>
    <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
    <priority value="DEBUG" />
    
    <appender-ref ref="error-file" />
    <appender-ref ref="debug-file" />
  </root>

  <logger name="MyAndromeda.Services.Bringg">
    <priority value="ALL" />
  </logger>
  <logger name="MyAndromeda.SignalRHubs">
    <priority value="DEBUG" />
  </logger>
  <logger name="MyAndromeda.Web.Controllers.Api">
    <priority value="DEBUG" />
    <appender-ref ref="service-file" />
  </logger>
  <logger name="MyAndromeda.Web.Handlers">
    <priority value="DEBUG" />
    <appender-ref ref="service-file" />
  </logger>

  
  
  <appender name="debugger" type="log4net.Appender.DebugAppender">
    <!-- debugger: visual studio, if attached -->

    <immediateFlush value="true" />
    <layout type="log4net.Layout.SimpleLayout" />
  </appender>

  <appender name="service-file" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data/Logs/myandromeda-services" />
    <appendToFile value="true" />

    <!-- immediate flush on error log, to avoid data loss with sudden termination -->
    <immediateFlush value="true" />
    <maxSizeRollBackups value="7" />
    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="-yyyy.MM.dd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %message%newline" />
    </layout>
  </appender>


  <appender name="service-file" type="log4net.Appender.RollingFileAppender">
    <file value="App_Data/Logs/myandromeda-services" />
    <appendToFile value="true" />

    <!-- immediate flush on error log, to avoid data loss with sudden termination -->
    <immediateFlush value="true" />
    <maxSizeRollBackups value="7" />
    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="-yyyy.MM.dd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %message%newline" />
    </layout>
  </appender>
  
  <appender name="debug-file" type="log4net.Appender.RollingFileAppender">
    <!-- debug log: all messages, based on logger priority settings of namespaces above -->

    <file value="App_Data/Logs/myandromeda-debug" />
    <appendToFile value="true" />

    <!-- immediate flush on error log, to avoid data loss with sudden termination -->
    <immediateFlush value="true" />
    <maxSizeRollBackups value="30" />
    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="-yyyy.MM.dd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="error-file" type="log4net.Appender.RollingFileAppender">
    <!-- error log: only ERROR and FATAL subset of debug log -->

    <file value="App_Data/Logs/myandromeda-error" />
    <appendToFile value="true" />

    <!-- immediate flush on error log, to avoid data loss with sudden termination -->
    <immediateFlush value="true" />
    <maxSizeRollBackups value="30" />
    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="-yyyy.MM.dd'.log'" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

    <filter type="log4net.Filter.LevelRangeFilter">
      <!-- only error and fatal messages end up in this target, even if child loggers accept lower priority -->
      <levelMin value="ERROR" />
    </filter>

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %message%newline" />
    </layout>
  </appender>
</log4net>
