<script type="text/template" id="registerQuickView">
    <div id="lrContent" class="content">
        <div id="lrBox">
            <div id="loginRegisterBox">
                <div id="lrRegisterContainer">
                    <h2 id="lrCreateAnAccount" data-bind="text: textStrings.lrCustomerDetails"></h2>
                    <!-- Account details template : Firstname -> email --> 
                    <div data-bind="template: { name: 'accountDetailTemplate' }"></div>

                    <div class="button" id="lrRegisterButton">
                        <a href="#" data-bind="title: textStrings.lrRegisterButton, text: textStrings.lrRegisterButton, click: $root.contentViewModel().register">Login</a>
                    </div>

                    <div class="button" id="lrCancelButton">
                        <a href="#" data-bind="title: textStrings.lrCancelButton, text: textStrings.lrCancelButton, click: $root.contentViewModel().cancel">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
