@using MyAndromeda.Data.Model.AndroAdmin;
@using WebHookPermissions = MyAndromeda.Web.Areas.Acs.UserPermissions;

@{
    var webHookTemplate = Html.CreateHtmlTemplate();
    var authorizer = Html.GetAuthorizer();
}

@using(webHookTemplate.CreateTemplate)
{
    <a class="k-button" href="@Url.ActionClientTemplate("Index", "WebHooks", new { Area = "Acs" , AcsApplicationId = "#=Id#"})">Web Hooks</a>
}

@(Html.Kendo()
    .Grid<ACSApplication>()
    .Name("AcsApplications")
    .Columns(cols =>
    {
        cols.Bound(m => m.Id)
            .Width(180);
        cols.Bound(m => m.Name);
        cols.Bound(m => m.Partner.Name)
            .Title("Partner Name")
            .MinScreenWidth(800);
        if (authorizer.Authorize(WebHookPermissions.EditWebhooksPermission)) { 
            cols.Template(@<text></text>).Width(130)
                .Title("Actions")
                .ClientTemplate(webHookTemplate.Result);
        }
            
    })
    .Resizable(r=> r.Columns(true))
    .Filterable(f=> f.Mode(GridFilterMode.Row))
    .Sortable()
    
    .DataSource(d => d.Ajax().Read("list", "Default", new { Area = "Acs" }).ServerOperation(false))

)
