<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    
    <add key="MarketingEventQueue" value="marketing-event-queue-dev" />
    <!--<add key="MarketingEventStoreQueue" value="marketing-event-store-queue-dev" />-->
    <add key="MarketingEventStoreQueue" value="marketing-event-store-queue-dev" />
    
    <add key="MarketingEventAuditHistoryQueue" value="marketing-event-audit-history-queue-dev" />

    <!--<add key="MyAndromeda.WebApiClient.BaseAddress" value="http://localhost:50262/" />-->
    <add key="MyAndromeda.WebApiClient.BaseAddress" value="https://test.myandromeda.co.uk/" /> 
  
  </appSettings>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=myandromeda;AccountKey=dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=myandromeda;AccountKey=dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag==" />

    <add name="AndroAdminEntities" connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroAdminDbContext" connectionString="metadata=res://*/Model.AndroAdmin.DbContext.csdl|res://*/Model.AndroAdmin.DbContext.ssdl|res://*/Model.AndroAdmin.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyAndromedaDbContext" connectionString="metadata=res://*/Model.MyAndromeda.DbContext.csdl|res://*/Model.MyAndromeda.DbContext.ssdl|res://*/Model.MyAndromeda.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net,1433;initial catalog=test.MyAndromeda;persist security info=True;user id=andromeda;password=h6ruh7kS2#4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=ACSUser;password=Pass123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseDbContext" connectionString="metadata=res://*/Models.DataWarehouseDataContext.csdl|res://*/Models.DataWarehouseDataContext.ssdl|res://*/Models.DataWarehouseDataContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=Andromeda;password=uQW9gdZMM;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.net>
    <mailSettings>
      <!-- -->
      <smtp from="donotreply@myandromeda.co.uk">
        <!-- live  -->
        <!--<network host="smtp.sendgrid.net" userName="azure_8e6d96136ea205548edd2781e2fa3020@azure.com" password="l1gdc5dk23TSeZ9" port="587" />-->
        <!-- test -->
        <network host="smtp.sendgrid.net" userName="azure_1fd33f45053ec3160eaa80a489096ada@azure.com" password="SrZAE75KLH1hq7a" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.3.0" newVersion="3.7.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>