<%-- 
Name: WRTableBLLDerivative.cst
Description: CodeSmith Template for generating a customisable Business Logic Layer class derived from the equivalent BLLbase class
Asumptions: assumes that the database table being wrapped has exactly one primary key field (primary key field may or may not be an identity field)
--%>
<%@ CodeTemplate Language="C#" TargetLanguage="Text" Src="WRCommon.cst.cs" Inherits="WRCommon" Debug="False" Description="generate a customisable Business Logic Layer class derived from the equivalent BLLbase class" %>
<%-- Properties --%>
<%@ Property Name="DatabaseName" Type="WRDatabase" Category="Options" Description="This defines the William Reed database" %>
<%@ Property Name="NameSpace" Visible="False" Type="System.String" Default="changeMeNameSpace" Category="Options"
	Description="This is the project namespace which contains this data access class. It will be substituted in for XXX in following namespace: WilliamReed.XXX.Base" %>
<%@ Property Name="ProcedurePrefix" Visible="False" Type="System.String" Default="csp_" Category="Options"
	Description="Prefix used in all stored procedure names. This is needed as this class will be using stored procedures" %>
<%@ Property Name="TablePrefix" Type="System.String" Default="d_" Category="Options"
	Description="If this prefix is found at the start of a table name, it will be stripped off to give meaningful procedure and class names." %>
<%-- Assemblies and Imports --%>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.IO" %>
<%-- Assembly References --%>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.BaseTemplates" %>

<%-- General Validation--%>
<%
	if (DatabaseName == WRDatabase.Ignore)
	{
		ShowValidationError("Please choose a William Reed database other than 'Ignore' for property 'DatabaseName'.");
		return;
	}	
 %>
//------------------------------------------------------------------------------
// <autogenerated>
//		This class was auto generated for William Reed Publishing Limited.
//
//		Once created this file WILL NOT be overwritten by subsequent codesmith
// 		automatic code generation. Therefore changes may be made to this file.
//
// </autogenerated>
//------------------------------------------------------------------------------
using System;
using System.Collections;
using System.Text;
using System.Xml;
using System.Data;
using System.Data.SqlClient;
using WilliamReed.<%=NameSpace%>.Data;
using WilliamReed.<%=NameSpace%>.Data.Base;
using WilliamReed.<%=NameSpace%>.Base;

namespace WilliamReed.<%=NameSpace%>
{
	/// <summary>
	/// Business logic class wrapping the class <%=GetDALDerivativeClassName(TablePrefix)%> for the table <%= SourceTable.FullName %> in the <%= SourceTable.Database.Name %> database
	/// </summary>
	public class <%= GetBLLDerivativeClassName(TablePrefix) %> : <%= GetBLLClassName(TablePrefix) %>
	{
		#region Access To <%=GetDALDerivativeClassName(TablePrefix)%>
		protected <%=GetDALDerivativeClassName(TablePrefix)%> _<%=GetDALDerivativeClassName(TablePrefix)%> = null;

		// MUST override abstract method GetInstance()
		protected override <%= GetDALClassName(TablePrefix) %> GetInstance()
		{
			// return the instance of the Data Access Layer class wrapped by this Business Layer Class. This will be _PropertyDALbase or a customised class called _PropertyDAL
			return _<%=GetDALDerivativeClassName(TablePrefix)%>;
		}
		#endregion

		#region Constructors
		public <%= GetBLLDerivativeClassName(TablePrefix)%>()
		{
			_<%=GetDALDerivativeClassName(TablePrefix)%> = new <%=GetDALDerivativeClassName(TablePrefix)%>();

			// set initial values for _<%=GetDALDerivativeClassName(TablePrefix)%>

			// add custom or specialised construction here if required
		}

		public <%= GetBLLDerivativeClassName(TablePrefix)%>(<%=GetCSharpVariableType(SourceTable.PrimaryKey.MemberColumns[0].DataType)%> <%=SourceTable.PrimaryKey.MemberColumns[0].Name%>)
		{
			_<%=GetDALDerivativeClassName(TablePrefix)%> = new <%=GetDALDerivativeClassName(TablePrefix)%>(<%=SourceTable.PrimaryKey.MemberColumns[0].Name%>);

			// add custom or specialised construction here if required
		}
		#endregion

		// ----------------------------------------------------
		// place custom, specialised or overridden methods here
	}
}
