    <!-- US address template-->
    <script type="text/html" id="usAddress-template">

        <!-- Org1 -->
        <div class="checkoutAddressLine">
            <div class="checkoutAddressColumn1">
                <div class="required">&nbsp;</div>
                <label for="checkoutOrg1">Company name: </label>
            </div>
            <div class="checkoutAddressColumn2">
                <input id="Text1" type="text" autofocus data-bind="value: checkoutHelper.checkoutDetails.address.org1" />
            </div>
            <div class="checkoutAddressColumn3">
            </div>
        </div>

        <!-- Prem1 -->
        <div class="checkoutAddressLine">
            <div class="checkoutAddressColumn1">
                <div class="required">&nbsp;</div>
                <label for="checkoutPrem1">Unit name: </label>
            </div>
            <div class="checkoutAddressColumn2">
                <input id="Text3" type="text" data-bind="value: checkoutHelper.checkoutDetails.address.prem1" />
            </div>
            <div class="checkoutAddressColumn3">
            </div>
        </div>
        
        <!-- Prem2 -->
        <div class="checkoutAddressLine">
            <div class="checkoutAddressColumn1">
                <div class="required">&nbsp;</div>
                <label for="checkoutPrem2">Building/Condo name: </label>
            </div>
            <div class="checkoutAddressColumn2">
                <input id="Text4" type="text" data-bind="value: checkoutHelper.checkoutDetails.address.prem2" />
            </div>
            <div class="checkoutAddressColumn3">
            </div>
        </div>

        <!-- RoadNumber -->
        <div class="checkoutAddressLine">
            <div class="checkoutAddressColumn1">
                <div class="required">&nbsp;</div>
                <label for="checkoutRoadNumber">Street number: </label>
            </div>
            <div class="checkoutAddressColumn2">
                <input id="Text5" maxlength="16" type="text" data-bind="value: checkoutHelper.checkoutDetails.address.roadNum" />
            </div>
            <div class="checkoutAddressColumn3">
                E.g. "4"
            </div>
        </div>

        <!-- RoadName -->
        <div class="checkoutAddressLine">
            <div class="checkoutAddressColumn1">
                <div class="required">*</div>
                <label for="checkoutRoadName">Street name: </label>
            </div>
            <div class="checkoutAddressColumn2">
                <input id="Text6" maxlength="64" type="text" data-bind="value: checkoutHelper.checkoutDetails.address.roadName, 'attr': { 'class': checkoutHelper.errors.roadNameHasError() ? 'checkoutDataError' : '' }" />
            </div>
            <div class="checkoutAddressColumn3">
                E.g. "10th STREET WEST"
            </div>
        </div>

        <!-- City -->
        <div class="checkoutAddressLine">
            <div class="checkoutAddressColumn1">
                <div class="required">*</div>
                <label for="checkoutTown">City: </label>
            </div>
            <div class="checkoutAddressColumn2">
                <input id="Text7" maxlength="64" type="text" data-bind="value: checkoutHelper.checkoutDetails.address.town, 'attr': { 'class': checkoutHelper.errors.townHasError() ? 'checkoutDataError' : '' }" />
            </div>
            <div class="checkoutAddressColumn3">
                The city name. E.g. "BILLINGS"
            </div>
        </div>
        	
        <!-- postcode -->
        <div class="checkoutAddressLine">
            <div class="checkoutAddressColumn1">
                <!-- ko if: settings.postcodeRequired -->
                <div class="required">*</div>
                <!-- /ko -->
                <!-- ko if: !settings.postcodeRequired -->
                <div class="required">&nbsp;</div>
                <!-- /ko -->
                <label for="checkoutPostcode">ZipCode: </label>
            </div>
            <div class="checkoutAddressColumn2">
                <input id="Text9" maxlength="16" type="text" data-bind="value: checkoutHelper.checkoutDetails.address.postcode, 'attr': { 'class': checkoutHelper.errors.postcodeHasError() ? 'checkoutDataError' : '' }" />
            </div>
            <div class="checkoutAddressColumn3">
                E.g. "86400"
            </div>
        </div>

        <!-- Directions -->
        <div class="checkoutAddressLine">
            <div class="orderNotesColumn1">
                <label for="checkoutDirections" data-bind="text: textStrings.checkDirections"></label>
                <br />
                <span data-bind="text: textStrings.checkDirectionsEx"></span>
            </div>
            <div class="checkoutAddressColumn2">
                <textarea id="checkoutDirections" autofocus data-bind="value: checkoutHelper.checkoutDetails.address.directions" maxlength="255"></textarea>
            </div>
        </div>

        <div class="requiredLine">
            * Required
        </div>

        <!-- ko if: checkoutHelper.errors.addressMissingDetails() -->
        <div class="checkoutError">
            Missing information!  Please enter details in the boxes highlighted in red.
        </div>
        <!-- /ko -->

        <!-- ko if: checkoutHelper.checkoutDetails.address.postcode().length > 0 && checkoutHelper.errors.outOfDeliveryArea() -->
        <div class="checkoutError">
            Sorry, this store doesn't deliver to your postcode.  <!--However, you can collect your order from the store by clicking the "Modify order" button and selecting "Collect from store".-->
        </div>
        <!-- /ko -->

    </script>