<script type="text/html" id="loginView">
    <div id="loginContent" class="content">
        <div id="loginRegisterInner">
            <!-- Header -->

            <div id="signInWrapper" data-bind="css: { lrpRegisterSectionHidden: $root.contentViewModel().isLoginMode === undefined || !$root.contentViewModel().isLoginMode() }">

                <!-- Sign in -->
                <h1 data-bind="text: textStrings.lrpLogin"></h1>

                <div id="signIn">

                    <!-- ko if: settings.faceBookLoginEnabled -->
                    <div id="loginUsingFacebook">

                        <!-- Login using facebook -->
                        <div id="facebookLoginButtonOuter">
                            <div class="button" id="facebookLoginButton">
                                <a href="#" data-bind="click: $root.contentViewModel().facebookLogin, title: textStrings.lrpSignInFacebookButton, text: textStrings.lrpSignInFacebookButton"></a>
                            </div>
                        </div>

                    </div>
                    <!-- /ko -->
                    <!-- Divider -->
                    <!-- ko if: settings.faceBookLoginEnabled && settings.androLoginEnabled -->
                    <div>
                        <div id="facebookLoginDivider" data-bind="html: textStrings.lrpDividerOr"></div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: settings.androLoginEnabled -->
                    <div id="loginSection">
                        <!-- Login -->
                        <form action="#" method="post">
                            <div id="loginSectionInner">
                                <div class="loginFormInput">
                                    <input name="username" id="loginFormInput" type="email" maxlength="50" autofocus data-bind="value: accountHelper.loginDetails.emailAddress, valueUpdate: 'keypress', event: { keypress: $root.contentViewModel().loginRegisterKeyPress }, attr: { placeholder: textStrings.lrpAndroEmail }" />
                                </div>

                                <div class="loginFormInput">
                                    <input name="password" type="password" maxlength="50" data-bind="value: accountHelper.loginDetails.password, valueUpdate: 'keypress', event: { keypress: $root.contentViewModel().loginRegisterKeyPress }, attr: { placeholder: textStrings.lrpAndroPassword }" />
                                </div>
                                <a data-bind="click: $root.headerViewModel().mobileForgotPassword, html: textStrings.hForgetPasswordButton" href="#"></a>
                            </div>

                            <div id="loginButtonContainer">
                                <div class="button" id="loginButton">
                                    <a href="#" data-bind="click: $root.contentViewModel().login, text: textStrings.lrpAndroLoginButton, attr: {title:textStrings.lrpAndroLoginButton}"></a>
                                </div>

                                <div id="loginError" data-bind="text: accountHelper.loginDetails.errorMessage"></div>
                            </div>

                            <!-- ko if: $root.contentViewModel().isLoginMode === undefined || $root.contentViewModel().isLoginMode() -->
                            <div class="button toggleRegisterButton">
                                <a href="#" data-bind="click: $root.contentViewModel().toggleToRegister, text: textStrings.lrpRegister, attr: {title:textStrings.lrpRegister}"></a>
                            </div>
                            <!-- /ko -->

                        </form>
                    </div>
                    <!-- /ko -->
                </div>

            </div>

            <div id="registerWrapper" data-bind="css: { lrpRegisterSectionHidden: $root.contentViewModel().isLoginMode === undefined || $root.contentViewModel().isLoginMode() }">

                <h1 data-bind="text: textStrings.lrpRegister"></h1>

                <div data-bind="template: { name: 'accountDetailTemplate' }"></div>

                <div id="loginButtonContainer">
                    <div class="button" id="registerButton">
                        <a href="#" data-bind="click: $root.contentViewModel().register, text: textStrings.lrpSignUpText, attr: {title:textStrings.lrpSignUpText}"></a>
                    </div>
                </div>

                <!-- ko ifnot: accountHelper.registerError() === undefined -->
                <div id="loginError" data-bind="text: accountHelper.registerError"></div>
                <!-- /ko -->

                <!-- ko if: $root.contentViewModel().isLoginMode === undefined || !$root.contentViewModel().isLoginMode() -->
                <div class="button toggleRegisterButton">
                    <a href="#" data-bind="click: $root.contentViewModel().toggleToLogin, text: textStrings.lrpAndroLoginButton, attr: {title:textStrings.lrpAndroLoginButton}"></a>
                </div>
                <!-- /ko -->

            </div>

        </div>
    </div>
</script>