    <script type="text/html" id="repeatOrderView">
        <div id="repeatOrderContent" class="content">

            <div id="roContent">
                <h1 id="roRepeatOrder" data-bind="html: textStrings.roRepeatOrder"></h1>
                <!-- ko foreach: myOrdersHelper.repeatOrder().orderLines -->
                    <!-- ko if: problem.length == 0 -->
                    <div class="roOrderLine">
                        <div class="roName" data-bind="html: orderLine.name"></div>
                        <div class="roQuantity" data-bind="html: orderLine.quantity"></div>
                        
                        <!-- ko if: newPrice == undefined -->
                        <div class="roPrice" data-bind="html: helper.formatPrice(orderLine.price)"></div>
                        <!-- /ko -->

                        <!-- ko if: newPrice != undefined -->
                        <div class="roPriceBad" data-bind="html: helper.formatPrice(orderLine.price)"></div>
                        <div class="roNewPrice" data-bind="html: helper.formatPrice(newPrice)"></div>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                    <!-- ko if: problem.length > 0 -->
                    <div class="roOrderLineProblem">
                        <div class="roNameProblem" data-bind="html: orderLine.name"></div>
                        <div class="roQuantityProblem" data-bind="html: orderLine.quantity"></div>
                        <div class="roPriceProblem" data-bind="html: helper.formatPrice(orderLine.price)"></div>
                        <div class="roProblem" data-bind="html: problem"></div>
                    </div>
                    <!-- /ko -->
                <!-- /ko -->

                <div id="roTotal">
                    <div id="roTotalPrompt" data-bind="html: textStrings.roOrderTotalPrompt"></div>

                    <!-- ko if: myOrdersHelper.repeatOrder().newOrderTotal == undefined -->
                    <div id="roOrderTotal" data-bind="html: helper.formatPrice(myOrdersHelper.repeatOrder().orderTotal)"></div>
                    <!-- /ko -->
                    <!-- ko if: myOrdersHelper.repeatOrder().newOrderTotal != undefined -->
                    <div id="roOldOrderTotal" data-bind="html: helper.formatPrice(myOrdersHelper.repeatOrder().orderTotal)"></div>
                    <div id="roNewOrderTotal" data-bind="html: helper.formatPrice(myOrdersHelper.repeatOrder().newOrderTotal)"></div>
                    <!-- /ko -->
                </div>
                <div id="roButtons">
                    <div class="button" id="roRepeatOrderButton">
                        <a data-bind="html: textStrings.roAddToCart, click: $root.contentViewModel().repeatOrder"></a>
                    </div>
                    <div class="button" id="roBackButton">
                        <a data-bind="html: textStrings.roBack, click: $root.contentViewModel().back"></a>
                    </div>
                </div>
            </div>

        </div>
    </script>
