<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="This Template Generates C# domain objects for NHibernate" Debug="true" %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Description="Database that the mapping file is based on" %>
<%@ Property Name="SourceDatabaseAlias" Type="System.String" Category="Context" Description="Database alias that the mapping file is based on" %>
<%@ Property Name="RemoveTablePrefix" Type="System.String" Default="tbl" Category="Object" Description="The prefix to remove from table names" %>
<%@ Property Name="ForceId" Type="System.Boolean" Default="true" Category="Object" Description="Force Id for identity column" %>
<%@ Property Name="FormNamespace" Type="System.String" Default="MyNamespace.Data" Category="Object" Description="The class namespace that the mapping file should use" %>
<%@ Property Name="WebAssembly" Type="System.String" Default="MyApp.MyAssembly" Category="Object" Description="The assembly that the class will be used in" %>

<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<script runat="template">
TableSchema SourceTable;
string Assembly;
string Namespace;
</script>

<resource uri="assembly://<%=WebAssembly%>/<%=FormNamespace%>/<%= SourceDatabaseAlias %>.cfg" />
<%
		foreach(TableSchema source in SourceDatabase.Tables)
		{	
%>
<resource uri="assembly://<%=WebAssembly%>/<%=FormNamespace%>.Config/<%= ClassName(source) %>Validator.xml" />
<%
		}
%>
		


		

<!-- #include file="NHibernate.inc" -->