<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="This Template Generates C# domain objects for NHibernate" Debug="true" %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Description="Database that the mapping file is based on" %>
<%@ Property Name="SourceDatabaseAlias" Type="System.String" Category="Context" Description="Database alias that the mapping file is based on" %>
<%@ Property Name="RemoveTablePrefix" Type="System.String" Default="tbl" Category="Object" Description="The prefix to remove from table names" %>
<%@ Property Name="ForceId" Type="System.Boolean" Default="true" Category="Object" Description="Force Id for identity column" %>


<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<script runat="template">
TableSchema SourceTable;
string Assembly;
string Namespace;
</script>

<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net" xmlns:v="http://www.springframework.net/validation">

	<%
			foreach(TableSchema source in SourceDatabase.Tables)
			{
	%>
	<object abstract="true"  id="ASP.usercontrols_<%= SourceDatabaseAlias %>_<%= ClassName(source) %>Form_ascx">
		<property name="Validator" ref="<%= ClassName(source) %>Validator" />
	</object>
	<%
			}
	%>
  
</objects>

<!-- #include file="NHibernate.inc" -->