@{
    ViewBag.Title = "Andro Admin Home";
}

<section id="menucontainer">

    <h2 style="margin-bottom:10px;">Welcome to the Andromeda administration website</h2>
    <p>Please select an option from the menu at the top of the page.</p>

    <div style="margin: 0 auto; width:250px; padding: 20px 0 10px 0;">
        <img src="@Url.Content("~/Content/Images/logoSmall.png")" alt="Andromeda Logo" />    
    </div>

</section>
