
@using (Html.BeginScripts()) { 
    var translator = @Html.GetTranslator();
    <script type="text/template" id="itemTemplate">
        <div class="menu-item k-widget" data-id="#:Id#" data-sequence="#:WebSequence#">
            <div class="header" style="margin:0; height:40px; border-left-color:#:ColorStatus()#">
                <a class="k-button k-button-edit-position">Change Position</a>
@*                # if(Thumbs && Thumbs.length > 0) { #
                <div style="float:right" class="menu-list-thumbnail">
                    <img src="#:Thumbs[Thumbs.length-1].Url#" alt="" />
                </div>
                # } #*@
                # if(Prices){#
                <div style="float:right" class="menu-list-prices">
                    Dine-in: #: kendo.toString(Prices.Instore, "c") # | Delivery: #: kendo.toString(Prices.Delivery, "c") # | Collection: #: kendo.toString(Prices.Collection, "c") #
                </div> 
                # } #
                <div style="float:left; width: 400px">
                    <div>
                        <h3>
                            #: Index() #. 
                            #= DisplayName() #
                        </h3>
                    </div>
                    <div>
                        # if(DisplayName() !== Name){ # 
                        <p><span>(Store item name: #: Name #)</span></p>
                        # } # 
                        <p>@translator.T("Web Section"): #:DisplayCategoryName#
                        # if ((Category1Name) || (Category2Name)) { #
                        # if(Category1Name) { #
                            <span> | Category1: #: Category1Name #</span>
                            # } #
                            # if(Category2Name) { # 
                            <span> | Category2: #: Category2Name #</span>
                            # } # 
                        # } #
                        </p>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </script>

}