<div id="HourlyPanel" class="clearfix">
    <div class="header">
        <h3>Hourly Metrics</h3>
        <input type="datetime-local" id="DailyMetricDatePicker" style="width:120px" />
        @*@(Html.Kendo().DatePicker().Name("DailyMetricDatePicker").Max(DateTime.Today.AddDays(-1)))*@
    </div>

    <div id="HourlyChart">
        <div class="k-chart-detail"  
            data-bind="source: dataSource, visible: visible" 
            data-title="Detail"
            data-role="chart" 
            data-theme="bootstrap"
            data-legend="{ position: 'top' }"
            data-series-defaults="{ type: 'line' }"
            data-category-axis="{ 
                field: 'Date', 
                baseUnit: 'hours', 
                type: 'date', 
                labels: { rotation: -90 }, 
                majorGridLines: { visible: true },
                axisCrossingValues: [0, 0, 30, 30]
            }"
            data-value-axis="[
                { name: 'orderCount', title: { text: 'Orders' }, visible: true },
                { name: 'sales', title: { text:'Sales' }, labels:{ template: '#:kendo.toString(value/100, \'c\' )#' }, visible: true },
                { name: 'otd', title: { text: 'OTD' }, visible: true },
                { name: 'ttd', title: { text: 'TTD' }, visible: true }
            ]"
            data-series="[
                { name: 'Total Orders', field: 'Combined.OrderCount', axis: 'orderCount', type: 'column', stack: 'false', visible: true },
                { name: 'Sales', field: 'Combined.Sales', axis: 'sales', type: 'area', visible: true },
                { name: 'OTD', field: 'Performance.AvgOutTheDoor', axis:'otd', type: 'line', style: 'smooth' },
                { name: 'TTD', field: 'Performance.AvgDoorTime', axis:'ttd', type: 'line', style: 'smooth' }
            ]"
            data-group="{ field:Date }"
            data-tooltip="{ visible: true, template: $('#DailyToolTip').html() }">
        </div>
    </div>

    
    @(Html.Kendo().Grid<MyAndromeda.Data.DailyReporting.Services.DailyMetricGroup>()
        .Name("HourlyPerformance")
        .Sortable()
        .Columns(cols =>
        {
            cols.Bound(e => e.Date)
                .ClientTemplate("#: kendo.toString(Date, 'g') #")
                //.ClientFooterTemplate("#: kendo.toString(Date, 'ddd') #")
                .Width("150px");
            cols.Bound(e => e.Combined.OrderCount)
                .Title("Order Count");
                //.ClientFooterTemplate("#: sum #");
            cols.Bound(e => e.Performance.AvgDoorTime)
                .Title("Avg to the Door (mins)")
                .ClientTemplate("#: kendo.toString(Performance.AvgDoorTime, '0.00')#");
            cols.Bound(e => e.Performance.NumOrdersLT30Mins)
                .Title("Orders < 30 mins")
                .ClientTemplate("#: kendo.toString(Performance.NumOrdersLT30Mins, '0')#");
            cols.Bound(e => e.Performance.NumOrdersLT45Mins)
                .Title("Orders < 45 mins")
                .ClientTemplate("#: kendo.toString(Performance.NumOrdersLT45Mins, '0')#");
            cols.Bound(e => e.Combined.Sales)
                .ClientTemplate("#: kendo.toString(Combined.Sales/100, 'C') #");
        }).DataSource(data =>
            data.Ajax()
                .ServerOperation(false)
                .Read(read => read.Action("Hourly", "DailyReporting").Data("loadDailyMetricByDay"))
                .Aggregates(agg => {
                    //agg.Add(e => e.Combined.Sales).Sum().Min().Max().Average();
                    //agg.Add(e => e.Combined.OrderCount).Sum().Min().Max().Average();
                    //agg.Add("Combined.OrderCount", typeof(Int64)).Sum();
                })
        )
    )

    @using(Html.BeginScripts())
    {
        var today = DateTime.Today;
        var max = DateTime.Today.AddDays(1);
    <script type="text/javascript">
        $(function () {
            
        });
    </script>
    <script type="text/javascript">
        var today = new Date();
        var yesterday = new Date();
        $("#DailyMetricDatePicker").kendoDatePicker({
            max: today,
            value: yesterday
        });
        
        function loadDailyMetricByDay(e) {
            console.log("date selector");
            
            yesterday.setDate(today.getDate() -1);

            var selector = $("#DailyMetricDatePicker").data("kendoDatePicker");
            var day = selector.value();
            var startAt = new Date("@DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd")");
            var date = day === null ? startAt : kendo.parseDate(day);

            console.log(date);
            return {
                day: date.toJSON()
            };
        }
        $(function () {
            var grid = $("#HourlyPerformance").data("kendoGrid"),
                dataSource = grid.dataSource;

            var dateSelector = $("#DailyMetricDatePicker").data("kendoDatePicker");

            var viewModel = kendo.observable({
                visible: true,
                dataSource: dataSource
            });
            
            //kendo.ui.progress($("#HourlyPanel"), true);
            kendo.bind($("#HourlyChart"), viewModel);

            dateSelector.bind("change", function (e) {
                dataSource.read();
            });

            //dataSource.bind("change", function (e) {
            //    kendo.ui.progress($("#HourlyPanel"), false);
            //    viewModel.set("visible", dataSource.view().length > 0);
            //});
        });
    </script>
    <script type="text/html" id="DailyToolTip">
        
        #: kendo.toString(dataItem.Date, 'd') # (#: kendo.toString(dataItem.Date, 'ddd') #)
        # if(series.axis === 'sales'){ #
            <div>#: kendo.toString(value/100, 'c') # </div>
        # } #
        # if(series.axis === 'orderCount') { #
            <div>#: value # #: series.name #</div>
        # } # 
        # if(series.axis === 'otd') { #
            <div>Out the door: #: value # mins</div> 
        # } #
        # if(series.axis === 'ttd') { #
            <div>To the door: #: value # mins</div>
        # } # 
    </script>
    }
</div>