@model AndroAdmin.ViewModels.HostV2.HostApplicationSelectionViewModel
@{
    var groups = Model.PossibleHosts;
    var application = Model.Application;
    var publicHosts = groups.Where(e => e.Key == "WebOrderingAPI").SingleOrDefault();
    var hosts = !groups.Any(e => e.Key == "WebOrderingAPI") ?
        Enumerable.Empty<AndroAdminDataAccess.EntityFramework.HostV2>() :
        publicHosts.Value.Where(e=> e.Version >= 2);
    
}  

<h3>
    Application endpoint links
</h3>
<div class="content">
<ul>
    @foreach (var host in hosts) 
    {
        <li>
            <div>Version: @host.Version</div>
            <div>Host: @host.Url</div>
            <div>
                <a class="k-button" href="@string.Format("{0}/host?applicationid={1}", host.Url, application.ExternalApplicationId)">Test endpoint</a>
            </div>
        </li>
    }
</ul>
    </div>


