<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <appSettings>
    <add key="HubAPI" value="https://test-acs-hubapi.azurewebsites.net/ACSHubServices/order/"/>
  </appSettings>
  <connectionStrings>
    <add name="ACSEntities" connectionString="metadata=res://*/Model.ACSEntities.csdl|res://*/Model.ACSEntities.ssdl|res://*/Model.ACSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=acs-test.database.windows.net;Initial Catalog=test-acs;User ID=AcsTestAppService;Password=9E9C8C41-5F4D-4F86-8112-9EE22272EACC;Application Name=AndroCloudPrivateWCFServices&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=acs-test.database.windows.net;initial catalog=test-dw;User ID=AcsTestAppService;Password=9E9C8C41-5F4D-4F86-8112-9EE22272EACC;Application Name=AndroCloudPrivateWCFServices&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="True" aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add service="weborderapiv2.NoSvc" relativeAddress="weborderapiv2.svc"/>
        <add service="weborderapi.NoSvc" relativeAddress="weborderapi.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="weborderapi.NoSvc">
        <endpoint kind="webHttpEndpoint" contract="AndroCloudWCFServices.IRESTServices"/>
      </service>
      <service name="weborderapiv2.NoSvc">
        <endpoint kind="webHttpEndpoint" contract="AndroCloudWCFServices.IRESTServicesV2"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>