<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <!-- Use this if you want to debug these web services locally in Visual Studio but want to use a live/test database.  
    The problem is if you're doing it properly, you'll call the hosts web service first to find out which server to use to call the web services.  
    The urls returned will be test or live urls NOT localhost.  Use this setting to override the host names returned. -->
    <add key="DevHostsOverride" value="localhost/services"/>
    <add key="SignalRHub" value="http://test1.androcloudservices.com:8081/"/>
    <!-- SignalRBypass: FOR TESTING & STAGING ONLY!!!  IMPORTANT: Leave blank on live servers.
    Pipe delimited list of external site ids i.e "<id>|<id>|<id>" OR the word "ALL".  
    Orders sent to these stores will always appear to be successful but are NOT actually sent to stores -->
    <add key="SignalRBypass" value="A997D53D-8CC8-47AF-B9E6-ACA94C74B886"/>
    <add key="DebugMode" value="true"/>
    <add key="PasswordResetTokenTimeoutMinutes" value="60" />
  </appSettings>


  <connectionStrings>

    <!-- DEV1 -->
    <!--<add name="ACSEntities" connectionString="metadata=res://*/Model.ACSEntities.csdl|res://*/Model.ACSEntities.ssdl|res://*/Model.ACSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dev1.androcloudservices.com;Initial Catalog=ACS;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework;Connection Timeout=120;&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dev1.androcloudservices.com;Initial Catalog=DataWarehouse;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework;Connection Timeout=120;&quot;" providerName="System.Data.EntityClient"/>-->


    <!-- TEST1 -->   
    <add name="ACSEntities" connectionString="metadata=res://*/Model.ACSEntities.csdl|res://*/Model.ACSEntities.ssdl|res://*/Model.ACSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=test1.androcloudservices.com;Initial Catalog=ACS;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=test1.androcloudservices.com;Initial Catalog=DataWarehouse;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <!--    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jkrhpwclrb.database.windows.net ;initial catalog=DataWarehouse;user id=andromeda;password=h6ruh7kS2#4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!-- STAGING2 -->
    <!--<add name="ACSEntities" connectionString="metadata=res://*/Model.ACSEntities.csdl|res://*/Model.ACSEntities.ssdl|res://*/Model.ACSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=staging2.androcloudservices.com;Initial Catalog=ACS;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=staging2.androcloudservices.com;Initial Catalog=DataWarehouse;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

    <!-- CLOUD3 -->
    <!--<add name="ACSEntities" connectionString="metadata=res://*/Model.ACSEntities.csdl|res://*/Model.ACSEntities.ssdl|res://*/Model.ACSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cloud3.androcloudservices.com;Initial Catalog=ACS;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cloud3.androcloudservices.com;Initial Catalog=DataWarehouse;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="True" aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add service="weborderapiv2.NoSvc" relativeAddress="weborderapiv2.svc"/>
        <add service="weborderapi.NoSvc" relativeAddress="weborderapi.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <protocolMapping>
      <remove scheme="http"/>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="weborderapi.NoSvc">
        <endpoint kind="webHttpEndpoint" contract="AndroCloudWCFServices.IRESTServices"/>
      </service>
      <service name="weborderapiv2.NoSvc">
        <endpoint kind="webHttpEndpoint" contract="AndroCloudWCFServices.IRESTServicesV2"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
