body {
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}
/*be nice to Opera*/
html>body {
	font-family: Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding:0;
}

img {
	border-style: none;
    border-color: inherit;
    border-width: 0;
    display: block
}

.page {
    width: 100%;
    margin: auto;
}

/*GMaps are 256x256 panels, keep the map as increments of, to reduce extra tiles being sent*/
#map { 
    float:left; 
    width:768px; 
    height:768px; 
    margin:0; 
}