    <!-- ERROR VIEW -->
    <script type="text/html" id="errorView">
        <div class="content">
            <div class="sitesBox">
                <!-- Error -->
                <h1 class="welcomeHeader" data-bind="text: textStrings.welcomeHeader"></h1>

                <h2 class="errorMessage" data-bind="text: $root.error.message()"></h2>
                <div class="errorOptions">
                    <div class="button" style="width:150px;" data-bind="visible: $root.error.showReturn">
                        <a href="#" data-bind="click: guiHelper.errorReturn">OK</a>
                    </div>
                </div>
            </div>
        </div>
    </script>