    <!-- HOME PAGE -->
    <script type="text/html" id="homeView">
        <div class="content">
            <div class="homeBox">
                <div class="homeBoxInner">
                    <h1 class="welcomeHeader" data-bind="text: $root.selectedSite().name"></h1>
                
                    <h2 id="homeFullOrderDeal" data-bind="html: menuHelper.fullOrderDiscountDeal == undefined ? '' : menuHelper.fullOrderDiscountDeal.Description"></h2>

                    <div id="deliveryTimesAddressWrapper">
                        <div id="homeDeliveryTimes">
                            <h1 data-bind="text: textStrings.homeDeliveryTimes"></h1>
                    
                            <div class="homeDeliveryTimesDay">
                                <div class="homeDeliveryTimesDayColumn1" data-bind="text: textStrings.homeMonday"></div>
                                <div class="homeDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.monday.displayText()"></div>
                            </div>
                            <div class="homeDeliveryTimesDay">
                                <div class="homeDeliveryTimesDayColumn1" data-bind="text: textStrings.homeTuesday"></div>
                                <div class="homeDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.tuesday.displayText()"></div>
                            </div>
                            <div class="homeDeliveryTimesDay">
                                <div class="homeDeliveryTimesDayColumn1" data-bind="text: textStrings.homeWednesday"></div>
                                <div class="homeDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.wednesday.displayText()"></div>
                            </div>
                            <div class="homeDeliveryTimesDay">
                                <div class="homeDeliveryTimesDayColumn1" data-bind="text: textStrings.homeThursday"></div>
                                <div class="homeDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.thursday.displayText()"></div>
                            </div>
                            <div class="homeDeliveryTimesDay">
                                <div class="homeDeliveryTimesDayColumn1" data-bind="text: textStrings.homeFriday"></div>
                                <div class="homeDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.friday.displayText()"></div>
                            </div>
                            <div class="homeDeliveryTimesDay">
                                <div class="homeDeliveryTimesDayColumn1" data-bind="text: textStrings.homeSaturday"></div>
                                <div class="homeDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.saturday.displayText()"></div>
                            </div>
                            <div class="homeDeliveryTimesDay">
                                <div class="homeDeliveryTimesDayColumn1" data-bind="text: textStrings.homeSunday"></div>
                                <div class="homeDeliveryTimesDayColumn2" data-bind="html: openingTimesHelper.openingTimes.sunday.displayText()"></div>
                            </div>

                            <h2>Delivery time is currently <span data-bind="text: viewModel.etd()"></span> min</h2>
                            <div id="homeDeliveryMinimumOrder">Minimum delivery order <span data-bind="html: helper.formatPrice(settings.minimumDeliveryOrder)"></span></div>
                        </div>

                        <div id="homeAddressWrapper">
                            <div id="homeAddressWrapperInner">
                                <div id="homeAddressWrapperInner2">
                                    <div id="homeAddress">
                                        <h1>Where to find us</h1>
                                        <div id="homeAddressLines" data-bind="html: displayAddressMultiLine"></div>
                                        <div id="homeAddressLinesMobile">
                                            <div data-bind="html: displayAddress"></div>
                                            <div id="homeAddressLinesMobileTel">Tel. <span data-bind="text: siteDetails().phone"></span></div>
                                        </div>
                                    </div>
                                    <div id="homeAddressMap">
                                        <div id="mapContainer">
                                            <div id="map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="homeMenuSections">
                        <h1>Order food online</h1>
                        <p>Click/tap on the buttons below to browse our menu and order food online.</p>
                        <div id="homeMenuButtonsWrapper">
                            <div id="homeMenuButtons">
                                <!-- ko foreach: sections -->
                                    <!-- ko template: { name: 'homeSectionButton-template' } -->
                                    <!-- /ko -->
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>