    <!-- Menu section -->
    <script type="text/html" id="menuSection-template">
        <div class="section" data-bind="attr: { 'id': 'section' + Index }">            
            <div class="sectionItems">
                <!-- ko foreach: items -->
                <div class="itemRow">
                    <div class="itemImage" data-bind="attr: { style: 'height: ' + thumbnailHeight + 'px, width: ' + thumbnailWidth + 'px' }">
                        <!-- ko if: thumbnail != undefined -->
                        <img src="#" data-bind="click: imageHelper.showPopup, attr: { src: menuHelper.menuDataThumbnails.Server.Endpoint + thumbnail.Src, height: thumbnailHeight + 'px', width: thumbnailWidth + 'px' }"  />
                        <!-- /ko -->
                        <!-- ko if: overlayImage -->
                            <div class="itemImageOverlay" data-bind="click: imageHelper.showPopup"></div>
                        <!-- /ko -->
                    </div>
                    <div data-bind="attr: { class: thumbnail == undefined ? 'itemDetails' : 'itemDetailsWithImage' }">
                        <div data-bind="html: name" class="itemName"></div>
                        <!-- ko if: !guiHelper.isMobileMode() -->
                        <div data-bind="html: description" class="itemDescription"></div>
                        <!-- /ko -->
                        <div class="priceCategoryContainer">
                    
                            <div class="categoryQuantityContainer" data-bind="visible: isEnabled && $root.isTakingOrders">

                                <div class="quantity">
                                    <select data-bind="value: quantity, event: { change: $root.selectedItemChanged }">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                    <label data-bind="text: textStrings.miQuantity"></label>
                                </div>
                                <div class="category2">
                                    <!-- ko if: category2s().length > 1 -->
                                    <select data-bind="enable: isEnabled, options: category2s, optionsText: 'Name', value: selectedCategory2, event: { change: $root.selectedItemChanged }"></select>
                                    <!-- /ko -->
                                </div>
                                <div class="category1">
                                    <!-- ko if: category1s().length > 1 -->
                                    <select data-bind="enable: isEnabled, options: category1s, optionsText: 'Name', value: selectedCategory1, event: { change: $root.category1Changed }"></select>
                                    <!-- /ko -->
                                </div>
                                    
                            </div>
                            <div class="priceAddContainer">
                                <div class="itemPrice"><span data-bind="html: price"></span></div>
                                <!-- ko if: $root.isTakingOrders() -->
                                <div class="highlightedButton addItemButton">
                                    <a href="#" data-bind="click: $root.addItemToCart, text: textStrings.miAdd"></a>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                    <!-- ko if: guiHelper.isMobileMode() -->
                    <div data-bind="html: description" class="itemDescription"></div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </div>
        </div>
    </script>