    <!-- PLEASE WAIT VIEW -->
    <script type="text/html" id="pleaseWaitView">
        <div class="content">
            <div class="sitesBox">
                <!-- Please wait -->
                <h1 class="welcomeHeader" data-bind="text: textStrings.welcomeHeader"></h1>
                <h2 class="waitPrompt" data-bind="text: textStrings.pwOneMomentPlease"></h2>
                <div style="width:35px; margin: 0 auto;">
                    <div style="margin: 0 auto;"><img src="Content/Images/loader.gif" /></div>
                </div>
                <p style="text-align:center;">
                    <span data-bind="text: $root.pleaseWaitMessage()"></span>
                    <span data-bind="text: $root.pleaseWaitProgress()"></span>
                </p>
            </div>
        </div>
    </script>