    <!-- SITES VIEW -->
    <script type="text/html" id="sitesView">
        <div class="content">
            <div class="sitesBox">
                <!-- Site list -->
                <h1 class="welcomeHeader" data-bind="text: textStrings.welcomeHeader"></h1>
                <h2 class="chooseStorePrompt" data-bind="text: textStrings.slChooseRestaurant"></h2>
                <!-- ko foreach: sites -->
                    <div class="button siteButton" data-bind="click: $root.storeSelected">
                        <a href="#" data-bind="text: displayText"></a>
                    </div>
                <!-- /ko -->

                <!--<div id="chooseStoreSelectContainer">
                    <div id="chooseStoreSelectOuter">
                        <div id="chooseStoreSelectInner">
                            <select data-bind="options: sites, optionsText: 'displayText', value: selectedSite"></select>
                        </div>
                    </div>
                </div>-->
                <!--<div class="chooseStoreOptions" style="clear:both;">
                    <div class="button" style="width:250px;">
                        <a href="#" data-bind="click: $root.storeSelected">Order food now</a>
                    </div>
                </div>-->

            </div>
        </div>
    </script>