    <script type="text/html" id="toppingsView">

        <!-- Header -->
        <div class="popupBoxHeaderContainer">

            <!-- Item name & description -->
            <div class="popupItemDetails">
                <h2>
                    <span id="popupName" data-bind="html: $root.selectedItem.name"></span>
                </h2>
                <div id="popupDescription" data-bind="html: $root.selectedItem.description"></div>
            </div>

            <!-- Options -->
            <div id="popupOptions">

                <div id="popupOptionsRight">
                    <!-- Accept item changes button -->
                    <!-- ko if: popupHelper.mode() == 'editItem' -->
                    <div id="popupUpdateItemButton" class="highlightedButton">
                        <a href="#"  title="Update item" data-bind="click: popupHelper.acceptChanges">OK</a>
                    </div>
                    <!-- /ko -->

                    <!-- Add item to cart button -->
                    <!-- ko if: popupHelper.mode() == 'addItem' -->
                    <div id="popupAddToCartButton" class="highlightedButton">
                        <a href="#" title="Add item to your order" data-bind="click: popupHelper.commitToCart, text: textStrings.tpAdd"></a>
                    </div>
                    <!-- /ko -->

                    <!-- Add/Edit deal item button -->
                    <!-- ko if: popupHelper.mode() == 'addDealItem' || popupHelper.mode() == 'editDealItem' -->
                    <div id="popupAddToDealButton" class="highlightedButton">
                        <a href="#" title="Add item to your order" data-bind="click: popupHelper.commitToDeal, text: textStrings.tpOk"></a>
                    </div>
                    <!-- /ko -->

                    <!-- Remove item from cart button -->
                    <!-- ko if: popupHelper.mode() == 'editItem' -->
                    <div id="popupRemoveFromCartButton" class="button">
                        <a href="#" title="Cancel" data-bind="click: popupHelper.removeFromCart, text: textStrings.tpRemove"></a>
                    </div>
                    <!-- /ko -->

                    <!-- Cancel button -->
                    <!-- ko if: popupHelper.mode() == 'addItem' -->
                    <div id="popupCancelButton" class="button">
                        <a href="#" title="Cancel" data-bind="click: popupHelper.cancel, text: textStrings.tpCancel"></a>
                    </div>
                    <!-- /ko -->

                    <!-- Cancel deal button -->
                    <!-- ko if: popupHelper.mode() == 'addDealItem' || popupHelper.mode() == 'editDealItem' -->
                    <div id="popupCancelDealButton" class="button">
                        <a href="#" title="Cancel" data-bind="click: popupHelper.cancelDeal, text: textStrings.tpCancelDeal"></a>
                    </div>
                    <!-- /ko -->
                </div>

                <div id="popupOptionsLeft">
                    <div id="popupOptionsTopPrice">

                        <!-- Price header-->
                        <div id="popupPriceHeader">
                        <!-- ko if: popupHelper.mode() == 'addDealItem' || popupHelper.mode() == 'editDealItem' -->
                        <span data-bind="text: textStrings.tpAddedCharges"></span>
                        <!-- /ko -->
                        <!-- ko if: popupHelper.mode() == 'addItem' || popupHelper.mode() == 'editItem' -->
                        <span data-bind="html: textStrings.tpItemPrice"></span>
                        <!-- /ko -->
                        </div>

                        <!-- Price -->
                        <div id="popupPrice" data-bind="html: $root.selectedItem.price"></div>
                    </div>

                    <div id="popupOptionsTopQuantity">
                        <!-- Quantity -->
                        <!-- ko if: popupHelper.mode() != 'addDealItem' && popupHelper.mode() != 'editDealItem' -->
                        <div id="popupQuantity">
                            <div id="popupQuantityHeader">
                                <label for="popupQuantityDropDownList" data-bind="text: textStrings.tpQuantity"></label>
                            </div>
                            <div>
                                <span>
                                    <select data-bind="value: $root.selectedItem.quantity, click: popupHelper.quantityChanged">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>

                    <div id="popupCatContainer">

                        <!-- ko if: $root.selectedItem.category1s().length > 0 || $root.selectedItem.category2s().length > 0 -->
                        <div id="popupCatHeader" data-bind="text: textStrings.tpItemType"></div>
                        <!-- /ko -->

                        <!-- Cat 1 -->
                        <!-- ko if: $root.selectedItem.category1s().length > 0 -->
                        <div id="popupCategory1">
                            <!-- ko if: $root.selectedItem.category1s().length > 1 -->
                            <select data-bind="options: $root.selectedItem.category1s, optionsText: 'Name', value: $root.selectedItem.selectedCategory1, event: { change: popupHelper.popupCategory1Changed }"></select>
                            <!-- /ko -->
                            <!-- ko if: $root.selectedItem.category1s().length == 1 -->
                            <span data-bind="text: $root.selectedItem.category1s().length == 1 ? $root.selectedItem.category1s()[0].Name : ''"></span>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                        <!-- Cat 2 -->
                        <!-- ko if: $root.selectedItem.category2s().length > 0 -->
                        <div id="popupCategory2">
                            <!-- ko if: $root.selectedItem.category2s().length > 1 -->
                            <select data-bind="options: $root.selectedItem.category2s, optionsText: 'Name', value: $root.selectedItem.selectedCategory2, event: { change: popupHelper.popupSelectedItemChanged }"></select>
                            <!-- /ko -->
                            <!-- ko if: $root.selectedItem.category2s().length == 1 -->
                            <span data-bind="text: $root.selectedItem.category2s().length == 1 ? $root.selectedItem.category2s()[0].Name : ''"></span>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>
                    
                </div>
            </div>

        </div>

        <!-- Popup body -->
        <div id="popupBody">
            <div id="popupToppingsContainer" data-bind="visible: $root.selectedItem.toppings().length > 0">
                <h1 data-bind="text: textStrings.tpCustomize"></h1>

                <!-- ko if: $root.selectedItem.menuItem() != undefined && $root.selectedItem.menuItem().DefTopIds.length > 0 -->
                <span id="popupToppingsHelp" data-bind="text: textStrings.tpTickPrompt"></span>
                <!-- /ko -->

                <!-- ko if: $root.selectedItem.freeToppings() > 0 -->
                <div id="popupFreeToppings">
                    <span data-bind="text: textStrings.tpFreeItems1"></span>
                    <span data-bind="text: $root.selectedItem.freeToppingsRemaining()"></span>
                    <span data-bind="text: textStrings.tpFreeItems2"></span>
                </div>
                <!-- /ko -->

                <div class="popupToppingsHeaders">
                    <div class="popupToppingsSingle" data-bind="visible: $root.selectedItem.toppings().length > 0">
                        <span data-bind="text: textStrings.tpSingle"></span>
                    </div>
                    <div class="popupToppingsDouble" data-bind="visible: $root.selectedItem.toppings().length > 0">
                        <span data-bind="text: textStrings.tpDouble"></span>
                    </div>

                    <div class="popupToppingsSingle2" data-bind="visible: $root.selectedItem.toppings().length > 1">
                        <span data-bind="text: textStrings.tpSingle"></span>
                    </div>
                    <div class="popupToppingsDouble2" data-bind="visible: $root.selectedItem.toppings().length > 1">
                        <span data-bind="text: textStrings.tpDouble"></span>
                    </div>

                    <div class="popupToppingsSingle2" data-bind="visible: $root.selectedItem.toppings().length > 2">
                        <span data-bind="text: textStrings.tpSingle"></span>
                    </div>
                    <div class="popupToppingsDouble2" data-bind="visible: $root.selectedItem.toppings().length > 2">
                        <span data-bind="text: textStrings.tpDouble"></span>
                    </div>
                </div>

                <div class="popupToppings">
                    <!-- ko foreach: $root.selectedItem.toppings -->
                        <!-- ko template: { name: 'popupTopping-template' } -->
                        <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>

            <div class="popupExtraBits">
                <div class="popupChefComments">
                    <h1 data-bind="text: textStrings.tpCommentsForChef"></h1>
                    <div id="popupChefCommentsInner">
                        <p data-bind="text: textStrings.tpExtraBits"></p>
                        <textarea data-bind="value: $root.selectedItem.instructions"></textarea>
                    </div>
                </div>

                <div class="popupPerson">
                    <h1 data-bind="text: textStrings.tpForPeson"></h1>
                    <div id="popupPersonInner">
                        <p data-bind="text: textStrings.tpPerson"></p>
                        <input type="text" data-bind="value: $root.selectedItem.person" />
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- Popup topping -->
    <script type="text/html" id="popupTopping-template">
        <div class="popupTopping">
            <div data-bind="attr: { class: type == 'removable' ? 'popupRemovableTopping' : 'popupAdditionalTopping' }">
                <span class="popupToppingName" data-bind="text: topping.Name == undefined ? topping.ToppingName : topping.Name"></span>
                <span class="popupToppingPrice" data-bind="html: price"></span>
                <input type="checkbox" data-bind="checked: selectedSingle, click: popupHelper.singleChanged" />
            </div>
            <span class="popupToppingPrice" data-bind="html: doublePrice"></span>
            <input type="checkbox" data-bind="checked: selectedDouble, click: popupHelper.doubleChanged" />
        </div>
    </script>