@model MyAndromeda.Web.Areas.Store.Models.OpeningTimesViewModel
@{
    List<MyAndromedaDataAccess.Domain.TimeSpanBlock> openingHours = null;
}

<div style="clear: both; float: left; width: 100px;">
    <span class="highlight-4">@ViewData["Day"].ToString()</span>
</div>
<div class="blank-list" style="float: left;">
    @if (Model.OpeningHours.TryGetValue(@ViewData["Day"].ToString(), out openingHours) && openingHours.Count > 0)
    {
        <ul>
            @foreach (MyAndromedaDataAccess.Domain.TimeSpanBlock timeSpanBlock in openingHours)
            {
                if (timeSpanBlock.OpenAllDay)
                {
                <li>Open all day</li>
                }
                else
                { 
                <li>@timeSpanBlock.StartTime - @timeSpanBlock.EndTime</li>
                }
            }
        </ul>
    }
    else
    {
        <ul>
            <li class="siteClosed">Closed</li>
        </ul>
    }
</div>
