@model MyAndromeda.WebApiClient.Models.MenuSyncModel 
@{
    var workContext = Html.GetWorkContext();

}

@if (!workContext.CurrentSite.Available) 
{
    <p>
        Go to a store and come back to this page. 
    </p>
}else 
{
    <p>
        THis form will invoke the current publish mode that is run behind the scenes.
    </p>
    <div>
        @using (Html.BeginRouteForm("StoreApi", new { httproute = "httproute", controller = "PublishMenu", Action="Sync", AndromedaSiteId = workContext.CurrentSite.AndromediaSiteId }))
        {
            <input id="@Html.IdFor(e=> e.AndromedaSiteId)" name="@Html.NameFor(e=> e.AndromedaSiteId)" value="@workContext.CurrentSite.AndromediaSiteId" type="hidden" />
            <button class="k-button" type="submit">
                Submit
            </button>
        }
    </div>
}
