@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span> +44 (0) 208 328 8000</span>
    </p>
    <p>
        <span class="label">Fax:</span>
        <span> +44 (0) 870 134 8326</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@androtech.com">Support@androtech.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@androtech.com">Marketing@androtech.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@androtech.com">General@androtech.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Andromeda Trading Ltd.<br />
 Cantium House<br />
 Railway Approach,<br />
 Wallington, SM6 0DZ, UK<br />
    </p>
</section>