@model MVCAndromeda.Models.LoginModel
@{
    ViewBag.Title = "Home Page";
}
@*@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message </h2>
            </hgroup>
        </div>
    </section>
}*@


<section>
    <h3>Andromeda's cloud reporting is fast and reliable. 
            All your store data are within a touch of a button from your tablet or smartphone!</h3>
</section>

<img src="~/Images/3-cloud.jpg" width="300" />

