<!-- PASSWORD RESET VIEW -->
    <script type="text/html" id="passwordResetView">
        <div id="passwordResetContent" class="content">
            <div id="forgotPasswordBox">
                
                <h1 data-bind="text: textStrings.prPasswordRetrieval"></h1>

                <div class="prFormPrompt">
                    <label for="prPassword" data-bind="text: textStrings.prPassword"></label>
                </div>
                <div class="prFormInput">
                    <input autofocus id="prPassword" type="password" data-bind="value: $root.contentViewModel().password, valueUpdate: 'keypress', event: { keypress: $root.contentViewModel().keyPress }" />
                </div>

                <div class="prFormPrompt">
                    <label for="prRepeatPassword" data-bind="text: textStrings.prRepeatPassword"></label>
                </div>
                <div class="prFormInput">
                    <input id="prRepeatPassword" type="password" data-bind="value: $root.contentViewModel().repeatPassword, valueUpdate: 'keypress', event: { keypress: $root.contentViewModel().keyPress }" />
                </div>

                <div id="forgotPasswordMessage" data-bind="text: $root.contentViewModel().message"></div>

                <div id="prButtons">
                    <div class="button" id="forgotPasswordButton">
                        <a data-bind="click: $root.contentViewModel().resetPassword, html: textStrings.prRetrievalPassword" href="#"></a>
                    </div>

                    <!--<div class="button"  id="forgotPasswordCancelButton">
                        <a data-bind="click: $root.contentViewModel().resetPasswordCancel, html: textStrings.prCancel" href="#"></a>
                    </div>-->
                </div>
                
            </div>
        </div>
    </script>