
    <script type="text/html" id="postcodeStoreLocatorView">
        <div id="siteSelectorPostcode">
                    
            <div id="siteSelectorPostcodePrompt" data-bind="html: textStrings.hSiteSelectorPostcodePrompt"></div>

            <div id="siteSelectorPostcodeTextbox">
                <input id="siteSelectorPostcodeInput" maxlength="16" autofocus data-bind="value: siteSelectorHelper.postcode, valueUpdate: 'keypress', event: { keypress: $root.contentViewModel().keyPress }" type="text" />
            </div>

            <!-- Check postcode button -->
            <div id="siteSelectorPostcodeGoButton" class="mainMenuButton">
                <a href="#" data-bind="click: $root.contentViewModel().checkPostcode, text: textStrings.hSiteSelectorPostcodeButton"></a>
            </div>

            <!-- Postcode example -->
            <div id="siteSelectorPostcodeExample" data-bind="text: textStrings.hSiteSelectorPostcodeExample">
                <a href="#" data-bind="click: siteSelectorHelper.checkPostcode"></a>
            </div>
                    
            <!-- Show all sites button -->
            <div id="siteSelectorShowSitesButton" class="mainMenuButton">
                <a href="#" data-bind="text: textStrings.hShowAllRestaurants, click: $root.contentViewModel().showAllSites"></a>
            </div>

            <div id="siteSelectorError" data-bind="text: $root.contentViewModel().errorText"></div>

            <div id="badDeliveryZonePopup" class="deliveryZoneOk" data-bind="text: textStrings.hBadDeliveryZone, click: siteSelectorHelper.hideBadPostcode, attr: { 'class': siteSelectorHelper.isBadPostcode() ? 'badDeliveryZone' : 'deliveryZoneOk' }">
            </div>

        </div>
    </script>