    <script type="text/html" id="postcodeStoreLocatorBodyView">
        <div class="content">
            <div id="siteSelectorBox">
                
                <h1 class="welcomeHeader" data-bind="html: textStrings.welcomeHeader"></h1>
                
                <h2 class="chooseStorePrompt" data-bind="text: textStrings.sselStoreSelector"></h2>

                <div data-bind="template: { name: settings.storeSelectorMode && siteSelectorHelper.isPostcodeTextboxVisible && !settings.storeSelectorInHeader ? 'postcodeStoreLocatorView' : '' }"></div>

            </div>
        </div>
    </script>