/* CSS Document */
/*--------------------------------------body---*/

body, td, th, div, p, label {
	color:#FFF;
	font:normal 13px Arial, Helvetica, sans-seriff;
	line-height:16px;
}

a {
	color:#FFF;
	text-decoration:underline;
}

a:hover {
	color:#FFF !important;
	text-decoration:none
}
select{color:#000000; font-size:11px;}
/*----------------------------------------------------------content---*/
/*-----------------------------article_settings-*/
.article_indent ul {
	margin:10px 0px 15px 0; list-style:none;
}
.article_indent ul li {
	padding:0px 0px 1px 13px;
	background:url(images/menu_marker.gif) 0 11px no-repeat; 
	line-height:25px;
	color:#FFF;
}
.article_indent ul li a {
	color:#FFF !important;
	padding:0; margin:0;
}
.article_indente a {
	color:#FFF;
	text-decoration:underline
}
.article_indent a:hover {
	color:#FFF;
	text-decoration:none;
}
.article_indent ul li p{ margin:0; padding:4px 0 5px 0;}

.article_indent table td .required{ width:250px;}
.input-field input{ width:150px !important; color:#848181;}
.article-decor {
	padding:0px 0px 0px 0px;
}
.article_indent, #component-contact {
	padding:0 0 20px 0;
}
#contact_text {
	height:auto;
	overflow:auto;
	margin:0px 0px 5px 0px;
	width:90%
}
.article_bot {
	line-height:5px
}
.article_separator {
	display:block;
	width:100%;
	padding:0px 0px 0px 0px;
	margin:0 0px 0 0px;
	background:url(images/article_separator.gif) 0 0 repeat-x;
	height:36px;
	float:right;	 
}
.column_separator {
	padding:0px 0px 0px 1px !important;
}
.article_column {
	padding:0px 0px 0px 0px;
}
.article_indent h3 {
	overflow:hidden;
	padding:15px 0;
}
.article_indent h3 img {
	margin:0px 3px 0px 0px !important;
	float:left
}

.contentpaneopen img {
	margin:0px 15px 4px 0px;
}
.icon-indent{ padding-right:10px;}
.icon-indent img{position:relative; margin:10px 13px 15px 0 !important;}
.contentdescription img{ margin-right:15px;}
.contentpaneopen .indent-title-box{ padding:8px 0 2px 18px;}
.contentpaneopen .title{ color:#FFF; font-weight:bold; font-size:13px; text-transform:uppercase; line-height:15px; padding:0 0 14px 0; font-family:Arial, Helvetica, sans-serif;}
/*---------------------------content-heading---*/

.componentheading {
	color:#FFF;
	font-size:20px;
	font-weight:normal;
	line-height:140%;
	margin:0px 0px 0px 0px;
	padding:8px 0px 25px 0;
	text-transform:uppercase;
}
.contentheading {
	color:#000;
	font-size:16px;
	line-height:19px !important;
	margin:0px 0px 0px 0px;
	padding:6px 0px 12px 0px;
	font-weight:bold;
}
.buttonheading {
	padding:3px 0px 0px 5px;
}
.buttonheading img {
	margin:0px 0px 0px 0px;
}
/*-----------------------------item-info---*/

.iteminfo {
	padding:0px 0px 6px 0px;
	margin:0px 0px 15px 0px;
}
td.modifydate {
	font-size:11px;
	padding:15px 0px 15px 0;
	text-decoration:none !important;
	color:#A1A1A1;
	font-family:Arial, Helvetica, sans-serif;
}
div.modifydate {
	font-size:11px;
	padding:9px 0px 0px 0;
	text-decoration:none !important;
	color:#A1A1A1;
	font-family:Arial, Helvetica, sans-serif;
}

.createdby {
	color:#0f559d;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-transform:none;
}
.createdate {
	font-size:11px;
	margin:0px 0px 0px 24px;
	padding:7px 0px 0 20px;
	text-transform:none;
	color:#A1A1A1;
	font-weight:normal;
	background:url(images/content_bull_2.gif) 0 7px no-repeat;
	float:left;
	
	
}
span.small { /* Written by */
	font-size:11px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	text-transform:none;
	color:#FF5501;
}
div.small {
background:url(images/content_bull_1.gif) 0 9px no-repeat;
	padding:6px 0px 0px 18px;
	font-size:11px;
	font-weight:normal;
	 color:#A1A1A1;
	 font-family:Arial, Helvetica, sans-serif;
	 float:left;
}
/*-----------------------------------buttons---*/

.button, .validate {
	background:url(images/button_wrapper.gif) 0 0 repeat-x;
	color:#FFF;
	display:inline;
	font-size:12px !important;
	text-transform:capitalize;
	font-weight:bold;
	line-height:15px;
	font-family:Arial, Helvetica, sans-serif;
	width:73px;
	text-align:center !important;
	padding:5px 0 6px 0;
	border:none;
}
.search_result .button{
	background:url(images/button_wrapper.gif) 0 0 repeat-x;
	color:#FFF;
	display:inline;
	font-size:12px !important;
	text-transform:capitalize;
	font-weight:bold;
	line-height:15px;
	font-family:Arial, Helvetica, sans-serif;
	width:73px;
	text-align:center !important;
	padding:5px 0 6px 0;
	border:none;
}

.pagenav {
	color:#FFF;
	font-size:12px;
	font-weight:normal
}
a.pagenav {
	color:#FFF !important;
	font-weight:bold;
	font-weight:normal;
	text-decoration:none;
}
.indent-pages{ padding:0 0 25px 0; font-size:12px;}
a.pagenav:hover {
	color:#000;
	text-decoration:none
}

.pagination_nav {
	color:#FFF;
	font-size:12px;
	padding:10px 20px 0px 0px;
	text-align:center;
	word-spacing:3px;
}
.pagination_nav div {
	background:#f4f4f4;
	padding:5px 0px 5px 0px;
}
.pagination {
	margin-top:10px;
	display:block;
	overflow:hidden;
}
.pagination li {
	float:left;
	padding:0px 5px 0px 5px;
}
.pagination_result {
	color:#FFF;
	padding:5px 0px 0px 0px;
	line-height:16px;
	text-align:center;
}

.results {
	text-align:center;
	padding:0px 19px 0px 10px;
}
#page {
	padding:0px 0px 25px 10px;
}
#page ol li {
	padding:0px 0px 10px 0px;
	text-align:left
}

#page h3 {
	font-size:130%;
	padding:10px 0px 15px 0px;
	text-align:left;
	color:#FFF;
	text-transform:uppercase;
}
#page .display .inputbox, #page .inputbox {
	color:#848181;
}
#page .only input{ vertical-align:middle; margin-right:5px; margin:3px 0;  _margin:0 0;}
.only label{}
#page #ordering {
	height:20px;
}
#page .display {
	padding:10px 0px 25px 0px;
}
#page legend {
	color:#FFF;
	background:#191919;
	padding:3px 7px;
}
.pagenav{ margin:0 3px; color:#FFF; font-size:12px;}

.fright{ float:right;}
.fleft{ float:left;}

/*-------------------------------------search---*/


.search {margin:11px 4px 0px 27px;}
.search .inputbox { /*-------- working in all browsers ------*/
	background:none;
	border:1px solid #FF884D;
	color:#FFF;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	vertical-align:middle;
	width:193px;
	padding:3px 0 3px 5px !important;
	vertical-align:middle;
	margin-bottom:2px;
	margin-right:4px;
	_height:23px;

}

.search .button {
	background:url(images/searchButton.gif) 0 0 no-repeat;
	color:#cb670e;
	font:bold 12px Arial;
	padding:0 0px 4px 0px;
	width:70px;
	vertical-align:middle;
	
		
}

/*-------------------left----*/
.module .box-content-indent{padding:17px 0 0 0;}
.module ul{ margin:0; list-style:none;}
.module ul{ margin-left:3px;}
.module ul li{padding:0px 0px 1px 13px;
	background:url(images/menu_marker.gif) 0 5px no-repeat; 
	color:#FFF; padding-bottom:15px;}
.module ul li a{ color:#ffffff; font-size:12px; text-decoration:none;}
.module ul li a:hover{ color:#ffffff !important; text-decoration:underline;}


/*-------------------module-list-finish----*/
/*
.count {
	font-weight:bold;
}*/
.module a {
	color:#FFF
}
.module a:hover {
	color:#FFF
}

.module .inputbox {
	color:#888;
	font-size:11px;
	line-height:14px;
	margin:2px 0px 4px 0px;
	padding:3px 0px 3px 4px;
	vertical-align:top;
	width:164px;
	border-top:1px solid #d7d7d7;
	border-left:1px solid #d7d7d7;
	border-bottom:1px solid #FFF;
	border-right:1px solid #FFF;
	background:#f6f6f6;
}
.module span {
	font-weight:bold;
}
.box-indent {
	padding:30px 20px 25px 20px !important;
}


/*-------------------title----*/




/*-----------------content----*/

.breadcrumbs { padding:14px 0 0 26px; display:block; text-transform:uppercase; color:#a3a096; font-size:10px;}
.breadcrumbs .pathway{color:#a3a096 !important; text-transform:uppercase;}
.breadcrumbs  img{ margin:0 13px 0 13px;}
/*-------------------------------------topmenu---*/

ul.menu-nav {
padding:9px 0 0 10px;
margin:0;
	
}
ul.menu-nav li	{
	display:block; 
	float:left; 
	padding:0px 0px 0px 0px;
	 margin-right:3px;
}
ul.menu-nav li a  {
	background:url(images/topmenu_left.gif) no-repeat 0 0;
	border:none;
	color:#232323 !important;
	display:block; 
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	padding-left:8px;
}
ul.menu-nav li a span	{
	background:url(images/topmenu_right.gif) no-repeat right 0;
	display:block; 
	padding:11px 33px 20px 25px;
}

/*-------------------hover----*/

ul.menu-nav li a:hover  {
	background:url(images/topmenu_left.gif) no-repeat 0 0;
	border:none;
	color:#FF5400 !important; 
	display:block; 
	float:left; 
	text-align:center; 
	text-decoration:none;
	width:auto;
	
	
}
ul.menu-nav li a:hover span	{
	background:url(images/topmenu_right.gif) no-repeat right 0;
	display:block; 
}

/*-------------------visited---*/

ul.menu-nav li a:visited{
	color:#232323; 
}

/*-------------------active----*/

ul.menu-nav li.active a {
	background:url(images/topmenu_left.gif) no-repeat 0 0;
	border:none;
	color:#FF5400 !important; 
	display:block;
	float:left; 
	text-align:center;
	width:auto;
}
ul.menu-nav li.active a span {
	background:url(images/topmenu_right.gif) no-repeat right 0;
	display:block; 
}


/*----------------------------------------login-form---*/

.moduletable-login { color:#848181;}


/*-----------------content----*/

.moduletable-login label {
	font-size:11px;
	text-transform:capitalize;
	color:#1c1c1c;
	font-family:Arial, Helvetica, sans-serif;
	
}
.moduletable-login p, label.remember {
	font-size:11px;
	font-weight:normal;
	padding:0px 13px 0px 0px;
	color:#1c1c1c;
}
.moduletable-login p{ line-height:23px; float:left;}

.moduletable-login a {
	color:#ff5400 !important;
	text-decoration:underline;
}
.moduletable-login a:hover {
	color:#ff5400 !important;
	text-decoration:none;
}
.moduletable-login .extra-indent-link{ padding:5px 0; line-height:15px;}

.moduletable-login .inputbox { /* inputbox */
	color:#1c1c1c;
	font-size:11px;
	line-height:14px;
	padding:2px 0px 2px 4px;
	vertical-align:middle;
	width:102px;
	border:1px solid #7f7f7f;
	background:#FFF;
	margin:0 11px 0 6px;
	
}



.moduletable-login .box-content-indent{padding:15px 15px 23px 56px;}
.moduletable-login .button {
	background:url(images/button_logon.gif) 0 0 no-repeat;
	margin:0 !important;
	padding:5px 0 7px 0!important;
	width:70px;
	font-size:11px;
	float:left;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	line-height:15px;
	height:auto;
	
	
}


#mod_login_remember { /*checkbox*/
	background:#fff;
	border:none;
	display:block;
	float:left;
	margin:1px 5px 0px 0px;
	vertical-align:middle;
	width:12px;
	height:12px
}
.contenttoc th{ padding-bottom:10px;}
.pagenavcounter{ padding:15px 0;}
.pagenavbar a{ color:#000 !important;}
.module_menu .box-title h3{ color:#232323 !important; font-size:13px; padding:30px 0 0 20px;}
.module_menu .box-content-indent{padding:16px 0 32px 0;}
.menu, .menu ul{ margin:0; list-style:none;}
.menu ul{ margin-left:13px;}
.menu li a{background:url(images/menu_marker1.gif) 19px 11px no-repeat; padding:5px 0 8px 33px; display:block; color:#232323; text-decoration:none; font-size:13px; font-family:Arial, Helvetica, sans-serif;}
.menu li{ border-bottom:1px solid #E7E7E7;}
.menu li a:hover{ color:#FF5501 !important; background:url(images/menu_marker1.gif) 21px 11px no-repeat;}
.menu li li{ border:none; }
.menu{ padding-bottom:8px;}
#id{ width:350px !important;}

/*---------------------------------------------------------structure---*/

#body {
	background:#1b2d37;
}
.main {
	width:980px;
	position:relative;
}
/*---------------------------------------------------------structure---*/

#body {
	background:#1e1e1e url(images/wrapper_site.gif) center top;
}
.main {
	width:980px;
	position:relative;
}
/*-------------------------------------header---*/
 h1{ display:block; margin:12px 0 0 28px; position:absolute;}
/* h1 a{ display:block; width:240px; height:63px; background:url(images/logo.gif) 0 0 no-repeat;}*/

.tail-header{ background:#FFF; height:96px;}

.header .col-2{ width:445px; padding-top:15px;}
.header .col-1{ width:322px;}

/*.tail-header-col{ background:url(images/tail_header_col.gif) 0 0 repeat-x; padding:20px 0 18px 0;}*/
.tail-header1-col{ background:url(images/tail_header1_col.gif);}

.header-col .module{ float:left; width:227px; margin-left:2px;}
.s1{ margin-left:0 !important;}
.header-col{ padding:0 0 0 33px;}

.top-menu .fright{ width:339px; padding-top:4px}
.top-menu .fleft{ width:575px;}

.tail-content{ background:url(images/tail_content.gif);}
 
/*-------------------------------------content---*/
#content{padding:10px 32px 10px 33px;}
.clear{ width:100%; overflow:hidden;}
#left{ float:left;    text-align:left; _margin: 0 -3px 0 0;   width:247px;}
/*no image*/
#container{overflow:hidden; height:100%;  text-align:left; background:url(images/col_separate.gif) 0 0 repeat-y;}

.container-indent{ padding-top:21px; padding-bottom:15px}

.left-indent{ padding:0 20px 0 0;}
.content-indent{ padding:33px 22px 31px 10px;}

.br{ display:block;}
.right-separate-login{ background:url(images/login_separator.gif) center right no-repeat;}
.right-separate-indent{ padding:0 9px;}
.indent-form-login{ padding:5px 0 10px 0;}

.top-menu{ background:url(images/tail_header1_col.gif) 0 0; margin:0 0 0 33px; width:915px;}
.top-menu .corner-bottom-left {background:url(images/corner5_bottom_left.gif) no-repeat left bottom;}
.top-menu .corner-bottom-right {background:url(images/corner5_bottom_right.gif) no-repeat right bottom; padding-bottom:3px;}


.indent-top{ margin-top:21px;}

.box{ background:url(images/box.gif) repeat; margin-bottom:10px;}
.box .corner-top-left {background:url(images/corner6_top_left.gif) no-repeat left top;}
.box .corner-top-right {background:url(images/corner6_top_right.gif) no-repeat right top;}
.box .corner-bottom-left {background:url(images/corner6_bottom_left.gif) no-repeat left bottom;}
.box .corner-bottom-right {background:url(images/corner6_bottom_right.gif) no-repeat right bottom;}
.box-indent{ padding:30px 14px 40 20px;}
.box .box-title h3{ color:#FFF; font-size:13px; text-transform:uppercase;}

.module_menu .box{ background:#FFF; margin-bottom:10px;}
.module_menu .box .corner-top-left {background:url(images/corner7_top_left.gif) no-repeat left top;}
.module_menu .box .corner-top-right {background:url(images/corner7_top_right.gif) no-repeat right top;}
.module_menu .box .corner-bottom-left {background:url(images/corner7_bottom_left.gif) no-repeat left bottom;}
.module_menu .box .corner-bottom-right {background:url(images/corner7_bottom_right.gif) no-repeat right bottom;}
.module_menu .box-indent{ padding:0 !important;}

.list-row ul{ float:left;}
.list-indent{ margin-left:35px !important}
.img-right{ margin:0 13px 0 0; float:left;}
.indent-content-text{ display:block; padding:25px 0 0 0;}

.s5 .box-content-indent a{ text-decoration:none;}
.s5 .box-content-indent a:hover{ color:#ff5501 !important; text-decoration:none;}
.s5 .box-content-indent img{ vertical-align:middle; margin-bottom:3px;}
.s5 .box-content-indent span{ font-weight:normal;}

/*-------------------------------------footer---*/
.tail-footer{ background:url(images/tail_footer.gif) 0 0 repeat-x;}
.footer-indent{ padding:24px 0 55px 33px; font-size:12px; color:#636363;}
.footer-indent a{ color:#636363 !important; text-decoration:none;}
.footer-indent a:hover{ color:#FF5501 !important; text-decoration:underline;}