<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SignPostServiceUrl" value="https://signpost1.androcloudservices.com/AndroCloudAPI/weborderapi/host?applicationId={0},https://signpost2.androcloudservices2.com/AndroCloudAPI/weborderapi/host?applicationId={0}" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <!-- live ftp -->
    <add key="MyAndromeda.Menu.AzureMenuCloudContainer" value="live" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  

    <!-- 
      Order emails
    -->
    <add key="MyAndromeda.Menu.Ftp.Url" value="backup2.androcloudservices.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MyAndromeda.Menu.Ftp.UserName" value="AndroFTPUser" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MyAndromeda.Menu.Ftp.Password" value="a9b0a952c7" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MyAndromeda.Menu.Ftp.Root" value="Menus\MyAndromeda" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MyAndromeda.Menu.Ftp.TransferMode" value="Passive" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="MyAndromeda.Menu.LocalFolder" value="|DataDirectory|\Menus\{0}\[File]" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <add key="Emails.SuccessDistribution" value="confirmed_orders@androtech.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Emails.RejectedDistribution" value="cancelled_orders@androtech.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Emails.OrderManagementDistribution" value="failed_Orders@androtech.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- refund notifications  -->
    <add key="Emails.RefundNotifications" value="accounts@androtech.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- 
      End of order emails. 
    -->

  </appSettings>
  
  <connectionStrings xdt:Transform="Replace">
    <add name="AttachMenuDbContext"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Menus\{0}\menu.mdb;Jet OLEDB:Database Password=zangaboo" providerName="System.Data.SqlClient" />
    <add name="AndroAdminEntities" 
         connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=83.138.144.122;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroAdminDbContext" 
         connectionString="metadata=res://*/Model.AndroAdmin.DbContext.csdl|res://*/Model.AndroAdmin.DbContext.ssdl|res://*/Model.AndroAdmin.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=83.138.144.122;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroAdminUsersDataContext" 
         connectionString="metadata=res://*/Model.AndroAdminUsers.DbContext.csdl|res://*/Model.AndroAdminUsers.DbContext.ssdl|res://*/Model.AndroAdminUsers.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sql-01;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyAndromedaDbContext" 
         connectionString="metadata=res://*/Model.MyAndromeda.DbContext.csdl|res://*/Model.MyAndromeda.DbContext.ssdl|res://*/Model.MyAndromeda.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=MyAndromeda;persist security info=True;user id=MyAndromedaWeb@jkrhpwclrb;password=33wTKvh4nWafXtW;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CustomerWarehouseDbContext"
         connectionString="metadata=res://*/Model.CustomerDataWarehouse.DbContext.csdl|res://*/Model.CustomerDataWarehouse.DbContext.ssdl|res://*/Model.CustomerDataWarehouse.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEV-SQL-01;initial catalog=DataWarehouse;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AcsOrderDbContext"
         connectionString="metadata=res://*/Model.AcsOrders.csdl|res://*/Model.AcsOrders.ssdl|res://*/Model.AcsOrders.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=ACS_Orders;user id=MyAndromedaWeb@jkrhpwclrb;password=33wTKvh4nWafXtW;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DailyReportingDbContext"
         connectionString="metadata=res://*/Model.DailyReporting.csdl|res://*/Model.DailyReporting.ssdl|res://*/Model.DailyReporting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=DailyReporting;user id=MyAndromedaWeb@jkrhpwclrb;password=33wTKvh4nWafXtW;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DailyReportingCodeFirstDbContext" providerName="System.Data.SqlClient"
         connectionString="data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=DailyReporting;user id=MyAndromedaWeb@jkrhpwclrb;password=33wTKvh4nWafXtW;MultipleActiveResultSets=True;App=EntityFramework;" />
    
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <glimpse defaultRuntimePolicy="Off" endpointBaseUri="~/Glimpse.axd" xdt:Transform="Replace">
    <runtimePolicies>
      <ignoredTypes>
        <add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet"/>
        <add type="Glimpse.Core.Policy.ControlCookiePolicy, Glimpse.Core"/>
      </ignoredTypes>
    </runtimePolicies>
  </glimpse>
</configuration>