
@using (Html.BeginHelpSection("Getting Started", TabArea.Help, true))
{ 
    <div class="header">
        <h3><i class="fa fa-sitemap"></i> Chains</h3>
    </div>
    <p>
        To get a list of stores select a chain responsible for a collection of stores. 
    </p>
}

@if (Html.IsAuthorizedForAny(MyAndromeda.Web.Areas.Users.Permissions.CreateUsers, MyAndromeda.Web.Areas.Users.Permissions.ListUsers)) { 
    using (Html.BeginHelpSection("Manage your Users", TabArea.Help))
    { 
        <div class="header">
            <h3><i class="fa fa-users"></i> Manage users</h3>
        </div>
        <p></p>
        <ol>
    
            <p>To add additional users navigate to a chain level which you want to give a person access.</p>
            <p>Select from the admin menu "chain's users"</p>
        </ol>
    }
}