<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="This Template Generates C# domain objects for NHibernate" Debug="true" %>
<%@ Property Name="SourceDatabase" Type="SchemaExplorer.DatabaseSchema" Category="Context" Description="Database that the mapping file is based on" %>
<%@ Property Name="SourceDatabaseAlias" Type="System.String" Category="Context" Description="Database alias that the mapping file is based on" %>
<%@ Property Name="RemoveTablePrefix" Type="System.String" Default="tbl" Category="Object" Description="The prefix to remove from table names" %>
<%@ Property Name="ForceId" Type="System.Boolean" Default="true" Category="Object" Description="Force Id for identity column" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<script runat="template">
TableSchema SourceTable;
string Assembly;
string Namespace;
</script>

using System;
using System.Collections;
using System.Collections.Generic;
using Cacd.Core.Utils;
using Cacd.Domain.Directories;
using NHibernate;
using NHibernate.Expression;

namespace Cacd.DAO.NHibernate.<%= SourceDatabaseAlias %>
{

	<%foreach(TableSchema source in SourceDatabase.Tables)
	{%>
		#region <%= ClassName(source) %>DAO

		/// <summary>
		/// <%= ClassName(source) %> object for NHibernate mapped table '<%= ClassTable(source) %>'.
		/// </summary>
		public  class <%= ClassName(source) %>DAO : GenericNHibernateDAO<<%= ClassName(source) %>,<%= IdMemberType(source)%>>
			{
			public <%= ClassName(source) %>DAO(String sessionFactoryConfigPath,INHibernateSessionManager _manager) : base(sessionFactoryConfigPath,_manager)
			{
			}
		}
	
		#endregion
	<%}%>

}


<!-- #include file="NHibernate.inc" -->
		

