<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>test1</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myandromeda-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myandromeda-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyAndromeda__Test</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyAndromeda__Test</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AndroAdminUsersDataContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=test1.androcloudservices.com;Initial Catalog=AndroUsers;Persist Security Info=True;User ID=AndroAdminUser;Password=r2Is!islMM$;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AndroAdminUsersDataContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.AndroAdminUsers.DbContext.csdl|res://*/Model.AndroAdminUsers.DbContext.ssdl|res://*/Model.AndroAdminUsers.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DailyReportingDbContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:jkrhpwclrb.database.windows.net;Initial Catalog=DailyReporting;User ID=Andromeda;Password=uQW9gdZMM;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DailyReportingDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.DailyReporting.csdl|res://*/Model.DailyReporting.ssdl|res://*/Model.DailyReporting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:jkrhpwclrb.database.windows.net;initial catalog=DailyReporting;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AttachMenuDbContext" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Menus\{0}\menu.mdb;Jet OLEDB:Database Password=zangaboo" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AttachMenuDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Menus\{0}\menu.mdb;Jet OLEDB:Database Password=zangaboo" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AcsOrderDbContext" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=test1.androcloudservices.com;Initial Catalog=DataWarehouse;Persist Security Info=True;User ID=Andromeda;Password=uQW9gdZMM;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AcsOrderDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.AcsOrders.csdl|res://*/Model.AcsOrders.ssdl|res://*/Model.AcsOrders.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;user id=Andromeda;password=uQW9gdZMM;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AndroAdminDbContext" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyAndromeda.Data.Model.AndroAdmin.AndroAdminDbContext, MyAndromeda.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyAndromedaDbContext" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyAndromeda.Data.Model.MyAndromeda.MyAndromedaDbContext, MyAndromeda.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataWarehouseEntities" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataWarehouseDataAccessEntityFramework.Model.DataWarehouseEntities, DataWarehouseDataAccessEntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DailyReportingCodeFirstDbContext" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyAndromeda.Data.DailyReporting.Model.CodeFirst.DailyReportingCodeFirstDbContext, MyAndromeda.Data.DailyReporting" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AndroAdminEntities" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AndroAdminDataAccess.EntityFramework.AndroAdminEntities, AndroAdminDataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataWarehouseDbContext" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyAndromeda.Data.DataWarehouse.Models.DataWarehouseDbContext, MyAndromeda.Data.DataWarehouse" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CustomerWarehouseDbContext" Order="18" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=test1.androcloudservices.com;Initial Catalog=DataWarehouse;Persist Security Info=True;User ID=Andromeda;Password=uQW9gdZMM;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CustomerWarehouseDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Model.CustomerDataWarehouse.DbContext.csdl|res://*/Model.CustomerDataWarehouse.DbContext.ssdl|res://*/Model.CustomerDataWarehouse.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=DataWarehouse;persist security info=True;user id=Andromeda;password=uQW9gdZMM;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsDashboard" Order="19" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=myandromeda;AccountKey=dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsDashboard_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=myandromeda;AccountKey=dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="20" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=myandromeda;AccountKey=dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=myandromeda;AccountKey=dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AcsOrderDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AndroAdminDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AndroAdminEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AndroAdminUsersDataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AttachMenuDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CustomerWarehouseDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DailyReportingCodeFirstDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DailyReportingDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataWarehouseDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataWarehouseEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyAndromedaDbContext-Web.config Connection String" />
  </ItemGroup>
</Project>