@{
    var translator = Html.GetTranslator();
}

<div class="row">
    <div class="col-xs-12">
        <div class="animate-repeat" ng-repeat="carouselBlock in CarouselBlocks" ng-if="ShowCarousel">
            <kendo-grid options="carouselBlock.GridOptions">

            </kendo-grid>
        </div>
    </div>

    <div class="col-xs-12" ng-show="(CarouselBlocks.length === 0)">
        @translator.T("There are no carousels")
    </div>

</div>

@using (Html.BeginScripts())
{
    <!-- Tool-bar -->
    <script id="CarouselHeaderTemplate" type="text/html">
        <label>{{ carouselBlock.Carousel.Name }} Carousel</label>
        <button class="k-primary k-button" ng-click="SaveChanges()">Save changes</button>
        <button class="k-button" ng-click="CreateImageCarouselItem(carouselBlock.Carousel.Name)">Add image</button>
        <button disabled="" title="Disabled" class="k-button" ng-click="CreateHtmlCarouselItem(carouselBlock.Carousel.Name)">Add html</button>
    </script>
    
    <script id="CarouselItemEditTemplate" type="text/html">
        <button class='k-button' ng-click='EditCarouselItem(carouselBlock.Carousel.Name, dataItem.Id)'>Edit</button>
        <button class='k-button' ng-click='RemoveCarouselItem(carouselBlock.Carousel.Name, dataItem.Id)'>Remove</button>
    </script>
    
    <script id="DescriptionTemplate" type="text/html">
        <div ng-if="(dataItem.Type ==='image')">
            <img ng-src="{{dataItem.ImageUrl}}" style="width:100%" />
        </div>
        <div ng-if="(dataItem.Type ==='Html')">
            #= HTML #           
        </div>
    </script>
}
<div class="row" ng-show="ShowImageEditor">
    <div id="ImageTemplate" >
        <div class="row">
            <div class="header">Edit Image Slide</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 form-horizontal form-widgets" ng-show="HasImageSlideUrl">
                <div class="thumbnail">
                    <img data-bind="attr: { src: ImageUrl }">
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <input name="carouselFile"
                    kendo-upload="CarouselImageUpload"
                    k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: true }"
                    type="file" accept="image/gif,image/jpeg,image/pjpeg,image/png,image/svg+xml,image/tiff"
                   />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="k-button" ng-click="SaveItem()">Save</button>
                <button class="k-button" ng-click="CancelItem()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="ShowHtmlEditor">
    <div id="HtmlTemplate">
        <div class="row">
            <div class="header">Edit HTML</div>
        </div>
        <div class="editor-label2">
            <textarea 
                data-role="editor"
                class="k-textbox"
                cols="20" rows="6"
                data-bind="value: HTML"
                data-tools="['bold','italic','underline','strikethrough','justifyLeft','justifyCenter','justifyRight','justifyFull','outdent','indent',
                                           'createLink','unlink','insertImage','insertFile','subScript','superScript','tableEdititing','viewHTml','formatting','cleanFormatting',
                                           'fontName','fontSize','fontColor','backColor']"></textarea>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="k-primary k-button" ng-click="SaveItem()">Save</button>
                <button class="k-button" ng-click="CancelItem()">Cancel</button>
            </div>
        </div>
    </div>
</div>


