<div id="carouselListItemTemplate">
    <div id="addTemplate" style="display:none;height:40px;">

        <div id="ddHeader" style="margin-top:20px;">
            <div class="editor-label">
                <b> Select Item Type :</b>
            </div>
            <div>
                <div style="float:left">@Html.DropDownList("CarouselItemType", new SelectList(Enum.GetValues(typeof(MyAndromeda.Services.WebOrdering.Models.CarouselItemType))), "-Select-")</div>
                <div style="float:left" id="carouselTypeLabel"></div>
                <input type="submit" id="btnSave" name="Save" class="k-button k-primary" value="Save" style="width:90px;margin-bottom:5px;margin-left:5px;float:right;" />
                <input type="submit" id="btnCancel" name="Cancel" class="k-button k-primary" value="Cancel" style="width:90px;margin-bottom:5px;margin-left:5px;float:right" onclick="showGrid(); return false;" />
            </div>
            <div class="editor-label verticalCheckBox" style="margin-bottom:20px;">
                <input type="checkbox" id="IsEnabled" name="item.IsEnabled" value="true" data-bind="checked: IsEnabled" />
                <b> Is Enabled</b>
            </div>
            <input type="hidden" id="hdnItemId" name="item.ItemId" data-bind="value: ItemId" />
            <input type="hidden" id="hdnType" name="item.Type" data-bind="value: Type" />
        </div>
    </div>
    <div id="ImageTemplate" style="height:380px;display:none;margin-top:20px;">        
        <div class="editor-label">
            Upload Image:
        </div>
        <div class="editor-field" style="width:450px;">
            <div class="thumbnail" style="float:left;height:300px !important;width:300px !important;">
                <img id="carousel1ImageLogo" data-bind="attr:{src : ImagePath}" style="height:300px !important;width:300px !important;">
            </div>
            <div class="fileUpload btn btn-primary" style="margin-top:125px;">
                <span>Browse</span>
                <input type="file" class="upload carousel1" name="carousel1ImageLogo" accept="image/gif,image/jpeg,image/pjpeg,image/png,image/svg+xml,image/tiff" />
            </div>
        </div>
        <div class="editor-label verticalCheckBox">
            <input type="checkbox" id="isOverlayText" name="item.IsOverlayText" value="true" data-bind="checked: IsOverlayText" />
            Overlay text
        </div>

    </div>

    <div id="HtmlTemplate" style="display:none;height:300px;display:none;margin-top:20px;">          
        <div class="editor-label1"><b>HTML : </b></div>
        <div class="editor-label2">
            <textarea id="editor" data-role="editor"
                      name="item.HTML"
                      data-bind="value: HTML"
                      data-tools="['bold']"
                      style="width: 480px; height: 200px;"></textarea>           
        </div>
    </div>
</div>
@*<script>
    $("#editorHTML").kendoEditor({
        messages: {
            bold: "Bold",
            italic: "Italic",
            underline: "Underline",
            strikethrough: "Strikethrough",
            superscript: "Superscript",
            subscript: "Subscript",
            justifyCenter: "Center text",
            justifyLeft: "Align text left",
            justifyRight: "Align text right",
            justifyFull: "Justify",
            insertUnorderedList: "Insert unordered list",
            insertOrderedList: "Insert ordered list",
            indent: "Indent",
            outdent: "Outdent",
            createLink: "Insert hyperlink",
            unlink: "Remove hyperlink",
            insertImage: "Insert image",
            insertFile: "Insert file",
            insertHtml: "Insert HTML",
            fontName: "Select font family",
            fontNameInherit: "(inherited font)",
            fontSize: "Select font size",
            fontSizeInherit: "(inherited size)",
            formatBlock: "Format",
            formatting: "Format",
            style: "Styles",
            viewHtml: "View HTML",
            emptyFolder: "Empty Folder",
            uploadFile: "Upload",
            orderBy: "Arrange by:",
            orderBySize: "Size",
            orderByName: "Name",
            invalidFileType: "The selected file \"{0}\" is not valid. Supported file types are {1}.",
            deleteFile: "Are you sure you want to delete \"{0}\"?",
            overwriteFile: "A file with name \"{0}\" already exists in the current directory. Do you want to overwrite it?",
            directoryNotFound: "A directory with this name was not found.",
            imageWebAddress: "Web address",
            imageAltText: "Alternate text",
            fileWebAddress: "Web address",
            fileTitle: "Title",
            linkWebAddress: "Web address",
            linkText: "Text",
            linkToolTip: "ToolTip",
            linkOpenInNewWindow: "Open link in new window",
            dialogInsert: "Insert",
            dialogUpdate: "Update",
            dialogCancel: "Cancel",
            dialogCancel: "Cancel",
            createTable: "Create table",
            addColumnLeft: "Add column on the left",
            addColumnRight: "Add column on the right",
            addRowAbove: "Add row above",
            addRowBelow: "Add row below",
            deleteRow: "Delete row",
            deleteColumn: "Delete column"
        }
    });
</script>*@