<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Data Source=YourServername;Initial Catalog=YourDBname;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient"/>
    <!-- live -->
    <!--<add name="AndroUsersEntities" connectionString="metadata=res://*/EntityFramework.AndroUsersEntityModel.csdl|res://*/EntityFramework.AndroUsersEntityModel.ssdl|res://*/EntityFramework.AndroUsersEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=83.138.144.122;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroAdminEntities" connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=83.138.144.122;initial catalog=AndroAdmin;persist security info=True;user id=Robert.Dunn;password=XuS4UsaW;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- dev -->
    <!--<add name="AndroAdminEntities" connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sql-01;initial catalog=AndroAdmin2;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroUsersEntities" connectionString="metadata=res://*/EntityFramework.AndroUsersEntityModel.csdl|res://*/EntityFramework.AndroUsersEntityModel.ssdl|res://*/EntityFramework.AndroUsersEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sql-01;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- test1 -->
    <add name="AndroAdminEntities"
      connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="AndroUsersEntities"
      connectionString="metadata=res://*/EntityFramework.AndroUsersEntityModel.csdl|res://*/EntityFramework.AndroUsersEntityModel.ssdl|res://*/EntityFramework.AndroUsersEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test1.androcloudservices.com;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <!-- Dev Cloud -->
    <!--<add name="AndroAdminEntities" connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.75.229.146;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroUsersEntities" connectionString="metadata=res://*/EntityFramework.AndroUsersEntityModel.csdl|res://*/EntityFramework.AndroUsersEntityModel.ssdl|res://*/EntityFramework.AndroUsersEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.75.229.146;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=test1.androcloudservices.com;Initial Catalog=DataWarehouse;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MenuSyncSource" connectionString="Data Source=54.247.90.227;Initial Catalog=ACS;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
    <add name="MenuSyncTarget" connectionString="Data Source=dmel6muo0u.database.windows.net;Initial Catalog=ACS;Persist Security Info=True;User ID=andromeda;Password=h6ruh7kS2#4;MultipleActiveResultSets=True;Application Name=EntityFramework" />-->
    <!-- GPRS cloud 3 -->
    <!--<add name="AndroAdminEntities" connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.75.243.58;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroUsersEntities" connectionString="metadata=res://*/EntityFramework.AndroUsersEntityModel.csdl|res://*/EntityFramework.AndroUsersEntityModel.ssdl|res://*/EntityFramework.AndroUsersEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.75.243.58;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseEntities" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=54.75.243.58;Initial Catalog=DataWarehouse;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <add name="MenuSyncSource" connectionString="data source=54.75.243.58;Initial Catalog=ACS;Persist Security Info=True;User ID=ACSUser;Password=Pass123;MultipleActiveResultSets=True;Application Name=EntityFramework" />
    <add name="MenuSyncTarget" connectionString="data source=54.75.243.58;Initial Catalog=ACS;Persist Security Info=True;User ID=andromeda;Password=h6ruh7kS2#4;MultipleActiveResultSets=True;Application Name=EntityFramework" />-->
    <!--- end  -->
    <!-- staging2 -->
    <!--<add name="AndroAdminEntities"
         connectionString="metadata=res://*/EntityFramework.EntityModel.csdl|res://*/EntityFramework.EntityModel.ssdl|res://*/EntityFramework.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging2.androcloudservices.com;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroUsersEntities"
         connectionString="metadata=res://*/EntityFramework.AndroUsersEntityModel.csdl|res://*/EntityFramework.AndroUsersEntityModel.ssdl|res://*/EntityFramework.AndroUsersEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=staging2.androcloudservices.com;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- dev sql 01-->
    <!--<add name="AndroAdminEntities" connectionString="metadata=res://*/Model.AndroAdmin.DbContext.csdl|res://*/Model.AndroAdmin.DbContext.ssdl|res://*/Model.AndroAdmin.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sql-01;initial catalog=AndroAdmin;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AndroUsersEntities" connectionString="metadata=res://*/Model.AndroAdminUsers.DbContext.csdl|res://*/Model.AndroAdminUsers.DbContext.ssdl|res://*/Model.AndroAdminUsers.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev-sql-01;initial catalog=AndroUsers;persist security info=True;user id=AndroAdminUser;password=r2Is!islMM$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- dev -->
    <add key="ShowMachineDetails" value="DEV"/>
    <!--
    <add key="DiagnosticsACSSignpostServer" value="https://localhost/services/AndroCloudAPI/weborderapi/" />
    <add key="DiagnosticsACSServer" value="https://localhost/services/AndroCloudAPI/weborderapi/" />
    <add key="DiagnosticsACSSignpostServers" value="https://localhost/services" />
    <add key="DiagnosticsACSTestApplicationId" value="AA79CD8E-7750-400C-8330-7FD6E31A29A4" />
    <add key="DiagnosticsACSTestSiteId" value="1195" />-->
    <add key="ThemeHeight" value="600"/>
    <add key="ThemeWidth" value="600"/>
    <add key="DefaultThemeId" value="1"/>
    <add key="WebsiteDisabledThemeId" value="3"/>
    <!-- test 1 -->
    <!--<add key="ShowMachineDetails" value="TEST 1" />
    <add key="DiagnosticsACSSignpostServer" value="https://test1.androcloudservices.com/AndroCloudAPI/weborderapi/" />
    <add key="DiagnosticsACSServer" value="https://test1.androcloudservices.com/AndroCloudAPI/weborderapi/" />
    <add key="DiagnosticsACSSignpostServers" value="https://test1.androcloudservices.com" />
    <add key="DiagnosticsACSTestApplicationId" value="AA79CD8E-7750-400C-8330-7FD6E31A29A4" />
    <add key="DiagnosticsACSTestSiteId" value="1195" />
    <add key="ThemeHeight" value="600" />
    <add key="ThemeWidth" value="600" />
    <add key="DefaultThemeId" value="1" />   
    <add key="WebsiteDisabledThemeId" value="3" />-->
    <!-- GPRS -->
    <!--<add key="ShowMachineDetails" value="ACS CLOUD 3" />
    <add key="DiagnosticsACSSignpostServer" value="https://cloud3.androcloudservices.com/AndroCloudAPI/weborderapi/" />
    <add key="DiagnosticsACSServer" value="https://cloud3.androcloudservices.com/AndroCloudAPI/weborderapi/" />
    <add key="DiagnosticsACSSignpostServers" value="https://cloud3.androcloudservices.com" />
    <add key="DiagnosticsACSTestApplicationId" value="AA79CD8E-7750-400C-8330-7FD6E31A29A4" />
    <add key="DiagnosticsACSTestSiteId" value="1195" />-->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="2000"/>
    <add key="AndroAdmin.Theme.AzureThemeCloudContainer" value="live"/>
    <add key="AndroAdmin.Theme.AzureAccountName" value="myandromeda"/>
    <add key="AndroAdmin.Theme.AzureAccountPassword" value="dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag=="/>
    <add key="AndroAdmin.Theme.Host" value="http://cdn.myandromedaweb.co.uk/"/>
    <add key="AndroAdmin.WebOrderingWebSite.CreateService"
      value="http://54.75.243.148/services/WebOrdering/WebOrdering/WebSites?key=2E6A6992402245F2BC0ED3721FCD660823BDDA896C7A44939B5B746B2542CBFE"/>
    <!-- live -->
    <!--<add key="ShowMachineDetails" value="LIVE" />
    <add key="DiagnosticsACSSignpostServer" value="https://signpost1.androcloudservices.com/AndroCloudAPI/weborderapi/" />
    <add key="DiagnosticsACSServer" value="https://signpost1.androcloudservices.com/AndroCloudAPI/weborderapi/" />
    <add key="DiagnosticsACSSignpostServers" value="https://signpost1.androcloudservices.com,https://signpost2.androcloudservices2.com" />
    <add key="DiagnosticsACSTestApplicationId" value="AA79CD8E-7750-400C-8330-7FD6E31A29A4" />
    <add key="DiagnosticsACSTestSiteId" value="1195" />-->
    <!-- staging2 -->
    <!--<add key="ShowMachineDetails" value="staging2"/>
    <add key="DiagnosticsACSSignpostServer" value="https://staging2.androcloudservices.com/AndroCloudAPI/weborderapi/" />
    <add key="DiagnosticsACSServer" value="https://staging2.androcloudservices.com/services/AndroCloudAPI/weborderapi/" />
    <add key="DiagnosticsACSSignpostServers" value="https://staging2.androcloudservices.com" />
    <add key="DiagnosticsACSTestApplicationId" value="AA79CD8E-7750-400C-8330-7FD6E31A29A4" />
    <add key="DiagnosticsACSTestSiteId" value="1195" />-->
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="2000"/>
    <!-- dev -->
    <add key="AndroAdmin.Theme.AzureThemeCloudContainer" value="dev"/>
    <add key="AndroAdmin.Theme.AzureAccountName" value="myandromeda"/>
    <add key="AndroAdmin.Theme.AzureAccountPassword" value="dOz72mO1Mejtrrt05QP+1DUPDjB167Fov3T2UEdxvjY8jWMA82eq98sdaA946n2fm8bpPtQkDP8uHW8h9Wp+Ag=="/>
    <add key="AndroAdmin.Theme.Host" value="http://cdn.myandromedaweb.co.uk/"/>
    <add key="AndroAdmin.WebOrderingWebSite.CreateService"
      value="http://54.217.208.103/services/WebOrdering/WebOrdering/WebSites?key=2E6A6992402245F2BC0ED3721FCD660823BDDA896C7A44939B5B746B2542CBFE"/>

    <!-- Comma seperated list of signpost server names -->
    <add key="SignPostServers" value="http://localhost/services/PrivateSignpost/AndroCloudprivateAPI/PrivateAPIV2/"/>
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider"
          type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider"
          type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0"
          passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager enabled="false"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="Kendo.Mvc.UI"/>
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <dependentAssembly>
      <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
      <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
    </dependentAssembly>
  </runtime>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>